<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="型号ID" prop="modelId">
        <el-input
          v-model="queryParams.modelId"
          placeholder="请输入型号ID"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="型号名称" prop="modelName">
        <el-input
          v-model="queryParams.modelName"
          placeholder="请输入型号名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="名称" prop="documentName">
        <el-input
          v-model="queryParams.documentName"
          placeholder="请输入名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="文档URL" prop="documentUrl">
        <el-input
          v-model="queryParams.documentUrl"
          placeholder="请输入文档URL"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="版本" prop="version">
        <el-input
          v-model="queryParams.version"
          placeholder="请输入版本"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="文档所用语言" prop="lua">
        <el-input
          v-model="queryParams.lua"
          placeholder="请输入文档所用语言"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="语言1.English 、2，简体中文  3.繁体中文 4.日文" prop="language">
        <el-input
          v-model="queryParams.language"
          placeholder="请输入语言1.English 、2，简体中文  3.繁体中文 4.日文"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="原厂发布日期" prop="formerly">
        <el-date-picker clearable
          v-model="queryParams.formerly"
          type="date"
          value-format="yyyy-MM-dd"
          placeholder="请选择原厂发布日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="上传用户名" prop="uploadName">
        <el-input
          v-model="queryParams.uploadName"
          placeholder="请输入上传用户名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="审核通过时间" prop="checkTime">
        <el-date-picker clearable
          v-model="queryParams.checkTime"
          type="date"
          value-format="yyyy-MM-dd"
          placeholder="请选择审核通过时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="审核状态1.待审核  2.通过" prop="auditing">
        <el-input
          v-model="queryParams.auditing"
          placeholder="请输入审核状态1.待审核  2.通过"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="文件权限  仅供管理员审核产品查看 = 1 仅允许VIP会员下载 = 2 仅允许所有注册会员下载 = 3 允许所有人下载" prop="popedom">
        <el-input
          v-model="queryParams.popedom"
          placeholder="请输入文件权限  仅供管理员审核产品查看 = 1 仅允许VIP会员下载 = 2 仅允许所有注册会员下载 = 3 允许所有人下载"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="用户ID" prop="userId">
        <el-input
          v-model="queryParams.userId"
          placeholder="请输入用户ID"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="${comment}" prop="SourceID">
        <el-input
          v-model="queryParams.SourceID"
          placeholder="请输入${comment}"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="收录 0，否  1、是" prop="embody">
        <el-input
          v-model="queryParams.embody"
          placeholder="请输入收录 0，否  1、是"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['background:phDocumentinfo:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['background:phDocumentinfo:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['background:phDocumentinfo:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['background:phDocumentinfo:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="phDocumentinfoList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="表主键" align="center" prop="id" />
      <el-table-column label="型号ID" align="center" prop="modelId" />
      <el-table-column label="文档身份1.采购 2.现货 3.公司 4.用户上传 5.商品" align="center" prop="documentStatus" />
      <el-table-column label="型号名称" align="center" prop="modelName" />
      <el-table-column label="名称" align="center" prop="documentName" />
      <el-table-column label="类型 1.规格书 .2产品图纸" align="center" prop="type" />
      <el-table-column label="文档URL" align="center" prop="documentUrl" />
      <el-table-column label="版本" align="center" prop="version" />
      <el-table-column label="文档所用语言" align="center" prop="lua" />
      <el-table-column label="语言1.English 、2，简体中文  3.繁体中文 4.日文" align="center" prop="language" />
      <el-table-column label="原厂发布日期" align="center" prop="formerly" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.formerly, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="上传用户名" align="center" prop="uploadName" />
      <el-table-column label="审核通过时间" align="center" prop="checkTime" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.checkTime, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="审核状态1.待审核  2.通过" align="center" prop="auditing" />
      <el-table-column label="文件权限  仅供管理员审核产品查看 = 1 仅允许VIP会员下载 = 2 仅允许所有注册会员下载 = 3 允许所有人下载" align="center" prop="popedom" />
      <el-table-column label="用户ID" align="center" prop="userId" />
      <el-table-column label="${comment}" align="center" prop="SourceID" />
      <el-table-column label="收录 0，否  1、是" align="center" prop="embody" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['background:phDocumentinfo:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['background:phDocumentinfo:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改审核文档对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="型号ID" prop="modelId">
          <el-input v-model="form.modelId" placeholder="请输入型号ID" />
        </el-form-item>
        <el-form-item label="型号名称" prop="modelName">
          <el-input v-model="form.modelName" placeholder="请输入型号名称" />
        </el-form-item>
        <el-form-item label="名称" prop="documentName">
          <el-input v-model="form.documentName" placeholder="请输入名称" />
        </el-form-item>
        <el-form-item label="文档URL" prop="documentUrl">
          <el-input v-model="form.documentUrl" placeholder="请输入文档URL" />
        </el-form-item>
        <el-form-item label="版本" prop="version">
          <el-input v-model="form.version" placeholder="请输入版本" />
        </el-form-item>
        <el-form-item label="文档所用语言" prop="lua">
          <el-input v-model="form.lua" placeholder="请输入文档所用语言" />
        </el-form-item>
        <el-form-item label="语言1.English 、2，简体中文  3.繁体中文 4.日文" prop="language">
          <el-input v-model="form.language" placeholder="请输入语言1.English 、2，简体中文  3.繁体中文 4.日文" />
        </el-form-item>
        <el-form-item label="原厂发布日期" prop="formerly">
          <el-date-picker clearable
            v-model="form.formerly"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择原厂发布日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="上传用户名" prop="uploadName">
          <el-input v-model="form.uploadName" placeholder="请输入上传用户名" />
        </el-form-item>
        <el-form-item label="审核通过时间" prop="checkTime">
          <el-date-picker clearable
            v-model="form.checkTime"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择审核通过时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="审核状态1.待审核  2.通过" prop="auditing">
          <el-input v-model="form.auditing" placeholder="请输入审核状态1.待审核  2.通过" />
        </el-form-item>
        <el-form-item label="文件权限  仅供管理员审核产品查看 = 1 仅允许VIP会员下载 = 2 仅允许所有注册会员下载 = 3 允许所有人下载" prop="popedom">
          <el-input v-model="form.popedom" placeholder="请输入文件权限  仅供管理员审核产品查看 = 1 仅允许VIP会员下载 = 2 仅允许所有注册会员下载 = 3 允许所有人下载" />
        </el-form-item>
        <el-form-item label="用户ID" prop="userId">
          <el-input v-model="form.userId" placeholder="请输入用户ID" />
        </el-form-item>
        <el-form-item label="${comment}" prop="SourceID">
          <el-input v-model="form.SourceID" placeholder="请输入${comment}" />
        </el-form-item>
        <el-form-item label="收录 0，否  1、是" prop="embody">
          <el-input v-model="form.embody" placeholder="请输入收录 0，否  1、是" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listPhDocumentinfo, getPhDocumentinfo, delPhDocumentinfo, addPhDocumentinfo, updatePhDocumentinfo } from "@/api/background/phDocumentinfo";

export default {
  name: "PhDocumentinfo",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 审核文档表格数据
      phDocumentinfoList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        modelId: null,
        documentStatus: null,
        modelName: null,
        documentName: null,
        type: null,
        documentUrl: null,
        version: null,
        lua: null,
        language: null,
        formerly: null,
        uploadName: null,
        checkTime: null,
        auditing: null,
        popedom: null,
        userId: null,
        SourceID: null,
        embody: null
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询审核文档列表 */
    getList() {
      this.loading = true;
      listPhDocumentinfo(this.queryParams).then(response => {
        this.phDocumentinfoList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        modelId: null,
        documentStatus: null,
        modelName: null,
        documentName: null,
        type: null,
        documentUrl: null,
        version: null,
        lua: null,
        language: null,
        formerly: null,
        uploadName: null,
        checkTime: null,
        auditing: null,
        popedom: null,
        userId: null,
        SourceID: null,
        createTime: null,
        embody: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加审核文档";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhDocumentinfo(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改审核文档";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhDocumentinfo(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhDocumentinfo(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除审核文档编号为"' + ids + '"的数据项？').then(function() {
        return delPhDocumentinfo(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phDocumentinfo/export', {
        ...this.queryParams
      }, `phDocumentinfo_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>