<template>
  <div class="app-container" :class="brandaAuditDetailsPop ? 'details_bg':''">
    <div v-if="!brandaAuditDetailsPop">
      <div class="head_status_box">
        <div class="head_tag" :class="queryParams.auditing == 1 ? 'head_tag_active':''" @click="setHeadStatus(1)">
          <span>待审核</span>
        </div>
        <div class="head_tag" :class="queryParams.auditing == 2 ? 'head_tag_active':''" @click="setHeadStatus(2)">
          <span>已通过</span>
        </div>
        <div class="head_tag" :class="queryParams.auditing == 3 ? 'head_tag_active':''" @click="setHeadStatus(3)">
          <span>审核不通过</span>
        </div>
      </div>
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
        <el-form-item label="品牌名称" prop="brandName">
          <el-input
            v-model="queryParams.brandName"
            placeholder="请输入品牌中文名"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <!-- <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phBranda:add']"
          >新增</el-button>
        </el-col> -->
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>
      <el-table v-loading="loading" :data="phBrandaList" @selection-change="handleSelectionChange">
        <el-table-column label="品牌名称" align="center" prop="brandName"/>
        <el-table-column label="商标证" align="center" prop="markRegistration" >
          <template slot-scope="scope">
            <image-preview v-if="scope.row.markRegistration" :src="scope.row.markRegistration" :width="40"/>
          </template>
        </el-table-column>
        <el-table-column label="商标类型" align="center" prop="brandType" >
          <template slot-scope="scope">
            <span v-if="scope.row.brandType == 1">自有品牌</span>
            <span v-if="scope.row.brandType == 2">授权品牌</span>
            <span v-if="scope.row.brandType == 3">没有品牌</span>
            <span v-if="scope.row.brandType == 4">接口品牌</span>
            <span v-if="scope.row.brandType == 5">IC品牌</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="商标注册人类型" align="center" prop="markUserType" >
          <template slot-scope="scope">
            <span v-if="scope.row.markUserType == 1">非自然人(公司)</span>
            <span v-if="scope.row.markUserType == 2">自然人(个人)</span>
          </template>
        </el-table-column> -->
        <el-table-column label="授权书" align="center" prop="brandCompanyWarrant" >
          <template slot-scope="scope">
            <image-preview v-if="scope.row.brandCompanyWarrant" :src="scope.row.brandCompanyWarrant" :width="40"/>
          </template>
        </el-table-column>
        <el-table-column label="授权类型" align="center" prop="brandWarrantType" >
          <template slot-scope="scope">
            <span v-if="scope.row.brandWarrantType == 1">标准授权</span>
            <span v-if="scope.row.brandWarrantType == 2">独家代理</span>
          </template>
        </el-table-column>
        <el-table-column label="企业名称" align="center" prop="shopName" width="180">
          <template slot-scope="scope">
            <span>{{ scope.row.shopName }}</span>
          </template>
        </el-table-column>
        <el-table-column label="授权有效期" align="center" prop="warrantTime" width="180">
          <template slot-scope="scope">
            <span>{{ parseTime(scope.row.warrantTime, '{y}-{m}-{d}') }}</span>
          </template>
        </el-table-column>
        <el-table-column label="申请时间" align="center" prop="createTime" width="180">
          <template slot-scope="scope">
            <span>{{ parseTime(scope.row.createTime, '{y}-{m}-{d}') }}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态" align="center" prop="auditing" >
          <template slot-scope="scope">
            <span v-if="scope.row.auditing == 1" style="color: #EE660F">待审核</span>
            <span v-if="scope.row.auditing == 2">已通过</span>
            <span v-if="scope.row.auditing == 3">已拒绝</span>
            <!-- <dict-tag :options="dict.type.ph_auditing" :value="scope.row.auditing"/> -->
          </template>
        </el-table-column>
        <el-table-column label="操作" fixed="right" align="center" width="120px" class-name="small-padding fixed-width">
          <template slot-scope="scope">
            <el-button
              v-if="scope.row.embody == 0 && scope.row.auditing == 2"
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="takeBrand(scope.row)"
              v-hasPermi="['background:user:remove']"
            >收录</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
            >详情</el-button>
            <br>
            <el-button
              v-if="scope.row.auditing == 1"
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handAuditing(scope.row.id, 2)"
              v-hasPermi="['background:user:remove']"
            >通过</el-button>
            <el-button
              v-if="scope.row.auditing == 1"
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handAuditing(scope.row.id, 3)"
              v-hasPermi="['background:user:remove']"
            >拒绝</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phBranda:edit']"
            >修改</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:phBranda:remove']"
            >删除</el-button> -->
          </template>
        </el-table-column>
      </el-table>
  
      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>

    <!-- 添加或修改品牌对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="1000px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="110px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="品牌LOGO" prop="brandImg">
              <image-upload v-model="form.brandImg" :limit="1"/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="商标注册证" prop="markRegistration" v-if="form.markRegistration" >
              <image-preview :src="form.markRegistration" :width="150" :height="150"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="首字母" prop="initial">
              <el-input v-model="form.initial" @input="detect" placeholder="请输入品牌首字母" maxlength="1" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="中文名" prop="brandName">
              <el-input v-model="form.brandName" placeholder="请输入品牌中文名" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="英文名" prop="brandEngName">
              <el-input v-model="form.brandEngName" placeholder="请输入品牌英文名" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="所在国家">
              <el-select v-model="form.country">
                <el-option
                  v-for="item in countryList"
                  :key="item.id"
                  :label="item.district"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="商品类目" prop="manageCategory">
            <el-tree
              class="tree-border"
              :data="categoryList.filter(categoryItem => categoryItem.parentId === 0)"
              show-checkbox
              node-key="id"
              ref="leimu"
              :default-expanded-keys="form.categoryIdArr"
              :default-checked-keys="form.categoryIdArr"
              :props="defaultProps"
              @check-change="traverseSelectedNodes"
              >
            </el-tree>
          </el-form-item>
          <el-col :span="24">
            <el-form-item label="品牌网址" prop="readdress">
              <el-input v-model="form.readdress" placeholder="请输入品牌地址" />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="品牌简介" prop="brandProfile">
              <el-input v-model="form.brandProfile" placeholder="请输入品牌简介"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="是否显示" >
              <el-switch v-model="form.publishStatus"></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="是否停产" prop="stopStatus">
              <el-switch v-model="form.stopStatus"></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="是否热门" >
              <el-switch v-model="form.hotStatus"></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="排序"  size ="20px"  prop="productSort">
              <el-input v-model="form.productSort" placeholder="请输入排序" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="审核" prop="auditing">
              <el-select v-model="form.auditing">
                <el-option
                  v-for="dict in dict.type.ph_auditing"
                  :key="dict.value"
                  :label="dict.label"
                  :value="parseInt(dict.value)"
                />
              </el-select>
            </el-form-item>
          </el-col>

          <!-- <el-form-item label="公告类型" prop="noticeType">
            <el-select v-model="form.noticeType" placeholder="请选择公告类型">
              <el-option
                v-for="dict in dict.type.sys_notice_type"
                :key="dict.value"
                :label="dict.label"
                :value="dict.value"
              ></el-option>
            </el-select>
          </el-form-item> -->

          <!-- <el-col :span="12">
            <el-form-item label="审核时间" prop="auditingTime">
              <el-date-picker clearable
                v-model="form.auditingTime"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="请选择审核时间">
              </el-date-picker>
            </el-form-item>
          </el-col> -->
        </el-row>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 审核拒绝对话框 -->
    <el-dialog title="审核不通过" :visible.sync="noAuditPop" width="600px" :close-on-click-modal="false" append-to-body>
      <el-form :rules="rules" label-width="100px">
        <el-row>
          <span>请选择不通过原因</span>
          <el-col :span="24">
            <el-checkbox-group v-model="noAuditActive" style="margin: 15px 0">
              <el-checkbox v-for="city in noAuditReason" :label="city" :key="city" style="margin: 10px; width: 45%;">{{city}}</el-checkbox>
            </el-checkbox-group>
          </el-col>
          <el-col :span="24">
            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入不通过原因"
              v-model="noAuditText">
            </el-input>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitAuditing" style="margin: 0 10px;">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 详情 -->
    <div v-if="brandaAuditDetailsPop">
      <!-- 返回/标题 -->
      <div class="head_bt_back" @click="detailsBack">
        <img src="../../../assets/icons/返回.png" alt="">
        <span>品牌详情</span>
      </div>
      <!-- 编辑按钮 -->
      <div class="head_bt_edit">
        <span v-if="form.auditing == 1">待审核</span>
        <span v-if="form.auditing == 2" style="color: #00B432;">已通过</span>
        <span v-if="form.auditing == 3">未通过</span>
      </div>
      <!-- 详情内容 -->
      <template>
        <div class="details_box_bg">
        <div class="details_box">
          <div class="details_head_box">
            <div class="left_box_title">申请信息</div>
            <div class="left_box">
              <!-- 信息标题 -->
              <el-descriptions :column="1">
                  <!-- <el-descriptions-item label="店铺ID">{{ form.id }}</el-descriptions-item> -->
                  <el-descriptions-item label="LOGO">
                    <image-preview :src="form.brandImg" :width="60" :height="60"/>
                  </el-descriptions-item>
                  <el-descriptions-item label="企业名称">{{ form.shopName }}</el-descriptions-item>
                  <el-descriptions-item label="申请用户">{{ form.mobile }}</el-descriptions-item>
                  <el-descriptions-item label="品牌名称">{{ form.brandName }}</el-descriptions-item>
                  <el-descriptions-item label="商标类型">
                    <span v-if="form.brandType">
                      <span v-if="form.brandType == 1">自有品牌</span>
                      <span v-if="form.brandType == 2">授权品牌</span>
                      <span v-if="form.brandType == 3">没有品牌</span>
                      <span v-if="form.brandType == 4">接口品牌</span>
                      <span v-if="form.brandType == 5">IC品牌</span>
                    </span>
                    <span v-else>/</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="所属分类">
                    <span v-if="form.brandIdList">
                      <span v-for="item,i of form.brandIdList" :key="i">
                        <span>{{ item.categoryName }}</span>
                        <span v-if="i != form.brandIdList.length - 1">、</span>
                      </span>
                    </span>
                    <span v-else>/</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="授权类型">
                    <span v-if="form.brandWarrantType">
                      <span v-if="form.brandWarrantType == 1">标准授权</span>
                      <span v-if="form.brandWarrantType == 2">独家代理</span>
                    </span>
                    <span v-else>/</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="授权有效期">
                    <span v-if="form.warrantTime">{{ form.warrantTime }}</span>
                    <span v-else>/</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="申请时间">{{ form.createTime }}</el-descriptions-item>
              </el-descriptions>
            </div>
            <div class="right_box">
              <div class="right_box_img">
                <image-preview :src="form.markRegistration" :width="185" :height="260"/>
                <p>商标注册证</p>
              </div>
              <div class="right_box_img">
                <image-preview :src="form.brandCompanyWarrant" :width="185" :height="260"/>
                <p>品牌授权书</p>
              </div>
              <div class="right_box_img">
                <image-preview :src="form.brandOneWarrant" :width="185" :height="260"/>
                <p>一级代理授权书</p>
              </div>
            </div>
          </div>
          <div class="details_centent_box">
          </div>
        </div>
        </div>
        <!-- 审核信息 -->
        <div class="details_box_bg" v-if="form.auditingList&&form.auditingList.length">
        <div class="details_box">
          <div class="details_head_box">
            <div>
              <!-- 信息标题  -->
              <div class="left_box_title">审核记录</div>
              <div style="width: 100%;" v-for="item,i of form.auditingList" :key="i">
                <!-- 分割线  -->
                <div class="separation" v-if="i > 0"></div>
                <el-descriptions :column="2">
                    <el-descriptions-item label="审核人">{{ item.auditingPeople }}</el-descriptions-item>
                    <el-descriptions-item label="审核状态">
                    <span v-if="item.auditing == 1">待审核</span>
                    <span v-if="item.auditing == 2">审核通过</span>
                    <span v-if="item.auditing == 3">审核不通过</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="审核时间">{{ item.auditingTime }}</el-descriptions-item>
                    <el-descriptions-item v-if="item.auditing == 3" label="不通过原因" :contentStyle="{'color':'red'}">{{ item.content }}</el-descriptions-item>
                </el-descriptions>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="details_box_bg foot_bt_box">
          <el-button v-if="form.auditing == 1" @click="handAuditing(form.id, 2)" type="primary" >审核通过</el-button>
          <el-button v-if="form.auditing == 1" @click="handAuditing(form.id, 3)" style="margin-left:20px;">审核不通过</el-button>
          <!-- <el-button v-if="form.auditing != 1" @click="handAuditing(form.id, 1)">移入待审核</el-button> -->
          <el-button class="foot_bt_fh" @click="detailsBack" icon="el-icon-arrow-left">返回列表</el-button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { listPhBranda, getPhBranda, delPhBranda, addPhBranda, updatePhBranda, getPhBrandaCountry } from "@/api/background/phBranda";
import { listPhCategory } from "@/api/background/phCategory";
import { getAuditing } from "@/api/background/phShop";

export default {
  name: "PhBranda",
  dicts: ['ph_whether', 'ph_auditing'],
  data() {
    // 表单验证-首字母正则
    var initialAge = (rule, value, callback) => {
      var regex = /[A-Z]/g;   //判断是否大写
      if (!value) {
        return callback(new Error('首字母不能为空'));
      }else if (!regex.test(value)) {
        return callback(new Error('首字母请使用大写字母'));
      }else {
        callback()
      }
    };
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 品牌表格数据
      phBrandaList: [],
      // 用户详情展示页
      brandaAuditDetailsPop: false,
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 分类参数表单
      categoryList: [],
      // 查询分类参数
      queryParamsCategory: {
        pageNum: 1,
        pageSize: 10,
        firstCategory: null,
        nthCategory: null,
        imgUrl: null,
        categorySort: null,
        parentId: null,
        productStatus: null,
        screenStatus: null,
        num: null,
        parameterTemplet: null,
        dl: null,
        brandaNum: null,
        applicableNum: null,
      },
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        publishStatus: 0,
        stopStatus: 0,
        auditing: 1,
        brandName: null,
        brandEngName: null,
        country: null,
        brandImg: null,
        markRegistration: null,
        markUserType: null,
        brandType: null, //品牌类型 1.自有品牌 2. 授权品牌 3.没有品牌 4.接口品牌  5.IC品牌
        brandWarrantType: null,
        brandCompanyWarrant: null,
        brandOneWarrant: null,
        warrantTime: null,
        manageCategory: null,
        auditingTime: null,
        hotStatus: null,
        brandProfile: null,
        readdress: null,
        concernNum: null,
        procureNum: null,
        productSort: null,
        goodNum: null,
        supplier: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        initial:[{required: true, validator: initialAge, trigger: 'blur'}],
        brandName:[{required: true, message: '中文名不能为空', trigger: 'blur'}]
      },
      // 分类列表代理路劲
      defaultProps: {
        children: 'phCategoryChildrenList',
        label: 'firstCategory'
      },
      // 品牌国家列表
      countryList: [],

      auditId: null, // 审核id
      auditAuditing: 2, // 审核状态 2通过 / 3拒绝
      noAuditPop: false, // 审核拒绝弹窗
      noAuditText: '', //原因内容
      noAuditActive: [], //选中原因
      noAuditReason: ['社会统一征信代码不匹配','图片质量不清晰','证书不符合要求','营业执照过期'] //原因概括
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询品牌列表 */
    getList() {
      this.loading = true;
      listPhBranda(this.queryParams).then(response => {
        for(let item of response.rows) {
          item.publishStatus = item.publishStatus == 1 ? true : false //判断开关状态
          item.stopStatus = item.stopStatus == 1 ? true : false //判断开关状态
          item.hotStatus = item.hotStatus == 1 ? true : false //判断开关状态
        }
        this.phBrandaList = response.rows;
        this.total = response.total;
        this.myGetListPhCategory()
        this.myGetPhBrandaCountry()
        this.loading = false;
      });
    },
    /** 查询分类列表 */
    myGetListPhCategory() {
      listPhCategory(this.queryParamsCategory).then((response) => {
        this.categoryList = response.rows;
        this.loading = false;
      });
    },
    /** 查询品牌国家列表 */
    myGetPhBrandaCountry() {
      getPhBrandaCountry().then((response) => {
        this.countryList = response.rows;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.noAuditPop = false
      // this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        brandName: null,
        brandEngName: null,
        country: null,
        brandImg: null,
        markRegistration: null,
        markUserType: null,
        brandType: null,
        brandWarrantType: null,
        brandCompanyWarrant: null,
        brandOneWarrant: null,
        warrantTime: null,
        // manageCategory: null,
        brandIdList:null,
        auditing: null,
        auditingTime: null,
        publishStatus: 0,
        stopStatus: 0,
        hotStatus: 0,
        brandProfile: null,
        readdress: null,
        concernNum: null,
        procureNum: null,
        productSort: null,
        goodNum: null,
        supplier: null,
        createTime: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    // 筛选已选择的类目id
    setCategoryId(date) {
      let list = date
      list.categoryIdArr = []
      for(let item of list.brandIdList) {
        let uid = Number(item.categoryId)
        list.categoryIdArr.push(uid)
      }
      return list;
    },
    // JSON格式转换
    setJson(str) {
      let json = JSON.parse(str)
      return json;
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加品牌";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhBranda(id).then(response => {
        this.form = response.data;
        this.form.publishStatus = this.form.publishStatus == 1 ? true : false //判断开关状态
        this.form.stopStatus = this.form.stopStatus == 1 ? true : false //判断开关状态
        this.form.hotStatus = this.form.hotStatus == 1 ? true : false //判断开关状态
        this.form = this.setCategoryId(this.form)//筛选类目ID
        this.open = true;
        this.title = "修改品牌";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.form.publishStatus = this.form.publishStatus ? 1 : 0 //判断开关状态
      this.form.stopStatus = this.form.stopStatus ? 1 : 0 //判断开关状态
      this.form.hotStatus = this.form.hotStatus ? 1 : 0 //判断开关状态
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhBranda(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhBranda(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    
    // 判断首字母英文
    detect(val) {
      const regex = /^[a-zA-Z]+$/;  
      if(regex.test(val)) {
        this.form.initial = val.toUpperCase()
      } else if(this.form.initial != '') {
        this.form.initial ='',
        this.$message({
          message: '首字母请输入英文',
          type: 'warning'
        });
      }
    },
    
    // 列表开关回调-是否显示
    switchPublishStatus(id,sta,name) {
      // 查询修改接口
      getPhBranda(id).then(response => {
        this.form = response.data;
        if(name == 'publishStatus') {
          this.form.publishStatus = sta ?  1 : 0  //判断开关状态
        }else if(name == 'stopStatus') {
          this.form.stopStatus = sta ?  1 : 0  //判断开关状态
        }else if(name == 'hotStatus') {
          this.form.hotStatus = sta ?  1 : 0  //判断开关状态
        }
        // 提交修改接口
        updatePhBranda(this.form).then(response => {
          this.$modal.msgSuccess("修改成功");
        });
      });
    },
    // 遍历以固定格式插入选中节点
    traverseSelectedNodes(data) {
      let leiMu = this.$refs.leimu.getCheckedNodes() // 获取树状结构选中参数
      let arr = []
      for(let item of leiMu) {
        if(leiMu.length && (item.phCategoryChildrenList == null || item.phCategoryChildrenList.length == 0)) {
          let obj = {
            brandaId: this.form.id ? this.form.id : null,
            brandaName: this.form.brandName ? this.form.brandName : null,
            categoryId : item.id,
            categoryName : item.firstCategory,
            relatingType : 1,
            threeCategoryId : item.threeCategoryId,
            parentId : item.parentId,
            // relatingType = 关联标识 1.分类-品牌  2.分类-应用  3.分类-显示屏 4.分类-店铺  5.分类-商品  6.分类-属性 7.店铺-品牌  8.店铺-应用
          }
          arr.push(obj)
        }
      }
      this.form.brandIdList = arr
      this.form.categoryIdArr = []
      for(let item of arr) {
        let uid = Number(item.categoryId)
        this.form.categoryIdArr.push(uid)
      }
    },

    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除品牌编号为"' + ids + '"的数据项？').then(function() {
        return delPhBranda(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phBranda/export', {
        ...this.queryParams
      }, `phBranda_${new Date().getTime()}.xlsx`)
    },
    // 审核接口
    submitAuditing() {
      // 查询修改接口
      getPhBranda(this.auditId).then(response => {
        this.form = response.data;
        console.log( this.form )
        // let data = {
        //   id: this.form.auditingList[0].id,
        //   relatingId: this.form.auditingList[0].relatingId,
        //   auditing: this.auditAuditing,
        //   content : this.contentSplice(),
        //   type: this.form.auditingList[0].type
        // }
        if(this.auditAuditing == 2) {
          // getAuditing(data).then((response) => {
          //   this.$modal.msgSuccess("审核成功");
          //   this.brandaAuditDetailsPop = false // 关闭详情页
          //   this.getList();
          // });
          updatePhBranda(this.form).then((response) => {
            this.$modal.msgSuccess("审核成功");
            this.brandaAuditDetailsPop = false // 关闭详情页
            this.getList();
          });
        } else if(this.auditAuditing == 3) {
          // getAuditing(data).then((response) => {
          //   this.$modal.msgSuccess("审核已拒绝");
          //   this.noAuditPop = false; //关闭拒绝原因弹窗
          //   this.brandaAuditDetailsPop = false // 关闭详情页
          //   this.getList();
          // });
          updatePhBranda(this.form).then((response) => {
            this.$modal.msgSuccess("审核已拒绝");
            this.noAuditPop = false; //关闭拒绝原因弹窗
            this.brandaAuditDetailsPop = false // 关闭详情页
            this.getList();
          });
        }
      });
    },
    // 拼接失败原因
    contentSplice() {
      let str = ''
      for(let i in this.noAuditActive) {
        i > 0 ? str += ',' : null
        str += this.noAuditActive[i]
      }
      this.noAuditText.length > 1 ? str += (',' + this.noAuditText) : null
      return str
    },
    // 头部标签状态事件
    setHeadStatus(str) {
      this.queryParams.auditing = str
      this.queryParams.pageNum = 1;
      // this.getList();
      this.resetQuery()
    },
    // 详情页-👇-
    
    // 用户详情返回列表按钮
    detailsBack() {
      this.brandaAuditDetailsPop = false;
      this.activeName = 'first';
      this.reset();
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      this.brandaAuditDetailsPop = true
      const id = row.id || this.ids;
      getPhBranda(id).then((response) => {
        this.form = response.data;
        // this.form.manageCategory = this.setJson(this.form.manageCategory);
      });
    },
    // 审核判断
    handAuditing(id,sta) {
      const _this = this
      this.auditId = id
      this.auditAuditing = sta
      if(sta == 2) {
        this.$modal
        .confirm('确认审核通过')
        .then(function () {
          _this.submitAuditing();
          return
        })
        .catch(() => {});
      } else if(sta == 3) {
        this.noAuditPop = true
      }
    },
    // 详情页-👆-
    /** 收录品牌 */
    takeBrand(data) {
      let id = data.id
      getPhBranda(id).then(response => {
        this.form = response.data;
        this.$confirm('确认收录该品牌？')
          .then(_ => {
            this.form.embody = 1
            updatePhBranda(this.form).then((response) => {
            this.$modal.msgSuccess("收录成功");
            // this.brandaAuditDetailsPop = false // 关闭详情页
            this.getList();
          });
          }).catch(_ => {});
      });
    }
  }
};
</script>

<style scoped>
/* 头部标签状态切换栏-👇-*/
.head_status_box {
  width: 100%;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}
.head_tag {
  display: inline-block;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: #444;
}
.head_tag > span {
  font-size: 15px;
  letter-spacing:2px;
}
.head_tag_active {
  position: relative;
  color: #FD721D;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.head_tag_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  border-top: 4px solid #FD721D;
}
/* 头部标签状态切换栏-👆-*/

/* 用户详情样式-👇- */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 3px;
}
.details_box_bg .details_head_box {
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}
.details_box_bg .details_head_box .separation {
  width: 90%;
  border: 1px solid #E9E9E9;
  margin: 0 auto;
  margin-bottom: 15px;
}
/* 返回/标题 */
.head_bt_back {
  position:absolute;
  left: 50px;
  top: 35px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
/* 编辑按钮 */
.head_bt_edit {
  font-size: 16px;
  background-color: #fff;
  position:absolute;
  padding: 0 10px ;
  right: 40px;
  top: 40px;
  color: #FF0000;
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 1999;
}
/* 头部标题 */
.left_box_title {
  position:absolute;
  font-size: 15px;
  font-weight: bold;
  left: 30px;
  top: 20px;
}
.left_box {
  width: 35%;
}
.right_box {
  width: 65%;
  display: flex;
}
.right_box .right_box_img {
  width:185px;
  margin: auto;
  padding: 5px;
}
.right_box .right_box_img p {
  margin-top: 10px;
}
.right_box p {
  margin: 0 20px;
  text-align: center;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 底部按钮 */
.foot_bt_box {
  width: 100%;
  min-height: 96px;
  text-align: center;
  position: relative;
}
.foot_bt_box .foot_bt_fh {
  color: #0093E6;
  position: absolute;
  left: 20px;
  border: 0;
}
/* 用户详情样式-👆- */
.el-button+.el-button, 
.el-table .fixed-width .el-button--mini{
  margin-left: 6px;
}
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 105px;
  text-align: right;
  display: inline-block;
}
/deep/ .el-descriptions-item__container .el-descriptions-item__content {
  flex-wrap: wrap;
}
</style>