<template>
  <div class="app-container" :class="detailsPop ? 'details_bg':''">
    <div v-if="!detailsPop">
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
        <el-form-item label="型号" prop="modelNumber">
          <!-- modelNumber需检查 -->
          <el-input
            v-model="queryParams.modelNumber"
            placeholder="请输入型号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="尺寸" prop="sizeId">
          <el-input
            v-model="queryParams.sizeId"
            placeholder="请输入尺寸"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:PhPanel:add']"
          >新增</el-button>
        </el-col>
        <!-- <el-col :span="1.5">
          <el-button
            type="success"
            plain
            icon="el-icon-edit"
            size="mini"
            :disabled="single"
            @click="handleUpdate"
            v-hasPermi="['background:PhPanel:edit']"
          >修改</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:PhPanel:remove']"
          >删除</el-button>
        </el-col> -->
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:PhPanel:export']"
          >导出</el-button>
        </el-col>
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>
      <!-- 列表展示 -->
      <el-table v-loading="loading" :data="PhPanelList" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55" align="center" />
        <!-- <el-table-column label="商品类目ID" align="center" prop="categoryId" /> -->
        <!-- <el-table-column label="ID" align="center" prop="modelNumber" /> -->
        <el-table-column label="型号" align="center" prop="modelNumber" />
        <el-table-column label="图片" align="center" prop="photoId" />
        <el-table-column label="品牌" align="center" prop="？" >
        </el-table-column>
        <el-table-column label="尺寸ID" align="center" prop="sizeId" />
        <el-table-column label="是否停产 0:否 ,1：是" align="center" prop="status" />
        <el-table-column label="文档ID" align="center" prop="documentId" />
        <el-table-column label="更新时间" align="center" prop="？" />
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              left
              @click="copyForm"
              v-hasPermi="['background:user:remove']"
              >复制</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >编辑</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:PhPanel:edit']"
            >修改</el-button> -->
            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:PhPanel:remove']"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      
      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>
    <!-- 用户详情 -->
    <div v-if="detailsPop">
      <!-- 详情内容-新增/修改 -->
      <template>
        <Model_01 :form="form" @setDetailsBack="detailsBack"></Model_01>
      </template>
    </div>
  </div>
</template>

<script>
import { listPhPanel, getPhPanel, delPhPanel, addPhPanel, updatePhPanel } from "@/api/background/PhPanel";

import Model_01 from "../../components/type-template/model_01.vue";
export default {
  name: "PhPanel",
  components:{Model_01},
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 参数模板表格数据
      PhPanelList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 模板详情页展示
      detailsPop: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        categoryId: null,
        modelNumber: null,
        status: null,
        panelType: null,
        resolutionId: null,
        sizeId: null,
        refreshRate: null,
        brightness: null,
        lamphouseLifespan: null,
        guise: null,
        workRecord: null,
        ntsc: null,
        adobeRgb: null,
        srgb: null,
        dclP: null,
        waftPinNumber: null,
        waftPortId: null,
        displayArea: null,
        visibleAngle: null,
        visibleDistrict: null,
        angle: null,
        faceShaping: null,
        colorMode: null,
        transmitMode: null,
        faceLand: null,
        screenSpeed: null,
        pixelDeploy: null,
        documentId: null,
        photoId: null,
        memoryRecord: null,
        otherName: null,
        antiknock: null,
        distancePoints: null,
        mountMode: null,
        landscapePortrait: null,
        pixelLayout: null,
        pixelPoints: null,
        pixelDensity: null,
        glassPly: null,
        aspectRatio: null,
        surfaceProcess: null,
        cloudySurface: null,
        surfaceRigidity: null,
        splice: null,
        characterSize: null,
        characterLattice: null,
        characterPoints: null,
        surfaceFense: null,
        mesomorphism: null,
        touchType: null,
        colorTemperature: null,
        brightnessChange: null,
        color: null,
        chromaCoordinate: null,
        rec: null,
        colourGamut: null,
        outdoorVisual: null,
        transmissivity: null,
        threeD: null,
        icDrive: null,
        typeDrive: null,
        wattConsumption: null,
        sequenceControl: null,
        overturnScan: null,
        currentInput: null,
        analogInput: null,
        standbyPowerDissipation: null,
        powerDissipation: null,
        portPlace: null,
        portType: null,
        signalType: null,
        portNumber: null,
        portAmount: null,
        portBrandId: null,
        pinNumber: null,
        pinPitch: null,
        pinDefine: null,
        poorLightType: null,
        poorLightNumber: null,
        stripLamp: null,
        stripLampLifespan: null,
        poorLightPlace: null,
        stripReplace: null,
        poorAnalogInput: null,
        poorCurrentInput: null,
        poorDrive: null,
        poorPowerDissipation: null,
        poorBrandId: null,
        poorPinPitch: null,
        poorPortNumber: null,
        poorNum: null,
        poorType: null,
        poorPinNumber: null,
        poorPinDefine: null,
        poorPlace: null,
        approveId: null,
        packNum: null,
        packWeight: null,
        packingChestSize: null,
        productWeight: null,
        productIntro: null,
        touchOperation: null,
        touchNum: null,
        touchLifespan: null,
        linearityError: null,
        touchTime: null,
        touchVigor: null,
        minTouchDiam: null,
        touchSampleRate: null,
        directorType: null,
        touchDirector: null,
        touchTechnique: null,
        touchStructure: null,
        glassType: null,
        mountJoint: null,
        supportSystem: null,
        shellMaterial: null,
        backCoverMaterial: null,
        mountType: null,
        icBrandId: null,
        offtrackPlace: null,
        communicationInterfaceType: null,
        offtrackLength: null,
        workHumidity: null,
        memoryHumidity: null,
        workVoltage: null,
        feedingMode: null,
        lightAbility: null,
        lightFunction: null,
        operationMilieu: null
      },
      // 表单参数
      form: {},
      // 复制表单
      copeFormList: [],
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询参数模板列表 */
    getList() {
      this.loading = true;
      listPhPanel(this.queryParams).then(response => {
        this.PhPanelList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      // this.open = true;
      this.detailsPop = true
      this.title = "新增模板";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhPanel(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改参数模板";
      });
    },
    /** 提交按钮 */
    submitForm() {
      console.log(this.categoryIdArr)
      console.log(this.form)
      this.$refs["form"].validate(valid => {
        console.log(valid)
        if (valid) {
          if (this.form.id != null) {
            updatePhPanel(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.detailsPop = false;
              // this.open = false;
              this.getList();
            });
          } else {
            addPhPanel(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.detailsPop = false;
              // this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除参数模板编号为"' + ids + '"的数据项？').then(function() {
        return delPhPanel(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/PhPanel/export', {
        ...this.queryParams
      }, `PhPanel_${new Date().getTime()}.xlsx`)
    },
    // 复制表单
    copyForm() {
      console.log(this.form)
      this.copeFormList = this.from
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      const id = row.id || this.ids;
      getPhPanel(id).then((response) => {
        console.log(response.data)
        this.form = response.data;
        this.detailsPop = true
      });
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.detailsPop = false
      this.reset();
    },
  }
};
</script>
<style scoped>
/* 详情页背景样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  text-align: right;
}
/* 下拉款宽度 */
/deep/ .el-cascader--medium {
  width: 100% !important;
}
</style>
