<!-- 商品列表 -->
<template>
  <div class="app-container">
    <div v-if="!shopDetailsPop">
      <!-- 筛选 -->
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="88px">
        <el-form-item label="供应商名称" prop="firmName">
          <el-input
            v-model="queryParams.firmName"
            placeholder="请输入供应商名称"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="手机号" prop="mobile">
          <el-input
            v-model="queryParams.mobile"
            placeholder="请输入手机号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="商品品质" prop="productTone">
          <el-select v-model="queryParams.productTone" placeholder="请选择">
            <el-option :key="1" :value="1" label="全新">全新</el-option>
            <el-option :key="2" :value="2" label="A+">A+</el-option>
            <el-option :key="3" :value="3" label="A">A</el-option>
            <el-option :key="4" :value="4" label="A-">A-</el-option>
            <el-option :key="5" :value="5" label="B">B</el-option>
            <el-option :key="6" :value="6" label="B-">B-</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="商家类型" prop="shopPosition">
          <el-select v-model="queryParams.shopPosition" placeholder="请选择">
            <el-option :key="1" :value="1" label="普通商家">普通商家</el-option>
            <el-option :key="2" :value="2" label="实力商家">实力商家</el-option>
            <el-option :key="3" :value="3" label="超级商家">超级商家</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="商品类型" prop="productStyle">
          <el-select v-model="queryParams.productStyle" placeholder="请选择">
            <el-option :key="1" :value="1" label="现货">现货</el-option>
            <el-option :key="2" :value="2" label="商品">商品</el-option>
          </el-select>
        </el-form-item>
        <!-- <el-form-item label="交易状态" prop="transaction">
          <el-select v-model="queryParams.transaction" placeholder="请选择">
            <el-option :key="0" :value="0" label="不可以交易">不可以交易</el-option>
            <el-option :key="1" :value="1" label="可交易">可交易</el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <!-- <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phProduct:add']"
          >新增</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:phProduct:remove']"
          >删除</el-button>
        </el-col> -->
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phProduct:export']"
          >导出</el-button>
        </el-col>
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>
      <!--  -->
      <el-table v-loading="loading" :data="phProductList" @selection-change="handleSelectionChange">
        <!-- <el-table-column type="selection" width="55" align="center" /> -->
        <!-- <el-table-column label="ID" align="center" prop="id" /> -->
        <el-table-column label="供应商" align="center" width="110">
          <template slot-scope="scope">
            <p style="margin: 0">{{ scope.row.firmName }}</p>
            <p style="margin: 0;color:#666">{{ scope.row.mobile }}</p>
          </template>
        </el-table-column>
        <el-table-column label="商品名称" align="center" prop="productName" />
        <el-table-column label="商品图片" align="center" prop="productImg">
          <template slot-scope="scope">
            <image-preview :src="scope.row.productImg" :width="40" :height="40" style="margin-right: 15px;"/>
          </template>
        </el-table-column>
        <el-table-column label="商品品质" align="center" prop="productTone">
          <template slot-scope="scope">
            <span v-if="scope.row.productTone == 1" style="border:1px solid #999;padding:0 8px;border-radius:3px">全新</span>
            <span v-if="scope.row.productTone == 2" style="border:1px solid #999;padding:0 8px;border-radius:3px">A+级</span>
            <span v-if="scope.row.productTone == 3" style="border:1px solid #999;padding:0 8px;border-radius:3px">A级</span>
            <span v-if="scope.row.productTone == 4" style="border:1px solid #999;padding:0 8px;border-radius:3px">A-级</span>
            <span v-if="scope.row.productTone == 5" style="border:1px solid #999;padding:0 8px;border-radius:3px">B级</span>
            <span v-if="scope.row.productTone == 6" style="border:1px solid #999;padding:0 8px;border-radius:3px">B-级</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="商品图片" align="center" prop="productImg" /> -->
        <el-table-column label="优惠价(元)" align="center" prop="favorablePrice" />
        <el-table-column label="价格(元)" align="center" prop="productPrice" sortable/>
        <el-table-column label="库存" align="center" prop="stockpile" sortable/>
        <el-table-column label="数据" align="center">
          <p style="margin: 1px 0">点击量0</p>
          <p style="margin: 1px 0">询价数0</p>
          <p style="margin: 1px 0">下单量0</p>
          <p style="margin: 1px 0">咨询数0</p>
        </el-table-column>
        <el-table-column label="服务与承诺" align="center" prop="qualityGuarantee" >
          <template slot-scope="scope">
            <span v-if="scope.row.qualityGuarantee == 1">无质保</span>
            <span v-if="scope.row.qualityGuarantee == 2">1周质保</span>
            <span v-if="scope.row.qualityGuarantee == 3">1个月质保</span>
            <span v-if="scope.row.qualityGuarantee == 4">3个月质保</span>
            <span v-if="scope.row.qualityGuarantee == 5">6个月质保</span>
            <span v-if="scope.row.qualityGuarantee == 6">1年质保</span>
            <span v-if="scope.row.qualityGuarantee == 7">2年质保</span>
            <span v-if="scope.row.qualityGuarantee == 8">3年质保</span>
          </template>
        </el-table-column>
        <el-table-column label="更新时间" align="center" prop="updateTime" />
        <el-table-column label="标签" align="center" width="100px" >
          <template slot-scope="scope">
              <div style="margin: 3px 0">
                <span>显示</span>
                <el-switch
                  v-model="scope.row.unshroud"
                  :dataId="scope.row.id"
                  @change="switchPublishStatus(scope.row.id, scope.row.unshroud,'unshroud')">
                </el-switch>
              </div>
              <!-- <div style="margin: 3px 0">
                <span>交易:</span>
                <el-switch
                  v-model="scope.row.transaction"
                  :dataId="scope.row.id"
                  @change="switchPublishStatus(scope.row.id, scope.row.transaction,'transaction')">
                </el-switch>
              </div> -->
              <div style="margin: 3px 0">
                <span>推荐</span>
                <el-switch
                  v-model="scope.row.nominate"
                  :dataId="scope.row.id"
                  @change="switchPublishStatus(scope.row.id, scope.row.nominate,'nominate')">
                </el-switch>
              </div>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width" style="min-width:100px" fixed="right" width="80px">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >查看</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phProduct:edit']"
            >修改</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:phProduct:remove']"
            >删除</el-button> -->
          </template>
        </el-table-column>
      </el-table>
      
      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>

    <!-- 添加或修改商品对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="700px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="150px">
        <el-row>
          <el-col :span="20">
            <el-form-item label="商品名称" prop="productName">
              <span>{{ form.productName }}</span>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="所属分类">
              <el-cascader style="width: 345px;" v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory',children: 'phCategoryChildrenList',checkStrictly: true }" popper-class="phCategoryChildrenList" :options="categoryList" filterable :show-all-levels="false">
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="所属品牌">
              <el-select style="width: 345px;" v-model="phBrandaIdArr" placeholder="请选择">
                <el-option  
                  v-for="item in phBrandaList"  
                  :key="item.id"  
                  :label="item.brandName"  
                  :value="item.brandName">  
                </el-option> 
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="商品标题" prop="productName">
              <el-input v-model="form.productName" placeholder="请输入商品标题" />
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="排序" prop="sort">
              <el-input v-model="form.sort" placeholder="请输入排序序号" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 详情 -->
    <div v-if="shopDetailsPop">
      <!-- 返回/标题 -->
      <div class="head_bt_back" @click="detailsBack">
        <img src="../../../assets/icons/返回.png" alt="">
        <span>商品详情</span>
      </div>
      <!-- 编辑按钮 -->
      <!-- <div class="head_bt_edit">
        <span v-if="form.auditing == 0">待审核</span>
        <span v-if="form.auditing == 1" style="color: #00B432;">已通过</span>
        <span v-if="form.auditing == 2">未通过</span>
      </div> -->
      <!-- <div class="head_bt_edit" @click="handleUpdate(form)">
        <span>编辑资料</span>
      </div> -->
      <!-- 详情内容 -->
      <template>
        <div class="details_box_bg">
        <div class="details_box">
          <div class="details_head_box">
            <p style="font-weight: bold;">价格库存</p> 
            <el-descriptions :column="2">
                <el-descriptions-item label="商品分类">
                  <span v-for="item,i of form.categoryList" :key="i">
                    <span v-if="item.relatingType == 5">{{item.categoryName}}</span>
                  </span>
                </el-descriptions-item>
                  <!-- <image-preview :src="form.businessLicence" :width="80" :height="80"/> -->
                <el-descriptions-item label="商品标题">{{ form.productName }}</el-descriptions-item>
                <el-descriptions-item label="商品名称">{{ form.productName }}</el-descriptions-item>
                <el-descriptions-item label="产品品牌">
                  <span v-for="item,i of form.categoryList" :key="i">
                    <span v-if="item.relatingType == 9">{{item.brandaName}}</span>
                  </span>
                </el-descriptions-item>
                <el-descriptions-item label="产品品质">
                  <span v-if="form.productTone == 1">全新</span>
                  <span v-if="form.productTone == 2">A+</span>
                  <span v-if="form.productTone == 3">A</span>
                  <span v-if="form.productTone == 4">A-</span>
                  <span v-if="form.productTone == 5">B</span>
                  <span v-if="form.productTone == 6">B-</span>
                </el-descriptions-item>
                <el-descriptions-item label="产品文档">
                  <span>{{ form.documentUrlName }}</span>
                  <br>
                  <a v-if="form.documentUrlName" style="margin-left: 20px; color: blue;" @click="previewFile(form.documentUrl)">预览</a>
                  <a v-if="form.documentUrlName" style="margin-left: 10px; color: blue;" @click="downloadFile(form.documentUrl)">下载</a>
                </el-descriptions-item>
            </el-descriptions>
            <el-descriptions :column="1">
              <el-descriptions-item label="产品图片">
                <div>
                  <image-preview :src="form.productImg" :width="100" :height="100"/>
                </div>
              </el-descriptions-item>
                <el-descriptions-item label="产品视频">无</el-descriptions-item>
                <el-descriptions-item label="产品属性">
                  <div style="background-color: #F9F9F9;padding: 20px;box-sizing: border-box;">
                    <el-descriptions :column="3">
                      <el-descriptions-item label="产品品牌">友达</el-descriptions-item>
                      <el-descriptions-item label="产品品质">全新</el-descriptions-item>
                      <el-descriptions-item label="产品文档">MV240WUM-N51</el-descriptions-item>
                      <el-descriptions-item label="产品品牌">友达</el-descriptions-item>
                      <el-descriptions-item label="产品品质">全新</el-descriptions-item>
                      <el-descriptions-item label="产品文档">MV240WUM-N51</el-descriptions-item>
                    </el-descriptions>
                  </div>
                </el-descriptions-item>
            </el-descriptions>
            <el-row>
              <el-col :span="7">
                <p style="font-weight: bold;">价格库存</p>
                <el-descriptions :column="1">
                    <el-descriptions-item label="可售库存">{{ form.stockpile }}</el-descriptions-item>
                    <el-descriptions-item label="商品价格">{{ form.productPrice }}</el-descriptions-item>
                    <el-descriptions-item label="优惠价(元)">{{ form.favorablePrice }}</el-descriptions-item>
                    <el-descriptions-item label="起订量">{{ form.beginSubscriber }}</el-descriptions-item>
                    <el-descriptions-item label="支持拿样">
                      <span v-if="form.haveSample == 1">付费样品</span>
                      <span v-if="form.haveSample == 2">免费样品</span>
                      <span v-if="form.haveSample == 3">不支持</span>
                    </el-descriptions-item>
                </el-descriptions>
              </el-col>
              <el-col :span="1">
                <div style="border: 1px solid #e9e9e9;width: 1px ;height: 180px;"></div> <!-- 分割线 -->
              </el-col>
              <el-col :span="8">
                <p style="font-weight: bold;">物流信息</p>
                <el-descriptions :column="1">
                    <el-descriptions-item label="运费设置">
                      <span v-if="form.fare == 1">包邮</span>
                      <span v-if="form.fare == 2">买家承担</span>
                      <span v-if="form.fare == 3">协商</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="发货地址">
                      <span style="width: 80%;">{{ form.address }}</span>
                    </el-descriptions-item>
                </el-descriptions>
              </el-col>
              <el-col :span="1">
                <div style="border: 1px solid #e9e9e9;width: 1px ;height: 180px;"></div> <!-- 分割线 -->
              </el-col>
              <el-col :span="7">
                <p style="font-weight: bold;">服务与承诺</p>
                <el-descriptions :column="1">
                    <el-descriptions-item label="发货时间">
                      <span v-if="form.dispatchTime == 1">当日发</span>
                      <span v-if="form.dispatchTime == 2">24小时发货</span>
                      <span v-if="form.dispatchTime == 3">48小时发货</span>
                      <span v-if="form.dispatchTime == 4">72小时发货</span>
                      <span v-if="form.dispatchTime == 5">4天发货</span>
                      <span v-if="form.dispatchTime == 6">5天发货</span>
                      <span v-if="form.dispatchTime == 7">6天发货</span>
                      <span v-if="form.dispatchTime == 8">7天发货</span>
                      <span v-if="form.dispatchTime == 9">10天发货</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="质保政策">
                      <span v-if="form.qualityGuarantee == 1">无质保</span>
                      <span v-if="form.qualityGuarantee == 2">1周质保</span>
                      <span v-if="form.qualityGuarantee == 3">1个月质保</span>
                      <span v-if="form.qualityGuarantee == 4">3个月质保</span>
                      <span v-if="form.qualityGuarantee == 5">6个月质保</span>
                      <span v-if="form.qualityGuarantee == 6">1年质保</span>
                      <span v-if="form.qualityGuarantee == 7">2年质保</span>
                      <span v-if="form.qualityGuarantee == 8">3年质保</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="无理由退货">
                      <span v-if="form.returnedPurchase == 0">否</span>
                      <span v-if="form.returnedPurchase == 1">是</span>
                    </el-descriptions-item>
                </el-descriptions>
              </el-col>
            </el-row>
            <el-divider></el-divider>  <!-- 分割线 -->
            <div>
              <p style="font-weight: bold;">图文信息</p>
              <video width="100%" autoplay controls >
                <source 
                 src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/140%20shot%20on/F30_WA140_DJI%20home%20page%20Shot%20on%20Banner%20Video_CLEAN_%E2%89%A410s_V4_2400-1440.mp4" 
                 type="video/webm" 
                />
              </video>
              <el-image v-for="i in 3" :key="i" style="width: 100%;" src="https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg" lazy></el-image>
            </div>
          </div>
        </div>
        </div>
        <div class="details_box_bg foot_bt_box">
          <el-button type="primary" @click="handleUpdate(form)">编辑商品</el-button>
          <el-button class="foot_bt_fh" @click="detailsBack" icon="el-icon-arrow-left">返回列表</el-button>
        </div>
      </template>
    <!-- 文件预览对话框 -->
    <el-dialog title="文件预览" :visible.sync="previewPop" width="1000px" append-to-body>
      <iframe :src="previewUrl" style="width: 100%;height: 600px;"></iframe>
    </el-dialog>
    </div>
  </div>
</template>

<script>
import { listPhProduct, getPhProduct, delPhProduct, addPhProduct, updatePhProduct } from "@/api/background/phProduct";
import { listPhCategory } from "@/api/background/phCategory";
import { listPhBranda } from "@/api/background/phBranda";
import pdfjsLib from 'pdfjs-dist/es5/build/pdf';



export default {
  name: "PhProduct",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 商品表格数据
      phProductList: [],
      // 日期范围
      dateRange: [],
      // 用户详情展示页
      shopDetailsPop: false,
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        productStyle: null, // 1现货，2商品
        productCode: null,
        productName: null,
        productImg: null,
        productPrice: null,
        // productTypeId: null,
        popularity: null,
        productSales: null,
        stockpile: null,
        recentStock: null,
        recentQuote: null,
        cooperation: null,
        productBrand: null,
        productTone: null,
        specificationsId: null,
        productDocument: null,
        relatingProduct: null,
        transaction: null,
        // publishStatus: null,
        intervalQuote: null,
        haveSample: null,
        beginSubscriber: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        specificationsId: [
          { required: true, message: "规格ID不能为空", trigger: "blur" }
        ],
      },
      // 品牌多选组件参数
      phBrandaList:[], // 所有品牌列表
      phBrandaArr: [] || null,  //双向数据数组
      phBrandaIdArr: [] || null,  //选中数据数组
      // phBrandaVisible: false, // 品牌多选弹框
      // phBrandaCheckAll: false,
      // phBrandaIsIndeterminate: true,
      // 品牌查询参数
      brandaQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组
      categoryIdArr: [], //id数组-双向数据
      // 分类查询参数
      categoryQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },

      previewPop: false,  //预览弹窗
      previewUrl: '', //预览URL
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询商品列表 */
    getList() {
      this.loading = true;
      listPhProduct(this.queryParams).then(response => {
        // console.log('查询商品列表',response.rows)
        this.phProductList = response.rows;
        for(let item of this.phProductList) {
          item.unshroud = item.unshroud == 1 ? true:false;
          item.nominate = item.nominate == 1 ? true:false;
          item.transaction = item.transaction == 1 ? true:false;
        }
        this.total = response.total;
        this.loading = false;
      });
      // 查询分类列表
      listPhCategory(this.categoryQueryParams).then((response) => {
        // console.log('查询分类列表',response.rows);
        this.categoryList = this.newCategoryList(response.rows);
        // this.categoryList = response.rows;
        this.loading = false;
      });
      // 查询品牌列表
      listPhBranda(this.brandaQueryParams).then(res => {
        // console.log('查询品牌列表',res.rows)
        this.phBrandaList = res.rows;
      });
    },
    // 分类结构处理
    newCategoryList(list) {
      let newList = list
      for(let i = 0;i < newList.length; i++) {
        if(newList[i].parentId != 0){
          newList.splice(i,1)
          i--
        }
      }
      return newList
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        productCode: null,
        productName: null,
        productImg: null,
        productPrice: null,
        // productTypeId: null,
        popularity: null,
        productSales: null,
        stockpile: null,
        recentStock: null,
        recentQuote: null,
        cooperation: null,
        productBrand: null,
        productTone: null,
        specificationsId: null,
        productDocument: null,
        relatingProduct: null,
        transaction: null,
        // publishStatus: null,
        intervalQuote: null,
        haveSample: null,
        beginSubscriber: null,
        createTime: null,
        updateTime: null,
        parentId: null, //存放分类id
        qualityGuarantee: 1, //必填项，质保  1.无质保   2.1周质保  3.1个月质保  4.3个月质保  5.6个月质保 6.1年质保  7.2年质保   8.3年质保不能为空", trigger: "blur"
      };
      this.categoryArr= [], // 选中参数数组
      this.categoryIdArr= [], //id数组-双向数据
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加商品";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhProduct(id).then(response => {
        if(response.data.categoryList) {
          for(let item of response.data.categoryList) {
            if(item.relatingType == 9){
              this.phBrandaIdArr = item.brandaName
            }else if(item.relatingType == 5) {
              if(item.parentId == 0) {
                this.categoryIdArr = [item.categoryId]
              }else if(item.threeCategoryId == null) {
                this.categoryIdArr = [item.parentId,item.categoryId]
              }else {
                this.categoryIdArr = [item.parentId,item.threeCategoryId,item.categoryId]
              }
            }
          }
        }
        this.form = response.data;
        this.open = true;
        this.title = "修改商品";
      });
    },
    /** 提交按钮 */
    submitForm() {
      let activeBranda = this.phBrandaList.find(item => item.brandName == this.phBrandaIdArr) //返回选中的品牌对象
      this.phBrandaArr = [{
        brandaId: activeBranda.id,
        brandaName: activeBranda.brandName,
        relatingType: 9,
        productId:this.form.id,
        productName:this.form.productName
      }]
      this.setSwitchType(this.categoryIdArr) //递归出对应id的分类对象
      this.form.categoryList = [...this.categoryArr,...this.phBrandaArr]
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhProduct(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
              let bojAddress = JSON.parse(this.form.address)
              let newAddress = ''
              for(let i in bojAddress.regionList) {
                newAddress += bojAddress.regionList[i].district
                if( i < (bojAddress.regionList.length - 1) ) {
                  newAddress += '-'
                }
              }
              this.form.address = newAddress
            });
          } else {
            addPhProduct(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    // 下载文档
    downloadFile(url){
      let lastIndex = url.lastIndexOf('/');  
      let urlName = url.substring(lastIndex + 1); 
      // 创建一个Blob对象  
      const blob = new Blob([url], { type: 'text/plain' });  
      // 创建一个可下载的URL  
      const downloadUrl = URL.createObjectURL(blob);  
      // 创建一个a标签，并设置href为URL，模拟点击下载  
      const link = document.createElement('a');  
      link.href = downloadUrl;  
      link.download = urlName; // 设置下载文件的文件名 
      link.click();  
      // 释放URL对象  
      URL.revokeObjectURL(downloadUrl);  
    },
    // 浏览文件
    previewFile(url) {
      this.previewPop = true
      this.previewUrl = url
    },
    
    // 返回选中的分类
    setSwitchType() {
      const _this = this
      let id = this.categoryIdArr[this.categoryIdArr.length - 1]
      let parentId = this.categoryIdArr[0]
      // 递归
      function digui(lists) {
        for(let item of lists) {
          if(item.id == id) {
            _this.categoryArr =[{
              categoryId: item.id,
              categoryName: item.firstCategory,
              relatingType: 5,
              productId:_this.form.id,
              productName:_this.form.productName,
              parentId: parentId, //保存分类父id
              threeCategoryId : item.threeCategoryId == parentId ? null:item.threeCategoryId,
              parentId : item.parentId,
            }]
            return
          }else if(item.phCategoryChildrenList && item.phCategoryChildrenList.length > 0) {
            digui(item.phCategoryChildrenList)
          }
        }
      }
      digui(_this.categoryList)
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除商品编号为"' + ids + '"的数据项？').then(function() {
        return delPhProduct(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phProduct/export', {
        ...this.queryParams
      }, `phProduct_${new Date().getTime()}.xlsx`)
    },
    // 列表开关回调-是否显示
    switchPublishStatus(id,sta,name) {
      // 查询修改接口
      getPhProduct(id).then(response => {
        this.form = response.data;
        if(name == 'unshroud') {
          this.form.unshroud = sta ?  1 : 0  //判断开关状态
        }else if(name == 'transaction') {
          this.form.transaction = sta ?  1 : 0  //判断开关状态
        }else if(name == 'nominate') {
          this.form.nominate = sta ?  1 : 0  //判断开关状态
        }
        // 提交修改接口
        updatePhProduct(this.form).then(response => {
          this.$modal.msgSuccess("修改成功");
        });
      });
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      this.shopDetailsPop = true
      const id = row.id || this.ids;
      getPhProduct(id).then((response) => {
        this.form = response.data;
        if(this.form.documentUrl) {
          // 截取文档文件名
          let lastIndex = this.form.documentUrl.lastIndexOf('/');  
          this.form.documentUrlName = this.form.documentUrl.substring(lastIndex + 1);
        }
        // 处理省市区展示格式
        let bojAddress = JSON.parse(this.form.address)
        let newAddress = ''
        for(let i in bojAddress.regionList) {
          newAddress += bojAddress.regionList[i].district
          if( i < (bojAddress.regionList.length - 1) ) {
            newAddress += '-'
          }
        }
        this.form.address = newAddress
        // this.form.cooperationIntention = JSON.parse(this.form.cooperationIntention); //转换Json格式
      });
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.shopDetailsPop = false;
      // this.activeName = 'first';
      this.reset();
    },
  }
};
</script>
<style scoped>
/* 用户详情样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 3px;
}
.details_box_bg .details_head_box {
  max-width: 1000px;
  /* display: flex; */
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}
/* 底部按钮 */
.foot_bt_box {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 0;
}
.foot_bt_box .foot_bt_fh {
  color: #0093E6;
  position: absolute;
  left: 20px;
  border: 0;
}
/* 返回/标题 */
.head_bt_back {
  position:absolute;
  left: 50px;
  top: 35px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/deep/ .el-table .fixed-width .el-button--mini {
  margin: 0;
}
/deep/ .el-descriptions__body {
  background-color: transparent;
}
</style>
