<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      size="small"
      :inline="true"
      v-show="showSearch"
      label-width="68px"
    >
      <el-form-item label="首字母" prop="initial">
        <el-input
          v-model="queryParams.initial"
          placeholder="请输入首字母（大写）"
          clearable
          maxlength="1"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="中文名" prop="sceneName">
        <el-input
          v-model="queryParams.sceneName"
          placeholder="请输入场景中文名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="英文名" prop="sceneEngName">
        <el-input
          v-model="queryParams.sceneEngName"
          placeholder="请输入场景英文名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['background:phApplicable:add']"
          >新增</el-button
        >
      </el-col>
      <right-toolbar
        :showSearch.sync="showSearch"
        @queryTable="getList"
      ></right-toolbar>
    </el-row>
    <el-table
      v-loading="loading"
      :data="phApplicableList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column label="首字母" align="center" prop="initial" />
      <el-table-column label="中文名" align="center" prop="sceneName" />
      <el-table-column label="英文名" align="center" prop="sceneEngName" />
      <el-table-column label="采购数" align="center" prop="procureNum" sortable/>
      <el-table-column label="商品数" align="center" prop="goodNum" sortable/>
      <el-table-column label="供应商数" align="center" prop="supplier" sortable/>
      <!-- <el-table-column label="所属分类" align="center" prop="manageCategory">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="dark" :content="scope.row.manageCategoryAll" placement="top-start">
            <span v-for="item,i of scope.row.manageCategory" :key="item.i">
              <span v-if="i > 0">,</span>
              <span v-if="i < 4">{{ item }}</span>
              <span v-if="i > 4">...</span>
            </span>
          </el-tooltip>
        </template>
      </el-table-column> -->
      <el-table-column label="状态" align="center" prop="publishStatus" sortable>
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.publishStatus"
            :dataId="scope.row.id"
            @change="switchPublishStatus(scope.row.id, scope.row.publishStatus)"
          >
          </el-switch>
        </template>
        <!-- <template slot-scope="scope">
          <span v-if="scope.row.publishStatus == 0">上架</span>
          <span v-if="scope.row.publishStatus == 1">下架</span>
        </template> -->
      </el-table-column>

      <el-table-column label="排序" align="center" prop="productSort" />
      <el-table-column
        label="操作"
        fixed="right"
        align="center"
        class-name="small-padding fixed-width"
        width="120"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['background:phApplicable:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['background:phApplicable:remove']"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改场景对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-row>
          <el-col :span="16">
            <el-form-item label="首字母" prop="initial">
              <el-input v-model="form.initial" @input="detect" maxlength="1" placeholder="请输入首字母" />
            </el-form-item>
          </el-col>
          <el-col :span="16">
            <el-form-item label="中文名" prop="sceneName" maxlength="20">
              <el-input
                v-model="form.sceneName"
                placeholder="请输入场景中文名"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="16">
            <el-form-item label="英文名" prop="sceneEngName" maxlength="20">
              <el-input
                v-model="form.sceneEngName"
                placeholder="请输入场景英文名"
              />
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="所属分类" prop="？">
              <el-tree
                class="tree-border"
                :data="categoryList.filter((categoryItem) => categoryItem.parentId === 0)"
                show-checkbox
                node-key="id"
                ref="leimu"
                :default-expanded-keys="categoryIdArr"
                :default-checked-keys="categoryIdArr"
                :props="defaultProps"
                @check-change="traverseSelectedNodes"
              >
              </el-tree>
              <!-- <el-tree
            :data="categoryList.filter(categoryItem => categoryItem.parentId === 0)"
            show-checkbox
            node-key="id"
            :default-expanded-keys="form.manageCategoryArr"
            :default-checked-keys="form.manageCategoryArr"
            :props="defaultProps">
          </el-tree> -->
            </el-form-item>
          </el-col>
          <el-col :span="16">
            <el-form-item label="排序" prop="productSort">
              <el-input v-model="form.productSort" placeholder="请输入排序" />
            </el-form-item>
          </el-col>
          <el-col :span="16">
            <el-form-item label="状态" prop="publishStatus">
              <el-switch v-model="form.publishStatus"></el-switch>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  listPhApplicable,
  getPhApplicable,
  delPhApplicable,
  addPhApplicable,
  updatePhApplicable,
} from "@/api/background/phApplicable";
import { listPhCategory } from "@/api/background/phCategory";

export default {
  name: "PhApplicable",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 场景表格数据
      phApplicableList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询分类参数
      queryParamsCategory: {
        pageNum: 1,
        pageSize: 10,
        firstCategory: null,
        nthCategory: null,
        imgUrl: null,
        categorySort: null,
        parentId: null,
        productStatus: null,
        screenStatus: null,
        num: null,
        parameterTemplet: null,
        dl: null,
        brandaNum: null,
        applicableNum: null,
      },
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        initial: null,
        sceneName: null,
        sceneEngName: null,
        // manageCategory: null,
        procureNum: null,
        goodNum: null,
        supplier: null,
        publishStatus: null,
        productSort: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {},
      defaultProps: {
        children: "phCategoryChildrenList",
        label: "firstCategory",
      },
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组
      categoryIdArr: [], //id数组-双向数据
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询场景列表 */
    getList() {
      this.loading = true;
      listPhApplicable(this.queryParams).then((response) => {
        for (let item of response.rows) {
          item.publishStatus = item.publishStatus == 1 ? true : false; //判断开关状态
        }
        this.phApplicableList = this.arrJson(response.rows);
        this.total = response.total;
        this.loading = false;
        console.log(this.phApplicableList);
      });
      // 查询分类数据
      listPhCategory(this.queryParamsCategory).then((response) => {
        console.log(response.rows);
        this.categoryList = response.rows;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        initial: null,
        sceneName: null,
        sceneEngName: null,
        // manageCategory: null,
        procureNum: null,
        goodNum: null,
        supplier: null,
        publishStatus: null,
        productSort: null,
        createTime: null,
        updateTime: null,
      };
      this.categoryIdArr = [];
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加场景";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids;
      getPhApplicable(id).then((response) => {
        this.form = response.data;
        this.form.publishStatus = this.form.publishStatus == 1 ? true : false;
        this.setCategoryId(this.form); //筛选表单中分类ID
        // this.form.manageCategory = JSON.parse(this.form.manageCategory)
        // this.form.manageCategoryAll = this.forArr(this.form.manageCategory);
        this.open = true;
        this.title = "修改场景";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.form.categoryList = this.categoryArr;
      this.form.publishStatus = this.form.publishStatus ? 1 : 0;
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.id != null) {
            updatePhApplicable(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhApplicable(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal
        .confirm('是否确认删除场景编号为"' + ids + '"的数据项？')
        .then(function () {
          return delPhApplicable(ids);
        })
        .then(() => {
          this.getList();
          this.$modal.msgSuccess("删除成功");
        })
        .catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "background/phApplicable/export",
        {
          ...this.queryParams,
        },
        `phApplicable_${new Date().getTime()}.xlsx`
      );
    },
    
    // 判断首字母英文
    detect(val) {
      const regex = /^[a-zA-Z]+$/;  
      if(regex.test(val)) {
        this.form.initial = val.toUpperCase()
      } else if(this.form.initial != '') {
        this.form.initial ='',
        this.$message({
          message: '首字母请输入英文',
          type: 'warning'
        });
      }
    },

    // 列表开关回调-是否显示
    switchPublishStatus(id, sta) {
      console.log(id, sta);
      getPhApplicable(id).then((response) => {
        this.form = response.data;
        this.form.publishStatus = sta ? 1 : 0; //判断开关状态
        console.log("是否显示", this.form.publishStatus);
        updatePhApplicable(this.form).then((response) => {
          this.$modal.msgSuccess("修改成功");
        });
      });
    },
    // 筛选已选择的类目id
    setCategoryId(date) {
      console.log(date, "筛选分类id");
      let list = date;
      console.log(this.categoryIdArr, "分类ID数组");
      if (list.categoryList.length > 0) {
        for (let item of list.categoryList) {
          if (item.relatingType == 2) {
            let uid = Number(item.categoryId);
            this.categoryIdArr.push(uid);
            console.log(this.categoryIdArr);
          }
        }
      }
      console.log(this.categoryIdArr, "分类ID数组");
    },
    // 遍历以固定格式插入选中节点-回调
    traverseSelectedNodes(data) {
      let leiMu = this.$refs.leimu.getCheckedNodes(); // 获取树状结构选中参数
      let arr = [];
      for (let item of leiMu) {
        if (
          item.phCategoryChildrenList == null ||
          item.phCategoryChildrenList.length == 0
        ) {
          let obj = {
            applicableId: this.form.id || null,
            applicableName: this.form.sceneName || null,
            categoryId: item.id,
            categoryName: item.firstCategory,
            relatingType: 2,
            threeCategoryId : item.threeCategoryId,
            parentId : item.parentId,
            // relatingType = 关联标识 1.分类-品牌  2.分类-应用  3.分类-显示屏 4.分类-店铺  5.分类-商品  6.分类-属性 7.店铺-品牌  8.店铺-应用
          };
          arr.push(obj);
        }
      }
      this.categoryArr = arr;
      // 清空数组遍历插入选中分类的ID
      this.categoryIdArr = [];
      for (let item of arr) {
        let uid = Number(item.categoryId);
        this.categoryIdArr.push(uid);
      }
      console.log(this.categoryArr);
      console.log(this.categoryIdArr);
    },
    // 遍历字段转JSON
    arrJson(arr) {
      let list = arr;
      // for(let item of list) {
      //   item.manageCategory = JSON.parse(item.manageCategory)
      //   item.manageCategoryAll = this.forArr(item.manageCategory)
      // }
      return list;
    },
    // 字段转JSON
    valJson(val) {
      let json = JSON.parse(val);
      return json;
    },
    // 遍历数组参数拼接悬停提示
    forArr(arr) {
      let newString = "";
      for (let i in arr) {
        if (i > 0) {
          newString += "," + arr[i];
        } else {
          newString += arr[i];
        }
      }
      return newString;
    },
  },
};
</script>
<style scoped>
/* 分类修改展示样式 */
.name_box {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 0 5px;
}
.name_item {
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #e9e9e9;
}
.el-tree {
  height: 300px;
  overflow: auto;
}
</style>
