<template>
  <div class="app-container">
    <div class="head_status_box">
      <div class="head_tag" :class="queryParams.type == 1 ? 'head_tag_active':''" @click="setHeadStatus(1)">
        <span>尺寸</span>
      </div>
      <div class="head_tag" :class="queryParams.type == 2 ? 'head_tag_active':''" @click="setHeadStatus(2)">
        <span>分辨率</span>
      </div>
    </div>
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['background:phTag:add']"
        >新增</el-button>
      </el-col>
      <!-- <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['background:phTag:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['background:phTag:remove']"
        >删除</el-button>
      </el-col> -->
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['background:phTag:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="phTagList" @selection-change="handleSelectionChange">
      <!-- <el-table-column type="selection" width="55" align="center" /> -->
      <!-- <el-table-column label="ID" align="center" prop="id" /> -->
      <el-table-column label="名称" align="center">
        <template slot-scope="scope">
          <span v-if="queryParams.type">{{ scope.row.annexName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="值" align="center" >
        <template slot-scope="scope">
          <div v-if="queryParams.type == 1">
            <span>{{ scope.row.engValue[0] }}</span>
          </div>
          <div v-if="queryParams.type == 2">
            <span>{{ scope.row.engValue[0] }}</span>
              <i class="el-icon-close"></i>
            <span>{{ scope.row.engValue[1] }}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['background:phTag:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['background:phTag:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改标签对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <!-- <el-form-item label="ID" prop="id">
          <span>{{ form.id }}</span>
        </el-form-item> -->
        <el-form-item label="名称">
          <el-row>
            <el-col :span="23">
              <span>{{ form.annexName }}</span>
            </el-col>
          </el-row>
        </el-form-item>
        <el-form-item label="参数值" prop="engValue">
          <el-row v-if="form.engValue != null">
            <div v-if="queryParams.type == 1">
              <el-col :span="23">
                <el-input v-model="form.engValue[0]" placeholder="请输入" />
              </el-col>
            </div>
            <div v-if="queryParams.type == 2">
              <el-col :span="10">
                <el-input v-model="form.engValue[0]" placeholder="请输入" />
              </el-col>
              <el-col :span="2" style="text-align: center;">
                <i class="el-icon-close"></i>
              </el-col>
              <el-col :span="10">
                <el-input v-model="form.engValue[1]" placeholder="请输入" />
              </el-col>
            </div>
          </el-row>
        </el-form-item>
        <!-- <el-form-item label="类型" prop="type">
          <el-radio v-model="form.type" :label="1">尺寸</el-radio>
          <el-radio v-model="form.type" :label="2">分辨率</el-radio>
        </el-form-item> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listPhTag, getPhTag, delPhTag, addPhTag, updatePhTag } from "@/api/background/phTag";

export default {
  name: "PhTag",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 标签表格数据
      phTagList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        type: 1, // 1尺寸、2分辨率
      },
      // 表单参数
      form: {
        engValue: ['',''],
      },
      // 表单校验
      rules: {
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询标签列表 */
    getList() {
      this.loading = true;
      listPhTag(this.queryParams).then(response => {
        this.phTagList = response.rows;
        console.log(this.phTagList)
        for(let item of this.phTagList) {
          if(item.engValue == null ) {
            item.engValue = ['','']
          } else {
            item.engValue = item.engValue.split('×')
          }
        }
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        engName: null,
        engValue: ['',''],
        modelQuantity: null,
        createTime: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      if(this.queryParams.type == 1) {
        this.title = "新增尺寸";
        this.form.annexName = '尺寸'
      } else {
        this.title = "新增分辨率";
        this.form.annexName = '分辨率'
      }
        this.form.type = this.queryParams.type
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhTag(id).then(response => {
        this.form = response.data;
        this.open = true;
        if(this.queryParams.type == 1) {
          this.title = "修改尺寸";
        } else {
          this.title = "修改分辨率";
        }
        if(this.form.engValue == null) {
          this.form.engValue = ['','']
        } else {
          this.form.engValue = this.form.engValue.split('×')
        }
      });
    },
    /** 提交按钮 */
    submitForm() {
      let engValueArr = this.form.engValue
      if(this.form.type == 1) {
        this.form.engValue = engValueArr[0]
      } else {
        this.form.engValue = engValueArr[0] + '×' + engValueArr[1]
      }
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhTag(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhTag(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除标签编号为"' + ids + '"的数据项？').then(function() {
        return delPhTag(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phTag/export', {
        ...this.queryParams
      }, `phTag_${new Date().getTime()}.xlsx`)
    },
    // 头部标签状态事件
    setHeadStatus(str) {
      this.queryParams.type = str
      this.queryParams.pageNum = 1;
      // this.getList();
      this.resetQuery()
    },
  }
};
</script>
<style scoped>

/* 头部标签状态切换栏-👇-*/
.head_status_box {
  width: 100%;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}
.head_tag {
  display: inline-block;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: #444;
}
.head_tag > span {
  font-size: 15px;
  letter-spacing:2px;
}
.head_tag_active {
  position: relative;
  color: #FD721D;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.head_tag_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  border-top: 4px solid #FD721D;
}
/* 头部标签状态切换栏-👆-*/
</style>
