<template>
  <div class="app-container" :class="detailsPop ? 'details_bg':''">
    <div v-if="!detailsPop">
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
        <el-form-item label="型号" prop="modelNumber">
          <!-- modelNumber需检查 -->
          <el-input
            v-model="queryParams.modelNumber"
            placeholder="请输入型号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="尺寸ID" prop="sizeId">
          <el-input
            v-model="queryParams.sizeId"
            placeholder="请输入尺寸ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <!-- <el-form-item label="商品类目ID" prop="categoryId">
          <el-input
            v-model="queryParams.categoryId"
            placeholder="请输入商品类目ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="触摸/分辨率ID" prop="resolutionId">
          <el-input
            v-model="queryParams.resolutionId"
            placeholder="请输入触摸/分辨率ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="刷新率ID" prop="refreshRate">
          <el-input
            v-model="queryParams.refreshRate"
            placeholder="请输入刷新率ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="对比度" prop="brightness">
          <el-input
            v-model="queryParams.brightness"
            placeholder="请输入对比度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="光源寿命" prop="lamphouseLifespan">
          <el-input
            v-model="queryParams.lamphouseLifespan"
            placeholder="请输入光源寿命"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="外观尺寸" prop="guise">
          <el-input
            v-model="queryParams.guise"
            placeholder="请输入外观尺寸"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="工作温度" prop="workRecord">
          <el-input
            v-model="queryParams.workRecord"
            placeholder="请输入工作温度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="NTSC比值" prop="ntsc">
          <el-input
            v-model="queryParams.ntsc"
            placeholder="请输入NTSC比值"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="Adobe_rgb比值" prop="adobeRgb">
          <el-input
            v-model="queryParams.adobeRgb"
            placeholder="请输入Adobe_rgb比值"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="SRGB覆盖率" prop="srgb">
          <el-input
            v-model="queryParams.srgb"
            placeholder="请输入SRGB覆盖率"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="DCL-P3覆盖率" prop="dclP">
          <el-input
            v-model="queryParams.dclP"
            placeholder="请输入DCL-P3覆盖率"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="信号脚数" prop="waftPinNumber">
          <el-input
            v-model="queryParams.waftPinNumber"
            placeholder="请输入信号脚数"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="信号接口ID" prop="waftPortId">
          <el-input
            v-model="queryParams.waftPortId"
            placeholder="请输入信号接口ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="显示区域" prop="displayArea">
          <el-input
            v-model="queryParams.displayArea"
            placeholder="请输入显示区域"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="可视角度" prop="visibleAngle">
          <el-input
            v-model="queryParams.visibleAngle"
            placeholder="请输入可视角度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="可视/触摸区域" prop="visibleDistrict">
          <el-input
            v-model="queryParams.visibleDistrict"
            placeholder="请输入可视/触摸区域"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="最佳视角ID" prop="angle">
          <el-input
            v-model="queryParams.angle"
            placeholder="请输入最佳视角ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="外观厚度" prop="faceLand">
          <el-input
            v-model="queryParams.faceLand"
            placeholder="请输入外观厚度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="响应速度" prop="screenSpeed">
          <el-input
            v-model="queryParams.screenSpeed"
            placeholder="请输入响应速度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="像素配置" prop="pixelDeploy">
          <el-input
            v-model="queryParams.pixelDeploy"
            placeholder="请输入像素配置"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="文档ID" prop="documentId">
          <el-input
            v-model="queryParams.documentId"
            placeholder="请输入文档ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="图片ID" prop="photoId">
          <el-input
            v-model="queryParams.photoId"
            placeholder="请输入图片ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="存储温度" prop="memoryRecord">
          <el-input
            v-model="queryParams.memoryRecord"
            placeholder="请输入存储温度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="其他名称" prop="otherName">
          <el-input
            v-model="queryParams.otherName"
            placeholder="请输入其他名称"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="抗震动性" prop="antiknock">
          <el-input
            v-model="queryParams.antiknock"
            placeholder="请输入抗震动性"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="点间距" prop="distancePoints">
          <el-input
            v-model="queryParams.distancePoints"
            placeholder="请输入点间距"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="安装方式" prop="mountMode">
          <el-input
            v-model="queryParams.mountMode"
            placeholder="请输入安装方式"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="像素间距" prop="pixelPoints">
          <el-input
            v-model="queryParams.pixelPoints"
            placeholder="请输入像素间距"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="像素密度" prop="pixelDensity">
          <el-input
            v-model="queryParams.pixelDensity"
            placeholder="请输入像素密度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="玻璃厚度" prop="glassPly">
          <el-input
            v-model="queryParams.glassPly"
            placeholder="请输入玻璃厚度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="雾面百分比" prop="cloudySurface">
          <el-input
            v-model="queryParams.cloudySurface"
            placeholder="请输入雾面百分比"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="拼接拼缝" prop="splice">
          <el-input
            v-model="queryParams.splice"
            placeholder="请输入拼接拼缝"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="字符尺寸" prop="characterSize">
          <el-input
            v-model="queryParams.characterSize"
            placeholder="请输入字符尺寸"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="字符间距" prop="characterPoints">
          <el-input
            v-model="queryParams.characterPoints"
            placeholder="请输入字符间距"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="色温" prop="colorTemperature">
          <el-input
            v-model="queryParams.colorTemperature"
            placeholder="请输入色温"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="亮度变动" prop="brightnessChange">
          <el-input
            v-model="queryParams.brightnessChange"
            placeholder="请输入亮度变动"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="显示颜色" prop="color">
          <el-input
            v-model="queryParams.color"
            placeholder="请输入显示颜色"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="色度/白色坐标" prop="chromaCoordinate">
          <el-input
            v-model="queryParams.chromaCoordinate"
            placeholder="请输入色度/白色坐标"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="rec覆盖率" prop="rec">
          <el-input
            v-model="queryParams.rec"
            placeholder="请输入rec覆盖率"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="色域说明" prop="colourGamut">
          <el-input
            v-model="queryParams.colourGamut"
            placeholder="请输入色域说明"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="透射系数" prop="transmissivity">
          <el-input
            v-model="queryParams.transmissivity"
            placeholder="请输入透射系数"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="驱动IC" prop="icDrive">
          <el-input
            v-model="queryParams.icDrive"
            placeholder="请输入驱动IC"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="驱动方式" prop="typeDrive">
          <el-input
            v-model="queryParams.typeDrive"
            placeholder="请输入驱动方式"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="功率消耗" prop="wattConsumption">
          <el-input
            v-model="queryParams.wattConsumption"
            placeholder="请输入功率消耗"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="时序控制" prop="sequenceControl">
          <el-input
            v-model="queryParams.sequenceControl"
            placeholder="请输入时序控制"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="电流输入" prop="currentInput">
          <el-input
            v-model="queryParams.currentInput"
            placeholder="请输入电流输入"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="电压输入" prop="analogInput">
          <el-input
            v-model="queryParams.analogInput"
            placeholder="请输入电压输入"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="待机功耗" prop="standbyPowerDissipation">
          <el-input
            v-model="queryParams.standbyPowerDissipation"
            placeholder="请输入待机功耗"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="功耗" prop="powerDissipation">
          <el-input
            v-model="queryParams.powerDissipation"
            placeholder="请输入功耗"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="接口型号" prop="portNumber">
          <el-input
            v-model="queryParams.portNumber"
            placeholder="请输入接口型号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="接口数量" prop="portAmount">
          <el-input
            v-model="queryParams.portAmount"
            placeholder="请输入接口数量"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="接口品牌ID" prop="portBrandId">
          <el-input
            v-model="queryParams.portBrandId"
            placeholder="请输入接口品牌ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="接口脚数" prop="pinNumber">
          <el-input
            v-model="queryParams.pinNumber"
            placeholder="请输入接口脚数"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="接口脚间距" prop="pinPitch">
          <el-input
            v-model="queryParams.pinPitch"
            placeholder="请输入接口脚间距"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="接口脚定义" prop="pinDefine">
          <el-input
            v-model="queryParams.pinDefine"
            placeholder="请输入接口脚定义"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光数量" prop="poorLightNumber">
          <el-input
            v-model="queryParams.poorLightNumber"
            placeholder="请输入背光数量"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="灯管寿命" prop="stripLampLifespan">
          <el-input
            v-model="queryParams.stripLampLifespan"
            placeholder="请输入灯管寿命"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光电压输入" prop="poorAnalogInput">
          <el-input
            v-model="queryParams.poorAnalogInput"
            placeholder="请输入背光电压输入"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光电流输入" prop="poorCurrentInput">
          <el-input
            v-model="queryParams.poorCurrentInput"
            placeholder="请输入背光电流输入"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光功耗" prop="poorPowerDissipation">
          <el-input
            v-model="queryParams.poorPowerDissipation"
            placeholder="请输入背光功耗"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光接口品牌ID" prop="poorBrandId">
          <el-input
            v-model="queryParams.poorBrandId"
            placeholder="请输入背光接口品牌ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光接口脚间距" prop="poorPinPitch">
          <el-input
            v-model="queryParams.poorPinPitch"
            placeholder="请输入背光接口脚间距"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光接口型号" prop="poorPortNumber">
          <el-input
            v-model="queryParams.poorPortNumber"
            placeholder="请输入背光接口型号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光接口数量" prop="poorNum">
          <el-input
            v-model="queryParams.poorNum"
            placeholder="请输入背光接口数量"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光接口脚数" prop="poorPinNumber">
          <el-input
            v-model="queryParams.poorPinNumber"
            placeholder="请输入背光接口脚数"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="背光接口定义" prop="poorPinDefine">
          <el-input
            v-model="queryParams.poorPinDefine"
            placeholder="请输入背光接口定义"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="认证ID" prop="approveId">
          <el-input
            v-model="queryParams.approveId"
            placeholder="请输入认证ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="包装数量" prop="packNum">
          <el-input
            v-model="queryParams.packNum"
            placeholder="请输入包装数量"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="包装重量" prop="packWeight">
          <el-input
            v-model="queryParams.packWeight"
            placeholder="请输入包装重量"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="包装箱尺寸" prop="packingChestSize">
          <el-input
            v-model="queryParams.packingChestSize"
            placeholder="请输入包装箱尺寸"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="产品净重" prop="productWeight">
          <el-input
            v-model="queryParams.productWeight"
            placeholder="请输入产品净重"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="简介" prop="productIntro">
          <el-input
            v-model="queryParams.productIntro"
            placeholder="请输入简介"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="触控寿命" prop="touchLifespan">
          <el-input
            v-model="queryParams.touchLifespan"
            placeholder="请输入触控寿命"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="线性误差" prop="linearityError">
          <el-input
            v-model="queryParams.linearityError"
            placeholder="请输入线性误差"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="触摸响应时间" prop="touchTime">
          <el-input
            v-model="queryParams.touchTime"
            placeholder="请输入触摸响应时间"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="触摸力度" prop="touchVigor">
          <el-input
            v-model="queryParams.touchVigor"
            placeholder="请输入触摸力度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="最小触摸直径" prop="minTouchDiam">
          <el-input
            v-model="queryParams.minTouchDiam"
            placeholder="请输入最小触摸直径"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="触控采样率" prop="touchSampleRate">
          <el-input
            v-model="queryParams.touchSampleRate"
            placeholder="请输入触控采样率"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="后壳材质" prop="backCoverMaterial">
          <el-input
            v-model="queryParams.backCoverMaterial"
            placeholder="请输入后壳材质"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="IC品牌ID" prop="icBrandId">
          <el-input
            v-model="queryParams.icBrandId"
            placeholder="请输入IC品牌ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="出线长度" prop="offtrackLength">
          <el-input
            v-model="queryParams.offtrackLength"
            placeholder="请输入出线长度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="工作湿度" prop="workHumidity">
          <el-input
            v-model="queryParams.workHumidity"
            placeholder="请输入工作湿度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="存储湿度" prop="memoryHumidity">
          <el-input
            v-model="queryParams.memoryHumidity"
            placeholder="请输入存储湿度"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="工作电压" prop="workVoltage">
          <el-input
            v-model="queryParams.workVoltage"
            placeholder="请输入工作电压"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="抗光能力" prop="lightAbility">
          <el-input
            v-model="queryParams.lightAbility"
            placeholder="请输入抗光能力"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="抗光性能" prop="lightFunction">
          <el-input
            v-model="queryParams.lightFunction"
            placeholder="请输入抗光性能"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="操作环境" prop="operationMilieu">
          <el-input
            v-model="queryParams.operationMilieu"
            placeholder="请输入操作环境"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item> -->
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handDetails"
            v-hasPermi="['background:PhPanel:add']"
          >新增</el-button>
          <!-- <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:PhPanel:add']"
          >新增</el-button> -->
        </el-col>
        <el-col :span="1.5">
          <el-button
            type="success"
            plain
            icon="el-icon-edit"
            size="mini"
            :disabled="single"
            @click="handleUpdate"
            v-hasPermi="['background:PhPanel:edit']"
          >修改</el-button>
        </el-col>
        <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:PhPanel:remove']"
          >删除</el-button>
        </el-col>
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:PhPanel:export']"
          >导出</el-button>
        </el-col>
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>
      <!-- 列表展示 -->
      <el-table v-loading="loading" :data="PhPanelList" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55" align="center" />
        <!-- <el-table-column label="商品类目ID" align="center" prop="categoryId" /> -->
        <!-- <el-table-column label="ID" align="center" prop="modelNumber" /> -->
        <el-table-column label="型号" align="center" prop="modelNumber" />
        <el-table-column label="图片" align="center" prop="photoId" />
        <el-table-column label="品牌" align="center" prop="？" >
        </el-table-column>
        <el-table-column label="尺寸ID" align="center" prop="sizeId" />
        <el-table-column label="是否停产 0:否 ,1：是" align="center" prop="status" />
        <el-table-column label="文档ID" align="center" prop="documentId" />
        <el-table-column label="更新时间" align="center" prop="？" />
  
        <!-- <el-table-column label="主键，自增" align="center" prop="id" />
        <el-table-column label="面板类型 1.a-Si  2.Oxide  3.LTPS  4.HTPS  5.IGZO 6.CG-Silicon   7.Si-AMLCD   8.TFD" align="center" prop="panelType" />
        <el-table-column label="触摸/分辨率ID" align="center" prop="resolutionId" />
        <el-table-column label="刷新率ID" align="center" prop="refreshRate" />
        <el-table-column label="对比度" align="center" prop="brightness" />
        <el-table-column label="光源寿命" align="center" prop="lamphouseLifespan" />
        <el-table-column label="外观尺寸" align="center" prop="guise" />
        <el-table-column label="工作温度" align="center" prop="workRecord" />
        <el-table-column label="NTSC比值" align="center" prop="ntsc" />
        <el-table-column label="Adobe_rgb比值" align="center" prop="adobeRgb" />
        <el-table-column label="SRGB覆盖率" align="center" prop="srgb" />
        <el-table-column label="DCL-P3覆盖率" align="center" prop="dclP" />
        <el-table-column label="信号脚数" align="center" prop="waftPinNumber" />
        <el-table-column label="信号接口ID" align="center" prop="waftPortId" />
        <el-table-column label="显示区域" align="center" prop="displayArea" />
        <el-table-column label="可视角度" align="center" prop="visibleAngle" />
        <el-table-column label="可视/触摸区域" align="center" prop="visibleDistrict" />
        <el-table-column label="最佳视角ID" align="center" prop="angle" />
        <el-table-column label="外观形状 1.平面矩形&方屏  2.异形屏  3.圆形屏  4.柔性屏  5.曲面屏" align="center" prop="faceShaping" />
        <el-table-column label="颜色模式 1.常黑显示  2.常白显示 3.灰模-正显  4.黑白模-正显  5.黄绿模-正显  6.黑白模-负显  7.黑白模  8.蓝模  9.蓝模-正显" align="center" prop="colorMode" />
        <el-table-column label="透光模式 1.透射式  2.透反射式 3.透射带微反射  4.反射式 5.其他" align="center" prop="transmitMode" />
        <el-table-column label="外观厚度" align="center" prop="faceLand" />
        <el-table-column label="响应速度" align="center" prop="screenSpeed" />
        <el-table-column label="像素配置" align="center" prop="pixelDeploy" />
        <el-table-column label="存储温度" align="center" prop="memoryRecord" />
        <el-table-column label="其他名称" align="center" prop="otherName" />
        <el-table-column label="抗震动性" align="center" prop="antiknock" />
        <el-table-column label="备注" align="center" prop="remark" />
        <el-table-column label="点间距" align="center" prop="distancePoints" />
        <el-table-column label="安装方式" align="center" prop="mountMode" />
        <el-table-column label="风景肖像 1.肖像模式  2.风景/肖像模式  3.风景模式" align="center" prop="landscapePortrait" />
        <el-table-column label="像素布局1.  2.  3.  4." align="center" prop="pixelLayout" />
        <el-table-column label="像素间距" align="center" prop="pixelPoints" />
        <el-table-column label="像素密度" align="center" prop="pixelDensity" />
        <el-table-column label="玻璃厚度" align="center" prop="glassPly" />
        <el-table-column label="显示比例 1. 2. 3. 4." align="center" prop="aspectRatio" />
        <el-table-column label="表面处理1.无膜 (Clear)   2.防手印 (AFP)	 3.抗反射 (AR)   4.防眩光 (AG)   5.防眩光防手印 (AG&AFP)	6.抗菌膜 (Anti-bacterial  7.anti-Smudge(防污渍)	8.抛光  9.蚀刻 10.工业级  11.打印图标  12.防爆   13.防误触模 14.防水  15.防尘 16.拉丝黑色  17.隐私过滤器  18.彩色边界  19.防静电  " align="center" prop="surfaceProcess" />
        <el-table-column label="雾面百分比" align="center" prop="cloudySurface" />
        <el-table-column label="表面硬度 1.1H  2.2H  3.3H  4.4H  5.5H  6.6H 7.7H  8.8H  9.9H" align="center" prop="surfaceRigidity" />
        <el-table-column label="拼接拼缝" align="center" prop="splice" />
        <el-table-column label="字符尺寸" align="center" prop="characterSize" />
        <el-table-column label="字符点阵 1.5x7点阵+光标   2. 5x8点阵" align="center" prop="characterLattice" />
        <el-table-column label="字符间距" align="center" prop="characterPoints" />
        <el-table-column label="表面防护 1.强化防护玻璃   2.带盖板  3.普通防护玻璃 " align="center" prop="surfaceFense" />
        <el-table-column label="液晶态 1.TN软屏  2.IPS硬屏  3.VA软屏  " align="center" prop="mesomorphism" />
        <el-table-column label="触摸类型 1.无" align="center" prop="touchType" />
        <el-table-column label="色温" align="center" prop="colorTemperature" />
        <el-table-column label="亮度变动" align="center" prop="brightnessChange" />
        <el-table-column label="显示颜色" align="center" prop="color" />
        <el-table-column label="色度/白色坐标" align="center" prop="chromaCoordinate" />
        <el-table-column label="rec覆盖率" align="center" prop="rec" />
        <el-table-column label="色域说明" align="center" prop="colourGamut" />
        <el-table-column label="室外可视 0.是  1.否" align="center" prop="outdoorVisual" />
        <el-table-column label="透射系数" align="center" prop="transmissivity" />
        <el-table-column label="3D技术 1.   2.  3.   4." align="center" prop="threeD" />
        <el-table-column label="驱动IC" align="center" prop="icDrive" />
        <el-table-column label="驱动方式" align="center" prop="typeDrive" />
        <el-table-column label="功率消耗" align="center" prop="wattConsumption" />
        <el-table-column label="时序控制" align="center" prop="sequenceControl" />
        <el-table-column label="翻转扫描 1.NO   2.翻转" align="center" prop="overturnScan" />
        <el-table-column label="电流输入" align="center" prop="currentInput" />
        <el-table-column label="电压输入" align="center" prop="analogInput" />
        <el-table-column label="待机功耗" align="center" prop="standbyPowerDissipation" />
        <el-table-column label="功耗" align="center" prop="powerDissipation" />
        <el-table-column label="接口位置1.  2.  3.  4. " align="center" prop="portPlace" />
        <el-table-column label="接口类型" align="center" prop="portType" />
        <el-table-column label="信号类型1. 2. 3. 4." align="center" prop="signalType" />
        <el-table-column label="接口型号" align="center" prop="portNumber" />
        <el-table-column label="接口数量" align="center" prop="portAmount" />
        <el-table-column label="接口品牌ID" align="center" prop="portBrandId" />
        <el-table-column label="接口脚数" align="center" prop="pinNumber" />
        <el-table-column label="接口脚间距" align="center" prop="pinPitch" />
        <el-table-column label="接口脚定义" align="center" prop="pinDefine" />
        <el-table-column label="背光类型 1.  2.  3. 4." align="center" prop="poorLightType" />
        <el-table-column label="背光数量" align="center" prop="poorLightNumber" />
        <el-table-column label="灯管形状1. 2. 3. 4. " align="center" prop="stripLamp" />
        <el-table-column label="灯管寿命" align="center" prop="stripLampLifespan" />
        <el-table-column label="背光位置 1.前光源  2.侧入式光源 3..侧入式光源(左边和右边)  4..侧入式光源" align="center" prop="poorLightPlace" />
        <el-table-column label="灯管易换 1.简易拆换  2.难拆换 3.未知" align="center" prop="stripReplace" />
        <el-table-column label="背光电压输入" align="center" prop="poorAnalogInput" />
        <el-table-column label="背光电流输入" align="center" prop="poorCurrentInput" />
        <el-table-column label="背光驱动" align="center" prop="poorDrive" />
        <el-table-column label="背光功耗" align="center" prop="poorPowerDissipation" />
        <el-table-column label="背光接口品牌ID" align="center" prop="poorBrandId" />
        <el-table-column label="背光接口脚间距" align="center" prop="poorPinPitch" />
        <el-table-column label="背光接口型号" align="center" prop="poorPortNumber" />
        <el-table-column label="背光接口数量" align="center" prop="poorNum" />
        <el-table-column label="背光接口类型" align="center" prop="poorType" />
        <el-table-column label="背光接口脚数" align="center" prop="poorPinNumber" />
        <el-table-column label="背光接口定义" align="center" prop="poorPinDefine" />
        <el-table-column label="背光接口位置 1.下凸版右边 2.下凸版中间 3.右上角 4.右下角  4.屏体正中间  5.屏体上部中间  6.屏体下部中间 7.屏体下部右边  8.屏体下部左边  9.屏体上部右边  10.左上角和左下角  11.左上角和右上角  12.右上角和右下角  13.左下角和右下角" align="center" prop="poorPlace" />
        <el-table-column label="认证ID" align="center" prop="approveId" />
        <el-table-column label="包装数量" align="center" prop="packNum" />
        <el-table-column label="包装重量" align="center" prop="packWeight" />
        <el-table-column label="包装箱尺寸" align="center" prop="packingChestSize" />
        <el-table-column label="产品净重" align="center" prop="productWeight" />
        <el-table-column label="简介" align="center" prop="productIntro" />
        <el-table-column label="触控操作模式1.点触  2.手指/手触  3.笔触/触控板/电容笔  4.手势 5.戴手套的手  6.非透明物体/不透光介质 " align="center" prop="touchOperation" />
        <el-table-column label="触控点数 1.单点 2，2点  3.4点  4.5点  5.6点  7.8点  8.10点   9.12点  10.14点  11.16点  12.30点 13.32点  14.40点  15.50点  16.64点  17.其他" align="center" prop="touchNum" />
        <el-table-column label="触控寿命" align="center" prop="touchLifespan" />
        <el-table-column label="线性误差" align="center" prop="linearityError" />
        <el-table-column label="触摸响应时间" align="center" prop="touchTime" />
        <el-table-column label="触摸力度" align="center" prop="touchVigor" />
        <el-table-column label="最小触摸直径" align="center" prop="minTouchDiam" />
        <el-table-column label="触控采样率" align="center" prop="touchSampleRate" />
        <el-table-column label="控制器状态 1.一体式  2.分体式" align="center" prop="directorType" />
        <el-table-column label="触摸控制器 1.含有  2.不含有 3.可选" align="center" prop="touchDirector" />
        <el-table-column label="触摸技术 1.投射电容触摸屏  2.表面电容屏  3.多点电容屏  4.I2C电容屏  5.IR红外触摸   6.其他" align="center" prop="touchTechnique" />
        <el-table-column label="触摸屏结构" align="center" prop="touchStructure" />
        <el-table-column label="玻璃类型ID" align="center" prop="glassType" />
        <el-table-column label="安装贴合 1.表面贴装  2.外挂	3.内置	4.框贴	5.全贴  6.内嵌 7.表嵌  8.单片" align="center" prop="mountJoint" />
        <el-table-column label="支持系统  1.winXP  2.vista  3.win 7/8/10/11  4.Android  5.Linux  6.MacOS   7.Vxwork" align="center" prop="supportSystem" />
        <el-table-column label="外框材质 1.铝合金  2.塑料  3.其他" align="center" prop="shellMaterial" />
        <el-table-column label="后壳材质" align="center" prop="backCoverMaterial" />
        <el-table-column label="安装类型 1.COB 2.COF  3.COG  4.SMT  5.TAB" align="center" prop="mountType" />
        <el-table-column label="IC品牌ID" align="center" prop="icBrandId" />
        <el-table-column label="出线位置1.左边  2.右边  3.中间" align="center" prop="offtrackPlace" />
        <el-table-column label="通讯接口类型 1.eDP  2.llc  3.LVDS  4.USB  5.MIPI  6.SPI  7.UART  8.PS2  9.COM  10.FFC  11.FPC  12.USB3.00   13.RS232  14.HID   15.串行" align="center" prop="communicationInterfaceType" />
        <el-table-column label="出线长度" align="center" prop="offtrackLength" />
        <el-table-column label="工作湿度" align="center" prop="workHumidity" />
        <el-table-column label="存储湿度" align="center" prop="memoryHumidity" />
        <el-table-column label="工作电压" align="center" prop="workVoltage" />
        <el-table-column label="供电方式" align="center" prop="feedingMode" />
        <el-table-column label="抗光能力" align="center" prop="lightAbility" />
        <el-table-column label="抗光性能" align="center" prop="lightFunction" />
        <el-table-column label="操作环境" align="center" prop="operationMilieu" /> -->
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              left
              @click="() => {console.log('没有事件')}"
              v-hasPermi="['background:user:remove']"
              >复制</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >详情</el-button> -->
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >编辑</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:PhPanel:edit']"
            >修改</el-button> -->
            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:PhPanel:remove']"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      
      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>

    <!-- 添加或修改参数模板对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="商品类目ID" prop="categoryId">
          <el-input v-model="form.categoryId" placeholder="请输入商品类目ID" />
        </el-form-item>
        <el-form-item label="型号" prop="modelNumber">
          <el-input v-model="form.modelNumber" placeholder="请输入型号" />
        </el-form-item>
        <el-form-item label="触摸/分辨率ID" prop="resolutionId">
          <el-input v-model="form.resolutionId" placeholder="请输入触摸/分辨率ID" />
        </el-form-item>
        <el-form-item label="尺寸ID" prop="sizeId">
          <el-input v-model="form.sizeId" placeholder="请输入尺寸ID" />
        </el-form-item>
        <el-form-item label="刷新率ID" prop="refreshRate">
          <el-input v-model="form.refreshRate" placeholder="请输入刷新率ID" />
        </el-form-item>
        <el-form-item label="对比度" prop="brightness">
          <el-input v-model="form.brightness" placeholder="请输入对比度" />
        </el-form-item>
        <el-form-item label="光源寿命" prop="lamphouseLifespan">
          <el-input v-model="form.lamphouseLifespan" placeholder="请输入光源寿命" />
        </el-form-item>
        <el-form-item label="外观尺寸" prop="guise">
          <el-input v-model="form.guise" placeholder="请输入外观尺寸" />
        </el-form-item>
        <el-form-item label="工作温度" prop="workRecord">
          <el-input v-model="form.workRecord" placeholder="请输入工作温度" />
        </el-form-item>
        <el-form-item label="NTSC比值" prop="ntsc">
          <el-input v-model="form.ntsc" placeholder="请输入NTSC比值" />
        </el-form-item>
        <el-form-item label="Adobe_rgb比值" prop="adobeRgb">
          <el-input v-model="form.adobeRgb" placeholder="请输入Adobe_rgb比值" />
        </el-form-item>
        <el-form-item label="SRGB覆盖率" prop="srgb">
          <el-input v-model="form.srgb" placeholder="请输入SRGB覆盖率" />
        </el-form-item>
        <el-form-item label="DCL-P3覆盖率" prop="dclP">
          <el-input v-model="form.dclP" placeholder="请输入DCL-P3覆盖率" />
        </el-form-item>
        <el-form-item label="信号脚数" prop="waftPinNumber">
          <el-input v-model="form.waftPinNumber" placeholder="请输入信号脚数" />
        </el-form-item>
        <el-form-item label="信号接口ID" prop="waftPortId">
          <el-input v-model="form.waftPortId" placeholder="请输入信号接口ID" />
        </el-form-item>
        <el-form-item label="显示区域" prop="displayArea">
          <el-input v-model="form.displayArea" placeholder="请输入显示区域" />
        </el-form-item>
        <el-form-item label="可视角度" prop="visibleAngle">
          <el-input v-model="form.visibleAngle" placeholder="请输入可视角度" />
        </el-form-item>
        <el-form-item label="可视/触摸区域" prop="visibleDistrict">
          <el-input v-model="form.visibleDistrict" placeholder="请输入可视/触摸区域" />
        </el-form-item>
        <el-form-item label="最佳视角ID" prop="angle">
          <el-input v-model="form.angle" placeholder="请输入最佳视角ID" />
        </el-form-item>
        <el-form-item label="外观厚度" prop="faceLand">
          <el-input v-model="form.faceLand" placeholder="请输入外观厚度" />
        </el-form-item>
        <el-form-item label="响应速度" prop="screenSpeed">
          <el-input v-model="form.screenSpeed" placeholder="请输入响应速度" />
        </el-form-item>
        <el-form-item label="像素配置" prop="pixelDeploy">
          <el-input v-model="form.pixelDeploy" placeholder="请输入像素配置" />
        </el-form-item>
        <el-form-item label="文档ID" prop="documentId">
          <el-input v-model="form.documentId" placeholder="请输入文档ID" />
        </el-form-item>
        <el-form-item label="图片ID" prop="photoId">
          <el-input v-model="form.photoId" placeholder="请输入图片ID" />
        </el-form-item>
        <el-form-item label="存储温度" prop="memoryRecord">
          <el-input v-model="form.memoryRecord" placeholder="请输入存储温度" />
        </el-form-item>
        <el-form-item label="其他名称" prop="otherName">
          <el-input v-model="form.otherName" placeholder="请输入其他名称" />
        </el-form-item>
        <el-form-item label="抗震动性" prop="antiknock">
          <el-input v-model="form.antiknock" placeholder="请输入抗震动性" />
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="form.remark" placeholder="请输入备注" />
        </el-form-item>
        <el-form-item label="点间距" prop="distancePoints">
          <el-input v-model="form.distancePoints" placeholder="请输入点间距" />
        </el-form-item>
        <el-form-item label="安装方式" prop="mountMode">
          <el-input v-model="form.mountMode" placeholder="请输入安装方式" />
        </el-form-item>
        <el-form-item label="像素间距" prop="pixelPoints">
          <el-input v-model="form.pixelPoints" placeholder="请输入像素间距" />
        </el-form-item>
        <el-form-item label="像素密度" prop="pixelDensity">
          <el-input v-model="form.pixelDensity" placeholder="请输入像素密度" />
        </el-form-item>
        <el-form-item label="玻璃厚度" prop="glassPly">
          <el-input v-model="form.glassPly" placeholder="请输入玻璃厚度" />
        </el-form-item>
        <el-form-item label="雾面百分比" prop="cloudySurface">
          <el-input v-model="form.cloudySurface" placeholder="请输入雾面百分比" />
        </el-form-item>
        <el-form-item label="拼接拼缝" prop="splice">
          <el-input v-model="form.splice" placeholder="请输入拼接拼缝" />
        </el-form-item>
        <el-form-item label="字符尺寸" prop="characterSize">
          <el-input v-model="form.characterSize" placeholder="请输入字符尺寸" />
        </el-form-item>
        <el-form-item label="字符间距" prop="characterPoints">
          <el-input v-model="form.characterPoints" placeholder="请输入字符间距" />
        </el-form-item>
        <el-form-item label="色温" prop="colorTemperature">
          <el-input v-model="form.colorTemperature" placeholder="请输入色温" />
        </el-form-item>
        <el-form-item label="亮度变动" prop="brightnessChange">
          <el-input v-model="form.brightnessChange" placeholder="请输入亮度变动" />
        </el-form-item>
        <el-form-item label="显示颜色" prop="color">
          <el-input v-model="form.color" placeholder="请输入显示颜色" />
        </el-form-item>
        <el-form-item label="色度/白色坐标" prop="chromaCoordinate">
          <el-input v-model="form.chromaCoordinate" placeholder="请输入色度/白色坐标" />
        </el-form-item>
        <el-form-item label="rec覆盖率" prop="rec">
          <el-input v-model="form.rec" placeholder="请输入rec覆盖率" />
        </el-form-item>
        <el-form-item label="色域说明" prop="colourGamut">
          <el-input v-model="form.colourGamut" placeholder="请输入色域说明" />
        </el-form-item>
        <el-form-item label="透射系数" prop="transmissivity">
          <el-input v-model="form.transmissivity" placeholder="请输入透射系数" />
        </el-form-item>
        <el-form-item label="驱动IC" prop="icDrive">
          <el-input v-model="form.icDrive" placeholder="请输入驱动IC" />
        </el-form-item>
        <el-form-item label="驱动方式" prop="typeDrive">
          <el-input v-model="form.typeDrive" placeholder="请输入驱动方式" />
        </el-form-item>
        <el-form-item label="功率消耗" prop="wattConsumption">
          <el-input v-model="form.wattConsumption" placeholder="请输入功率消耗" />
        </el-form-item>
        <el-form-item label="时序控制" prop="sequenceControl">
          <el-input v-model="form.sequenceControl" placeholder="请输入时序控制" />
        </el-form-item>
        <el-form-item label="电流输入" prop="currentInput">
          <el-input v-model="form.currentInput" placeholder="请输入电流输入" />
        </el-form-item>
        <el-form-item label="电压输入" prop="analogInput">
          <el-input v-model="form.analogInput" placeholder="请输入电压输入" />
        </el-form-item>
        <el-form-item label="待机功耗" prop="standbyPowerDissipation">
          <el-input v-model="form.standbyPowerDissipation" placeholder="请输入待机功耗" />
        </el-form-item>
        <el-form-item label="功耗" prop="powerDissipation">
          <el-input v-model="form.powerDissipation" placeholder="请输入功耗" />
        </el-form-item>
        <el-form-item label="接口型号" prop="portNumber">
          <el-input v-model="form.portNumber" placeholder="请输入接口型号" />
        </el-form-item>
        <el-form-item label="接口数量" prop="portAmount">
          <el-input v-model="form.portAmount" placeholder="请输入接口数量" />
        </el-form-item>
        <el-form-item label="接口品牌ID" prop="portBrandId">
          <el-input v-model="form.portBrandId" placeholder="请输入接口品牌ID" />
        </el-form-item>
        <el-form-item label="接口脚数" prop="pinNumber">
          <el-input v-model="form.pinNumber" placeholder="请输入接口脚数" />
        </el-form-item>
        <el-form-item label="接口脚间距" prop="pinPitch">
          <el-input v-model="form.pinPitch" placeholder="请输入接口脚间距" />
        </el-form-item>
        <el-form-item label="接口脚定义" prop="pinDefine">
          <el-input v-model="form.pinDefine" placeholder="请输入接口脚定义" />
        </el-form-item>
        <el-form-item label="背光数量" prop="poorLightNumber">
          <el-input v-model="form.poorLightNumber" placeholder="请输入背光数量" />
        </el-form-item>
        <el-form-item label="灯管寿命" prop="stripLampLifespan">
          <el-input v-model="form.stripLampLifespan" placeholder="请输入灯管寿命" />
        </el-form-item>
        <el-form-item label="背光电压输入" prop="poorAnalogInput">
          <el-input v-model="form.poorAnalogInput" placeholder="请输入背光电压输入" />
        </el-form-item>
        <el-form-item label="背光电流输入" prop="poorCurrentInput">
          <el-input v-model="form.poorCurrentInput" placeholder="请输入背光电流输入" />
        </el-form-item>
        <el-form-item label="背光功耗" prop="poorPowerDissipation">
          <el-input v-model="form.poorPowerDissipation" placeholder="请输入背光功耗" />
        </el-form-item>
        <el-form-item label="背光接口品牌ID" prop="poorBrandId">
          <el-input v-model="form.poorBrandId" placeholder="请输入背光接口品牌ID" />
        </el-form-item>
        <el-form-item label="背光接口脚间距" prop="poorPinPitch">
          <el-input v-model="form.poorPinPitch" placeholder="请输入背光接口脚间距" />
        </el-form-item>
        <el-form-item label="背光接口型号" prop="poorPortNumber">
          <el-input v-model="form.poorPortNumber" placeholder="请输入背光接口型号" />
        </el-form-item>
        <el-form-item label="背光接口数量" prop="poorNum">
          <el-input v-model="form.poorNum" placeholder="请输入背光接口数量" />
        </el-form-item>
        <el-form-item label="背光接口脚数" prop="poorPinNumber">
          <el-input v-model="form.poorPinNumber" placeholder="请输入背光接口脚数" />
        </el-form-item>
        <el-form-item label="背光接口定义" prop="poorPinDefine">
          <el-input v-model="form.poorPinDefine" placeholder="请输入背光接口定义" />
        </el-form-item>
        <el-form-item label="认证ID" prop="approveId">
          <el-input v-model="form.approveId" placeholder="请输入认证ID" />
        </el-form-item>
        <el-form-item label="包装数量" prop="packNum">
          <el-input v-model="form.packNum" placeholder="请输入包装数量" />
        </el-form-item>
        <el-form-item label="包装重量" prop="packWeight">
          <el-input v-model="form.packWeight" placeholder="请输入包装重量" />
        </el-form-item>
        <el-form-item label="包装箱尺寸" prop="packingChestSize">
          <el-input v-model="form.packingChestSize" placeholder="请输入包装箱尺寸" />
        </el-form-item>
        <el-form-item label="产品净重" prop="productWeight">
          <el-input v-model="form.productWeight" placeholder="请输入产品净重" />
        </el-form-item>
        <el-form-item label="简介" prop="productIntro">
          <el-input v-model="form.productIntro" placeholder="请输入简介" />
        </el-form-item>
        <el-form-item label="触控寿命" prop="touchLifespan">
          <el-input v-model="form.touchLifespan" placeholder="请输入触控寿命" />
        </el-form-item>
        <el-form-item label="线性误差" prop="linearityError">
          <el-input v-model="form.linearityError" placeholder="请输入线性误差" />
        </el-form-item>
        <el-form-item label="触摸响应时间" prop="touchTime">
          <el-input v-model="form.touchTime" placeholder="请输入触摸响应时间" />
        </el-form-item>
        <el-form-item label="触摸力度" prop="touchVigor">
          <el-input v-model="form.touchVigor" placeholder="请输入触摸力度" />
        </el-form-item>
        <el-form-item label="最小触摸直径" prop="minTouchDiam">
          <el-input v-model="form.minTouchDiam" placeholder="请输入最小触摸直径" />
        </el-form-item>
        <el-form-item label="触控采样率" prop="touchSampleRate">
          <el-input v-model="form.touchSampleRate" placeholder="请输入触控采样率" />
        </el-form-item>
        <el-form-item label="后壳材质" prop="backCoverMaterial">
          <el-input v-model="form.backCoverMaterial" placeholder="请输入后壳材质" />
        </el-form-item>
        <el-form-item label="IC品牌ID" prop="icBrandId">
          <el-input v-model="form.icBrandId" placeholder="请输入IC品牌ID" />
        </el-form-item>
        <el-form-item label="出线长度" prop="offtrackLength">
          <el-input v-model="form.offtrackLength" placeholder="请输入出线长度" />
        </el-form-item>
        <el-form-item label="工作湿度" prop="workHumidity">
          <el-input v-model="form.workHumidity" placeholder="请输入工作湿度" />
        </el-form-item>
        <el-form-item label="存储湿度" prop="memoryHumidity">
          <el-input v-model="form.memoryHumidity" placeholder="请输入存储湿度" />
        </el-form-item>
        <el-form-item label="工作电压" prop="workVoltage">
          <el-input v-model="form.workVoltage" placeholder="请输入工作电压" />
        </el-form-item>
        <el-form-item label="抗光能力" prop="lightAbility">
          <el-input v-model="form.lightAbility" placeholder="请输入抗光能力" />
        </el-form-item>
        <el-form-item label="抗光性能" prop="lightFunction">
          <el-input v-model="form.lightFunction" placeholder="请输入抗光性能" />
        </el-form-item>
        <el-form-item label="操作环境" prop="operationMilieu">
          <el-input v-model="form.operationMilieu" placeholder="请输入操作环境" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog><!-- 用户详情 -->
    <div v-if="detailsPop">
    <!-- 返回/标题 -->
    <div class="head_bt_back" @click="detailsBack">
      <img src="../../../assets/icons/返回.png" alt="">
      <span>商家详情</span>
    </div>
    <!-- 编辑按钮 -->
    <!-- <div class="head_bt_edit" @click="handleUpdate(form)"> -->
    <div class="head_bt_edit" >
      <span>重选类目</span>
    </div>
    <!-- 详情内容 -->
    <template>
      <div class="details_box_bg">
      </div>
      <div class="details_box_bg foot_bt_box">
        <el-button @click="detailsBack">返回列表</el-button>
      </div>
    </template>
    </div>
  </div>
</template>

<script>
import { listPhPanel, getPhPanel, delPhPanel, addPhPanel, updatePhPanel } from "@/api/background/PhPanel";

export default {
  name: "PhPanel",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 参数模板表格数据
      PhPanelList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 模板详情页展示
      detailsPop: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        categoryId: null,
        modelNumber: null,
        status: null,
        panelType: null,
        resolutionId: null,
        sizeId: null,
        refreshRate: null,
        brightness: null,
        lamphouseLifespan: null,
        guise: null,
        workRecord: null,
        ntsc: null,
        adobeRgb: null,
        srgb: null,
        dclP: null,
        waftPinNumber: null,
        waftPortId: null,
        displayArea: null,
        visibleAngle: null,
        visibleDistrict: null,
        angle: null,
        faceShaping: null,
        colorMode: null,
        transmitMode: null,
        faceLand: null,
        screenSpeed: null,
        pixelDeploy: null,
        documentId: null,
        photoId: null,
        memoryRecord: null,
        otherName: null,
        antiknock: null,
        distancePoints: null,
        mountMode: null,
        landscapePortrait: null,
        pixelLayout: null,
        pixelPoints: null,
        pixelDensity: null,
        glassPly: null,
        aspectRatio: null,
        surfaceProcess: null,
        cloudySurface: null,
        surfaceRigidity: null,
        splice: null,
        characterSize: null,
        characterLattice: null,
        characterPoints: null,
        surfaceFense: null,
        mesomorphism: null,
        touchType: null,
        colorTemperature: null,
        brightnessChange: null,
        color: null,
        chromaCoordinate: null,
        rec: null,
        colourGamut: null,
        outdoorVisual: null,
        transmissivity: null,
        threeD: null,
        icDrive: null,
        typeDrive: null,
        wattConsumption: null,
        sequenceControl: null,
        overturnScan: null,
        currentInput: null,
        analogInput: null,
        standbyPowerDissipation: null,
        powerDissipation: null,
        portPlace: null,
        portType: null,
        signalType: null,
        portNumber: null,
        portAmount: null,
        portBrandId: null,
        pinNumber: null,
        pinPitch: null,
        pinDefine: null,
        poorLightType: null,
        poorLightNumber: null,
        stripLamp: null,
        stripLampLifespan: null,
        poorLightPlace: null,
        stripReplace: null,
        poorAnalogInput: null,
        poorCurrentInput: null,
        poorDrive: null,
        poorPowerDissipation: null,
        poorBrandId: null,
        poorPinPitch: null,
        poorPortNumber: null,
        poorNum: null,
        poorType: null,
        poorPinNumber: null,
        poorPinDefine: null,
        poorPlace: null,
        approveId: null,
        packNum: null,
        packWeight: null,
        packingChestSize: null,
        productWeight: null,
        productIntro: null,
        touchOperation: null,
        touchNum: null,
        touchLifespan: null,
        linearityError: null,
        touchTime: null,
        touchVigor: null,
        minTouchDiam: null,
        touchSampleRate: null,
        directorType: null,
        touchDirector: null,
        touchTechnique: null,
        touchStructure: null,
        glassType: null,
        mountJoint: null,
        supportSystem: null,
        shellMaterial: null,
        backCoverMaterial: null,
        mountType: null,
        icBrandId: null,
        offtrackPlace: null,
        communicationInterfaceType: null,
        offtrackLength: null,
        workHumidity: null,
        memoryHumidity: null,
        workVoltage: null,
        feedingMode: null,
        lightAbility: null,
        lightFunction: null,
        operationMilieu: null
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        poorLightNumber: [
          { required: true, message: "背光数量不能为空", trigger: "blur" }
        ],
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询参数模板列表 */
    getList() {
      this.loading = true;
      listPhPanel(this.queryParams).then(response => {
        this.PhPanelList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        categoryId: null,
        modelNumber: null,
        status: null,
        panelType: null,
        resolutionId: null,
        sizeId: null,
        refreshRate: null,
        brightness: null,
        lamphouseLifespan: null,
        guise: null,
        workRecord: null,
        ntsc: null,
        adobeRgb: null,
        srgb: null,
        dclP: null,
        waftPinNumber: null,
        waftPortId: null,
        displayArea: null,
        visibleAngle: null,
        visibleDistrict: null,
        angle: null,
        faceShaping: null,
        colorMode: null,
        transmitMode: null,
        faceLand: null,
        screenSpeed: null,
        pixelDeploy: null,
        documentId: null,
        photoId: null,
        memoryRecord: null,
        otherName: null,
        antiknock: null,
        remark: null,
        distancePoints: null,
        mountMode: null,
        landscapePortrait: null,
        pixelLayout: null,
        pixelPoints: null,
        pixelDensity: null,
        glassPly: null,
        aspectRatio: null,
        surfaceProcess: null,
        cloudySurface: null,
        surfaceRigidity: null,
        splice: null,
        characterSize: null,
        characterLattice: null,
        characterPoints: null,
        surfaceFense: null,
        mesomorphism: null,
        touchType: null,
        colorTemperature: null,
        brightnessChange: null,
        color: null,
        chromaCoordinate: null,
        rec: null,
        colourGamut: null,
        outdoorVisual: null,
        transmissivity: null,
        threeD: null,
        icDrive: null,
        typeDrive: null,
        wattConsumption: null,
        sequenceControl: null,
        overturnScan: null,
        currentInput: null,
        analogInput: null,
        standbyPowerDissipation: null,
        powerDissipation: null,
        portPlace: null,
        portType: null,
        signalType: null,
        portNumber: null,
        portAmount: null,
        portBrandId: null,
        pinNumber: null,
        pinPitch: null,
        pinDefine: null,
        poorLightType: null,
        poorLightNumber: null,
        stripLamp: null,
        stripLampLifespan: null,
        poorLightPlace: null,
        stripReplace: null,
        poorAnalogInput: null,
        poorCurrentInput: null,
        poorDrive: null,
        poorPowerDissipation: null,
        poorBrandId: null,
        poorPinPitch: null,
        poorPortNumber: null,
        poorNum: null,
        poorType: null,
        poorPinNumber: null,
        poorPinDefine: null,
        poorPlace: null,
        approveId: null,
        packNum: null,
        packWeight: null,
        packingChestSize: null,
        productWeight: null,
        productIntro: null,
        touchOperation: null,
        touchNum: null,
        touchLifespan: null,
        linearityError: null,
        touchTime: null,
        touchVigor: null,
        minTouchDiam: null,
        touchSampleRate: null,
        directorType: null,
        touchDirector: null,
        createTime: null,
        updateTime: null,
        touchTechnique: null,
        touchStructure: null,
        glassType: null,
        mountJoint: null,
        supportSystem: null,
        shellMaterial: null,
        backCoverMaterial: null,
        mountType: null,
        icBrandId: null,
        offtrackPlace: null,
        communicationInterfaceType: null,
        offtrackLength: null,
        workHumidity: null,
        memoryHumidity: null,
        workVoltage: null,
        feedingMode: null,
        lightAbility: null,
        lightFunction: null,
        operationMilieu: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加参数模板";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhPanel(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改参数模板";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhPanel(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhPanel(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除参数模板编号为"' + ids + '"的数据项？').then(function() {
        return delPhPanel(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/PhPanel/export', {
        ...this.queryParams
      }, `PhPanel_${new Date().getTime()}.xlsx`)
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      this.detailsPop = true
      const id = row.id || this.ids;
      getPhShop(id).then((response) => {
        console.log(response.data)
        this.form = response.data;
      });
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.detailsPop = false;
      this.activeName = 'first';
      this.reset();
    },
  }
};
</script>
<style scoped>
/* 用户详情样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  min-height: 55px;
}
.foot_bt_box {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.head_bt_back {
  position:absolute;
  left: 60px;
  top: 36px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}.head_bt_edit {
  background-color: #fff;
  position:absolute;
  padding: 0 10px ;
  right: 60px;
  top: 30px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #B1B1B1;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 1999;
}
.head_bt_edit > span {
  line-height: 26px;
}
</style>
