<template>
  <!-- <div class="app-container" :class="userDetailsPop ? 'details_bg' : ''"> -->
  <div class="app-container" >
    <el-form
      :model="queryParams"
      ref="queryForm"
      size="small"
      :inline="true"
      v-show="showSearch"
      label-width="68px"
    >
      <el-form-item label="姓名" prop="nickname">
        <el-input
          v-model="queryParams.nickname"
          placeholder="请输入姓名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="公司名称" prop="firmName">
        <el-input
          v-model="queryParams.firmName"
          placeholder="请输入姓名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="手机号码" prop="mobile">
        <el-input
          v-model="queryParams.mobile"
          placeholder="请输入手机号码"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <!-- <el-form-item label="用户主体" prop="motifType">
        <el-select v-model="queryParams.motifType" placeholder="请选择">
          <el-option :key="1" :value="1" label="工商企业">工商企业</el-option>
          <el-option :key="2" :value="2" label="个体">个体工商户</el-option>
        </el-select>
      </el-form-item> -->
      <el-form-item label="用户身份" prop="userType">
        <el-select v-model="queryParams.userType" placeholder="请选择">
          <el-option :key="2" :value="2" label="采购商">采购商</el-option>
          <el-option :key="3" :value="3" label="供应商">供应商</el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="注册来源" prop="registerType">
        <el-select v-model="queryParams.registerType" placeholder="请选择">
          <el-option
            v-for="item of registerTypeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8">
      <!-- <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['background:centerUser:add']"
          >新增</el-button
        >
      </el-col> -->
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['background:centerUser:export']"
          >导出</el-button
        >
      </el-col>
      <right-toolbar
        :showSearch.sync="showSearch"
        @queryTable="getList"
      ></right-toolbar>
    </el-row>
    <el-table
      v-loading="loading"
      :data="userList"
      @selection-change="handleSelectionChange"
    >
      <el-table-column label="姓名" align="center" prop="nickname" />
      <el-table-column
        label="公司名称"
        align="center"
        prop="firmName"
      />
      <el-table-column label="手机号" align="center" prop="mobile" />
      <el-table-column
        label="用户身份"
        align="center"
        prop="userType"
      >
        <template slot-scope="scope">
          <span v-if="scope.row.userType == 1">游客</span>
          <span v-if="scope.row.userType == 2">采购商</span>
          <span v-if="scope.row.userType == 3">供应商</span>
          <span v-if="scope.row.userType == 4">客服</span>
        </template>
      </el-table-column>
      <!-- 用户类型： 1-游客、2-采购商 3-商家 4-普通店铺、5-会员店铺、 6-客服 -->
      <el-table-column
        label="客服"
        align="center"
        prop="customerServiceId"
      >
        <template slot-scope="scope">
          <span>{{ scope.row.customerServiceId == 1 ? "小慧" : "" }}</span>
        </template>
      </el-table-column>
      <el-table-column label="注册来源" align="center" prop="registerTypeText"/>
      <el-table-column label="注册时间" align="center" prop="createTime" width="100"/>
      <el-table-column label="最近登录" align="center" prop="updateTime" width="100"/>
      <el-table-column label="冻结状态" align="center" prop="blacklist" sortable>
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.blacklist"
            :dataId="scope.row.id"
            @change="switchBlacklist(scope.row.id, scope.row.blacklist)"
          >
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
        min-width="100px"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-tickets"
            @click="handDetails(scope.row)"
            v-hasPermi="['centerUser:user:query']"
            >详情</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['centerUser:user:edit']"
            >修改</el-button
          >
          <!-- <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['centerUser:user:remove']"
            >删除</el-button
          > -->
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
    <!-- 添加或修改中心用户对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      :width="popType == 2 ? '1200px' : '500px'"
      append-to-body
    >
      <template>
        <el-form ref="form" :model="form" :rules="rules" label-width="80px">
          <el-form-item label="分配客服" prop="customerServiceId">
            <el-select v-model="form.customerServiceId" placeholder="请选择">
              <el-option
                v-for="item of customerServiceIdOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="popType != 0" label="冻结状态" prop="blacklist">
            <el-switch v-model="form.blacklist"> </el-switch>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="submitForm">确 定</el-button>
          <el-button @click="cancel">取 消</el-button>
        </div>
      </template>
    </el-dialog>
    <!-- 用户详情 -->
    <el-dialog
      :title="title"
      :visible.sync="userDetailsPop"
      :width="popType == 2 ? '1200px' : '500px'"
      append-to-body
    >
      <template>
        <el-descriptions :column="1">
          <el-descriptions-item label="用户ID">{{ form.id }}</el-descriptions-item>
          <el-descriptions-item label="微信号">
            <span v-if="form.weChat">{{ form.weChat }}</span>
            <span v-else> /</span>
          </el-descriptions-item>
          <el-descriptions-item label="账号状态">
            <span>{{ form.blacklist ? "冻结" : "正常" }}</span>
          </el-descriptions-item>
          <el-descriptions-item label="注册时间">{{ form.createTime }}</el-descriptions-item>
          <el-descriptions-item label="责任客服">{{ form.customerServiceId == 1 ? "小慧" : "" }}</el-descriptions-item>
          <el-descriptions-item label="注册来源">{{ form.registerTypeText }}</el-descriptions-item>
          <el-descriptions-item label="公司名称">
            <span v-if="form.firmName">{{ form.firmName }}</span>
            <span v-else> /</span>
          </el-descriptions-item>
          <el-descriptions-item label="注册手机">{{ form.mobile }}</el-descriptions-item>
          <el-descriptions-item label="最近登录时间">{{ form.updateTime }}</el-descriptions-item>
        </el-descriptions>
        <div slot="footer" class="dialog-footer">
          <el-button @click="cancel">关 闭</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import {
  listUser,
  getUser,
  addUser,
  updateUser,
} from "@/api/background/user";

export default {
  name: "User",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 中心用户表格数据
      userList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 表单弹窗 0=新增 1=修改
      popType: 0,
      // 日期范围
      dateRange: [],
      // // 用户详情展示页
      userDetailsPop: false,
      // 用户详情头部切换
      activeName: "first",
      // 用户头像URL
      userUrl: "http://localhost/static/img/pay.b5dece6f.png",
      // 店铺头像URL
      domainUrl: "http://localhost/static/img/",
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        userType: null, //0所有，1游客，2采购，3供应商
        openid: null,
        firmName: null,
        avatarurl: null,
        nickname: null,
        avatarurl: null,
        gender: null,
        country: null,
        province: null,
        city: null,
        mobile: null,
        lastEntry: null,
        registerType: null,
        blacklist: null,
        email: null,
        readdress: null,
        createTime: null,
        motifType: null,
        // 新增
        timeCycle: null, //时间选择器
      },
      registerTypeOptions: [
        {
          value: 1,
          label: "官网",
        },
        {
          value: 2,
          label: "后台",
        },
        {
          value: 3,
          label: "微信授权",
        },
        {
          value: 4,
          label: "公众号",
        },
        {
          value: 5,
          label: "移动端",
        },
        {
          value: 6,
          label: "人工",
        },
      ],
      userTypeOptions: [
        {
          value: 1,
          label: "个人自采",
        },
        {
          value: 2,
          label: "公司自采",
        },
      ],
      customerServiceIdOptions: [
        {
          value: 1,
          label: "小慧",
        },
      ],
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        createTime: [
          { required: true, message: "创建时间不能为空", trigger: "blur" },
        ],
        updateTime: [
          { required: true, message: "更新时间不能为空", trigger: "blur" },
        ],
      },
      // 分类参数表单
      categoryList: [],
      // 查询分类参数
      queryParamsCategory: {
        pageNum: 1,
        pageSize: 10,
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询中心用户列表 */
    getList() {
      this.loading = true;
      listUser(this.queryParams).then(
        (response) => {
          this.userList = this.registerTypeText(response.rows); //转换注册来源显示内容
          this.userList = this.setUserTypeText(response.rows); //转换用户身份显示内容
          this.userList = this.setBlacklist(response.rows); //转换禁用显示类型
          this.userlist = this.delAttache(response.rows); //剔除客服数据
          console.log(this.userList);
          this.total = response.total;
          this.loading = false;
        }
      );
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.userDetailsPop = false;
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        openid: null,
        nickname: null,
        firmName: null,
        avatarurl: null,
        gender: null,
        country: null,
        province: null,
        city: null,
        mobile: null,
        userType: null, //0所有，1游客，2采购，3供应商
        lastEntry: null,
        registerType: null,
        blacklist: null,
        email: null,
        readdress: null,
        createTime: null,
        corporateSize: null,
        shopType: null,
        manageGoods: null,
        corporationSite: null,
        companyProfile: null,
        motifType: null,
        dispositionGoods: null,
        cooperationIntention: null,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = [];
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    // handleAdd() {
    //   this.reset();
    //   this.popType = 0;
    //   this.open = true;
    //   this.title = "添加用户";
    //   listPhCategory(this.queryParamsCategory).then((response) => {
    //     this.categoryList = response.rows;
    //     this.loading = false;
    //   });
    // },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.popType = 1;
      const id = row.id || this.ids;
      getUser(id).then((response) => {
        response.data.blacklist = response.data.blacklist == 1 ? true : false;
        for (let arr of this.registerTypeOptions) {
          if (arr.value == response.data.registerType) {
            response.data.registerTypeText = arr.label;
          }
        }
        this.form = response.data;
        this.open = true;
        this.title = "编辑";
      });
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.title = '用户详情'
      this.reset();
      const id = row.id || this.ids;
      getUser(id).then((response) => {
        response.data.blacklist = response.data.blacklist == 1 ? true : false;
        for (let arr of this.registerTypeOptions) {
          if (arr.value == response.data.registerType) {
            response.data.registerTypeText = arr.label;
          }
        }
        this.form = response.data;
      });
      this.userDetailsPop = true;
    },
    /** 提交按钮 */
    submitForm() {
      this.loading = true;
      this.form.blacklist = this.form.blacklist ? 1 : 0;
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.id != null) {
            updateUser(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
              this.loading = false;
            });
          } else {
            addUser(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "background/centerUser/export",
        {
          ...this.queryParams,
        },
        `user_${new Date().getTime()}.xlsx`
      );
    },
    /** 禁用状态转换 */
    setBlacklist(data) {
      let list = data;
      for (let item of list) {
        item.blacklist = item.blacklist == 1 ? true : false;
      }
      return list;
    },
    /** 注册来源显示转换 */
    registerTypeText(data) {
      let list = data;
      for (let item of list) {
        for (let arr of this.registerTypeOptions) {
          if (arr.value == item.registerType) {
            item.registerTypeText = arr.label;
          }
        }
      }
      return list;
    },
    /** 用户身份显示转换 */
    setUserTypeText(data) {
      let list = data;
      for (let item of list) {
        for (let arr of this.userTypeOptions) {
          if (arr.value == item.userType) {
            item.userTypeText = arr.label;
          }
        }
      }
      return list;
    },
    // 列表开关回调-是否显示
    switchBlacklist(id, sta) {
      // 查询修改接口
      getUser(id).then((response) => {
        this.form = response.data;
        this.form.blacklist = sta ? 1 : 0; //判断开关状态
        // 提交修改接口
        updateUser(this.form).then((response) => {
          this.$modal.msgSuccess("修改成功");
        });
      });
    },
    /** 过滤客服用户 */
    delAttache(arr) {
      let list = arr;
      for (let i = 0; i < list.length; i++) {
        if (list[i].userType == 4) {
          list.splice(i, 1);
          i--;
        }
      }
      return list;
    },
  },
};
</script>
<style scoped>
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 105px;
  text-align: right;
  display: inline-block;
}
/deep/ .el-tabs__content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
/deep/ .el-tabs__nav-scroll {
  width: 700px;
  margin: 0 auto;
}
/deep/ .el-descriptions--medium:not(.is-bordered) .el-descriptions-item__cell {
  padding-bottom: 20px;
}

</style>
