
<!-- 店铺列表 -->
<template>
  <div class="app-container" :class="shopDetailsPop ? 'details_bg':''">
    <div v-if="!shopDetailsPop">
      <div class="head_status_box">
        <div class="head_tag" :class="listTyle == 1 ? 'head_tag_active':''" @click="setHeadStatus(1)">
          <span>全部商家</span>
        </div>
        <div class="head_tag" :class="listTyle == 2 ? 'head_tag_active':''" @click="setHeadStatus(2)">
          <span>会员商家</span>
        </div>
      </div>
      <el-form
        :model="queryParams"
        ref="queryForm"
        size="small"
        :inline="true"
        v-show="showSearch"
        label-width="68px"
      >
        <el-form-item label="企业名称" prop="firmName">
          <el-input
            v-model="queryParams.firmName"
            placeholder="请输入企业名称"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="注册手机" prop="mobile">
          <el-input
            v-model="queryParams.mobile"
            placeholder="请输入手机号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item v-if="listTyle == 1" label="开店状态" prop="shopType">
          <el-select v-model="queryParams.shopType" placeholder="请选择">
            <el-option
              v-for="item of shopTypeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="注册来源" prop="registerType">
          <el-select v-model="queryParams.registerType" placeholder="请选择">
            <el-option :key="1" :value="1" label="官网">官网</el-option>
            <el-option :key="2" :value="2" label="后台">后台</el-option>
            <el-option :key="3" :value="3" label="微信授权">微信授权</el-option>
            <el-option :key="4" :value="4" label="公众号">公众号</el-option>
            <el-option :key="5" :value="5" label="移动端">移动端</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="商家类型" prop="shopPosition">
          <el-select v-model="queryParams.shopPosition" placeholder="请选择">
            <el-option v-if="listTyle == 1" :key="1" :value="1" label="普通店铺">普通店铺</el-option>
            <el-option :key="2" :value="2" label="实力店铺">实力店铺</el-option>
            <el-option :key="3" :value="3" label="超级店铺">超级店铺</el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            icon="el-icon-search"
            size="mini"
            @click="handleQuery"
            >搜索</el-button
          >
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
            >重置</el-button
          >
        </el-form-item>
      </el-form>

      <el-row :gutter="10" class="mb8">
        <!-- <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phShop:add']"
            >新增供应商</el-button
          >
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:phShop:remove']"
            >删除</el-button
          >
        </el-col> -->
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phShop:export']"
            >导出</el-button
          >
        </el-col>
        <right-toolbar
          :showSearch.sync="showSearch"
          @queryTable="getList"
        ></right-toolbar>
      </el-row>

      <el-table
        :style="listTyle == 1 ? '' : 'display:none'"
        v-loading="loading"
        :data="phShopList"
        @selection-change="handleSelectionChange"
      >
        <el-table-column label="企业名称" align="center" prop="firmName" width="150px" />
        <el-table-column label="联系人" align="center" prop="shopkeeperName" />
        <el-table-column label="注册手机" align="center" prop="mobile" />
        <el-table-column label="商家类型" align="center" prop="shopPosition">
          <template slot-scope="scope">
            <span v-if="scope.row.shopPosition == 1">普通商家</span>
            <span v-if="scope.row.shopPosition == 2">实力商家</span>
            <span v-if="scope.row.shopPosition == 3">超级商家</span>
          </template>
        </el-table-column>
        <el-table-column label="商品数量" align="center" prop="？" />
        <el-table-column label="客服" align="center" prop="customerServiceId" >
          <template slot-scope="scope">
            <span v-if="scope.row.customerServiceId == 1">小慧</span>
          </template>
        </el-table-column>
        <el-table-column label="注册来源" align="center" prop="registerType" >
          <template slot-scope="scope">
            <span v-if="scope.row.registerType == 1">官网</span>
            <span v-if="scope.row.registerType == 2">后台</span>
            <span v-if="scope.row.registerType == 3">微信授权</span>
            <span v-if="scope.row.registerType == 4">公众号</span>
            <span v-if="scope.row.registerType == 5">移动端</span>
          </template>
        </el-table-column>
        <el-table-column label="开店状态" align="center" prop="shopType">
          <template slot-scope="scope">
            <span>{{ scope.row.shopType == 1 ? '已开店':'未开店' }}</span>
          </template>
        </el-table-column>
        <el-table-column label="交易状态" align="center" prop="nominate" min-width="100px" >
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.transaction"
              :dataId="scope.row.id"
              @change="switchPublishStatus(scope.row.id, scope.row.transaction,'transaction')">
            </el-switch>
          </template>
        </el-table-column>
        <!-- <el-table-column label="冻结状态" align="center" prop="blacklist" min-width="100px" >
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.blacklist"
              :dataId="scope.row.id"
              @change="switchPublishStatus(scope.row.id, scope.row.blacklist,'blacklist')">
            </el-switch>
          </template>
        </el-table-column> -->
        <el-table-column label="开店时间" align="center" prop="createTime" width="100px" />
        <el-table-column label="最近登录" align="center" prop="updateTime" width="100px" />
        <el-table-column
          fixed="right"
          label="操作"
          align="center"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >详情</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phShop:edit']"
              >修改</el-button> -->
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:phShop:remove']"
              >删除</el-button> -->
          </template>
        </el-table-column>
      </el-table>
      <el-table
        :style="listTyle == 2 ? '' : 'display:none'"
        v-loading="loading"
        :data="phShopList"
        @selection-change="handleSelectionChange"
      >
        <el-table-column label="企业名称" align="center" prop="firmName" width="150px" />
        <el-table-column label="联系人" align="center" prop="shopkeeperName" />
        <el-table-column label="注册手机" align="center" prop="userMobile" />
        <el-table-column label="商家类型" align="center" prop="shopPosition">
          <template slot-scope="scope">
            <span v-if="scope.row.shopPosition == 1">普通商家</span>
            <span v-if="scope.row.shopPosition == 2">实力商家</span>
            <span v-if="scope.row.shopPosition == 3">超级商家</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="主营类目" align="center" prop="manageCategory">
          <template slot-scope="scope">
            <span v-for="item,i of scope.row.manageCategory" :key="item.id">
              <span v-if="i > 0">,</span>
              {{ item.cooperationIntention }}
            </span>
          </template>
        </el-table-column> -->
        <el-table-column label="商品数量" align="center" prop="？" />
        <el-table-column label="客服" align="center" prop="customerServiceId" >
          <template slot-scope="scope">
            <span v-if="scope.row.customerServiceId == 1">小慧</span>
          </template>
        </el-table-column>
        <el-table-column label="搜屏认证" align="center" prop="isAuthentication" >
          <template slot-scope="scope">
            <span v-if="scope.row.isAuthentication == 0" style="color: red;">未认证</span>
            <span v-if="scope.row.isAuthentication == 1" style="color: forestgreen;">已认证</span>
          </template>
        </el-table-column>
        <el-table-column label="注册来源" align="center" prop="registerType" >
          <template slot-scope="scope">
            <span v-if="scope.row.registerType == 1">官网</span>
            <span v-if="scope.row.registerType == 2">后台</span>
            <span v-if="scope.row.registerType == 3">微信授权</span>
            <span v-if="scope.row.registerType == 4">公众号</span>
            <span v-if="scope.row.registerType == 5">移动端</span>
          </template>
        </el-table-column>
        <el-table-column label="开店状态" align="center" prop="shopType">
          <template slot-scope="scope">
            <span>{{ scope.row.shopType == 1 ? '已开店':'未开店' }}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column v-if="listTyle == 2" label="会员有效期" align="center" prop="createTime" width="100px" /> -->
        <el-table-column label="首页推荐" align="center" prop="nominate" min-width="100px" >
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.nominate"
              :dataId="scope.row.id"
              @change="switchPublishStatus(scope.row.id, scope.row.nominate,'nominate')">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="交易状态" align="center" prop="nominate" min-width="100px" >
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.transaction"
              :dataId="scope.row.id"
              @change="switchPublishStatus(scope.row.id, scope.row.transaction,'transaction')">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="会员有效期" align="center" prop="createTime" width="100px" >
          <template slot-scope="scope">
            <span>{{ scope.row.serviceStart }}</span>
            <br>
            <span>{{ scope.row.terminationEnd }}</span>
          </template>
        </el-table-column>
        <el-table-column label="最近登录" align="center" prop="updateTime" width="100px" />
        <el-table-column
          fixed="right"
          label="操作"
          align="center"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >详情</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phShop:edit']"
              >修改</el-button> -->
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:phShop:remove']"
              >删除</el-button> -->
          </template>
        </el-table-column>
      </el-table>

      <pagination
        v-show="total > 0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>

    <!-- 添加或修改店铺对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="900px" :close-on-click-modal="false" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-row>
          <el-col :span="11">
            <el-form-item label="企业名称" prop="firmName">
              <el-input v-model="form.firmName" placeholder="请输入企业名称" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="企业网址" prop="corporationSite">
              <el-input v-model="form.corporationSite" placeholder="请输入企业网址" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="企业地址">
              <el-cascader
                placeholder="请选择地址"
                :props="{ value: 'id', label: 'district',children: 'children' }"
                v-model="regionAddress.regionId"
                :options="phRegionList"
                @change="addressChange"
                filterable>
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="详细地址" prop="readdress">
              <el-input v-model="form.readdress" placeholder="请输入详细地址" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="注册资本" prop="annualSale">
              <el-select v-model="form.annualSale" placeholder="请选择">
                <el-option :key="1" :value="1" label="100万">100万</el-option>
                <el-option :key="2" :value="2" label="100万-300万">100万-300万</el-option>
                <el-option :key="3" :value="3" label="300万-500万">300万-500万</el-option>
                <el-option :key="4" :value="4" label="500万-1000万">500万-1000万</el-option>
                <el-option :key="5" :value="5" label="1000万-5000万">1000万-5000万</el-option>
                <el-option :key="6" :value="6" label="5000万-1亿">5000万-1亿</el-option>
                <el-option :key="7" :value="7" label="1亿以上">1亿以上</el-option>
              </el-select>
              <span> 元</span>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="入驻类型" prop="motifType">
              <el-select v-model="form.motifType" placeholder="请选择">
                <el-option :key="1" :value="1" label="工商企业">工商企业</el-option>
                <el-option :key="2" :value="2" label="个体">个体</el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="企业规模" prop="corporateSize">
              <el-select v-model="form.corporateSize" placeholder="请选择">
                <el-option :key="1" :value="1" label="1-10人">1-10人</el-option>
                <el-option :key="2" :value="2" label="10-50人">10-50人</el-option>
                <el-option :key="3" :value="3" label="50-100人">50-100人</el-option>
                <el-option :key="4" :value="4" label="100-200人">100-200人</el-option>
                <el-option :key="5" :value="5" label="200-500人">200-500人</el-option>
                <el-option :key="6" :value="6" label="500-1000人">500-1000人</el-option>
                <el-option :key="7" :value="7" label="1000-5000人">1000-5000人</el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="经营模式" prop="managementMode">
              <el-select v-model="form.managementMode" placeholder="请选择">
                <el-option :key="1" :value="1" label="制造商/工厂">制造商/工厂</el-option>
                <el-option :key="2" :value="2" label="招商代理">招商代理</el-option>
                <el-option :key="3" :value="3" label="业务服务">业务服务</el-option>
                <el-option :key="4" :value="4" label="维修">维修</el-option>
                <el-option :key="5" :value="5" label="其他">其他</el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="加工定制">
              <el-radio v-model="form.tailorServing" :label="0">支持</el-radio>
              <el-radio v-model="form.tailorServing" :label="1">不支持</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="采购偏好">
              <el-radio v-model="form.intentionLeaning" :label="0">承接跨类目订单</el-radio>
              <el-radio v-model="form.intentionLeaning" :label="1">不承接跨类目订单</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="我的部门" prop="mineBranch">
              <el-input v-model="form.mineBranch" placeholder="请输入我的部门" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="业务手机" prop="mobile">
              <el-input v-model="form.mobile" placeholder="请输入业务手机" />
            </el-form-item>
            <!-- <el-form-item label="业务手机" prop="mobile">
              <el-input v-model="form.mobile" placeholder="请输入企业部门" />
            </el-form-item> -->
          </el-col>
          <el-col :span="11">
            <el-form-item label="业务邮箱" prop="email">
              <el-input v-model="form.email" placeholder="请输入业务邮箱" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="我的职位" prop="minePost">
              <el-input v-model="form.minePost" placeholder="请输入我的职位" />
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="主营产品" type="textarea" :rows="2" prop="manageGoods">
              <el-input v-model="form.manageGoods" placeholder="请输入主营产品" />
            </el-form-item>
          </el-col>
          <!-- <el-col :span="11">
            <el-form-item label="冻结状态" prop="blacklist">
              <el-switch v-model="form.blacklist"> </el-switch>
            </el-form-item>
          </el-col> -->
          <el-col :span="5">
            <el-form-item label="首页推荐" prop="nominate">
              <el-switch v-model="form.nominate"></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="交易状态" prop="transaction">
              <el-switch v-model="form.transaction"></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="23">
            <el-form-item label="主营品牌" prop="brandIdList">
              <!-- 多选组件 -->
              <el-popover
                placement="top"
                width="360"
                trigger="click"
                v-model="phBrandaVisible">
                <!-- 组定义内容 -->
                <el-checkbox :indeterminate="phBrandaIsIndeterminate" v-model="phBrandaCheckAll" @change="pingpaiCheckAllChange">全选</el-checkbox>
                <!-- <div style="margin: 15px;"></div> -->
                <el-checkbox-group v-model="phBrandaArr" @change="pingpaiCitiesChange" style=" margin: 20px 0;">
                  <el-checkbox v-for="city of phBrandaList" :label="city" :key="city.id">{{city.brandName}}</el-checkbox>
                </el-checkbox-group>
                <!-- --- -->
                <div style="text-align: right; margin: 0">
                  <!-- <el-button size="mini" type="text" @click="phBrandaVisible = false">取消</el-button> -->
                  <el-button type="primary" size="mini" @click="phBrandaVisible = false">关闭</el-button>
                </div>
                <div class="name_box" slot="reference">
                  <span v-for="item,i of phBrandaArr" :key="item.id" >
                    <span v-if="i < 5" class="name_item">
                      <span>{{ item.brandName }}</span>
                    </span>
                  </span>
                  <span v-if="phBrandaArr.length == 0" class="name_item">请选择</span>
                  <span v-if="phBrandaArr.length > 5" class="name_item">...</span>
                </div>
              </el-popover>
              <span>共{{ phBrandaArr.length }}个</span>
            </el-form-item>
          </el-col>
          <el-col :span="23">
            <el-form-item label="主营类目" prop="manageCategory">
              <el-tree
                class="tree-border"
                :data="categoryList.filter(categoryItem => categoryItem.parentId === 0)"
                show-checkbox
                node-key="id"
                ref="leimu"
                :default-expanded-keys="categoryIdArr"
                :default-checked-keys="categoryIdArr"
                :props="defaultProps"
                @check-change="traverseSelectedNodes"
                >
              </el-tree>
            </el-form-item>
          </el-col>
          <el-col :span="23">
            <el-form-item label="企业介绍" prop="companyProfile">
              <el-input v-model="form.companyProfile" type="textarea" :rows="2" placeholder="请输入企业介绍" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 供应商详情页 -->
    <div v-if="shopDetailsPop">
      <!-- 返回/标题 -->
      <div class="head_bt_back" @click="detailsBack">
        <img src="../../../assets/icons/返回.png" alt="">
        <span>商家详情</span>
      </div>
      <!-- 编辑按钮 -->
      <div class="head_bt_edit" @click="handleUpdate(form)">
        <span>编辑资料</span>
      </div>
      <!-- 详情内容 -->
      <template>
      <div class="details_box_bg">
        <el-tabs v-model="activeName" :stretch="true">
          <el-tab-pane label="基本信息" name="first">
            <div style="width: 100%; display: flex;">
              <div style="width: 15%;">
                <div class="left_box">
                  <!-- 头像 -->
                  <div class="left_box_img">
                    <img src="../../../assets/images/user-img.png" alt="">
                  </div>
                  <!-- 姓名 -->
                  <div class="left_box_name">
                    <span>{{ form.nickname }}</span>
                  </div>
                  <!-- 性别 -->
                  <div class="left_box_name">
                    <span>{{ form.gender ? '女士':'先生' }}</span>
                  </div>
                  <!-- 会员 -->
                  <div class="left_box_vip">
                    <span v-if="form.shopPosition == 1">普通商家</span>
                    <span v-if="form.shopPosition == 2">实力商家</span>
                    <span v-if="form.shopPosition == 3">超级商家</span>
                  </div>
                </div>
              </div>
              <div style="width: 85%;">
                <el-descriptions :column="2">
                    <el-descriptions-item label="用户ID">{{ form.userId }}</el-descriptions-item>
                    <el-descriptions-item label="微信号">
                      <span v-if="form.weChat">{{ form.weChat }}</span>
                      <span v-else> /</span>
                    </el-descriptions-item>
                    <!-- <el-descriptions-item label="账号状态">
                      <span v-if="form.blacklist == 0">正常</span>
                      <span v-if="form.blacklist == 1">冻结</span>
                    </el-descriptions-item> -->
                    <el-descriptions-item label="注册时间">{{ form.userCreateTime }}</el-descriptions-item>
                    <el-descriptions-item label="责任客服">{{ form.customerServiceId == 1? '小慧':'' }}</el-descriptions-item>
                    <el-descriptions-item label="注册来源">
                      <span v-if="form.registerType == 1">官网</span>
                      <span v-if="form.registerType == 2">后台</span>
                      <span v-if="form.registerType == 3">微信授权</span>
                      <span v-if="form.registerType == 4">公众号</span>
                      <span v-if="form.registerType == 5">移动端</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="企业名称">
                      <span v-if="form.firmName">{{ form.firmName }}</span>
                      <span v-else> /</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="注册手机">{{ form.userMobile }}</el-descriptions-item>
                </el-descriptions>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="企业信息" name="second">
            <div style="width: 100%; display: flex;">
              <div style="width: 15%;">
                <div class="left_box">
                  <!-- 头像 -->
                  <div class="left_box_img">
                    <img src="../../../assets/images/user-img.png" alt="">
                  </div>
                  <!-- 姓名 -->
                  <div class="left_box_name">
                    <span>{{ form.nickname }}</span>
                  </div>
                  <!-- 性别 -->
                  <div class="left_box_name">
                    <span>{{ form.gender ? '女士':'先生' }}</span>
                  </div>
                  <!-- 会员 -->
                  <div class="left_box_vip">
                    <span v-if="form.shopPosition == 1">普通商家</span>
                    <span v-if="form.shopPosition == 2">实力商家</span>
                    <span v-if="form.shopPosition == 3">超级商家</span>
                  </div>
                </div>
              </div>
              <div style="width: 85%;">
                <el-descriptions :column="2">
                  <el-descriptions-item label="供应商ID">{{ form.userId }}</el-descriptions-item>
                  <el-descriptions-item label="企业名称">
                    <span v-if="form.firmName">{{ form.firmName }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="入驻类型">
                    <span v-if="form.motifType == 1">工商企业</span>
                    <span v-else-if="form.motifType == 2">个体</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="企业规模">
                    <span v-if="form.corporateSize == 1">1-10人</span>
                    <span v-else-if="form.corporateSize == 2">10-50人</span>
                    <span v-else-if="form.corporateSize == 3">50-100人</span>
                    <span v-else-if="form.corporateSize == 4">100-200人</span>
                    <span v-else-if="form.corporateSize == 5">200-500人</span>
                    <span v-else-if="form.corporateSize == 6">500-1000人</span>
                    <span v-else-if="form.corporateSize == 7">1000-5000人</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="注册资本">
                    <span v-if="form.annualSale == 1">100万</span>
                    <span v-else-if="form.annualSale == 2">100-300万</span>
                    <span v-else-if="form.annualSale == 3">300-500万</span>
                    <span v-else-if="form.annualSale == 4">500-1000万</span>
                    <span v-else-if="form.annualSale == 5">1000-5000万</span>
                    <span v-else-if="form.annualSale == 6">5000-1亿</span>
                    <span v-else-if="form.annualSale == 7">1亿以上</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <!-- 经营模式 0.制造商/工厂  1.招商代理  3.业务服务  4.维修 5.其他 -->
                  <el-descriptions-item label="经营模式">
                    <span v-if="form.managementMode == 1">制造商/工厂</span>
                    <span v-else-if="form.managementMode == 2">招商代理</span>
                    <span v-else-if="form.managementMode == 3">业务服务</span>
                    <span v-else-if="form.managementMode == 4">维修</span>
                    <span v-else-if="form.managementMode == 5">其他</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="加工定制">
                    <span v-if="form.tailorServing == 0">支持</span>
                    <span v-else-if="form.tailorServing == 1">不支持</span>
                    <span v-else>/</span>
                  </el-descriptions-item>
                  <!-- <el-descriptions-item label="主营产品">{{ form.manageGoods }}</el-descriptions-item> -->
                  <el-descriptions-item label="企业网址">
                    <span v-if="form.corporationSite">{{ form.corporationSite }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="我的部门">
                    <span v-if="form.mineBranch">{{ form.mineBranch }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="我的职位">
                    <span v-if="form.minePost">{{ form.minePost }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                </el-descriptions>
                <el-descriptions :column="1">
                  <el-descriptions-item label="企业地址">
                    <span v-if="fullAddress">{{ fullAddress }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="企业介绍" >
                    <span v-if="form.companyProfile">{{ form.companyProfile }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                </el-descriptions>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="经营信息" name="third">
            <div style="width: 100%; display: flex;">
              <div style="width: 15%;">
                <div class="left_box">
                  <!-- 头像 -->
                  <div class="left_box_img">
                    <img src="../../../assets/images/user-img.png" alt="">
                  </div>
                  <!-- 姓名 -->
                  <div class="left_box_name">
                    <span>{{ form.nickname }}</span>
                  </div>
                  <!-- 性别 -->
                  <div class="left_box_name">
                    <span>{{ form.gender ? '女士':'先生' }}</span>
                  </div>
                  <!-- 会员 -->
                  <div class="left_box_vip">
                    <span v-if="form.shopPosition == 1">普通商家</span>
                    <span v-else-if="form.shopPosition == 2">实力商家</span>
                    <span v-else-if="form.shopPosition == 3">超级商家</span>
                    <span v-else> /</span>
                  </div>
                </div>
              </div>
              <div style="width: 85%;">
                <el-descriptions :column="2">
                  <el-descriptions-item label="开店时长">1年</el-descriptions-item>
                  <!-- <el-descriptions-item label="我的职位">{{ form.minePost }}</el-descriptions-item> -->
                  <el-descriptions-item label="采购偏好">电子屏
                  <!-- <span v-for="item,i of form.manageGoods" :key="i">{{ i==0? '':'，' }}{{ item.manageGoods }} </span> -->
                  </el-descriptions-item>
                  <el-descriptions-item label="主营品牌">
                    <div v-if="form.brandIdList">
                      <div v-for="item,i of form.brandIdList" :key="i">
                        <span v-if="item.relatingType == 7">{{ item.brandaName }}</span>
                        <span v-if="item.relatingType == 7 && i != form.brandIdList">，</span>
                      </div>
                    </div>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <!-- <el-descriptions-item label="业务联系手机">{{ form.mobile }}</el-descriptions-item> -->
                  <el-descriptions-item label="业务联系手机">
                    <span v-if="form.mobile">{{ form.mobile }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="业务联系邮箱">
                    <span v-if="form.email">{{ form.email }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                </el-descriptions>
                <el-descriptions :column="1">
                  <el-descriptions-item label="主营类目">
                    <div v-if="form.brandIdList != null && form.brandIdList.length > 0">
                      <span v-for="item of form.brandIdList" :key="item.id">
                        <span v-if="item.relatingType == 4">
                          <span>《</span>
                          <span>{{ item.categoryName }}</span>
                          <span>》</span>
                        </span>
                      </span>
                    </div>
                    <span v-else> /</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="主营产品">
                    <span v-if="form.manageGoods">{{ form.manageGoods }}</span>
                    <span v-else> /</span>
                  </el-descriptions-item>
                </el-descriptions>
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
      <div class="details_box_bg foot_bt_box">
        <el-button @click="detailsBack">返回列表</el-button>
      </div>
    </template>
    </div>
  </div>
</template>

<script>
import {
  listPhShop,
  listPhShopMember,
  getPhShop,
  delPhShop,
  addPhShop,
  updatePhShop,
} from "@/api/background/phShop";
import { listPhCategory } from "@/api/background/phCategory";
import { listPhBranda } from "@/api/background/phBranda";
import { listPhAddress,listPhRegion } from "@/api/background/phAddress";
import { listUser } from "@/api/background/user";

export default {
  name: "PhShop",
  data() {
    return {
      listTyle: 1,
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 店铺表格数据
      phShopList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 日期范围
      dateRange: [],
      // 用户详情展示页
      shopDetailsPop: false,
      // 用户详情头部切换
      activeName: 'first',
      // 查询分类参数
      queryParamsCategory: {
        pageNum: 1,
        pageSize: 10,
        firstCategory: null,
        nthCategory: null,
        imgUrl: null,
        categorySort: null,
        parentId: null,
        productStatus: null,
        screenStatus: null,
        num: null,
        parameterTemplet: null,
        dl: null,
        brandaNum: null,
        applicableNum: null,
      },
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        // part: 1, //1.供应商  2.采购商
        userType: 3, //0所有，1游客，2采购，3供应商
        shopPosition: null,
        userId: null,
        shopType: null,
        motifType: null,
        firmName: null,
        shopImg: null,
        mobile: null,
        mobile: null,
        businessLicence: null,
        // unifyLaicismCode: null,
        // status: null,
        mineBranch: null,
        minePost: null,
        industry: null,
        manageCategoryId: null,
        manageCategory: null,
        manageGoods: null,
        brandId: null,
        intentionLeaning: null,
        cooperationIntention: null,
        tailorServing: null,
        corporateSize: null,
        annualSale: null,
        managementMode: null,
        auditing: null,
        auditingTime: null,
        weChat: null,
        corporationSite: null,
        companyProfile: null,
        readdress: null,
        detail: null,
        // 增加参数
        timeCycle: null, // 时间段筛选
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        // status: [
        //   {
        //     required: true,
        //     message: "三证合一 0-是 1-否不能为空",
        //     trigger: "change",
        //   },
        // ],
        createTime: [
          { required: true, message: "创建时间不能为空", trigger: "blur" },
        ],
        updateTime: [
          { required: true, message: "更新时间不能为空", trigger: "blur" },
        ],
      },
      defaultProps: {
        children: 'phCategoryChildrenList',
        label: 'firstCategory'
      },
      shopTypeOptions: [
        {
          value: 1,
          label: "已开店",
        },
        {
          value: 2,
          label: "未开店",
        },
      ],
      // 品牌多选组件参数
      phBrandaList:[], // 所有品牌列表
      phBrandaArr: [] || null,  //双向数据数组
      phBrandaVisible: false, // 品牌多选弹框
      phBrandaCheckAll: false,
      phBrandaIsIndeterminate: true,
      // 品牌查询参数
      brandaQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组
      categoryIdArr: [], //id数组-双向数据
      // 品牌查询参数
      categoryQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },

      
      // 地址设置表格数据
      phRegionList: [], //全国所有地址列表
      // 接口地址机构
      regionAddress: {
        regionId:[],  //选中省市区街道的ID
        regionList:[], //选中的对象
      },
      fullAddress:'', //完整地址
    };
  },
  created() {
    this.getList();

  },
  methods: {
    /** 查询店铺列表 */
    getList() {
      this.loading = true;
      if(this.listTyle == 1) {
        listUser(this.queryParams).then(
          (response) => {
            this.phShopList = response.rows; //转换注册来源显示内容
            this.total = response.total;
            this.loading = false;
          }
        );
      } else {
        listPhShopMember(this.queryParams).then((response) => {
          for(let item of response.rows) {
            item.blacklist = item.blacklist == 1 ? true : false //判断开关状态
            item.nominate = item.nominate == 1 ? true : false //判断开关状态
            item.transaction = item.transaction == 1 ? true : false //判断开关状态
          }
          this.phShopList = response.rows;
          this.total = response.total;
          setTimeout(() => {
            this.loading = false;
          },300)
        });
        
      }
      // 查询分类列表
      listPhCategory(this.categoryQueryParams).then((response) => {
        this.categoryList = response.rows;
        this.loading = false;
      });
      // 查询品牌列表
      listPhBranda(this.brandaQueryParams).then(res => {
        this.phBrandaList = res.rows;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      // this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        userId: null,
        shopType: null,
        motifType: null,
        firmName: null,
        shopImg: null,
        businessLicence: null,
        // unifyLaicismCode: null,
        // status: null,
        mineBranch: null,
        minePost: null,
        industry: null,
        // manageCategory: null,
        manageGoods: null,
        brandId: null,
        intentionLeaning: null,
        cooperationIntention: null,
        tailorServing: null,
        corporateSize: null,
        annualSale: null,
        managementMode: null,
        auditing: null,
        auditingTime: null,
        weChat: null,
        corporationSite: null,
        companyProfile: null,
        readdress: null,
        detail: null,
        createTime: null,
        updateTime: null,
        timeCycle: null,
      };
      this.phBrandaArr=[],
      this.categoryIdArr=[],
      this.resetForm("form");
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.shopDetailsPop = false;
      this.activeName = 'first';
      this.reset();
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "新增供应商";
    },
    /** 修改/编辑按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids;
      this.open = true;
      getPhShop(id).then((response) => {
        response.data.blacklist = response.data.blacklist == 1 ? true : false;
        response.data.nominate = response.data.nominate == 1 ? true : false;
        response.data.transaction = response.data.transaction == 1 ? true : false;
        response.data.address ? this.regionAddress = JSON.parse(response.data.address) : '' //地址id
        this.form = response.data;
        this.setCategoryId(this.form) //筛选表单中分类ID
        this.title = "编辑";
        // 处理选中品牌数据s
        for(let item of this.form.brandIdList) {
          if(item.relatingType && item.relatingType == 7) {
            const phBrandaItem = this.phBrandaList.find(phBrandaItem => phBrandaItem.id === item.brandaId)
            this.phBrandaArr.push(phBrandaItem)
          }
        }
      });
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      this.shopDetailsPop = true
      const id = row.shopId;
      // const id = row.shopId || row.id;
      // const id = row.id || this.ids;
      getPhShop(id).then((response) => {
        this.form = response.data;
        this.form.address = JSON.parse(response.data.address)
        this.fullAddress = this.setReaddress(this.form.address,this.form.readdress) //拼接省市区加详情地址
        // 查询所有（国-省-市-区）地址数据
        listPhRegion().then(response => {
          this.phRegionList = response.rows;
          this.loading = false;
        });
        // this.form.manageCategory = this.setJson(this.form.manageCategory);
        // this.form.cooperationIntention = JSON.parse(this.form.cooperationIntention); //转换Json格式
      });
    },
    /** 提交按钮 */
    submitForm() {
      const _this = this
      this.form.address = JSON.stringify(this.regionAddress)
      this.$refs["form"].validate((valid) => {
        if (valid) {
          let newPhBrandaArr = this.pingpaiNodes(this.phBrandaArr)
          this.form.brandIdList = [...newPhBrandaArr, ...this.categoryArr]
          this.form.blacklist = this.form.blacklist ?  1 : 0  //判断开关状态
          this.form.nominate = this.form.nominate ?  1 : 0  //判断开关状态
          this.form.transaction = this.form.transaction ?  1 : 0  //判断开关状态
          if (this.form.id != null) {
            updatePhShop(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhShop(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal
        .confirm('是否确认删除店铺编号为"' + ids + '"的数据项？')
        .then(function () {
          return delPhShop(ids);
        })
        .then(() => {
          this.getList();
          this.$modal.msgSuccess("删除成功");
        })
        .catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "background/phShop/export",
        {
          ...this.queryParams,
        },
        `phShop_${new Date().getTime()}.xlsx`
      );
    },

    // 拼接省市区+详细地址
    setReaddress(obj,sta) {
      let newSta = ''
      if(obj != null) {
        for(let item of obj.regionList) {
          newSta += item.district
        }
      } else {
        newSta += sta
      }
      return newSta
    },
    
    // 列表开关回调-是否显示
    switchPublishStatus(id,sta,name) {
      // 查询修改接口
      getPhShop(id).then(response => {
        this.form = response.data;
        if(name == 'blacklist') {
          this.form.blacklist = sta ?  1 : 0  //判断开关状态
        }else if(name == 'nominate') {
          this.form.nominate = sta ?  1 : 0  //判断开关状态
        }else if(name == 'transaction') {
          this.form.transaction = sta ?  1 : 0  //判断开关状态
        }
        // 提交修改接口
        updatePhShop(this.form).then(response => {
          this.$modal.msgSuccess("修改成功");
        });
      });
    },
    // 处理品牌数组结构
    setListDate(arr) {
      let list = arr
      for(let i in list) {
        if(list[i].brandName) {
          let brandaObj =  {
            brandaId: list[i].id,
            brandaName: list[i].brandName,
            relatingType: 1
          }
          list[i] = brandaObj
        }
        if(list[i].sceneName) {
          let appObj =  {
            applicableId: list[i].id,
            applicableName: list[i].sceneName,
            relatingType: 2
          }
          list[i] = appObj
        }
      }
      return list
    },
    // JSON格式转换
    setJson(str) {
      let json = JSON.parse(str)
      return json;
    },
    // 筛选已选择的类目id
    setCategoryId(date) {
      let list = date
      if(list.brandIdList.length > 0) {
        for(let item of list.brandIdList) {
          if(item.relatingType == 4) {
            let uid = Number(item.categoryId)
            this.categoryIdArr.push(uid)
          }
        }
      }
    },
    // 遍历以固定格式插入选中节点-回调
    traverseSelectedNodes(data) {
      let leiMu = this.$refs.leimu.getCheckedNodes() // 获取树状结构选中参数
      let arr = []
      if(leiMu.length != 0) {
        for(let item of leiMu) {
          if(leiMu.length && (item.phCategoryChildrenList == null || item.phCategoryChildrenList.length == 0)) {
            let obj = {
              shopId: this.form.id || null,
              shopName: this.form.firmName || null,
              categoryId : item.id,
              categoryName : item.firstCategory,
              relatingType : 4,
              threeCategoryId : item.threeCategoryId,
              parentId : item.parentId,
              // relatingType = 关联标识 1.分类-品牌  2.分类-应用  3.分类-显示屏 4.分类-店铺  5.分类-商品  6.分类-属性 7.店铺-品牌  8.店铺-应用
            }
            arr.push(obj)
          }
        }
        this.categoryArr = arr
        // 清空数组遍历插入选中分类的ID
        this.categoryIdArr = []
        for(let item of arr) {
          let uid = Number(item.categoryId)
          this.categoryIdArr.push(uid)
        }
      } else {
        this.categoryArr = arr
        this.categoryIdArr = []
      }
    },
    // 品牌选中数组固定结构
    pingpaiNodes() {
      let newList = []
      for(let item of this.phBrandaArr) {
        let obj = {
          shopId: this.form.id || null,
          shopName: this.form.firmName || null,
          brandaId : item.id,
          brandaName : item.brandName,
          relatingType : 7
          // relatingType = 关联标识 1.分类-品牌  2.分类-应用  3.分类-显示屏 4.分类-店铺  5.分类-商品  6.分类-属性 7.店铺-品牌  8.店铺-应用
        }
        newList.push(obj)
      }
      return newList
    },
    // 地址联级选择回调
    addressChange(activeId,date) {
      // 递归
      const getFullOption = (phRegionList, id) => {  
        for (const item of phRegionList) {
          if (item.id === id) {  
            return item;  
          } else if (item.children) {  
            const fullOption = getFullOption(item.children, id);  
            if (fullOption) {  
              return fullOption;  
            }  
          }  
        }
      }
      this.regionAddress.regionList = []
      for(let i in activeId) {
        // 拿到所有选中的地址对象
        let obj = getFullOption(this.phRegionList, activeId[i])
        let newObj = {
          district: obj.district,
          id: obj.id,
          level: obj.level,
        }
        this.regionAddress.regionList.push(newObj)
      }
    },
    // 品牌多选组件事件回调
    pingpaiCheckAllChange(val) {
      this.phBrandaArr = val ? this.phBrandaList : [];
      this.phBrandaIsIndeterminate = false;
    },
    // 品牌多选组件事件回调
    pingpaiCitiesChange(value) {
      let checkedCount = value.length;
      this.phBrandaCheckAll = checkedCount === this.phBrandaList.length;
      this.phBrandaIsIndeterminate = checkedCount > 0 && checkedCount < this.phBrandaList.length;
    },
    // 头部标签状态事件
    setHeadStatus(str) {
      // this.getList();
      this.loading = true
      setTimeout(() =>{
        this.listTyle = str
        this.resetQuery()
      },10)
    }
  },
};
</script>
<style scoped>
/* 品牌修改展示样式 */
.name_box {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 0 5px;
}
.name_item {
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #e9e9e9;
}
/** 用户详情页-👇- */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
}
.left_box {
  width: 90px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}
.left_box div {
  margin-bottom: 5px;
}
.left_box div span {
  line-height: 20px;
}
.left_box_img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}
.left_box_img > img {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #c9c9c9;
}
.left_box_name {
  width: 100%;
}
.left_box_vip {
  padding: 1px 5px;
  margin: 0 auto;
  border-radius: 11px;
  background-color: #666;
  color: #fff;
  font-size: 13px;
}
.foot_bt_box {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
/* 返回标题/按钮 */
.head_bt_back {
  position:absolute;
  left: 40px;
  top: 36px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 编辑按钮 */
.head_bt_edit {
  background-color: #fff;
  position:absolute;
  padding: 0 10px ;
  right: 60px;
  top: 30px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #B1B1B1;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 1999;
}
.head_bt_edit > span {
  line-height: 26px;
}
/** 用户详情页-👆- */
/* 头部标签状态切换栏 👇*/
.head_status_box {
  width: 100%;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}
.head_tag {
  display: inline-block;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: #444;
}
.head_tag > span {
  font-size: 15px;
  letter-spacing:2px;
}
.head_tag_active {
  position: relative;
  color: #FD721D;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.head_tag_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  border-top: 4px solid #FD721D;
}
/* 头部标签状态切换栏 👆*/
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 105px;
  text-align: right;
  display: inline-block;
}
/deep/ .el-tabs__content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
/deep/ .el-tabs__nav-scroll {
  width: 75%;
  min-width: 700px;
  margin: 0 auto;
}
/deep/ .el-descriptions--medium:not(.is-bordered) .el-descriptions-item__cell {
  padding-bottom: 18px
}
</style>
