<!-- 商品列表 -->
<template>
  <div class="app-container">
    <div v-if="!shopDetailsPop">
      <div class="head_status_box">
        <div class="head_tag" :class="queryParams.auditing == 1 ? 'head_tag_active':''" @click="setHeadStatus(1)">
          <span>待审核</span>
        </div>
        <div class="head_tag" :class="queryParams.auditing == 2 ? 'head_tag_active':''" @click="setHeadStatus(2)">
          <span>已通过</span>
        </div>
        <div class="head_tag" :class="queryParams.auditing == 3 ? 'head_tag_active':''" @click="setHeadStatus(3)">
          <span>审核不通过</span>
        </div>
      </div>
      <!-- 筛选 -->
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="88px">
        <el-form-item label="所属分类">
          <!-- <el-cascader v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory',children: 'phCategoryChildrenList',checkStrictly: true }" popper-class="phCategoryChildrenList" :options="categoryList" filterable :show-all-levels="false">
          </el-cascader> -->
          <el-select v-model="categoryIdArr" placeholder="请选择">
            <el-option v-for="item of categoryList" :key="item.id" :value="item.id" :label="item.firstCategory">{{ item.firstCategory }}</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="供应商名称" prop="firmName">
          <el-input
            v-model="queryParams.firmName"
            placeholder="请输入供应商名称"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="手机号" prop="mobile">
          <el-input
            v-model="queryParams.mobile"
            placeholder="请输入手机号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="审核人" prop="auditingPeople">
          <el-input
            v-model="queryParams.auditingPeople"
            placeholder="请输入审核人"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <!-- <el-form-item label="商品品质" prop="productTone">
          <el-select v-model="queryParams.productTone" placeholder="请选择">
            <el-option :key="1" :value="1" label="全新">全新</el-option>
            <el-option :key="2" :value="2" label="A+">A+</el-option>
            <el-option :key="3" :value="3" label="A">A</el-option>
            <el-option :key="4" :value="4" label="A-">A-</el-option>
            <el-option :key="5" :value="5" label="B">B</el-option>
            <el-option :key="6" :value="6" label="B-">B-</el-option>
          </el-select>
        </el-form-item> -->
        <!-- <el-form-item label="商家类型" prop="shopPosition">
          <el-select v-model="queryParams.shopPosition" placeholder="请选择">
            <el-option :key="1" :value="1" label="普通商家">普通商家</el-option>
            <el-option :key="2" :value="2" label="实力商家">实力商家</el-option>
            <el-option :key="3" :value="3" label="超级商家">超级商家</el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <!-- <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phProduct:add']"
          >新增</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:phProduct:remove']"
          >删除</el-button>
        </el-col> -->
        <el-col :span="1.5" v-if="queryParams.auditing == 1">
          <el-button
            type="success"
            plain
            icon="el-icon-check"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:phProduct:remove']"
          >批量审核通过</el-button>
          <!-- handAuditing(scope.row.id, 1) -->
        </el-col>
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phProduct:export']"
          >导出</el-button>
        </el-col>
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>
      <!--  -->
      <el-table v-loading="loading" :data="phProductList" @selection-change="handleSelectionChange">
        <el-table-column v-if="queryParams.auditing == 1" type="selection" width="55" align="center" />
        <el-table-column label="供应商" align="center">
          <template slot-scope="scope">
            <p style="margin: 0">{{ scope.row.firmName }}</p>
            <p style="margin: 0;color:#666">{{ scope.row.mobile }}</p>
          </template>
        </el-table-column>
        <el-table-column label="商品名称" align="center" >
          <template slot-scope="scope">
            <p style="margin: 0">{{ scope.row.productName }}</p>
          </template>
        </el-table-column>
        <el-table-column label="商品图片" align="center" prop="productImg">
          <!-- <image-preview src="http://43.138.142.219:9300/statics/2023/12/09/222_20231209150625A017.jpg" :width="40" :height="40"/> -->
          <image-preview :src="form.productImg" :width="40" :height="40"/>
        </el-table-column>
        <el-table-column label="优惠价(元)" align="center" prop="favorablePrice" />
        <el-table-column label="价格(元)" align="center" prop="productPrice" sortable/>
        <el-table-column label="库存数量" align="center" prop="stockpile" width="100px" sortable/>
        <el-table-column label="发布时间" align="center" prop="createTime" />
        <el-table-column label="有效时间" align="center" prop="exceedTimeLimit" />
        <el-table-column label="审核人" align="center" prop="auditingPeople" />
        <el-table-column label="审核状态" align="center" prop="auditing" >
          <template slot-scope="scope">
            <span v-if="scope.row.auditing == 1" style="color:red">待审核</span>
            <span v-if="scope.row.auditing == 2">已通过</span>
            <span v-if="scope.row.auditing == 3">未通过</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width" style="min-width:100px" fixed="right" width="90px">
          <template slot-scope="scope">
            <div>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-tickets"
                @click="handDetails(scope.row)"
                v-hasPermi="['background:user:remove']"
                >查看</el-button>
            </div>
            <!-- <div v-if="scope.row.auditing == 1">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-tickets"
                @click="handAuditing(scope.row.id, 2)"
                v-hasPermi="['background:user:remove']"
                >通过</el-button>
            </div>
            <div v-if="scope.row.auditing == 1">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-tickets"
                @click="handAuditing(scope.row.id, 3)"
                v-hasPermi="['background:user:remove']"
                >拒绝</el-button>
            </div> -->
            <!-- <div v-if="scope.row.auditing != 1"> -->
            <div>
              <el-button
                slot="reference"
                size="mini"
                type="text"
                icon="el-icon-tickets"
                @click="lookAuditDiary(scope.row)"
                v-hasPermi="['background:user:remove']"
                >审核日志</el-button>
            </div>
            <div v-if="scope.row.auditing != 3">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-tickets"
                @click="savePictures(scope.row)"
                v-hasPermi="['background:user:remove']"
                >收录图片</el-button>
            </div>
          </template>
        </el-table-column>
      </el-table>
      
      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>

    <!-- 添加或修改商品对话框 -->
    <!-- <el-dialog :title="title" :visible.sync="open" width="700px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="150px">
        <el-row>
          <el-col :span="20">
            <el-form-item label="所属分类">
              <el-cascader style="width: 345px;" v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory',children: 'phCategoryChildrenList',checkStrictly: true }" popper-class="phCategoryChildrenList" :options="categoryList" filterable :show-all-levels="false">
              </el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="所属品牌">
              <el-select style="width: 345px;" v-model="phBrandaIdArr" placeholder="请选择">
                <el-option  
                  v-for="item in phBrandaList"  
                  :key="item.id"  
                  :label="item.brandName"  
                  :value="item.brandName">  
                </el-option> 
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="商品标题" prop="productName">
              <el-input v-model="form.productName" placeholder="请输入商品标题" />
            </el-form-item>
          </el-col>
          <el-col :span="18">
            <el-form-item label="排序" prop="sort">
              <el-input v-model="form.sort" placeholder="请输入排序序号" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog> -->
    <!-- 审核拒绝对话框 -->
    <el-dialog title="审核不通过" :visible.sync="noAuditPop" width="600px" :close-on-click-modal="false" append-to-body>
      <el-form :rules="rules" label-width="100px">
        <el-row>
          <span>请选择不通过原因</span>
          <el-col :span="24">
            <el-checkbox-group v-model="noAuditActive" style="margin: 15px 0">
              <el-checkbox v-for="city in noAuditReason" :label="city" :key="city" style="margin: 10px; width: 100%;">{{city}}</el-checkbox>
            </el-checkbox-group>
          </el-col>
          <el-col :span="24">
            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入不通过原因"
              v-model="noAuditText">
            </el-input>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitAuditing">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 审核日志 -->
    <el-dialog title="审核日志" :visible.sync="auditDiaryPop" width="750px" :close-on-click-modal="true" append-to-body>
      <el-form :rules="rules" label-width="100px">
        <el-table :data="form.auditingList" centent>
          <el-table-column type="index" width="50"  label="序号" />
          <el-table-column align="center" width="100" property="name" label="申请进度">
            <template slot-scope="scope">
              <span v-if="scope.row.auditing == 1">提交申请</span>
              <span v-if="scope.row.auditing != 1">平台审核</span>
            </template>
          </el-table-column>
          <el-table-column align="center" width="100" property="auditingPeople" label="审核人"></el-table-column>
          <el-table-column align="center" width="150" property="auditingTime" label="操作时间"></el-table-column>
          <el-table-column align="center" width="250" property="auditing" label="操作内容">
            <template slot-scope="scope">
              <span v-if="scope.row.auditing == 1">您提交了商品信息审核</span>
              <span v-if="scope.row.auditing == 2">您的商品信息已通过审核</span>
              <span v-if="scope.row.auditing == 3">您的商品信息未通过审核</span>
            </template>
          </el-table-column>
        </el-table>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitAuditing">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 收录图片 -->
    <el-dialog title="收录图片" :visible.sync="savePicturesPop" width="780px" :close-on-click-modal="true" append-to-body>
      <el-form :rules="rules" label-width="100px">
        <el-descriptions :column="1">
          <!-- <el-descriptions-item label="产品分类">
            <div v-for="item,i of form.categoryList" :key="i">
              <span v-if="item.relatingType == 5">"{{ item.categoryName }}" </span>
            </div>
          </el-descriptions-item> -->
          <el-descriptions-item label="商品名称">{{ imgform.productName }}</el-descriptions-item>
          <el-descriptions-item label="已有图片">
            <div style="width: 100%;">
              <div class="image_cade" v-for="item,i of phImageArr" :key="i">
                <el-image 
                style="width: 100px; height: 100px"
                :src="item" 
                :preview-src-list="phImageArr">
                </el-image>
                <i class="el-icon-error image_icon image_del" @click="delImg(i)"></i>
              </div>
            </div>
          </el-descriptions-item>
          <el-descriptions-item>
              <el-divider></el-divider>  <!-- 分割线 -->
          </el-descriptions-item>
          <el-descriptions-item label="产品图片">
            <div style="width: 100%;">
              <div class="image_cade" v-for="item,i of imgform.imageUrl" :key="i">
                <el-image 
                style="width: 100px; height: 100px"
                :src="item" 
                :preview-src-list="imgform.imageUrl">
                </el-image>
                <i class="el-icon-circle-plus image_icon" @click="addImg(i)"></i>
              </div>
            </div>
          </el-descriptions-item>
          <el-descriptions-item label="产品名称">
            {{ imgform.goodsName }}
            <!-- <el-input></el-input> -->
          </el-descriptions-item>
        </el-descriptions>
        <!-- <el-table :data="form.auditingList" centent>
          <el-table-column type="index" width="50"  label="序号" />
          <el-table-column align="center" width="100" property="name" label="申请进度">
            <template slot-scope="scope">
              <span v-if="scope.row.auditing == 1">提交申请</span>
              <span v-if="scope.row.auditing != 1">平台审核</span>
            </template>
          </el-table-column>
          <el-table-column align="center" width="100" property="auditingPeople" label="操作人"></el-table-column>
          <el-table-column align="center" width="150" property="auditingTime" label="操作时间"></el-table-column>
          <el-table-column align="center" width="250" property="auditing" label="操作内容">
            <template slot-scope="scope">
              <span v-if="scope.row.auditing == 1">您提交了商品信息审核</span>
              <span v-if="scope.row.auditing == 2">您的商品信息已通过审核</span>
              <span v-if="scope.row.auditing == 3">您的商品信息未通过审核</span>
            </template>
          </el-table-column>
        </el-table> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitPictures" style="margin: 0 10px;">确 认 收 录</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 详情 -->
    <div v-if="shopDetailsPop">
      <!-- 返回/标题 -->
      <div class="head_bt_back" @click="detailsBack">
        <img src="../../../assets/icons/返回.png" alt="">
        <span>现货详情</span>
      </div>
      <div style="position: absolute; top: 30px;left: 0; width: 100%;">
        <el-divider></el-divider>  <!-- 分割线 -->
      </div>
      <!-- 详情内容 -->
      <template>
        <div class="details_box_bg">
          <div class="details_box">
            <div class="details_head_box">
              <el-row style="position: relative;">
                <el-col :span="12">
                  <el-descriptions :column="1">
                    <el-descriptions-item label="审核状态">
                      <span style="color: #FD721D;font-weight: bold;font-size: 15px;" v-if="form.auditing == 1">待审核</span>
                      <span style="color: #FD721D;font-weight: bold;font-size: 15px;" v-if="form.auditing == 2">已通过</span>
                      <span style="color: #FD721D;font-weight: bold;font-size: 15px;" v-if="form.auditing == 3">审核未通过</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="现货编号">{{ form.productCode }}</el-descriptions-item>
                    <el-descriptions-item label="现货发布时间">{{ form.createTime }}</el-descriptions-item>
                    <el-descriptions-item label="现货截止时间">{{ form.exceedTimeLimit }}</el-descriptions-item>
                  </el-descriptions>
                  <div style="position: absolute;left: 47%;top: 5px ;border: 1px solid #e9e9e9; height: 105%;"></div> <!-- 分割线 -->
                </el-col>
                <el-col :span="12">
                  <div style="display: flex;">
                    <div style="width: 50%;">
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;color: #666;">供应商</p>
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;">{{ form.firmName }}</p>
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;">{{ form.mobile }}</p>
                    </div>
                    <!-- <image-preview :src="form.shopImg" :width="100" :height="100"/> -->
                    <image-preview :src="form.shopImg" :width="100" :height="100" style="margin-right: 15px;"/>
                  </div>
                </el-col>
              </el-row>
              <p style="font-weight: bold;">现货商品</p>
              <el-descriptions :column="1">
                <el-descriptions-item label="商品名称">{{ form.productName }}</el-descriptions-item>
                <el-descriptions-item label="产品品牌">
                  <span v-for="item,i of form.categoryList" :key="i">
                    <span v-if="item.relatingType == 9">{{item.brandaName}}</span>
                  </span>
                </el-descriptions-item>
                <el-descriptions-item label="产品分类">
                  <span v-for="item,i of form.categoryList" :key="i">
                    <span v-if="item.relatingType == 5">{{item.categoryName}}</span>
                  </span>
                </el-descriptions-item>
                <!-- <el-descriptions-item label="商品标题">{{ form.productName }}</el-descriptions-item> -->
                <el-descriptions-item label="商品图片">
                  <div>
                    <image-preview v-for="item of form.imageUrl" :key="item" :src="item" :width="100" :height="100" style="margin-right: 15px;"/>
                  </div>
                </el-descriptions-item>
                <el-descriptions-item label="产品文档">
                  <span>{{ form.documentUrlName }}</span>
                  <br>
                  <a style="margin-left: 20px; color: blue;" @click="previewFile(form.documentUrl)">预览</a>
                  <a style="margin-left: 10px; color: blue;" @click="downloadFile(form.documentUrl)">下载</a>
                </el-descriptions-item>
              </el-descriptions>
              <el-divider></el-divider>  <!-- 分割线 -->
              <p style="font-weight: bold;">价格库存</p>
              <el-descriptions :column="1">
                <el-descriptions-item label="库存数量">{{ form.stockpile }}</el-descriptions-item>
                <el-descriptions-item label="商品价格(元)">
                  <span v-if="form.productPrice == null">无</span>
                  <span v-else style="color: #FD721D;font-weight: bold;font-size: 15px;">
                    {{ form.productPrice }}
                  </span>
                </el-descriptions-item>
                <el-descriptions-item label="优惠价(元)">{{ form.favorablePrice }}</el-descriptions-item>
                <el-descriptions-item label="产品品质">
                  <span v-if="form.productTone == 1">全新</span>
                  <span v-if="form.productTone == 2">A+</span>
                  <span v-if="form.productTone == 3">A</span>
                  <span v-if="form.productTone == 4">A-</span>
                  <span v-if="form.productTone == 5">B</span>
                  <span v-if="form.productTone == 6">B-</span>
                </el-descriptions-item>
              </el-descriptions>
              <el-divider></el-divider>  <!-- 分割线 -->
              <p style="font-weight: bold;">服务与承诺</p>
              <el-descriptions :column="1">
                <!-- <el-descriptions-item label="发货地址">{{ form.address }}</el-descriptions-item> -->
                <el-descriptions-item label="发货时间">
                  <span v-if="form.dispatchTime == 1">当日发</span>
                  <span v-if="form.dispatchTime == 2">24小时发货</span>
                  <span v-if="form.dispatchTime == 3">48小时发货</span>
                  <span v-if="form.dispatchTime == 4">72小时发货</span>
                  <span v-if="form.dispatchTime == 5">4天发货</span>
                  <span v-if="form.dispatchTime == 6">6天发货</span>
                  <span v-if="form.dispatchTime == 7">7天发货</span>
                  <span v-if="form.dispatchTime == 8">10天发货</span>
                </el-descriptions-item>
                <!-- <el-descriptions-item label="运费设置">
                  <span v-if="form.fare == 1">包邮</span>
                  <span v-if="form.fare == 2">买家承担</span>
                  <span v-if="form.fare == 3">协商</span>
                </el-descriptions-item> -->
                <el-descriptions-item label="质保政策">
                  <span v-if="form.qualityGuarantee == 1">无质保</span>
                  <span v-if="form.qualityGuarantee == 2">1周质保</span>
                  <span v-if="form.qualityGuarantee == 3">1个月质保</span>
                  <span v-if="form.qualityGuarantee == 4">3个月质保</span>
                  <span v-if="form.qualityGuarantee == 5">6个月质保</span>
                  <span v-if="form.qualityGuarantee == 6">1年质保</span>
                  <span v-if="form.qualityGuarantee == 7">2年质保</span>
                  <span v-if="form.qualityGuarantee == 8">3年质保</span>
                </el-descriptions-item>
              </el-descriptions>
            </div>
          </div>
        </div>
        <div class="details_box_bg foot_bt_box">
          <el-button v-if="form.auditing == 1" @click="handAuditing(form.id, 2)" type="primary" > 审核通过</el-button>
          <el-button v-if="form.auditing == 1" @click="handAuditing(form.id, 3)"  style="margin-left:20px;">审核不通过</el-button>
          <el-button class="foot_bt_fh" @click="detailsBack" icon="el-icon-arrow-left">返回列表</el-button>
        </div>
      </template>
    </div>
    <!-- 文件预览对话框 -->
    <el-dialog title="文件预览" :visible.sync="previewPop" width="1000px" append-to-body>
      <iframe :src="previewUrl" style="width: 100%;height: 600px;"></iframe>
    </el-dialog>
  </div>
</template>

<script>
import { listPhProduct, getPhProduct, batchAuditing } from "@/api/background/phProduct";
import { listPhCategory } from "@/api/background/phCategory";
import { listPhBranda } from "@/api/background/phBranda";
import { getAuditing } from "@/api/background/phShop";
import { phImageImg, updatePhImage } from "@/api/background/phImage";//图片管理

export default {
  name: "PhProduct",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 商品表格数据
      phProductList: [],
      // 日期范围
      dateRange: [],
      // 用户详情展示页
      shopDetailsPop: false,
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        auditing: 1,
        productStyle: 1, // 1现货，2商品
        productCode: null,
        productName: null,
        productImg: null,
        productPrice: null,
        // productTypeId: null,
        popularity: null,
        productSales: null,
        stockpile: null,
        recentStock: null,
        recentQuote: null,
        cooperation: null,
        productBrand: null,
        productTone: null,
        productDocument: null,
        relatingProduct: null,
        publishStatus: null,
        intervalQuote: null,
        haveSample: null,
        beginSubscriber: null,
        parentId: null, //分类id
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        // specificationsId: [
        //   { required: true, message: "规格ID不能为空", trigger: "blur" }
        // ],
      },
      // 品牌多选组件参数
      phBrandaList:[], // 所有品牌列表
      phBrandaArr: [] || null,  //双向数据数组
      phBrandaIdArr: [] || null,  //选中数据数组
      // 品牌查询参数
      brandaQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组
      categoryIdArr: [], //id数组-双向数据
      // 分类查询参数
      categoryQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },

      auditId: null, // 审核id
      auditAuditing: 1, // 审核状态 1通过 / 2拒绝
      noAuditPop: false, // 审核拒绝弹窗
      noAuditText: '', //原因内容
      noAuditActive: [], //选中原因
      noAuditReason: ['图片不符合，请删除公司名称，LOGO，网址，电话，QQ等其他信息','图片质量不清晰'], //原因概括

      auditDiaryPop: false, //日志弹窗

      imgform:[], //图片详情表单
      savePicturesPop: false, //收录图片弹窗
      phImageArr:[],  //型号图片库数组

      previewPop: false,  //预览弹窗
      previewUrl: '', //预览URL
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询商品列表 */
    getList() {
      this.loading = true;
      listPhProduct(this.queryParams).then(response => {
        this.phProductList = response.rows;
        for(let item of this.phProductList) {
          item.unshroud = item.unshroud == 1 ? true:false;
          item.nominate = item.nominate == 1 ? true:false;
          item.transaction = item.transaction == 1 ? true:false;
        }
        this.total = response.total;
        this.loading = false;
      });
      // 查询分类列表
      listPhCategory(this.categoryQueryParams).then((response) => {
        // console.log('查询分类',response.rows);
        this.categoryList = this.newCategoryList(response.rows);
        // this.categoryList = response.rows;
        this.loading = false;
      });
      // 查询品牌列表
      listPhBranda(this.brandaQueryParams).then(res => {
        // console.log('查询品牌',res.rows)
        this.phBrandaList = res.rows;
        // this.phBrandaList = this.newBrandaList(res.rows);
      });
    },
    // 分类结构处理
    newCategoryList(list) {
      let newList = list
      for(let i = 0;i < newList.length; i++) {
        if(newList[i].parentId != 0){
          newList.splice(i,1)
          i--
        }
      }
      return newList
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.noAuditPop = false, // 审核拒绝弹窗
      this.auditDiaryPop = false;
      this.savePicturesPop = false;
      // this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        productCode: null,
        productName: null,
        productImg: null,
        productPrice: null,
        // productTypeId: null,
        popularity: null,
        productSales: null,
        stockpile: null,
        recentStock: null,
        recentQuote: null,
        cooperation: null,
        productBrand: null,
        productTone: null,
        productDocument: null,
        relatingProduct: null,
        publishStatus: null,
        intervalQuote: null,
        haveSample: null,
        beginSubscriber: null,
        createTime: null,
        updateTime: null,
        parentId: null, //存放分类id
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      // console.log(this.queryParams.auditing)
      let curAuditing = this.queryParams.auditing
      if(this.categoryIdArr > 0) {
        this.queryParams.auditing = curAuditing
        // this.queryParams.parentId = this.categoryIdArr[this.categoryIdArr.length -1]
        this.queryParams.parentId = this.categoryIdArr
        this.queryParams.relatingType = 5
      } else {
        this.queryParams.parentId = null
        this.queryParams.relatingType = null
      }
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      let curAuditing = this.queryParams.auditing
      this.queryParams.auditing = curAuditing
      this.categoryIdArr = []
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 批量审核操作 */
    handleDelete(row) {
      const ids = this.ids;
      this.$modal.confirm('是否确认将选中的商品批量审核通过？').then(function() {
        const type = 2  //1.店铺 2.现货 3.文档 4.品牌 5.商品
        return batchAuditing(ids,type);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("批量审核成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phProduct/export', {
        ...this.queryParams
      }, `phProduct_${new Date().getTime()}.xlsx`)
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      this.shopDetailsPop = true
      const id = row.id || this.ids;
      getPhProduct(id).then((response) => {
        this.form = response.data;
        if(this.form.imageUrl) {
          this.form.imageUrl = this.form.imageUrl.split(","); //字符串转数组-商品详情图
        }
        let newAddress = ''
        let bojAddress = JSON.parse(this.form.address)
        if(bojAddress) {
          for(let i in bojAddress.regionList) {
            newAddress += bojAddress.regionList[i].district
            if( i < (bojAddress.regionList.length - 1) ) {
              newAddress += '-'
            }
          }
        }
        this.form.address = newAddress
        if(this.form.productImg) {
          this.form.productImg = this.form.productImg.split(',')
        }
        if(this.form.documentUrl) {
          let lastIndex = this.form.documentUrl.lastIndexOf('/');  
          this.form.documentUrlName = this.form.documentUrl.substring(lastIndex + 1); 
        }
      });
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.shopDetailsPop = false;
      this.reset();
    },
    // 审核日志
    lookAuditDiary(row) {
      this.reset();
      this.auditDiaryPop = true
      const id = row.id || this.ids;
      getPhProduct(id).then((response) => {
        this.form = response.data;
      });
    },
    // 收录图片
    savePictures(row) {
      this.form.id = row.id
      this.loading = true;
      this.savePicturesPop = true
      let queryDate = {
        id: row.id,
        imageType:1,
        relatingType:2, //关联类型 1.店铺 2.商品 3.型号
      }
      // 查询图片详情
      phImageImg(queryDate).then((response) => {
        this.loading = false;
        this.imgform = response.data;
        if(this.imgform.imageUrl) {
          this.imgform.imageUrl = this.imgform.imageUrl.split(","); //字符串转数组-商品详情图
        }
        if(this.imgform.modelImageUrl) {
          this.phImageArr = this.imgform.modelImageUrl.split(","); //字符串转数组-型号图库
        }
      });
    },
    // 删除图片
    delImg(index) {
      this.$confirm('此操作将永久删除该图片, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.phImageArr.splice(index,1);
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
    },
    // 添加图片
    addImg(index) {
      this.phImageArr.push(this.imgform.imageUrl[index]);
    },
    // 保存收录图片
    submitPictures() {
      this.loading = true;
      let date = {
        productId: this.form.id,
        imageUrl: String(this.phImageArr),
        imageType:3,
        relatingType:3,
      }
      updatePhImage(date).then(response => {
        this.savePicturesPop = false;
        this.loading = false;
        this.phImageArr = [];
        this.$message({
          type: 'success',
          message: '保存成功!'
        });
      });
    },
    // 下载文档
    downloadFile(url){
      let lastIndex = url.lastIndexOf('/');  
      let urlName = url.substring(lastIndex + 1); 
      // 创建一个Blob对象  
      const blob = new Blob([url], { type: 'text/plain' });  
      // 创建一个可下载的URL  
      const downloadUrl = URL.createObjectURL(blob);  
      // 创建一个a标签，并设置href为URL，模拟点击下载  
      const link = document.createElement('a');  
      link.href = downloadUrl;  
      link.download = urlName; // 设置下载文件的文件名 
      link.click();  
      // 释放URL对象  
      URL.revokeObjectURL(downloadUrl);  
    },
    // 浏览文件
    previewFile(url) {
      this.previewPop = true
      this.previewUrl = url
    },
    // 审核判断
    handAuditing(id,sta) {
      const _this = this
      this.auditId = id
      this.auditAuditing = sta
      if(sta == 2) {
        this.$modal
        .confirm('确认该商品审核通过')
        .then(function () {
          _this.submitAuditing();
          return
        })
        .catch(() => {});
      } else if(sta == 3) {
        this.noAuditPop = true
      }
    },
    // 审核接口
    submitAuditing() {
      let data = {
        id: this.form.auditingList[0].id,
        relatingId: this.form.auditingList[0].relatingId,
        auditing: this.auditAuditing,
        content : this.contentSplice(),
        type: this.form.auditingList[0].type
      }
      if(data.auditing == 2) {
        getAuditing(data).then((response) => {
          this.$modal.msgSuccess("审核成功");
          this.getList();
          this.shopDetailsPop = false // 关闭详情页
        });
      } else if(data.auditing == 3) {
        if(this.noAuditActive.length == 0 && this.noAuditText.length == 0) {
          return this.$message.error('请选择拒绝原因');
        }
        getAuditing(data).then((response) => {
          this.$modal.msgSuccess("审核已拒绝");
          this.noAuditPop = false; //关闭拒绝原因弹窗
          this.shopDetailsPop = false // 关闭详情页
          this.getList();
        });
      } else if(data.auditing == 1) {
        getAuditing(data).then((response) => {
          this.$modal.msgSuccess("成功移入待审核");
          this.noAuditPop = false; //关闭拒绝原因弹窗
          this.shopDetailsPop = false // 关闭详情页
          this.getList();
        });
      }
    },
    // 拼接失败原因
    contentSplice() {
      let str = ''
      for(let i in this.noAuditActive) {
        i > 0 ? str += ',' : null
        str += this.noAuditActive[i]
      }
      this.noAuditText.length > 1 ? str += (',' + this.noAuditText) : null
      return str
    },
    // 头部标签状态事件
    setHeadStatus(str) {
      this.queryParams.auditing = str
      this.queryParams.pageNum = 1;
      // this.getList();
      this.resetQuery()
    }
  }
};
</script>
<style scoped>
/* 用户详情样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 3px;
}
.details_box_bg .details_head_box {
  max-width: 1000px;
  /* display: flex; */
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}
/* 头部标题 */
.left_box_title {
  position:absolute;
  font-size: 15px;
  font-weight: bold;
  left: 0;
  top: 15px;
}
/* 底部按钮 */
.foot_bt_box {
  width: 100%;
  min-height: 100px;
  text-align: center;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}
.foot_bt_box .foot_bt_fh {
  color: #0093E6;
  position: absolute;
  left: 20px;
  border: 0;
}
/* 返回/标题 */
.head_bt_back {
  position:absolute;
  left: 40px;
  top: 15px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 头部标签状态切换栏 👇*/
.head_status_box {
  width: 100%;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}
.head_tag {
  display: inline-block;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: #444;
}
.head_tag > span {
  font-size: 15px;
  letter-spacing:2px;
}
.head_tag_active {
  position: relative;
  color: #FD721D;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.head_tag_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  border-top: 4px solid #FD721D;
}
/* 头部标签状态切换栏 👆*/

/* 分隔线 */
.separation {
  width: 100%;
  border: 1px solid #d9d9d9;
}
/* 收录图片关闭按钮 */
.image_cade {
  width: 100px;
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.image_cade .image_icon {
  position: absolute;
  top: -3px;
  right: 0;
  width: 15px;
  height: 15px;
  color: #13CE66;
  font-size: 20px;
  background-color: #F6F6F6;
  cursor: pointer;
  transition: 0.2s ease-in-out; /* 添加过渡效果 */ 
}
.image_cade .image_del {
  color: red;
}
.image_cade .image_icon:hover{
  display: block;
  transform: scale(1.1);
}
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 90px;
  text-align: right;
  display: inline-block;
}
/deep/ .el-descriptions__body {
  background-color: transparent;
}
/deep/ .el-descriptions--medium:not(.is-bordered) .el-descriptions-item__cell {
  padding-bottom: 18px
}
</style>
