
<!-- 店铺审核 -->
<template>
  <div class="app-container" :class="shopDetailsPop ? 'details_bg':''">
    <div v-if="!shopDetailsPop">
      <el-form
        :model="queryParams"
        ref="queryForm"
        size="small"
        :inline="true"
        v-show="showSearch"
        label-width="68px"
      >
        <el-form-item label="企业名称" prop="firmName">
          <el-input
            v-model="queryParams.firmName"
            placeholder="请输入企业名称"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="联系人" prop="shopkeeperName">
          <el-input
            v-model="queryParams.shopkeeperName"
            placeholder="请输入联系人"
            clearable
            @keyup.enter.native="shopkeeperName"
          />
        </el-form-item>
        <el-form-item label="手机号" prop="mobile">
          <el-input
            v-model="queryParams.mobile"
            placeholder="请输入手机号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="审核人" prop="auditingPeople">
          <el-input
            v-model="queryParams.auditingPeople"
            placeholder="请输入审核人"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="企业类型" prop="motifType">
          <el-select v-model="queryParams.motifType" placeholder="请选择">
            <el-option :key="1" :value="1" label="工商企业">工商企业</el-option>
            <el-option :key="2" :value="2" label="个体">个体</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="审核" prop="auditing">
          <el-select v-model="queryParams.auditing" placeholder="请选择">
            <el-option :key="1" :value="1" label="待审核">待审核</el-option>
            <el-option :key="2" :value="2" label="已通过">已通过</el-option>
            <el-option :key="3" :value="3" label="未通过">未通过</el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery" >搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phShop:export']"
            >导出</el-button
          >
        </el-col>
        <right-toolbar
          :showSearch.sync="showSearch"
          @queryTable="getList"
        ></right-toolbar>
      </el-row>
  
      <el-table
        v-loading="loading"
        :data="phShopList"
        @selection-change="handleSelectionChange"
      >
        <el-table-column label="企业名称" align="center" prop="firmName"/>
        <el-table-column label="联系人" align="center" prop="shopkeeperName" />
        <el-table-column label="手机号" align="center" prop="mobile" />
        <el-table-column label="营业执照" align="center" prop="businessLicence" >
          <template slot-scope="scope">
            <image-preview v-if="scope.row.businessLicence" :src="scope.row.businessLicence" :width="50" :height="35"/>
          </template>
        </el-table-column>
        <el-table-column label="企业类型" align="center" prop="motifType">
          <template slot-scope="scope">
            <span v-if="scope.row.motifType == 1">工商企业</span>
            <span v-if="scope.row.motifType == 2">个体</span>
          </template>
        </el-table-column>
        <el-table-column label="审核人" align="center" prop="auditingPeople">
        </el-table-column>
        <el-table-column label="审核状态" align="center" prop="auditing" >
          <template slot-scope="scope">
            <span v-if="scope.row.auditing == 1">待审核</span>
            <span v-if="scope.row.auditing == 2">已通过</span>
            <span v-if="scope.row.auditing == 3">已拒绝</span>
          </template>
        </el-table-column>
        <el-table-column label="申请时间" align="center" prop="createTime" />
        <el-table-column
          fixed="right"
          label="操作"
          align="center"
          class-name="small-padding fixed-width"
          width="90px"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >详情</el-button>
            <el-button
              v-if="scope.row.auditing == 1"
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handAuditing(scope.row.id, 2)"
              v-hasPermi="['background:user:remove']"
              >通过</el-button>
            <el-button
              v-if="scope.row.auditing == 1"
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handAuditing(scope.row.id, 3)"
              v-hasPermi="['background:user:remove']"
              >拒绝</el-button>
          </template>
        </el-table-column>
      </el-table>
  
      <pagination
        v-show="total > 0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>
    <!-- 审核拒绝对话框 -->
    <el-dialog title="审核不通过" :visible.sync="noAuditPop" width="600px" :close-on-click-modal="false" append-to-body>
      <el-form :rules="rules" label-width="100px">
        <el-row>
          <span>请选择不通过原因</span>
          <el-col :span="24">
            <el-checkbox-group v-model="noAuditActive" style="margin: 15px 0">
              <el-checkbox v-for="city in noAuditReason" :label="city" :key="city" style="margin: 10px; width: 45%;">{{city}}</el-checkbox>
            </el-checkbox-group>
          </el-col>
          <el-col :span="24">
            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入不通过原因"
              v-model="noAuditText">
            </el-input>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitAuditing" style="margin: 0 10px;">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 详情 -->
    <div v-if="shopDetailsPop">
      <!-- 返回/标题 -->
      <div class="head_bt_back" @click="detailsBack">
        <img src="../../../assets/icons/返回.png" alt="">
        <span>供应商详情</span>
      </div>
      <!-- 编辑按钮 -->
      <div class="head_bt_edit">
        <span v-if="form.auditing == 1">待审核</span>
        <span v-if="form.auditing == 2" style="color: #00B432;">已通过</span>
        <span v-if="form.auditing == 3">未通过</span>
      </div>
      <!-- 详情内容 -->
      <template>
        <div class="details_box_bg">
        <div class="details_box">
          <div class="details_head_box">
            <div class="left_box_title">申请信息</div>
            <div class="left_box">
              <!-- 信息标题 -->
              <el-descriptions :column="1">
                  <!-- <el-descriptions-item label="店铺ID">{{ form.id }}</el-descriptions-item> -->
                  <el-descriptions-item label="联系人">{{ form.shopkeeperName }}</el-descriptions-item>
                  <el-descriptions-item label="注册手机">{{ form.mobile }}</el-descriptions-item>
                  <el-descriptions-item label="主营类目">
                    <span v-for="item,i of form.manageCategory" :key="i">
                      <span v-if="i > 0">,</span>
                      <span>{{ item.cooperationIntention }}</span>
                    </span>
                  </el-descriptions-item>
                  <el-descriptions-item label="企业名称">{{ form.firmName }}</el-descriptions-item>
                  <el-descriptions-item label="企业地址">{{ form.readdress }}</el-descriptions-item>
                  <el-descriptions-item label="申请时间">{{ form.createTime }}</el-descriptions-item>
                  <el-descriptions-item label="店铺介绍">{{ form.companyProfile }}</el-descriptions-item>
              </el-descriptions>
            </div>
            <div class="right_box">
              <div class="right_box_img">
                <image-preview :src="form.businessLicence" :width="400" :height="240"/>
                <p>营业执照</p>
              </div>
            </div>
          </div>
          <div class="details_centent_box">
          </div>
        </div>
        </div>
        <!-- 审核信息 -->
        <div class="details_box_bg" v-if="form.auditingList&&form.auditingList.length">
        <div class="details_box">
          <div class="details_head_box">
            <div>
              <!-- 信息标题 -->
              <div class="left_box_title">审核记录</div>
              <div style="width: 100%;" v-for="item,i of form.auditingList" :key="i">
                <!-- 分割线 -->
                <div class="separation" v-if="i > 0"></div>
                <el-descriptions :column="2">
                    <el-descriptions-item label="审核人">{{ item.auditingPeople }}</el-descriptions-item>
                    <el-descriptions-item label="审核状态">
                    <span v-if="item.auditing == 1">待审核</span>
                    <span v-if="item.auditing == 2">审核通过</span>
                    <span v-if="item.auditing == 3">审核不通过</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="审核时间">{{ item.auditingTime }}</el-descriptions-item>
                    <el-descriptions-item v-if="item.auditing == 3" label="不通过原因" :contentStyle="{'color':'red'}">{{ item.content }}</el-descriptions-item>
                </el-descriptions>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="details_box_bg foot_bt_box">
          <el-button v-if="form.auditing == 1" @click="handAuditing(form.id, 2)" type="primary" >审核通过</el-button>
          <el-button v-if="form.auditing == 1" @click="handAuditing(form.id, 3)" style="margin-left:20px;">审核不通过</el-button>
          <!-- <el-button v-if="form.auditing != 1" @click="handAuditing(form.id, 1)">移入待审核</el-button> -->
          <el-button class="foot_bt_fh" @click="detailsBack" icon="el-icon-arrow-left">返回列表</el-button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import {
  listPhShop,
  getPhShop,
  delPhShop,
  addPhShop,
  updatePhShop,
  getAuditing,
} from "@/api/background/phShop";
// import { listPhCategory } from "@/api/background/phCategory";
// import { listPhBranda } from "@/api/background/phBranda";

export default {
  name: "phShopAudit",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 店铺表格数据
      phShopList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 日期范围
      dateRange: [],
      // 用户详情展示页
      shopDetailsPop: false,
      // 用户详情头部切换
      activeName: 'first',
      // 查询分类参数
      queryParamsCategory: {
        pageNum: 1,
        pageSize: 10,
        firstCategory: null,
        nthCategory: null,
        imgUrl: null,
        categorySort: null,
        parentId: null,
        productStatus: null,
        screenStatus: null,
        num: null,
        parameterTemplet: null,
        dl: null,
        brandaNum: null,
        applicableNum: null,
      },
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        part: 1, //1.供应商  2.采购商
        auditing: null,
        shopPosition: null,
        userId: null,
        shopType: null,
        motifType: null,
        firmName: null,
        shopImg: null,
        mobile: null,
        businessLicence: null,
        // unifyLaicismCode: null,
        status: null,
        mineBranch: null,
        minePost: null,
        industry: null,
        manageCategoryId: null, 
        manageCategory: null, 
        manageGoods: null,
        brandId: null,
        intentionLeaning: null,
        cooperationIntention: null,
        tailorServing: null,
        corporateSize: null,
        annualSale: null,
        managementMode: null,
        auditing: null,
        auditingTime: null,
        weChat: null,
        corporationSite: null,
        companyProfile: null,
        readdress: null,
        fare: null,
        dispatchTime: null,
        returnedPurchase: null,
        qualityGuarantee: null,
        detail: null,
        // 增加参数
        timeCycle: null, // 时间段筛选
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {},
      // 品牌多选组件参数
      phBrandaList:[], // 所有品牌列表
      phBrandaArr: [] || null,  //双向数据数组
      phBrandaVisible: false, // 品牌多选弹框
      phBrandaCheckAll: false,
      phBrandaIsIndeterminate: true,
      // 品牌查询参数
      brandaQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组
      categoryIdArr: [], //id数组-双向数据

      
      
      auditId: null, // 审核id
      auditAuditing: 2, // 审核状态 2通过 / 3拒绝
      noAuditPop: false, // 审核拒绝弹窗
      noAuditText: '', //原因内容
      noAuditActive: [], //选中原因
      noAuditReason: ['社会统一征信代码不匹配','图片质量不清晰','证书不符合要求','营业执照过期'] //原因概括
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询店铺列表 */
    getList() {
      this.loading = true;
      listPhShop(this.addDateRange(this.queryParams, this.dateRange)).then((response) => {
        this.phShopList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.noAuditPop = false;
      // this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        userId: null,
        shopType: null,
        motifType: null,
        firmName: null,
        shopImg: null,
        businessLicence: null,
        // unifyLaicismCode: null,
        status: null,
        mineBranch: null,
        minePost: null,
        industry: null,
        // manageCategory: null,
        manageGoods: null,
        brandId: null,
        intentionLeaning: null,
        cooperationIntention: null,
        tailorServing: null,
        corporateSize: null,
        annualSale: null,
        managementMode: null,
        auditing: null,
        auditingTime: null,
        weChat: null,
        corporationSite: null,
        companyProfile: null,
        readdress: null,
        fare: null,
        dispatchTime: null,
        returnedPurchase: null,
        qualityGuarantee: 1, //必填项，质保  1.无质保   2.1周质保  3.1个月质保  4.3个月质保  5.6个月质保 6.1年质保  7.2年质保   8.3年质保不能为空", trigger: "blur"
        detail: null,
        createTime: null,
        updateTime: null,
        timeCycle: null,
      };
      this.phBrandaArr=[],
      this.resetForm("form");
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.shopDetailsPop = false;
      this.activeName = 'first';
      this.reset();
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加店铺";
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      this.shopDetailsPop = true
      const id = row.id || this.ids;
      getPhShop(id).then((response) => {
        this.form = response.data;
        this.form.manageCategory = this.setJson(this.form.manageCategory);
      });
    },
    // 审核接口
    submitAuditing() {
      let data = {
        id: this.form.auditingList[0].id,
        relatingId: this.form.auditingList[0].relatingId,
        auditing: this.auditAuditing,
        content : this.contentSplice(),
        type: this.form.auditingList[0].type
      }
      if(data.auditing == 2) {
        getAuditing(data).then((response) => {
          this.$modal.msgSuccess("审核成功");
          this.getList();
          this.shopDetailsPop = false // 关闭详情页
        });
      } else if(data.auditing == 3) {
        getAuditing(data).then((response) => {
          this.$modal.msgSuccess("审核已拒绝");
          this.noAuditPop = false; //关闭拒绝原因弹窗
          this.shopDetailsPop = false // 关闭详情页
          this.getList();
        });
      }
    },
    
    // 拼接失败原因
    contentSplice() {
      let str = ''
      for(let i in this.noAuditActive) {
        i > 0 ? str += ',' : null
        str += this.noAuditActive[i]
      }
      this.noAuditText.length > 1 ? str += (',' + this.noAuditText) : null
      return str
    },
    // 审核判断
    handAuditing(id,sta) {
      console.log(id,sta)
      const _this = this
      this.auditId = id
      this.auditAuditing = sta
      if(sta == 2) {
        this.$modal
        .confirm('确认审核通过')
        .then(function () {
          _this.submitAuditing();
          return
        })
        .catch(() => {});
      } else if(sta == 3) {
        this.noAuditPop = true
      }
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "background/phShop/export",
        {
          ...this.queryParams,
        },
        `phShop_${new Date().getTime()}.xlsx`
      );
    },
    // JSON格式转换
    setJson(str) {
      let json = ''
      if(str.length > 1) {
        json = JSON.parse(str)
      }
      return json;
    },
  },
};
</script>
<style scoped>
/* 用户详情样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 3px;
}
.details_box_bg .details_head_box {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}
.details_box_bg .details_head_box .separation {
  width: 90%;
  border: 1px solid #E9E9E9;
  margin: 0 auto;
  margin-bottom: 15px;
}
/* 头部标题 */
.left_box_title {
  position:absolute;
  font-size: 15px;
  font-weight: bold;
  left: 30px;
  top: 20px;
}
.left_box {
  width: 60%;
}
.right_box {
  width: 40%;
}
.right_box .right_box_img {
  width:400px;
  margin: auto;
}
.right_box .right_box_img p {
  margin-top: 10px;
}
.right_box p {
  margin: 0 20px;
  text-align: center;
}
/* 底部按钮 */
.foot_bt_box {
  width: 100%;
  min-height: 96px;
  text-align: center;
  position: relative;
}
.foot_bt_box .foot_bt_fh {
  color: #0093E6;
  position: absolute;
  left: 20px;
  border: 0;
}
/* 返回/标题 */
.head_bt_back {
  position:absolute;
  left: 50px;
  top: 35px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 编辑按钮 */
.head_bt_edit {
  font-size: 16px;
  background-color: #fff;
  position:absolute;
  padding: 0 10px ;
  right: 40px;
  top: 40px;
  color: #FF0000;
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 1999;
}
.head_bt_edit > span {
  line-height: 26px;
}
/* 文本隐藏... */
.textHidden {
  white-space: nowrap; /* 禁止文本换行 */  
  overflow: hidden; /* 隐藏溢出部分的文本 */  
  text-overflow: ellipsis; /* 在溢出时显示省略号 */  
}
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 105px;
  text-align: right;
  display: inline-block;
}
/* /deep/ .el-tabs__content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
} */
/* /deep/ .el-tabs__nav-scroll {
  width: 700px;
  margin: 0 auto;
} */
/deep/ .el-descriptions--medium:not(.is-bordered) .el-descriptions-item__cell {
  padding-bottom: 15px
}
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 180px ;
}
/* 操作按钮 */
/deep/ .el-table .fixed-width .el-button--mini  {
  margin: 0;
}
</style>