<template>
  <div class="app-container" :class="detailsPop ? 'details_bg':''">
    <div v-if="!detailsPop">
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
        <!-- <el-form-item label="分类ID" prop="categoryId">
          <el-input
            v-model="queryParams.categoryId"
            placeholder="请输入分类ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item> -->
        <el-form-item label="模板名称" prop="templateName">
          <el-input
            v-model="queryParams.templateName"
            placeholder="请输入模板名称"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>

      <el-row :gutter="10" class="mb8">
        <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phTemplate:add']"
          >新增</el-button>
        </el-col>
        <!-- <el-col :span="1.5">
          <el-button
            type="success"
            plain
            icon="el-icon-edit"
            size="mini"
            :disabled="single"
            @click="handleUpdate"
            v-hasPermi="['background:phTemplate:edit']"
          >编辑</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:phTemplate:remove']"
          >删除</el-button>
        </el-col> -->
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phTemplate:export']"
          >导出</el-button>
        </el-col>
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>

      <el-table v-loading="loading" :data="phTemplateList" @selection-change="handleSelectionChange">
        <el-table-column label="模板名称" align="center" prop="templateName" />
        <el-table-column label="分类名称" align="center" prop="firstCategory" />
        <!-- <el-table-column label="分类ID" align="center" prop="categoryId" width="500" /> -->
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phTemplate:edit']"
            >编辑</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleCopy(scope.row)"
              v-hasPermi="['background:phTemplate:edit']"
            >复制</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:phTemplate:remove']"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />

      <!-- 添加或修改模板对话框 -->
      <!-- <Model_01></Model_01> -->
      <!-- <el-dialog :title="title" :visible.sync="open" width="700px" append-to-body>
        <el-form ref="form" :model="form" :rules="rules" label-width="80px">
          <el-form-item label="分类ID" prop="categoryId">
            <el-cascader v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory',children: 'phCategoryChildrenList' }" popper-class="phCategoryChildrenList" :options="categoryList" filterable clearable >
            </el-cascader>
          </el-form-item>
          <el-form-item label="模板名称" prop="templateName">
            <el-input v-model="form.templateName" placeholder="请输入模板名称" />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="submitForm">确 定</el-button>
          <el-button @click="cancel">取 消</el-button>
        </div>
      </el-dialog> -->
    </div>
    <!-- 用户详情 -->
    <div v-if="detailsPop">
      <!-- 详情内容-新增/修改 -->
      <template>
        <SetParameters :id="id" @setDetailsBack="detailsBack" :list="list"></SetParameters>
        <!-- <Model_01 :form="form" @setDetailsBack="detailsBack"></Model_01> -->
      </template>
    </div>
  </div>
</template>

<script>
import { listPhTemplate, getPhTemplate, delPhTemplate, addPhTemplate, updatePhTemplate } from "@/api/background/phTemplate";
import { listPhCategory } from "@/api/background/phCategory";
import Model_01 from "../../components/type-template/model_01.vue";
import SetParameters from "../../components/setParameters/setParameters.vue";

export default {
  name: "PhTemplate",
  components:{ Model_01,SetParameters },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 选中id
      id: null,
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 模板表格数据
      phTemplateList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 是否显示子页面
      detailsPop: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        categoryId: null,
        templateName: null,
        templateContent: null,
      },
      // 表单参数
      form: {},
      // 复制表单参数
      list: null,
      // 表单校验
      rules: {
        categoryId: [
          { required: true, message: "分类ID不能为空", trigger: "blur" }
        ],
      },
      // 分类参数
      categoryList: [], //所有分类列表
      categoryIdArr: [], //id数组-双向数据
      // 分类查询参数
      categoryQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询模板列表 */
    getList() {
      this.loading = true;
      listPhTemplate(this.queryParams).then(response => {
        this.phTemplateList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
      // 查询分类列表
      listPhCategory(this.categoryQueryParams).then((response) => {
        this.categoryList = response.rows;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        categoryId: null,
        templateName: null,
        templateContent: null,
        createTime: null,
        updateTime: null
      };
      this.categoryIdArr = [], //id数组-双向数据
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.list = null
      this.detailsPop = true
      this.id = null
      this.title = "添加模板";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      this.id = row.id
      this.list = null
      this.detailsPop = true
      // getPhTemplate(id).then(response => {
      //   this.form = response.data;
      //   this.title = "修改模板";
      // });
    },
    /** 修改按钮操作 */
    handleCopy(row) {
        this.reset();
        this.id = null
        // 查询模板参数
        getPhTemplate(row.id).then((response) => {
          if(response.data.templateContent != null) {
            this.list = response.data;
            this.list.templateContentList = JSON.parse(this.list.templateContent)
          }else {
            this.list.templateName = response.data.templateName
            this.list.categoryId =  response.data.categoryId
            this.list.remark =  response.data.remark
            this.list.updateBy =  response.data.updateBy
            this.list.createTime =  response.data.createTime
            this.list.updateTime =  response.data.updateTime
          }
          this.detailsPop = true
        });
    },
    /** 提交按钮 */
    submitForm() {
      this.form.categoryId = this.categoryIdArr[0]
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhTemplate(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhTemplate(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除模板编号为"' + ids + '"的数据项？').then(function() {
        return delPhTemplate(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phTemplate/export', {
        ...this.queryParams
      }, `phTemplate_${new Date().getTime()}.xlsx`)
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.detailsPop = false
      this.reset();
      this.getList();
    },
  }
};
</script>
<style scoped>
/* 详情页背景样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  text-align: right;
}
/deep/.el-cascader--medium {
  width: 100%;
}
</style>
