<template>
  <div class="app-container home">
    <div class="home_box">
      <div class="home_user">
        <img class="user_img" src="@/assets/images/user-img.png" alt="">
        <div class="user_form">
          <p>{{ userForm.nickName }}，欢迎进入搜屏运营管理中心！</p>
          <span>上次登录：{{ userForm.loginDate || userForm.createTime }}</span>
        </div>
      </div>
      <div class="nav_icon_box">
        <div class="nav_box" v-for="item,i of navList" :key="i">
          <router-link :to="item.navUrl">
            <img class="nav_icon" :src="item.navImg" alt="">
            <p class="icon_text">{{ item.navTitle }}</p>
          </router-link>
        </div>
      </div>
      <div class="data_box">
        <div class="data_title">
          <p>平台数据</p>
        </div>
        <div class="data_list">
          <div class="data_card" v-for="item,i of dataList" :key="i">
            <div class="card_left">
              <p>{{item.name}}</p>
              <img src="@/assets/icons/home/icon_02.png" alt="">
              <span>{{item.value}}</span>
            </div>
            <div class="card_right" v-if="item.undulate > 0">
              <img src="@/assets/icons/home/home_数据上涨.png" alt="">
              <p>+{{item.undulate}}%</p>
            </div>
            <div class="card_right" v-else>
              <img src="@/assets/icons/home/home_数据下跌.png" alt="">
              <p style="color: red;">{{item.undulate}}%</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <button @click="aaa">筛选</button> -->
      <div class="data_box">
        <div class="inquire_block">
          <el-date-picker
            v-model="inquireYear"
            type="year"
            style="width: 130px;"
            placeholder="选择年"
            @change="getYear">
          </el-date-picker>
        </div>
        <div ref="userChart" class="chart"></div>
      </div>
      <div class="data_box">
        <div class="inquire_block">
          <el-date-picker
            v-model="inquireMonth"
            type="month"
            style="width: 130px;"
            placeholder="选择月"
            @change="getMonth">
          </el-date-picker>
        </div>
        <div ref="shupChart" class="chart"></div>
      </div>
    </div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import { getUserProfile } from "@/api/system/user";
export default {
  name: "home",
  data() {
    return {
      userForm: {},
      inquireYear: null,
      inquireMonth: null,
      navList: [
        { navTitle: '信息公告', navUrl: '#', navImg: require('@/assets/icons/home/home_信息公告.png') },
        { navTitle: '规格书列表', navUrl: '/background/phDocument/background/phDocument', navImg: require('@/assets/icons/home/home_规格书列表.png') },
        { navTitle: '采购审核', navUrl: '/purchase/background/phPurchaseAudit', navImg: require('@/assets/icons/home/home_采购审核.png') },
        { navTitle: '采购用户', navUrl: '/purchase/background/phPurchase', navImg: require('@/assets/icons/home/home_采购用户.png') },
        { navTitle: '品牌库', navUrl: '/background/phBranda/background/phBranda', navImg: require('@/assets/icons/home/home_品牌库.png') },
        { navTitle: '商品管理', navUrl: '/background/phProduct/phProduct', navImg: require('@/assets/icons/home/home_商品管理.png') },
      ],
      dataList: [
        { name: '新增用户', value: 125, undulate: 5 },
        { name: '新增供应商', value: 80, undulate: 6 },
        { name: '新增品牌', value: 10, undulate: 9 },
        { name: '新上架商品', value: 5, undulate: -3 },
        { name: '新增商品', value: 35, undulate: 10 },
        { name: '新增采购', value: 44, undulate: -6 },
        { name: '新增询价', value: 138, undulate: 5 },
        { name: '新增规格书', value: 226, undulate: 2 },
      ],
      shopList:[
        {
          name: '深圳市老一有限公司', //公司名称
          clickNum: 1600, //报价数量
          productNum:1060,  //商品数量
        },
        {
          name: '深圳市老二有限公司', //公司名称
          clickNum: 1300, //报价数量
          productNum:860,  //商品数量
        },
        {
          name: '深圳市老三有限公司', //公司名称
          clickNum: 1800, //报价数量
          productNum:960,  //商品数量
        },
        {
          name: '深圳市老四有限公司', //公司名称
          clickNum: 1765, //报价数量
          productNum:780,  //商品数量
        },
        {
          name: '深圳市老五有限公司', //公司名称
          clickNum: 1650, //报价数量
          productNum:660,  //商品数量
        },
      ],
      // 用户图表数据
      userNameArr: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
      usershopNumArr: [30,20,26,19,15,17,20,21,28,15,23,21],
      userPurchaseNumArr: [14,13,18,11,9,6,17,8,17,11,15,12],
      userColorArr: ["#8676FF", "#FF708B"], //图表颜色
      // 供应商图表数据
      shopNameArr: ["深圳老一有限公司", "深圳老二有限公司", "深圳老三有限公司", "深圳老四有限公司", "深圳老五有限公司"],  //供应商名称
      shopQuotationNumArr: [21,27,17,15,20], //报价数量
      shopQuantityNumArr: [34,38,22,28,29], //商品数量
      shopColorArr: ["#FF708B", "#FBB142", "#30D987", "#8676FF", "#8655FA"], //图表图颜色
    }
    
  },
  mounted() {
    const shopChart = echarts.init(this.$refs.shupChart);
    this.chartShop(shopChart)
    const userChart = echarts.init(this.$refs.userChart);
    this.chartUser(userChart)
    this.getUser()
    
    // 获取当前年月日 
    var formattedDate = new Date().toLocaleString('en-US',{  
      weekday: 'short',  
      month: 'short',  
      day: 'numeric',  
      year: 'numeric',  
      hour: 'numeric',  
      minute: 'numeric',  
      second: 'numeric',  
      timeZone: 'Asia/Shanghai',  
      hour12: false  
    });  
    this.inquireYear =  formattedDate
    this.inquireMonth =  formattedDate
  },
  methods: {
    aaa() {
      this.shopQuotationNumArr = [121,127,117,115,210],
      console.log(this.shopQuotationNumArr)
      const shopChart = echarts.init(this.$refs.shupChart);
      this.chartShop(shopChart)
    },
    getYear(e) {
      // console.log(e)
      // console.log(this.inquireYear)
    },
    getMonth(e) {
      // console.log(e)
      // console.log(this.inquireMonth)
    },
    getUser() {
      getUserProfile().then(response => {
        this.userForm = response.data;
        this.userForm.loginDate = this.userForm.loginDate.split('T')[0]
        console.log(this.userForm)
      });
    },
    goTarget(href) {
      window.open(href, "_blank");
    },
    // 用户图表
    chartUser(refChart) {
      const userNameArr = this.userNameArr;
      const usershopNumArr = this.usershopNumArr;
      const userPurchaseNumArr = this.userPurchaseNumArr;
      const userColorArr = this.userColorArr;
      const userChart = refChart;
      const userOption = {
        title: {
          text: "用户统计",
          textStyle: {
            color: '#000'
          }
        },
        tooltip: {
          backgroundColor: '#3B3E5C',
          textStyle:{
            color: '#fff',
            lineHeight: '30px',
          },
          formatter: function(params) {
            return (
              `
              <p style="margin:5px 0">${userNameArr[params.dataIndex]}用户统计</p>
              <span style="display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:5px;background-color:${params.color}"> </span>
              <span> ${params.seriesName}人数： <span>
              <span> ${params.seriesName == '供应商' ? usershopNumArr[params.dataIndex] : userPurchaseNumArr[params.dataIndex]}<span>
              <span> 人 <span>
              `
            );
          },
        },
        grid: {
          top: "17%",
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          type: "category",
          data: userNameArr,
          animationDuration: 300,
          animationDurationUpdate: 300,
          max: 11, // only the largest 3 bars will be displayed
        },
        yAxis: {
          max: "dataMax",
        },
        series: [{
          name: '买家',
          type: "bar",
          data: userPurchaseNumArr,
          barWidth: 20,
          itemStyle: {
            color: userColorArr[0],
            barWidth: '50px',
          },
          emphasis: {
            focus: 'series'
          },
          // label: {
          //   show: true
          // },
          stack: 'total', //堆叠展示
        },{
          name: '供应商',
          type: "bar",
          data: usershopNumArr,
          barWidth: 20,
          itemStyle: {
            color: userColorArr[1],
            barBorderRadius: [5, 5, 0, 0],
          },
          emphasis: {
            focus: 'series'
          },
          // label: {
          //   show: true
          // },
          stack: 'total', //堆叠展示
        }],
        legend: {
          show: true,
        },
        animationEasing: "linear",
        animationEasingUpdate: "linear",
      };
      userChart.setOption(userOption);
    },
    // 供应商图表
    chartShop(refChart) {
      const shopNameArr = this.shopNameArr;
      const shopQuotationNumArr = this.shopQuotationNumArr;
      const shopQuantityNumArr = this.shopQuantityNumArr;
      const shopColorArr = this.shopColorArr;
      const shopChart = refChart;
      const shopOption = {
        title: {
          text: "供应商排行",
          textStyle: {
            color: '#000'
          }
        },
        tooltip: {
          backgroundColor: '#3B3E5C',
          textStyle:{
            color: '#fff',
          },
          formatter: function(params) {
            console.log(params)
            return (
              `
              <p style="margin:5px 0">${shopNameArr[params.dataIndex]}</p>
              <span style="display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:5px;background-color:${params.color}"> </span>
              <span> 报价次数： <span>
              <span> ${shopQuotationNumArr[params.dataIndex]}<span>
              <br>
              <span style="display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:5px;background-color:${params.color}"> </span>
              <span> 商品数量： <span>
              <span> ${shopQuantityNumArr[params.dataIndex]}<span>
              `
            );
          },
        },
        grid: {
          top: "17%",
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          max: "dataMax",
        },
        yAxis: {
          type: "category",
          data: shopNameArr,
          inverse: true,
          animationDuration: 300,
          animationDurationUpdate: 300,
          max: 4, // only the largest 3 bars will be displayed
        },
        series: [{
          realtimeSort: true, // 动态排序
          type: "bar",
          data: shopQuotationNumArr,
          showBackground: true,
          barWidth: 10,
          itemStyle: {
            color: function(params) {
              return shopColorArr[params.dataIndex];
            },
            barBorderRadius: [0, 5, 5, 0],
          }
        }],
        legend: {
          show: true,
        },
        animationEasing: "linear",
        animationEasingUpdate: "linear",
      };
      shopChart.setOption(shopOption);
    },
  },
};
</script>

<style scoped lang="scss">
.home {
background-color: #EEF3F9;
  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }
  .col-item {
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;

  ul {
    list-style-type: none;
  }

  h4 {
    margin-top: 0px;
  }

  h2 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 100;
  }

  p {
    margin-top: 10px;
    color: #333;
    margin: 0;

    b {
      font-weight: 700;
    }
  }

  .update-log {
    ol {
      display: block;
      list-style-type: decimal;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 40px;
    }
  }
  #main {
    width: 500px;
    height: 300px;
  }
  // 图表样式
  .data_box {
    width: 900px;
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #00000009;
    .inquire_block {
      // 筛选框
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 10;
    }
    .data_title {
      width: 100%;
      border-bottom: 1px solid #e3e3e3;
      padding: 0 5px;
      p {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
    .data_list {
      width: 100%;
      padding: 20px 0;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 95px;  
      .data_card {
        width: 180px;
        height: 75px;
        padding: 8px 15px;
        border-radius: 10px;
        background-color: #F8F8FB;
        display: flex;
        .card_left {
          width: 60%;
          p {
            font-size: 14px;
            color: #8B8EAB;
            margin-bottom: 5px;
          }
          img {
            width: 15px;
            vertical-align: middle;
            margin-right: 10px;
          }
          span {
            font-size: 24px;
            line-height: 30px;
            color: #333;
            font-weight: bold;
            vertical-align: middle;
          }
        }
        .card_right {
          width: 40%;
          padding: 7px 0;
          text-align: center;
          img {
            width: 45px;
            margin: 0 auto;
          }
          p {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            color: #30D987;
          }
        }
      }
    }
    .chart {
      width: 100%;
      height: 318px;
    }
  }
  /** 页面展示样式👇 */
  .home_box {
    width: 900px;
    // width: 80%;
    // max-width: 1000px;
    // min-width: 800px;
    margin: 0 auto;
    .home_user {
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: left;
      .user_img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin-right: 10px;
      }
      .user_form {
        padding: 0 10px;
        p {
          color: #333;
          font-size: 16px;
          font-weight: bold;
          margin: 0;
          line-height: 30px;
        }
        span {
          font-size: 12px;
          color: #888888;
        }
      }
    }
    .nav_icon_box {
      width: 100%;
      position: relative;
      grid-row: inherit;
      display: flex;
      justify-content: space-between;
      .nav_box {
        position: relative;
        text-align: center;
        :hover .nav_icon {
          transition: 0.3s all;
          box-shadow: 0 10px 10px 10px #00000030;
          transform: translateY(1);
        }
        .nav_icon {
          width: 130px;
          height: 115px;
          padding: 10px 17px;
          background-color: #FAFAFE;
          border-radius: 10px;
          box-sizing: border-box;
          box-shadow: 0 10px 10px 10px #00000009;
        }
        .icon_text {
          width: 100%;
          font-size: 14px;
          line-height: 24px;
          color: #000;
          position: absolute;
          left: 0;
          bottom: 18px;
        }
      }
    }
  }
  /** 页面展示样式👆 */
}
</style>
