<template>
  <div class="app-container" :class="detailsPop ? 'details_bg':''">
    <div v-if="!detailsPop">
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
        <!-- <el-form-item label="分类ID" prop="categoryId">
          <el-input
            v-model="queryParams.categoryId"
            placeholder="请输入分类ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item> -->
        <el-form-item label="所属分类">
          <el-cascader v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory' }" popper-class="phCategoryChildrenList" :options="categoryList" filterable :show-all-levels="false">
          </el-cascader>
          <!-- <el-cascader v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory',children: 'phCategoryChildrenList' }" popper-class="phCategoryChildrenList" :options="categoryList" filterable :show-all-levels="false">
          </el-cascader> -->
          <!-- <el-select v-model="categoryIdArr" placeholder="请选择">
            <el-option v-for="item of categoryList" :key="item.id" :value="item.id" :label="item.firstCategory">{{ item.firstCategory }}</el-option>
          </el-select> -->
        </el-form-item>
        <el-form-item label="尺寸" prop="dimensionId">
          <el-select v-model="queryParams.dimensionId" placeholder="请选择"  filterable>
            <el-option  
              v-for="item in dimensionList"
              :key="item.id"
              :label="item.value"
              :value="item.id">
            </el-option> 
          </el-select>
        </el-form-item>
        <el-form-item label="型号" prop="model">
          <el-input
          v-model="queryParams.model"
          placeholder="请输入型号名称"
          clearable
          @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="品牌" prop="brandName">
          <el-input
          v-model="queryParams.brandId"
          placeholder="请输入品牌"
          clearable
          @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="" prop="publishStatus">
          <el-checkbox v-model="queryParams.publishStatus" style="margin: 0 20px;">未上架</el-checkbox>
        </el-form-item>
        <el-form-item label="" prop="hotStatus">
          <el-checkbox v-model="queryParams.hotStatus" style="margin: 0 20px;">热门型号</el-checkbox>
        </el-form-item>
        <el-form-item label="" prop="document">
          <el-checkbox v-model="queryParams.document" style="margin: 0 20px;">规格书</el-checkbox>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
      <el-row :gutter="10" class="mb8">
        <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phModels:add']"
          >新增</el-button>
        </el-col>
        <!-- <el-col :span="1.5">
          <el-button
            type="success"
            plain
            icon="el-icon-edit"
            size="mini"
            :disabled="single"
            @click="handleUpdate"
            v-hasPermi="['background:phModels:edit']"
          >修改</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:phModels:remove']"
          >删除</el-button>
        </el-col> -->
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phModels:export']"
          >导出</el-button>
        </el-col>
        <!-- <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="shujuqianyi"
            v-hasPermi="['background:phModels:add']"
          >旧数据批量</el-button>
        </el-col> -->
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>

      <el-table v-loading="loading" :data="phModelsList" @selection-change="handleSelectionChange">
        <!-- <el-table-column type="selection" width="55" align="center" /> -->
        <!-- <el-table-column label="主键，自增" align="center" prop="id" /> -->
        <el-table-column label="型号名称" align="center" prop="modelName">
          <template slot-scope="scope">
            <span class="list_name">{{ scope.row.modelName }}</span>
          </template>
        </el-table-column>
        <el-table-column label="型号" align="center" prop="model" />
        <el-table-column label="分类" align="center" prop="categoryName" />
        <el-table-column label="品牌" align="center" prop="brandName" />
        <el-table-column label="尺寸" align="center" prop="dimensionValue">
          <template slot-scope="scope">
            <span>{{ scope.row.dimensionValue }}"</span>
          </template>
        </el-table-column>
        <el-table-column label="文档数量" align="center" prop="document" />
        <el-table-column label="更新时间" align="center" prop="updateTime" width="100" />
        <el-table-column label="排序" align="center" prop="sort">
          <template slot-scope="scope">
            <!-- <el-input v-model="scope.row.sort"></el-input> -->
            <span>{{ scope.row.sort }}</span>
          </template>
        </el-table-column>
        <el-table-column label="上下架" align="center" prop="publishStatus">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.publishStatus"
              :dataId="scope.row.id"
              @change="switchStatus(scope.row.id, scope.row.publishStatus,'publishStatus')">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="是否热门" align="center" prop="hotStatus">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.hotStatus"
              :dataId="scope.row.id"
              @change="switchStatus(scope.row.id, scope.row.hotStatus,'hotStatus')">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="sortUpdate(scope.row)"
              v-hasPermi="['background:phModels:edit']"
            >排序</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phModels:query']"
            >修改</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:phModels:remove']"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />

      <!-- 添加或修改型号库对话框 -->
      <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
        <el-form ref="form" :model="form" :rules="rules" label-width="80px">
          <el-form-item label="排序" prop="sort">
            <el-input v-model="form.sort" placeholder="请输入排序序号" />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="submitForm">确 定</el-button>
          <el-button @click="cancel">取 消</el-button>
        </div>
      </el-dialog>
    </div>
    <!-- 用户详情 -->
    <div v-if="detailsPop">
      <!-- 详情内容-新增/修改 -->
      <template>
        <Model_01 :id="id" :myModel="myModel" @setDetailsBack="detailsBack"></Model_01>
      </template>
    </div>
  </div>
</template>

<script>
import { listPhModels, getPhModels, delPhModels, addPhModels, updatePhModels } from "@/api/background/phModels";
import { listPhCategory } from "@/api/background/phCategory";
import { listPhBranda } from "@/api/background/phBranda";
import { listPhTag } from "@/api/background/phTag"; //参数列表，尺寸，分辨率
import Model_01 from "@/views/components/type-template/model_01.vue";

export default {
  name: "PhModels",
  components:{Model_01},
  data() {
    return {
      id: null,
      myModel: null,
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 型号库表格数据
      phModelsList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 是否显示弹出层
      detailsPop: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        type: null,
        dimensionId: null,
        publishStatus: null,
        hotStatus: null,
        document: null,
        categoryId: null,
        modelName: null,
        brandId: null,
        applicableId: null,
        modelContent: null,
        state: null,
        tagId: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      },
      // 品牌多选组件参数
      phBrandaList:[], // 所有品牌列表
      phBrandaArr: [] || null,  //双向数据数组
      phBrandaIdArr: [] || null,  //选中数据数组
      // 品牌查询参数
      brandaQueryParams: {
        pageNum: 1,
        pageSize: 100,
        brandName: null,
      },
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组
      categoryIdArr: [], //id数组-双向数据
      // 分类查询参数
      categoryQueryParams: {
        pageNum: 1,
        pageSize: 100,
        brandName: null,
      },
      
      // 尺寸数据
      dimensionList: [], //尺寸列表
      // resolutionList: [], //分辨率列表
      // 查询参数
      dimensionQueryParams: {
        pageNum: 1,
        pageSize: 1000,
        type: 1, // 1尺寸、2分辨率
      },
      //旧数据处理 -临时
      // shujuParams: {
      //   pageNum: 1,
      //   pageSize: 5000,
      // },
      // shujuList: [] //型号库列表
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /**旧数据匹配*/
    // shujuqianyi() {
    //   // 获取型号库列表
    //   listPhModels(this.shujuParams).then(response => {
    //     this.shujuList = response.rows;
    //     for(let items of this.shujuList) {
    //       if(items.modelContent == null) {
    //         let newObj = {...items} //新型号对象
    //         newObj.modelContent = []
    //         getPhModels(newObj.model).then((response) => { //旧数据
    //           let data = response.data
    //           // console.log(data,'旧数据结构')
    //           // 旧数据重构为新格式
    //           if(data && data.length > 0) {
    //             for(let item of data) {
    //               let index = newObj.modelContent.findIndex(items => item.groupName == items.moduleTitle)
    //               // console.log(index)
    //               if(index >= 0) {
    //                 newObj.modelContent[index].argument.push(
    //                   {
    //                     parameterName: item.title,
    //                     parameterType: 1,
    //                     parameterIntroduce: null,
    //                     parameterValue: item.v,
    //                     parameterValue2: null,
    //                     parameterContent: null,
    //                     parameterUnit: null,
    //                     parameterMain: false,
    //                     mustType: false,
    //                   }
    //                 )
    //               } else {
    //                 newObj.modelContent.push(
    //                   {
    //                     argument: [
    //                       {
    //                         parameterName: item.title,
    //                         parameterType: 1,
    //                         parameterIntroduce: null,
    //                         parameterValue: item.v,
    //                         parameterValue2: null,
    //                         parameterContent: null,
    //                         parameterUnit: null,
    //                         parameterMain: false,
    //                         mustType: false,
    //                       }
    //                     ],
    //                     moduleTitle: item.groupName
    //                   }
    //                 )
    //               }
    //             }
    //           }
    //           console.log(newObj,'新对象')
    //           newObj.modelContent = JSON.stringify(newObj.modelContent)
              
    //           updatePhModels(newObj).then(response => {
    //             console.log(response,'修改成功')
    //             // this.$modal.msgSuccess("修改成功");
    //             // this.getList();
    //           });
    //         });
    //       } 
    //     }
    //   });
    // },
    /** 查询型号库列表 */
    getList() {
      this.loading = true;
      this.queryParams.hotStatus = this.queryParams.hotStatus ? (this.queryParams.hotStatus ? 1 : null) : null
      this.queryParams.document = this.queryParams.document ? (this.queryParams.document ? 1 : null) : null
      this.queryParams.publishStatus = this.queryParams.publishStatus == null ? null : (this.queryParams.publishStatus == 0 ? 1 : null)
      listPhModels(this.queryParams).then(response => {
        this.phModelsList = response.rows;
        for(let item of this.phModelsList) {
          item.publishStatus = item.publishStatus == 0 ? true : false;  //上下架
          item.document = item.document == 1 ? true : false;  //规格书
          item.hotStatus = item.hotStatus == 1 ? true : false;  //是否热门
        }
        this.total = response.total;
        this.loading = false;
      });
      // 查询分类列表
      listPhCategory(this.categoryQueryParams).then((response) => {
        this.categoryList = this.newCategoryList(response.rows);
        this.loading = false;
      });
      // 查询品牌列表
      listPhBranda(this.brandaQueryParams).then(res => {
        this.phBrandaList = res.rows;
        // this.phBrandaList = this.newBrandaList(res.rows);
      });
      // 查询尺寸列表
      listPhTag(this.dimensionQueryParams).then(response => {
        this.dimensionList = this.evhValueJson(response.rows, 1);
      });
      this.queryParams.publishStatus = this.queryParams.publishStatus == 0 || this.queryParams.publishStatus == null ? null : true
      this.queryParams.hotStatus = this.queryParams.hotStatus == 1 ? true : null
      this.queryParams.document = this.queryParams.document == 1 ? true : null
    },
    // 分类结构处理
    newCategoryList(list) {
      let newList = list
      for(let i = 0;i < newList.length; i++) {
        if(newList[i].parentId != 0){
          newList.splice(i,1)
          i--
        }
      }
      return newList
    },
    // 尺寸/分辨率列表参数JSON转换
    evhValueJson(data,type) {
      let newList = data
      for(let item of newList) {
        if(type == 1) {
          item.value = item.engValue
        } 
        // else {
        //   let arr = item.engValue.split('×')
        //   item.value = arr[0] + ' × ' + arr[1]
        // }
      }
      return newList
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.detailsPop = false
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        publishStatus: null,
        hotStatus: null,
        categoryId: null,
        modelName: null,
        brandId: null,
        applicableId: null,
        modelContent: null,
        state: null,
        tagId: null,
        document: null,
        createTime: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.queryParams.parentId = this.categoryIdArr[0]
      this.queryParams.publishStatus = this.queryParams.publishStatus ? 0 : 1
      this.queryParams.hotStatus = this.queryParams.hotStatus ? 1 : 0
      this.queryParams.document = this.queryParams.document ? 1 : 0
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.categoryIdArr = []
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      // this.open = true;
      this.id = null
      this.detailsPop = true
      this.title = "添加型号库";
    },
    /** 修改排序 */
    sortUpdate(row) {
      this.reset();
      this.id = row.id
      this.title = "修改排序";
      // 查询修改接口
      getPhModels(this.id).then(response => {
        this.open = true
        this.form = response.data;
      });
      
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      this.id = row.id
      this.myModel = row.model
      this.detailsPop = true
      // const id = row.id || this.ids
      // getPhModels(id).then(response => {
      //   this.form = response.data;
      //   // this.open = true;
      //   this.title = "修改型号库";
      // });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhModels(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.detailsPop = false
              this.getList();
            });
          } else {
            addPhModels(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              // this.open = false;
              this.detailsPop = false
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除型号库编号为"' + ids + '"的数据项？').then(function() {
        return delPhModels(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phModels/export', {
        ...this.queryParams
      }, `phModels_${new Date().getTime()}.xlsx`)
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.detailsPop = false
      this.getList()
      this.reset();
    },
    // 列表开关回调-是否显示
    switchStatus(id,sta,name) {
      // 查询修改接口
      getPhModels(id).then(response => {
        this.form = response.data;
        if(name == 'publishStatus') {
          this.form.publishStatus = sta ?  0 : 1  //判断开关状态
        }else if(name == 'hotStatus') {
          this.form.hotStatus = sta ?  1 : 0  //判断开关状态
        }
        // 提交修改接口
        updatePhModels(this.form).then(response => {
          this.$modal.msgSuccess("修改成功");
        });
      });
    },
  }
};
</script>
<style scoped>

/* 详情页背景样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  text-align: right;
}
.list_name {
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
}
/* 下拉款宽度 */
/deep/ .el-cascader--medium {
  width: 100% !important;
}
</style>
