<template>
  <div class="app-container" :class="purchasesDetailsPop ? 'details_bg':''">
    <div v-if="!purchasesDetailsPop">
      <div class="head_status_box">
        <div class="head_tag" :class="queryParams.state == 1 ? 'head_tag_active':''" @click="setHeadStatus(1)">
          <span>待报价</span>
        </div>
        <div class="head_tag" :class="queryParams.state == 2 ? 'head_tag_active':''" @click="setHeadStatus(2)">
          <span>已报价</span>
        </div>
        <div class="head_tag" :class="queryParams.state == 3 ? 'head_tag_active':''" @click="setHeadStatus(3)">
          <span>已查看</span>
        </div>
        <div class="head_tag" :class="queryParams.pastDue == 0 ? 'head_tag_active':''" @click="setHeadStatus(0)">
          <span>已过期</span>
        </div>
      </div>
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="100px">
        <el-form-item label="采购发布时间">
          <el-date-picker
            v-model="params"
            style="width: 215px"
            value-format="yyyy-MM-dd"
            type="daterange"
            range-separator="-"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
          ></el-date-picker>
        </el-form-item>
        <!-- <el-form-item label="报价有效时间" v-if="queryParams.state != 1">
          <el-date-picker
            v-model="times"
            style="width: 215px"
            value-format="yyyy-MM-dd"
            type="daterange"
            range-separator="-"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
          ></el-date-picker>
        </el-form-item> -->
        <el-form-item label="采购类型" prop="purchaseType">
          <el-select v-model="queryParams.purchaseType" placeholder="请选择">
            <el-option :key="1" :value="1" label="全网采购">全网采购</el-option>
            <el-option :key="2" :value="2" label="主动询价">主动询价</el-option>
            <el-option :key="3" :value="3" label="现货询价">现货询价</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="公司名称" prop="firmName">
          <el-input
            v-model="queryParams.firmName"
            placeholder="请输入"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="手机号" prop="mobile">
          <el-input
            v-model="queryParams.mobile"
            placeholder="请输入"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="型号名" prop="model">
          <el-input
            v-model="queryParams.model"
            placeholder="请输入"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <!-- <el-form-item label="商品ID" prop="productId">
          <el-input
            v-model="queryParams.productId"
            placeholder="请输入商品ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item> -->
        <!-- <el-form-item label="店铺ID" prop="shopId">
          <el-input
            v-model="queryParams.shopId"
            placeholder="请输入店铺ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item> -->
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <!-- <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phPurchases:add']"
          >新增</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="success"
            plain
            icon="el-icon-edit"
            size="mini"
            :disabled="single"
            @click="handleUpdate"
            v-hasPermi="['background:phPurchases:edit']"
          >修改</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:phPurchases:remove']"
          >删除</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phPurchases:export']"
          >导出</el-button>
        </el-col> -->
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>
  
      <el-table v-loading="loading" :data="phPurchasesList" @selection-change="handleSelectionChange">
        <el-table-column label="采购客户" align="center" min-width="150">
          <template slot-scope="scope">
            <span>{{ scope.row.firmName }}</span>
            <br>
            <span>{{ scope.row.mobile }}</span>
          </template>
        </el-table-column>
        <el-table-column label="商品图片" align="center">
          <template slot-scope="scope">
            <image-preview :src="scope.row.modelImg" :width="60" :height="60"/>
          </template>
        </el-table-column>
        <el-table-column label="采购信息" align="center" min-width="130" >
          <template slot-scope="scope">
            <div style="display: flex;justify-content: center; ">
              <div style="display: inline-block;">
                <span class="overlong_ellipsis">{{ scope.row.demandCaption }}</span>
                <span>{{ scope.row.model }}</span>
                <br>
                <span class="quality_style" v-if="scope.row.modelTone == 1">全新</span>
                <span class="quality_style" v-if="scope.row.modelTone == 2">A+</span>
                <span class="quality_style" v-if="scope.row.modelTone == 3">A</span>
                <span class="quality_style" v-if="scope.row.modelTone == 4">A-</span>
                <span class="quality_style" v-if="scope.row.modelTone == 5">B</span>
                <span class="quality_style" v-if="scope.row.modelTone == 6">B-</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="采购类型" align="center" prop="purchaseType">
          <template slot-scope="scope">
            <span v-if="scope.row.purchaseType == 1">全网采购</span>
            <span v-if="scope.row.purchaseType == 2">主动询价</span>
            <span v-if="scope.row.purchaseType == 3">现货询价</span>
          </template>
        </el-table-column>
        <el-table-column label="采购量" align="center" prop="stockNum" width="80px" />
        <el-table-column label="期望报价(元)" align="center" prop="hopeQuote" width="120px">
          <template slot-scope="scope">
            <span v-if="scope.row.purchaseType">{{ scope.row.hopeQuote }}</span>
            <span v-else>未定价</span>
          </template>
        </el-table-column>
        <el-table-column label="浏览数" align="center" prop="popularity" width="100px" />
        <el-table-column label="采购起止时间" align="center" min-width="100px" >
          <template slot-scope="scope">
              <span>{{ scope.row.createTime }}</span>
              <br>
              <span>{{ scope.row.exceedTimeLimit }}</span>
          </template>
        </el-table-column>
        <el-table-column label="询价状态" align="center" prop="state" >
          <template slot-scope="scope">
            <span v-if="scope.row.state == 1" style="color: #FD721D;">待报价</span>
            <span v-if="scope.row.state == 2">已报价</span>
            <span v-if="scope.row.state == 3">已查看</span>
          </template>
        </el-table-column>
        <el-table-column v-if="queryParams.state != 1" :class="queryParams.state == 1 ? 'block_hidden':''" label="报价数" align="center" prop="quoteNum" min-width="80px" />
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
          <template slot-scope="scope">
            <el-button
              v-if="queryParams.state == 1"
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
            >详情</el-button>
            <el-button
              v-if="queryParams.state != 1"
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handQuotationList(scope.row)"
              v-hasPermi="['background:user:remove']"
            >报价列表</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phPurchases:edit']"
            >修改</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:phPurchases:remove']"
            >删除</el-button> -->
          </template>
        </el-table-column>
      </el-table>
      
      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>

    <!-- 添加或修改采购询价对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="商品ID" prop="productId">
          <el-input v-model="form.productId" placeholder="请输入商品ID" />
        </el-form-item>
        <el-form-item label="店铺ID" prop="shopId">
          <el-input v-model="form.shopId" placeholder="请输入店铺ID" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 报价列表 -->
    <el-dialog :title="quotationTitle" :visible.sync="quotationListPop" width="1000px" append-to-body >
      <el-table v-loading="loading" :data="quotationList" @selection-change="handleSelectionChange">
        <el-table-column label="供应商" align="center" width="230">
          <template slot-scope="scope">
            <div style="text-align: left;">
              <span>{{ scope.row.firmName }}</span>
              <div v-if="scope.row.city" class="supplier_label">
                <img  src="@/assets/icons/position.png" alt="">
                <span>{{ scope.row.city }}</span>
              </div>
              <div class="supplier_label">
                <img v-if="scope.row.shopPosition == 2" src="@/assets/icons/shop/supplier_capable.png" alt="">
                <img v-if="scope.row.shopPosition == 3" src="@/assets/icons/shop/supplier_super_shop.png" alt="">
                <img v-if="scope.row.shopPosition == 4" src="@/assets/icons/shop/supplier_no_shop.png" alt="">
                <img v-if="scope.row.shopPosition != 4" src="@/assets/icons/shop/supplier_have_shop.png" alt="">
                <!-- <img v-if="scope.row.shopPosition == 2 || scope.row.shopPosition == 3" src="@/assets/icons/shop/supplier_guarantee.png" alt=""> -->
                <span v-if="scope.row.shopYears">{{ scope.row.shopYears }}年</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="报价金额(元)" align="center" prop="monery" min-width="100px">
          <template slot-scope="scope">
            <span style="vertical-align: middle;color: #FD721D; font-size: 13px;">{{ scope.row.monery }}</span>
            <img v-if="isWithinThreeDays(scope.row.createTime) && scope.row.state != 2" src="@/assets/icons/new_quality.png" style="width: 20px;vertical-align: middle;margin-left: 5px;" alt="">
          </template>
        </el-table-column>
        <el-table-column label="发货时间" align="center" prop="dispatchTime" min-width="90px">
          <template slot-scope="scope">
            <span v-if="scope.row.dispatchTime == 1">当日发</span>
            <span v-if="scope.row.dispatchTime == 2">24小时发货</span>
            <span v-if="scope.row.dispatchTime == 3">48小时发货</span>
            <span v-if="scope.row.dispatchTime == 4">72小时发货</span>
            <span v-if="scope.row.dispatchTime == 5">4天发货</span>
            <span v-if="scope.row.dispatchTime == 6">5天发货</span>
            <span v-if="scope.row.dispatchTime == 7">6天发货</span>
            <span v-if="scope.row.dispatchTime == 8">7天发货</span>
            <span v-if="scope.row.dispatchTime == 9">10天发货</span>
          </template>
        </el-table-column>
        <el-table-column label="样品" align="center" prop="haveSample">
          <template slot-scope="scope">
            <span v-if="scope.row.haveSample == 1">免费样品</span>
            <span v-if="scope.row.haveSample == 2">付费样品</span>
            <span v-if="scope.row.haveSample == 3">现货询价</span>
            <br>
            <span v-if="scope.row.haveSample == 2">￥{{scope.row.sampleMonery}}元</span>
          </template>
        </el-table-column>
        <el-table-column label="质保" align="center" prop="qualityGuarantee">
          <template slot-scope="scope">
            <span v-if="scope.row.qualityGuarantee == 1">无质保</span>
            <span v-if="scope.row.qualityGuarantee == 2">1周质保</span>
            <span v-if="scope.row.qualityGuarantee == 3">1个月质保</span>
            <span v-if="scope.row.qualityGuarantee == 4">3个月质保</span>
            <span v-if="scope.row.qualityGuarantee == 5">6个月质保</span>
            <span v-if="scope.row.qualityGuarantee == 6">1年质保</span>
            <span v-if="scope.row.qualityGuarantee == 7">2年质保</span>
            <span v-if="scope.row.qualityGuarantee == 8">3年质保</span>
          </template>
        </el-table-column>
        <el-table-column label="报价有效时间" align="center" width="120" >
          <template slot-scope="scope">
              <span>起：{{ scope.row.createTime }}</span>
              <br>
              <span>止：{{ scope.row.exceedTimeLimit }}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态" align="center" prop="state" >
          <template slot-scope="scope">
            <span v-if="scope.row.state == 1" style="color: #FD721D;">已报价</span>
            <span v-if="scope.row.state == 2">已查看</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handQuotationDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
            >详情</el-button>
          </template>
        </el-table-column> -->
      </el-table>
    </el-dialog>

    <!-- 询价详情 -->
    <div v-if="purchasesDetailsPop">
      <!-- 返回/标题 -->
      <div class="head_bt_back" @click="detailsBack">
        <img src="../../../assets/icons/返回.png" alt="">
        <span>询价详情</span>
      </div>
      <div style="position: absolute; top: 30px;left: 0; width: 100%;">
        <el-divider></el-divider>  <!-- 分割线 -->
      </div>
      <!-- 详情内容 -->
      <template>
        <div class="details_box_bg">
          <div class="details_box">
            <div class="details_head_box">
              <el-row style="position: relative;">
                <el-col :span="12">
                  <el-descriptions :column="1">
                    <el-descriptions-item label="询价状态">
                      <span v-if="form.state == 1" style="color: #FD721D;font-weight: bold;">待报价</span>
                      <span v-if="form.state == 2">已报价</span>
                      <span v-if="form.state == 3">已查看</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="采购编号">
                        <span>{{ form.purchaseCode }}</span> 
                        <span v-if="form.purchaseType == 1" style="background-color: #F0F0F0;margin-left: 10px;font-size: 12px;padding: 3px 10px;">全网采购</span>
                        <span v-if="form.purchaseType == 2" style="background-color: #F0F0F0;margin-left: 10px;font-size: 12px;padding: 3px 10px;">主动询价</span>
                        <span v-if="form.purchaseType == 3" style="background-color: #F0F0F0;margin-left: 10px;font-size: 12px;padding: 3px 10px;">现货询价</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="采购发布时间">{{ form.createTime }}</el-descriptions-item>
                    <el-descriptions-item label="采购截止时间">{{ form.exceedTimeLimit }}</el-descriptions-item>
                  </el-descriptions>
                  <div style="position: absolute;left: 47%;top: 5px ;border: 1px solid #e9e9e9; height: 105%;"></div> <!-- 分割线 -->
                </el-col>
                <el-col :span="12">
                  <div style="display: flex;">
                    <div style="width: 50%;">
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;color: #666;">采购客户</p>
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;">{{ form.firmName }}</p>
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;">{{ form.mobile }}</p>
                    </div>
                    <!-- <image-preview :src="form.shopImg" :width="100" :height="100"/> -->
                    <img style="width: 80px; height: 80px; border-radius: 10px;" src="../../../assets/images/user-img.png" alt="">
                    <!-- <image-preview src="http://43.138.142.219:9300/statics/2023/12/09/222_20231209150625A017.jpg" :width="80" :height="80" style="margin-right: 15px;" /> -->
                  </div>
                </el-col>
              </el-row>
              <el-divider></el-divider>  <!-- 分割线 -->
              <p style="font-weight: bold;">采购产品</p>
              <el-descriptions :column="1">
                <el-descriptions-item label="产品型号">{{ form.model }}</el-descriptions-item>
                <el-descriptions-item label="产品品牌">{{ form.brandName }}</el-descriptions-item>
                <el-descriptions-item label="所属分类">{{ form.categoryName }}</el-descriptions-item>
                <el-descriptions-item label="需求标题">{{ form.demandCaption }}</el-descriptions-item>
                <el-descriptions-item label="需求图片">
                  <div>
                    <!-- <image-preview :src="form.modelImg" :width="100" :height="100" style="margin-right: 15px;" v-for="item of 3" :key="item"/> -->
                    <image-preview v-for="item,i of form.modelImg" :key="i" :src="item" :width="100" :height="100" style="margin-right: 15px;"/>
                  </div>
                </el-descriptions-item>
                <!-- <el-descriptions-item label="商品视频">无</el-descriptions-item> -->
                <el-descriptions-item label="产品文档">
                  <span v-if="form.documentUrlName">
                    <span>{{ form.documentUrlName }}</span>
                    <a style="margin-left: 10px; color: blue;" @click="previewFile(form.documentUrl)">预览</a>
                    <a style="margin-left: 10px; color: blue;" @click="downloadFile(form.documentUrl)">下载</a>
                  </span>
                  <span v-else>/</span>
                </el-descriptions-item>
                <el-descriptions-item label="产品属性">
                  <div style="background-color: #F9F9F9;padding: 20px;box-sizing: border-box;">
                    <el-descriptions :column="3">
                      <el-descriptions-item v-for="item,i of form.myModelContent" :key="i" :label="item.parameterName">{{ item.parameterValue }}2</el-descriptions-item>
                    </el-descriptions>
                  </div>
                </el-descriptions-item>
              </el-descriptions>
              <el-divider></el-divider>  <!-- 分割线 -->
              <p style="font-weight: bold;">采购要求</p>
              <el-descriptions :column="1">
                <el-descriptions-item label="采购数量">{{ form.stockNum }}片</el-descriptions-item>
                <el-descriptions-item label="类型品质">
                  <span v-if="form.modelTone == 1">全新</span>
                  <span v-if="form.modelTone == 2">A+</span>
                  <span v-if="form.modelTone == 3">A</span>
                  <span v-if="form.modelTone == 4">A-</span>
                  <span v-if="form.modelTone == 5">B</span>
                  <span v-if="form.modelTone == 6">B-</span>
                </el-descriptions-item>
                <el-descriptions-item label="品质政策">
                  <span v-if="form.qualityGuarantee == 1">无质保</span>
                  <span v-if="form.qualityGuarantee == 2">1周质保</span>
                  <span v-if="form.qualityGuarantee == 3">1个月质保</span>
                  <span v-if="form.qualityGuarantee == 4">3个月质保</span>
                  <span v-if="form.qualityGuarantee == 5">6个月质保</span>
                  <span v-if="form.qualityGuarantee == 6">1年质保</span>
                  <span v-if="form.qualityGuarantee == 7">2年质保</span>
                  <span v-if="form.qualityGuarantee == 8">3年质保</span>
                </el-descriptions-item>
                <el-descriptions-item label="期望报价(元)">
                  <span style="color: #FD721D;font-weight: bold;">{{ form.hopeQuote }}</span>
                </el-descriptions-item>
                <el-descriptions-item label="支持拿样">
                  <span v-if="form.haveSample == 1">付费样品</span>
                  <span v-if="form.haveSample == 2">免费样品</span>
                  <span v-if="form.haveSample == 3">不支持</span>
                </el-descriptions-item>
                <el-descriptions-item label="备注">{{ form.remark }}</el-descriptions-item>
              </el-descriptions>
            </div>
          </div>
        </div>
        <div class="details_box_bg foot_bt_box">
          <el-button class="foot_bt_fh" @click="detailsBack" icon="el-icon-arrow-left">返回列表</el-button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { listPhPurchases, getPhPurchases, delPhPurchases, addPhPurchases, updatePhPurchases, listQuoteprice } from "@/api/background/phPurchases";

export default {
  name: "PhPurchases",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 发布时间日期范围
      params: [],
      // 结束时间日期范围
      times: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 询价详情页展示
      purchasesDetailsPop: false,
      // 报价列表展示
      quotationListPop: false,
      // 采购询价表格数据
      phPurchasesList: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        auditing: 2, // 1待审核，2已通过，3未通过
        state: 1, // 1.待报价，2已报价，3已查看
        pastDue: 1, // 0已过期，1未过期
        productId: null,
        shopId: null,
        purchaseType: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      },
      // 采购报价列表数据
      quotationList: [],
      // 报价列表弹窗标题
      quotationTitle: '',
      // 查询参数
      quotationListParams: {
        purchasesId: null,
      },
      // 报价详情
      quotationForm: {},
    };
  },
  created() {
    this.getList();
    let date = new Date();
    let currentDate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();  
    console.log(currentDate); // 例如：2023-7-19
  },
  methods: {
    /** 查询采购询价列表 */
    getList() {
      this.loading = true;
      if(this.params) {
        this.queryParams = this.addDateRange(this.queryParams,this.params)
      }
      if(this.times) {
        this.queryParams = this.timesDateRange(this.queryParams,this.times)
      }
      listPhPurchases(this.queryParams).then(response => {
        this.phPurchasesList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        productId: null,
        shopId: null,
        purchaseType: null,
        createTime: null,
        updateTime: null,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.params = [],
      this.times = [],
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    // 浏览文件
    previewFile(url) {
      this.previewPop = true
      this.previewUrl = url
    },
    /** 新增按钮操作 */
    // handleAdd() {
    //   this.reset();
    //   this.open = true;
    //   this.title = "添加采购询价";
    // },
    /** 修改按钮操作 */
    // handleUpdate(row) {
    //   this.reset();
    //   const id = row.id || this.ids
    //   getPhPurchases(id).then(response => {
    //     this.form = response.data;
    //     this.open = true;
    //     this.title = "修改采购询价";
    //   });
    // },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhPurchases(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhPurchases(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    // handleDelete(row) {
    //   const ids = row.id || this.ids;
    //   this.$modal.confirm('是否确认删除采购询价编号为"' + ids + '"的数据项？').then(function() {
    //     return delPhPurchases(ids);
    //   }).then(() => {
    //     this.getList();
    //     this.$modal.msgSuccess("删除成功");
    //   }).catch(() => {});
    // },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phPurchases/export', {
        ...this.queryParams
      }, `phPurchases_${new Date().getTime()}.xlsx`)
    },
    /** 头部标签状态事件 */ 
    setHeadStatus(str) {
      if(str == 0) {
        this.queryParams.state = null; //1.全新 2.A+  3.A 4.A- 5.B  6.B-
        this.queryParams.pastDue = str; //0已过期，1未过期
        this.queryParams.pageNum = 1;
      } else if(str == 3) {
        this.queryParams.state = str; //1.全新 2.A+  3.A 4.A- 5.B  6.B-
        this.queryParams.pastDue = null; //0已过期，1未过期
        this.queryParams.pageNum = 1;
      } else {
        this.queryParams.state = str; //1.全新 2.A+  3.A 4.A- 5.B  6.B-
        this.queryParams.pastDue = 1; //0已过期，1未过期
        this.queryParams.pageNum = 1;
      }
      // this.getList();
      this.resetQuery()
    },
    /** 详情按钮操作 */
    handDetails(row) {
      const id = row.id;
      getPhPurchases(id).then(response => {
        this.form = response.data;
        if(this.form.modelImg) {
          this.form.modelImg = this.form.modelImg.split(",");
        }
        if(this.form.modelContent) {
          this.form.myModelContent = this.modelContentFor(JSON.parse(this.form.modelContent));
        }
        this.purchasesDetailsPop = true
        
        // this.open = true;
      });
    },
    /** 重构数据 */ 
    modelContentFor(arr) {
      let newArr = []
      for(let item of arr) {
        for(let val of item.argument) {
          newArr.push(val)
        }
      }
      return newArr
    },
    /** 查看报价列表按钮操作 */
    handQuotationList(row) {
      this.quotationList = []
      this.quotationListParams.purchasesId = row.id
      if(row.purchaseType == 1) {
        this.quotationTitle = '报价列表'
      }else {
        this.quotationTitle = '报价详情'
      }
      listQuoteprice(this.quotationListParams).then(response => {
        this.quotationList = response.rows;
        this.quotationListPop = true
      });
    },
    /** 用户详情返回列表按钮 */ 
    detailsBack() {
      this.purchasesDetailsPop = false;
      this.reset();
    },
    /** 判断发布时间是否是3天内 */ 
    isWithinThreeDays(date) {  
      let newDate = new Date(date);  
      let today = new Date();  
      let diff = today - newDate;  
      let days = Math.floor(diff / (1000 * 60 * 60 * 24));
      return days <= 3;  
    }
  }
};
</script>
<style scoped>
.block_hidden {
  display: none;
}
/* 头部标签状态切换栏-👇-*/
.head_status_box {
  width: 100%;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}
.head_tag {
  display: inline-block;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: #444;
}
.head_tag > span {
  font-size: 15px;
  letter-spacing:2px;
}
.head_tag_active {
  position: relative;
  color: #FD721D;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.head_tag_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  border-top: 4px solid #FD721D;
}
/** 头部标签状态切换栏-👆- */
/** 详情页样式-👇- */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 3px;
}
.details_box_bg .details_head_box {
  max-width: 1000px;
  /* display: flex; */
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}
/* 头部标题 */
.left_box_title {
  position:absolute;
  font-size: 15px;
  font-weight: bold;
  left: 0;
  top: 15px;
}
/* 底部按钮 */
.foot_bt_box {
  width: 100%;
  min-height: 100px;
  text-align: center;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}
.foot_bt_box .foot_bt_fh {
  color: #0093E6;
  position: absolute;
  left: 20px;
  border: 0;
}
/* 返回/标题 */
.head_bt_back {
  position:absolute;
  left: 40px;
  top: 15px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}

.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/deep/ .el-descriptions__body {
  background-color: transparent;
}
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 105px;
  text-align: right;
  display: inline-block;
}
/** 详情页样式-👆- */

/** 列表样式-👇- */
.quality_style {
  text-align: center;
  display: inline-block;
  line-height: 17px;
  width: 40px;
  color: #818181;
  border: 1px solid #acacac; 
  font-size: 12px;
  border-radius: 3px; 
}
/* 换行省略 */
.overlong_ellipsis {
  line-height: 20px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
}
/** 列表样式-👆- */

/** 报价列表样式-👇- */
.el-dialog__header{
  background-color: #F9F9F9;
}
/** 报价列表样式-👆- */
/** 供应商标签 */
.supplier_label > img{
  height: 18px;
  vertical-align: middle;
  text-align: left;
  margin: 0 3px;
}
.supplier_label > span{
  font-size: 14px;
  vertical-align: middle;
  line-height: 20px;
  margin: 0 3px;
}
</style>
