<template>
  <div id="moban">
    <!-- 返回/标题 -->
    <!-- <el-loading v-model="isLoading" :fullscreen="true" text="加载中..." :lock="true"></el-loading>  -->
    <div class="head_bt_back" @click="detailsBack">
      <img src="../../../assets/icons/返回.png" alt="">
      <span>{{ title }}</span>
    </div>
    <div class="details_box_bg">
      <div class="centent_box">
        <div class="centent_box_right">
          <el-form ref="form" :model="form" :rules="rules" label-width="150px" v-loading="loading" >
            <el-row>
              <el-col :span="11">
                <el-form-item label="模板名称" prop="templateName">
                  <el-input v-model="form.templateName" placeholder="请输入模板名称" />
                </el-form-item>
              </el-col>
              <el-col :span="11">
                <el-form-item label="关联分类" prop="categoryId">
                  <!-- ,multiple: true -->
                  <!-- <el-cascader v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory',children: 'phCategoryChildrenList',multiple: true }" popper-class="phCategoryChildrenList" :options="categoryList" filterable clearable >
                  </el-cascader> -->
                  <!-- <el-cascader v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory'}" popper-class="phCategoryChildrenList" :options="categoryList" filterable clearable >
                  </el-cascader> -->
                  <!-- <el-select v-model="categoryIdArr" multiple placeholder="请选择">//多选 --> 
                  <el-select v-model="form.categoryId" placeholder="请选择">
                    <el-option v-for="item of categoryList" :key="item.id" :value="item.id" :label="item.firstCategory">{{ item.firstCategory }}</el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="22">
                <el-form-item label="备注" prop="remark">
                  <el-input v-model="form.remark" type="textarea" :rows="2" placeholder="请输入备注" />
                </el-form-item>
              </el-col>
            </el-row>
            <div class="fengexian20"></div>
            <div class="left_box_title">属性参数</div>
            <div class="fengexian2"></div>
            <div id="parameter_box" v-for="lists,i of form.templateContentList" :key="i">
              <el-row>
                <el-col :span="7">
                  <el-form-item label="参数组名称" :rules="{ required: true, message: '此为必填，请填写', trigger: 'blur' }">
                    <el-input v-model="lists.moduleTitle" maxlength="15" placeholder="请输入标题名称" />
                  </el-form-item>
                </el-col>
                <el-col :span="1" style="text-align: right; width: 60px;">
                  <i @click="setTemplateContentSort(i,'under')" class="el-icon-bottom sort_icon"></i>
                  <i @click="setTemplateContentSort(i,'up')" class="el-icon-top sort_icon"></i>
                </el-col>
                <el-col :span="1">
                  <i @click="delParameterSet(i)" class="el-icon-delete delete-title"></i>
                </el-col>
                <el-col :span="14" style="text-align: right;">
                  <el-button @click="addStats(i)" style="color: #f18f3e;border:1px solid #f18f3e;">+ 增加属性</el-button>
                </el-col>
              </el-row>
              <el-row class="parameter_title">
                <el-col :span="1">
                  <span>ID</span>
                </el-col>
                <el-col :span="3">
                  <span>属性名称</span>
                </el-col>
                <el-col :span="2">
                  <span>属性类型</span>
                </el-col>
                <el-col :span="1">
                  <span>必填</span>
                </el-col>
                <el-col :span="3">
                  <span>属性介绍</span>
                </el-col>
                <el-col :span="7">
                  <span>属性值</span>
                </el-col>
                <el-col :span="2">
                  <span>属性单位</span>
                </el-col>
                <el-col :span="2">
                  <span>主要参数</span>
                </el-col>
                <el-col :span="2">
                  <span>排序</span>
                </el-col>
                <el-col :span="1">
                  <span>操作</span>
                </el-col>
              </el-row>
              <el-row class="parameter_content" v-for="item,k of lists.argument" :key="k">
                <el-col :span="1">
                  <span v-if="k < 10">{{ i + '0' + k }}</span>
                  <span v-else>{{ i + '' + k }}</span>
                </el-col>
                <el-col :span="3">
                  <el-input :date-id="(i+'0'+k)" v-model="item.parameterName" placeholder="属性名称" />
                </el-col>
                <el-col :span="2">
                  <el-select v-model="item.parameterType" placeholder="请选择">
                    <el-option
                      v-for="item in parameterTypeArr"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="1">
                  <el-checkbox v-model="item.mustType" style="margin-left: 10%;" />
                </el-col>
                <el-col :span="3">
                  <el-input v-model="item.parameterIntroduce" placeholder="可为空" />
                </el-col>
                <el-col :span="7">
                  <span v-if="item.parameterType == 1">无需设置</span>
                  <span v-else-if="item.parameterType == 7">
                    <el-row>
                      <el-col :span="11" style="text-align: center;">
                        <span>无需设置</span>
                      </el-col>
                      <el-col :span="2" style="text-align: center;">
                        <span>-</span>
                      </el-col>
                      <el-col :span="11" style="text-align: center;">
                        <span>无需设置</span>
                      </el-col>
                    </el-row>
                  </span>
                  <el-input v-else :date-id="(i+'0'+k)" v-model="item.parameterContent" placeholder="请填写属性值名称，多个属性值请用“,”分隔" />
                </el-col>
                <el-col :span="2">
                  <el-input v-model="item.parameterUnit" placeholder="属性单位" />
                </el-col>
                <el-col :span="2">
                  <el-switch v-model="item.parameterMain" style="margin-left: 7%;" />
                </el-col>
                <el-col :span="2">
                  <i @click="setArgumentSort(i,k,'under')" class="el-icon-bottom sort_icon"></i>
                  <i @click="setArgumentSort(i,k,'up')" class="el-icon-top sort_icon"></i>
                </el-col>
                <el-col :span="1">
                  <i @click="delStats(i,k)" class="el-icon-delete"></i>
                </el-col>
              </el-row>
              <div class="fengexian5"></div>
            </div>
          </el-form>
        </div>
      </div>
    </div>
    <div class="addBtn">
      <el-button type="primary" @click="addParameterSet">新增参数组</el-button>
    </div>
    <div class="details_box_bg foot_bt_box">
      <el-button type="primary" @click="submitForm">保存</el-button>
      <el-button @click="detailsBack">返回列表</el-button>
    </div>
  </div>
</template>

<script>
import { listPhCategory } from "@/api/background/phCategory";
import { getPhTemplate, addPhTemplate, updatePhTemplate } from "@/api/background/phTemplate";
// import moban from "raw-loader!./moban";

export default {
  name: "setParameters",
  props: { 
    id: Number,
    list: Object,
  },
  data() {
    return {
      loading: false,
      title: '参数详情',
      form: {
        id: null,
        templateName: null,
        categoryId: null,
        remark: null,
        // 模块数组(固定格式)
        templateContentList: [
          {
            moduleTitle: '默认参数组',
            argument: [
              {
                parameterName: null,
                parameterType: 1,
                parameterIntroduce: null,
                parameterValue: null,
                parameterValue2: null,
                parameterContent: null,
                parameterUnit: null,
                parameterMain: false,
                mustType: false,
              },
            ]
          },
        ],
      },
      // 选择参数类型
      parameterTypeArr: [
        { value: 1, label: '输入框' }, 
        { value: 2, label: '单选框' }, 
        { value: 3, label: '多选框' }, 
        { value: 4, label: '下拉框' }, 
        { value: 5, label: '单选弹框' }, 
        { value: 6, label: '多选弹框' }, 
        { value: 7, label: '区间输入框' }, 
      ],
      // 表单校验
      rules: {
        templateName: [
          { required: true, message: "模板名称不能为空", trigger: "blur" }
        ],
        categoryId: [
          { required: true, message: "分类不能为空", trigger: "blur" }
        ],
        
      },
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组对象-接口需要
      categoryIdArr: null, //id数组-双向数据
      // 分类查询参数
      categoryQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },
      
      phBrandaList:[], // 所有品牌列表
      // 品牌查询参数
      brandaQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },
    };
  },
  created() {
    this.title = this.id == null ? '新建属性模板':'编辑属性模板'
    this.getList()
  },
  methods: {
    getList() {
      this.loading = true
      if(this.id && this.list == null) {
        // 修改
        // 查询模板参数
        getPhTemplate(this.id).then((response) => {
          if(response.data.templateContent != null) {
            this.form = response.data;
            this.form.templateContentList = JSON.parse(this.form.templateContent)
          }else {
            this.form.templateName = response.data.templateName
            this.form.categoryId =  response.data.categoryId
            this.form.remark =  response.data.remark
            this.form.updateBy =  response.data.updateBy
            this.form.createTime =  response.data.createTime
            this.form.updateTime =  response.data.updateTime
          }
          // this.setCategoryId(this.form); //筛选表单中分类ID
        });
      } else if(this.list != null) {
        // 复制功能
        this.form.templateContentList = JSON.parse(this.list.templateContent)
      } else {
        this.reset()
      }
      // 查询分类列表
      listPhCategory(this.categoryQueryParams).then((response) => {
        this.categoryList = response.rows;
      });
      setTimeout(() => {
        this.loading = false
      }, 1000);
    },
    // 筛选已选择的类目id
    setCategoryId(date) {
      let list = date;
      if (list.templateList.length > 0) {
        for (let item of list.templateList) {
          if (item.relatingType == 10) {
            let uid = Number(item.categoryId);
            // this.categoryIdArr.push(uid);
            this.categoryIdArr = uid;
          }
        }
      }
    },
    /** 保存按钮 */
    submitForm() {
      this.loading = true
      this.$refs["form"].validate(valid => {
        if (valid) {
          if(this.mandatoryCheck() === false) {
            this.loading = false
            return
          }
          // return
          // this.form.categoryId = this.categoryIdArr
          // this.selectedCategory() //获取选中分类对象
          // let a  = JSON.stringify(this.form.templateContent)
          // this.form.templateContentList = this.form.templateContent
          // this.form.templateContent = a
          if (this.form.id != null) {
            updatePhTemplate(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.detailsBack() // 关闭子页面
              setTimeout(() => {
                this.loading = false
              }, 300);
            });
          } else {
            addPhTemplate(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.detailsBack() // 关闭子页面
              setTimeout(() => {
                this.loading = false
              }, 300);
            });
          }
        } else {
          this.$message({
            message: '请对必要的参数完成填写',
            type: 'warning'
          });
          this.loading = false
        }
      });
    },  
    /** 必填检测 */
    mandatoryCheck() {
      // 返回true就是完成填写，false则是未完成
      for(let item of this.form.templateContentList) {
        if(item.moduleTitle.length < 1) {
          this.$message({
            message: '“参数组名称”不能为空，请完成填写或者删除改参数组',
            type: 'warning'
          });
          return false
        } else {
          for(let children of item.argument) {
            console.log(children)
            if(children.parameterName == null || children.parameterName === '') {
              this.$message({
                message: '参数的“属性名称”不能为空，请完成填写，或者删除改参数',
                type: 'warning'
              });
              return false
            } else if(children.parameterType != 1 && children.parameterType != 7 && (children.parameterContent === null || children.parameterContent === '')) {
              this.$message({
                message: '有参数缺少“属性值”，不能为空，请对应设置的属性类型完成填写或者删除该参数',
                type: 'warning'
              });
              return false
            } 
          }
        }
      }
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.reset();
      this.$emit('setDetailsBack')
    },
    // 表单重置
    reset() {
      this.resetForm("form");
    },
    // 新增参数组
    addParameterSet() {
      let templateContentList = this.form.templateContentList
      const dome = {
          moduleTitle: '默认参数组',
          argument: [
            {
              parameterName: null,
              parameterType: 1,
              parameterIntroduce: null,
              parameterValue: null,
              parameterValue2: null,
              parameterContent: null,
              parameterUnit: null,
              parameterMain: false,
              mustType: false,
            },
          ]
        }
        templateContentList.push(dome)
      
    },
    // 删除参数组
    delParameterSet(i) {
      let templateContentList = this.form.templateContentList
      if(templateContentList.length <= 1) {
        this.$message({
          message: '请最少保留一条参数',
          type: 'warning'
        });
        return
      }else {
        this.$confirm('确认删除此参数组吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          templateContentList.splice(i,1)
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
      }
    },
    // 新增属性
    addStats(i) {
      let argument = this.form.templateContentList[i].argument
      const dome = {
        parameterName: null,
        parameterType: 1,
        parameterIntroduce: null,
        parameterValue: null,
        parameterContent: null,
        parameterUnit: null,
        parameterMain: false,
        mustType: false,
      }
      argument.push(dome)
    },
    // 删除属性
    delStats(i,k) {
      let argument = this.form.templateContentList[i].argument
      if(argument.length <= 1) {
        this.$message({
          message: '请最少保留一条参数',
          type: 'warning'
        });
        return
      }else {
        this.$confirm('确认删除此条参数吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          argument.splice(k,1)
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
      }
    },
    // 模块排序
    setTemplateContentSort(i,name) {
      let templateContentList = this.form.templateContentList
      // let newObj = argument[k]
      if(name == 'up') {
        if(i == 0) {
          this.$message({
            message: '已经是第一条了',
            type: 'warning'
          });
        } else {
          templateContentList.splice(i-1,0,templateContentList[i])
          templateContentList.splice(i+1,1)
        }
      } else {
        if(i == templateContentList.length - 1) {
          this.$message({
            message: '已经是最后一条了',
            type: 'warning'
          });
        } else {
          templateContentList.splice(i+2,0,templateContentList[i])
          templateContentList.splice(i,1)
        }
      }
    },
    // 参数排序
    setArgumentSort(i,k,name) {
      let argument = this.form.templateContentList[i].argument
      // let newObj = argument[k]
      if(name == 'up') {
        if(k == 0) {
          this.$message({
            message: '已经是第一条了',
            type: 'warning'
          });
        } else {
          argument.splice(k-1,0,argument[k])
          argument.splice(k+1,1)
        }
      } else {
        if(k == argument.length - 1) {
          this.$message({
            message: '已经是最后一条了',
            type: 'warning'
          });
        } else {
          argument.splice(k+2,0,argument[k])
          argument.splice(k,1)
        }
      }
    },
    // 获取选中的分类对象
    selectedCategory() {
      // this.form.templateList = []
      // 单选算法
      // let categoryIdObj = this.categoryList.find(item => item.id == this.categoryIdArr)
      // let obj = {
      //   templateId: this.form.id || null,
      //   templateName: this.form.templateName || null,
      //   categoryId: categoryIdObj.id,
      //   categoryName: categoryIdObj.firstCategory,
      //   relatingType: 10,
      //   threeCategoryId : categoryIdObj.threeCategoryId,
      //   parentId : categoryIdObj.parentId,
      //   // relatingType = 关联类型 1.分类-品牌  2.分类-应用  3.分类-显示屏 4.分类-店铺  5.分类-商品  6.分类-属性 7.店铺-品牌  8.店铺-应用 9.商品-品牌 10.分类-模板
      // };
      // this.form.templateList.push(obj)
      // 多选算法
      for(let item of this.categoryList) {
        if(itemId == item.id) {
          let obj = {
            templateId: this.form.id || null,
            templateName: this.form.templateName || null,
            categoryId: item.id,
            categoryName: item.firstCategory,
            relatingType: 10,
            threeCategoryId : item.threeCategoryId,
            parentId : item.parentId,
            // relatingType = 关联类型 1.分类-品牌  2.分类-应用  3.分类-显示屏 4.分类-店铺  5.分类-商品  6.分类-属性 7.店铺-品牌  8.店铺-应用 9.商品-品牌 10.分类-模板
          };
          this.form.templateList.push(obj)
        }
      }
    }
  }
};
</script>

<style scoped>
#moban {
  width: 100%;
}

/* 返回/标题 */
.head_bt_back {
  position:absolute;
  left: 30px;
  top: 36px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 用户详情样式 */
.details_box_bg {
  width: 100%;
  min-width: 1100px;
  text-align: left;
  background-color: #fff;
  margin-bottom: 10px;
  min-height: 55px;
}
.details_box_bg .centent_box {
  display: flex;
  position: relative; 
  padding-top: 55px;
}
.details_box_bg .centent_box_right {
  width: 100%;
}
.foot_bt_box {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 0;
  box-sizing: border-box
}
/* 分割线 */
.fengexian2 {
  width: 100%;
  height: 2px;
  background-color: #E4E7ED;
}
.fengexian5 {
  width: 100%;
  height: 5px;
  margin-top: 15px;
  background-color: #E4E7ED;
}
.fengexian20 {
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
  background-color: #E4E7ED;
}
/* 模块样式 */
#parameter_box {
  padding-top: 10px;
}
/* 模块标题 */
.left_box_title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* 副标题 */
.subheading {
  background-color: #F6F6F6;
  display: block;
  width: 95%;
  margin: 0 auto;
  padding: 5px 15px;
  margin-bottom: 10px;
}
/* 参数组字段标题 */
.parameter_title {
  padding: 10px 20px;
  background-color: #F5F5F5;
}
/* 新增参数组按钮 */
.addBtn {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.parameter_content {
  line-height: 35px;
  padding: 5px 20px;
  border-top: 1px solid #F5F5F5;
}
.parameter_content:hover {
  background-color: #f9f9f9;
}
.parameter_content > .el-col {
  padding-right: 15px;
}
/* 标题删除图标 */
.delete-title {
  line-height: 38px;
  margin-left: 20px;
}
/* 删除图标 */
.el-icon-delete {
  font-size: 19px;
  cursor: pointer;
  margin-left: 10%;
  line-height: 36px;
}
/* 排序图标 */
.sort_icon {
  line-height: 36px;
  font-size: 19px;
  cursor: pointer;
  margin-right: 5%;
}
.el-icon-delete:hover,
.sort_icon:hover {
  transform: scale(1.2);
}
/* 缺少内容 */
.null_prompt {
  border: 1px solid red;
}
/* 下拉款宽度 */
/deep/ .el-select {
  width: 100% !important;
}
/deep/ .el-cascader--medium {
  width: 100% !important;
}
/* /deep/ .el-input--medium .el-input__inner {
    height: 30px !important;
    line-height: 30px !important;
} */
.el-form-item {
  margin-bottom: 15px;
}
</style>
