<template>
  <div class="app-container">
    <el-form
      :model="queryParams"
      ref="queryForm"
      size="small"
      :inline="true"
      v-show="showSearch"
      label-width="100px"
    >
      <el-form-item label="查询一级分类">
        <el-select v-model="queryParams.id" placeholder="请选择">
          <el-option v-for="item of firstCategoryOptions" :key="item.id" :value="item.id" :label="item.firstCategory">{{ item.firstCategory }}</el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['background:phCategory:add']"
          >新增一级类目</el-button
        >
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['background:phCategory:export']"
          >导出</el-button
        >
      </el-col>
      <right-toolbar
        :showSearch.sync="showSearch"
        @queryTable="getList"
      ></right-toolbar>
    </el-row>

    <el-table
      v-loading="loading"
      :data="phCategoryList"
      @selection-change="handleSelectionChange"
      row-key="id"
      :tree-props="{
        children: 'phCategoryChildrenList',
        hasChildren: 'hasChildren',
      }"
    >
      <el-table-column label="分类名称" align="left" prop="firstCategory" width="260px"/>
      <!-- <el-table-column type="selection" width="55" align="center" /> -->
      <!-- <el-table-column label="主键，自增" align="center" prop="id" /> -->
      <!-- <el-table-column label="" align="center" prop="nthCategory" /> -->
      <!-- <el-table-column label="二级类目" align="center" prop="firstCategory" /> -->
      <!-- <el-table-column label="分类图片" align="center" prop="imgUrl" /> -->
      <!-- <el-table-column label="排序" align="center" prop="categorySort" /> -->
      <el-table-column label="类目级别" align="center" prop="parentId">
        <template slot-scope="scope">
          <span v-if="scope.row.parentId == 0">一级类目</span>
          <span v-else-if="scope.row.parentId == scope.row.threeCategoryId">二级类目</span>
          <span v-else>三级类目</span>
        </template>
      </el-table-column>
      <el-table-column label="品牌关联" align="center" prop="brandaNum">
        <template slot-scope="scope">
          <span>关联 {{scope.row.brandaNum}}</span>
        </template>
      </el-table-column>
      <el-table-column label="应用关联" align="center" prop="applicableNum">
        <template slot-scope="scope">
          <span>关联 {{scope.row.applicableNum}}</span>
        </template>
      </el-table-column>
      <el-table-column label="型号库" align="center" prop="screenStatus">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.screenStatus"
            :dataId="scope.row.id"
            @change="switchPublishStatus(scope.row.id, scope.row.screenStatus,'screenStatus')">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column label="用户展示" align="center" prop="productStatus">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.productStatus"
            :dataId="scope.row.id"
            @change="switchPublishStatus(scope.row.id, scope.row.productStatus,'productStatus')">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column label="首页推荐" align="center" prop="leftCompositor">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.leftCompositor"
            :dataId="scope.row.id"
            @change="switchPublishStatus(scope.row.id, scope.row.leftCompositor,'leftCompositor')">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column label="图标" align="center" prop="imgUrl">
        <template slot-scope="scope">
          <image-preview :src="scope.row.imgUrl" :width="20" :height="20"/>
        </template>
      </el-table-column>
      <el-table-column label="商品数量" align="center" prop="num" />
      <el-table-column label="面板数量" align="center" prop="num" />
      <!-- <el-table-column label="父id" align="center" prop="parentId" /> -->
      <!-- <el-table-column label="展示 0-是 1-否" align="center" prop="productStatus" /> -->
      <!-- <el-table-column label="数量" align="center" prop="num" /> -->
      <!-- <el-table-column
        label="参数模板"
        align="center"
        prop="parameterTemplet"
      /> -->
      <!-- <el-table-column label="删除标识" align="center" prop="dl" /> -->
      <el-table-column
        width="210px"
        fixed="right"
        label="操作"
        align="right"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="newHandleUpdate(scope.row)"
            v-hasPermi="['background:phCategory:edit']"
            >增加子类</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['background:phCategory:edit']"
            >修改</el-button
          >
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['background:phCategory:remove']"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
    <!-- <div v-if="true" class="popShow">
      <div class="pop_box">
        <div class="pop_head">
          <span>{{ popTitle }}</span>
          <span>X</span>
        </div>
        <div class=""></div>
      </div>
    </div> -->

    <!-- 添加或修改商品类目对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="1000px" append-to-body>
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="120px"
      >
        <el-form-item label="分类图标" prop="imgUrl">
          <image-upload v-model="form.imgUrl" :limit="1" />
        </el-form-item>
        <el-form-item label="分类名称" prop="firstCategory">
          <el-input
            v-model="form.firstCategory"
            placeholder="请输入分类名称"
          />
        </el-form-item>
        <el-form-item label="属性模板" prop="parameterTemplet">
          <el-input
            v-model="form.parameterTemplet"
            placeholder="请输入属性模板名称"
          />
        </el-form-item>
        <el-form-item label="分类排序" prop="categorySort">
          <el-input
            v-model="form.categorySort"
            placeholder="请输入排序序号"
          />
        </el-form-item>
        <el-form-item label="品牌关联" prop="phBrandaCheckedCities">
          <!-- 多选组件 -->
          <el-popover
            placement="top"
            width="600"
            trigger="click"
            v-model="phBrandaVisible">
            <!-- 组定义内容 -->
            <el-checkbox :indeterminate="phBrandaIsIndeterminate" v-model="phBrandaCheckAll" @change="pingpaiCheckAllChange">全选</el-checkbox>
            <!-- 筛选首字母 -->
            <div style="margin: 15px 0;">
              <a class="int_arr" :class="brandaActiveInitial=='all' ? 'int_active_color':''" @click="getInitialArr('all','branda')">全部</a>
              <a class="int_arr" :class="brandaActiveInitial==item ? 'int_active_color':''" v-for="item,i of brandaInitialArr" :key="i" @click="getInitialArr(item,'branda')">{{ item }}</a>
            </div>
            <el-checkbox-group v-model="phBrandaCheckedCities" @change="pingpaiCitiesChange" style=" margin: 20px 0;">
              <el-checkbox v-for="city in phBrandaList" :label="city" :key="city.id" v-show="brandaActiveInitial == city.initial || brandaActiveInitial =='all'">{{city.initial}}.{{city.brandName}}</el-checkbox>
            </el-checkbox-group>
            <!-- --- -->
            <div style="text-align: right; margin: 0">
              <el-button type="primary" size="mini" @click="phBrandaVisible = false">关闭</el-button>
            </div>
            <div class="name_box" slot="reference">
              <span v-for="item,i of phBrandaCheckedCities" :key="item.id">
                <span v-if="i < 6" class="name_item">
                  <span>{{ item.brandName }}</span>
                </span>
              </span>
              <span v-if="phBrandaCheckedCities.length == 0" class="name_item">/</span>
              <span v-if="phBrandaCheckedCities.length > 6" class="name_item">...</span>
            </div>
          </el-popover>
          <span>共{{ phBrandaCheckedCities.length }}个</span>
        </el-form-item>
        <el-form-item label="应用关联" prop="appCheckedCities">
          <el-popover
            placement="top"
            width="600"
            trigger="click"
            v-model="phAppVisible">
            <!-- 组定义内容 -->
            <el-checkbox :indeterminate="appIsIndeterminate" v-model="appCheckAll" @change="appCheckAllChange">全选</el-checkbox>
            <!-- 筛选首字母 -->
            <div style="margin: 15px 0;">
              <a class="int_arr" :class="appActiveInitial=='all' ? 'int_active_color':''" @click="getInitialArr('all','app')">全部</a>
              <a class="int_arr" :class="appActiveInitial==item ? 'int_active_color':''" v-for="item,i of appInitialArr" :key="i" @click="getInitialArr(item,'app')">{{ item }}</a>
            </div>
            <el-checkbox-group v-model="appCheckedCities" @change="appCitiesChange" style="margin: 20px 0;">
              <el-checkbox v-for="city in phAppList" :label="city" :key="city.id" v-show="appActiveInitial == city.initial || appActiveInitial =='all'">{{city.sceneName}}</el-checkbox>
            </el-checkbox-group>
            <!-- --- -->
            <div style="text-align: right; margin: 0">
              <!-- <el-button size="mini" type="text" @click="phAppVisible = false">取消</el-button> -->
              <el-button type="primary" size="mini" @click="phAppVisible = false">关闭</el-button>
            </div>
            <div class="name_box" slot="reference">
              <span v-for="item,i of appCheckedCities" :key="item.id">
                <span v-if="i < 6" class="name_item">
                  <span>{{ item.sceneName }}</span>
                </span>
              </span>
              <span v-if="appCheckedCities.length == 0" class="name_item">/</span>
              <span v-if="appCheckedCities.length > 6" class="name_item">...</span>
            </div>
          </el-popover>
          <span>共{{ appCheckedCities.length }}个</span>
        </el-form-item>
        <el-form-item label="型号库展示" prop="screenStatus">
          <el-switch v-model="form.screenStatus">
          </el-switch>
        </el-form-item>
        <el-form-item label="用户展示" prop="productStatus">
          <el-switch v-model="form.productStatus">
          </el-switch>
        </el-form-item>
        <el-form-item label="首页推荐" prop="leftCompositor">
          <el-switch v-model="form.leftCompositor">
          </el-switch>
        </el-form-item>
        <!-- <el-form-item v-if="popType != 0" label="冻结状态" prop="blacklist">
          <el-switch v-model="form.blacklist">
          </el-switch>
        </el-form-item> -->
        <!-- <el-form-item label="二级类目" prop="nthCategory">
          <el-input v-model="form.nthCategory" placeholder="请输入二级类目" />
        </el-form-item> -->
        <!-- <el-form-item label="分类图片" prop="imgUrl">
          <el-input v-model="form.imgUrl" placeholder="请输入分类图片" />
        </el-form-item> -->
        <!-- <el-form-item label="排序" prop="categorySort">
          <el-input v-model="form.categorySort" placeholder="请输入排序" />
        </el-form-item> -->
        <!-- <el-form-item label="父id" prop="parentId">
          <el-input v-model="form.parentId" placeholder="请输入父id" />
        </el-form-item> -->
        <!-- <el-form-item label="数量" prop="num">
          <el-input v-model="form.num" placeholder="请输入数量" />
        </el-form-item> -->
        <!-- <el-form-item label="参数模板" prop="parameterTemplet">
          <el-input
            v-model="form.parameterTemplet"
            placeholder="请输入参数模板"
          />
        </el-form-item> -->
        <!-- <el-form-item label="删除标识" prop="dl">
          <el-input v-model="form.dl" placeholder="请输入删除标识" />
        </el-form-item> -->
      </el-form>
      <!-- 添加二级目录 -->
      <el-form
        v-if="popType == 1"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="120px"
      >
        <el-form-item label="分类名称" prop="firstCategory">
          <el-input
            v-model="form.firstCategory"
            placeholder="请输入一级分类名称"
          />
        </el-form-item>
      </el-form>
      <!-- 修改 -->
      <!-- <el-form
        v-if="popType == 2"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="80px"
      >
        <el-form-item label="分类名称" prop="firstCategory">
          <el-input v-model="form.firstCategory" placeholder="请输入类目名称" />
        </el-form-item>
      </el-form> -->
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import {
  listPhCategory,
  getPhCategory,
  delPhCategory,
  addPhCategory,
  updatePhCategory,
} from "@/api/background/phCategory";
import { listPhBranda } from "@/api/background/phBranda";
import { listPhApplicable } from "@/api/background/phApplicable";


export default {
  name: "PhCategory",
  watch: {  
    // phBrandaVisible(newVal, oldVal) {  
    //   this.brandaActiveInitial= 'all', // 品牌筛选选中样式
    //   console.log(`品牌多选组件变量由${oldVal}变为${newVal}`);  
    // },
    // phAppVisible(newVal, oldVal) {  
    //   this.appActiveInitial= 'all', // 场景筛选选中样式 
    //   console.log(`场景多选组件变量由${oldVal}变为${newVal}`);  
    // }  
  },  
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 商品类目表格数据
      phCategoryList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 表单弹窗 0=新增一级类目 1=新增二级 2=修改
      popType: 0,
      // 自定义弹窗标题
      popTitle: "啊实打实",
      // 查询参数
      queryParams: {
        id: null,
        pageNum: 1,
        pageSize: 30,
        firstCategory: null,
        nthCategory: null,
        imgUrl: null,
        categorySort: null,
        parentId: null,
        productStatus: null,
        screenStatus: null,
        leftCompositor: null,
        num: null,
        parameterTemplet: null,
        dl: null,
        brandaNum: null,
        applicableNum: null,
        phBrandaList: null,
      },
      // 筛选表单
      firstCategoryOptions: [],
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        firstCategory: [
          { required: true, message: "类目名称不能为空", trigger: "blur" },
        ],
        categorySort: [
          { required: true, message: "排序不能为空", trigger: "blur" },
        ],
        parentId: [
          { required: true, message: "父id不能为空", trigger: "blur" },
        ],
        // productStatus: [
        //   {
        //     required: true,
        //     message: "展示 0-是 1-否不能为空",
        //     trigger: "change",
        //   },
        // ],
        createTime: [
          { required: true, message: "创建时间不能为空", trigger: "blur" },
        ],
        dl: [{ required: true, message: "删除标识不能为空", trigger: "blur" }],
        brandaNum: [{ required: true, message: "删除标识不能为空", trigger: "blur" }],
      },  

      // 品牌多选组件参数
      phBrandaList:[], // 品牌列表
      phBrandaVisible: false, // 品牌多选弹框
      phBrandaCheckedCities: [],  //双向数据表单
      phBrandaCheckAll: false,
      phBrandaIsIndeterminate: true,
      // 品牌查询参数
      brandaQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },
      
      // 场景多选组件参数
      phAppList:[], // 分类列表
      phAppVisible: false,  // 分类多选弹框
      appCheckedCities: [], //双向数据表单
      appCheckAll: false,
      appIsIndeterminate: true,
      // 应用场景查询参数
      phAppQueryParams: {
        pageNum: 1,
        pageSize: 10,
        sceneName: null,
        sceneEngName: null,
      },
      
      brandaInitialArr: [],// 品牌字母筛选数组
      appInitialArr: [],// 场景字母筛选数组
      brandaActiveInitial: 'all', // 品牌筛选选中样式
      appActiveInitial: 'all', // 场景筛选选中样式
    };
  },
  created() {
    this.getList();
    this.myGetList()
  },
  methods: {
    // 单独查询总表用于筛选数组
    myGetList() {
      listPhCategory(this.queryParams).then((response) => {
        this.phCategoryList = this.delAttache(response.rows) //剔除客服数据
        this.phCategoryList = this.setSwitchType(this.phCategoryList) //转换开关功能字段类型
        this.firstCategoryOptions = this.phCategoryList
      });
    },
    /** 查询商品类目列表 */
    getList() {
      this.loading = true;
      listPhCategory(this.queryParams).then((response) => {
        this.phCategoryList = this.delAttache(response.rows) //剔除客服数据
        this.phCategoryList = this.setSwitchType(this.phCategoryList) //转换开关功能字段类型
        console.log(response.rows, '分类列表');
        // this.phCategoryList = response.rows;
        this.total = response.total;
        this.loading = false;
        // 查询所有品牌
        listPhBranda(this.brandaQueryParams).then(res => {
          console.log(res.rows, '品牌列表')
          this.phBrandaList = res.rows;
          this.brandaInitialArr =  this.setInitial(this.phBrandaList)
        });
        // 查询所有场景
        listPhApplicable(this.phAppQueryParams).then(res => {
          console.log(res.rows, '场景列表')
          this.phAppList = res.rows;
          this.appInitialArr =  this.setInitial(this.phAppList)
        });
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        firstCategory: null,
        nthCategory: null,
        imgUrl: null,
        categorySort: null,
        parentId: null,
        screenStatus: null,
        leftCompositor: null,
        productStatus: null,
        num: null,
        parameterTemplet: null,
        createTime: null,
        dl: null,
      };
      this.appCheckedCities = [],
      this.phBrandaCheckedCities=[],
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.queryParams.id = null;
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      // 新增默认勾选/选中/默认值
      this.form.categorySort = this.phCategoryList.length + 1 || 1
      this.form.screenStatus = true
      this.form.productStatus = true
      this.popType = 0;
      this.open = true;
      this.title = "添加一级类目";
    },
    // 添加子级
    newHandleUpdate(row) {
      this.form = {
        id: null,
        firstCategory: null,
        nthCategory: null,
        imgUrl: null,
        parentId: row.parentId || row.id ,
        productStatus: null,
        num: null,
        parameterTemplet: null,
        createTime: null,
        dl: null,
        // 新增默认值
        categorySort: row.phCategoryChildrenList ? row.phCategoryChildrenList.length + 1 : 1,
        screenStatus: true,
        productStatus: true,
        threeCategoryId: row.id,
      };
      this.phBrandaCheckedCities = []
      this.appCheckedCities = []
      this.resetForm("form");
      this.popType = 0;
      this.open = true;
      this.title = "添加子类";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids;
      getPhCategory(id).then((response) => {
        this.categorySort = response.data.relatingList.length
        this.popType = 2;
        for(let item of response.data.relatingList) {
          if(item.relatingType == 1) {
            const phBrandaItem = this.phBrandaList.find(phBrandaItem => phBrandaItem.id === item.brandaId)
            if(phBrandaItem) { 
              this.phBrandaCheckedCities.push(phBrandaItem)
            }
          }
          if(item.relatingType == 2) {
            const appItem = this.phAppList.find(appItem => appItem.id === item.applicableId)
            if(appItem) { 
              this.appCheckedCities.push(appItem)
            }
          }
        }
        response.data.productStatus = response.data.productStatus == 1 ? true : false //用户展示
        response.data.screenStatus = response.data.screenStatus == 1 ? true : false //型号库展示
        response.data.leftCompositor = response.data.leftCompositor == 1 ? true : false //首页推荐
        // response.data.brandaName = this.setJson(response.data.brandaName)
        // response.data.applicableName = this.setJson(response.data.applicableName)
        this.form = response.data
        this.open = true;
        this.title = "修改分类";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate((valid) => {
        if (valid) {
          // if(this.phBrandaCheckedCities.length < 1) {
          //   return this.$message.error("请至少选择一个品牌");
          // }else if(this.appCheckedCities.length < 1) {
          //   return this.$message.error("请至少选择一个应用场景");
          // }
          this.form.productStatus = this.form.productStatus ? 1:0 //用户展示
          this.form.screenStatus = this.form.screenStatus ? 1:0 //型号库展示
          this.form.leftCompositor = this.form.leftCompositor ? 1:0 //首页推荐
          this.form.relatingList = this.setListDate([...this.phBrandaCheckedCities,...this.appCheckedCities])
          if (this.form.id != null) {
            updatePhCategory(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhCategory(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    // 转换开关功能字段的状态
    setSwitchType(date) {
      let list = date
      // 递归
      function digui(lists) {
        for(let item of lists) {
          item.productStatus = item.productStatus == 1 ? true : false //用户展示
          item.screenStatus = item.screenStatus == 1 ? true : false //型号库展示
          item.leftCompositor = item.leftCompositor == 1 ? true : false //首页推荐
          if(item.phCategoryChildrenList && item.phCategoryChildrenList.length > 0) {
            digui(item.phCategoryChildrenList)
          }
        }
      }
      digui(list)
      return list
    },
    // 列表开关回调-是否显示
    switchPublishStatus(id,sta,name) {
      if(name =='？') {
          this.getList()
          return this.$message.error("修改失败");
      }
      getPhCategory(id).then(response => {
        this.form = response.data;
        if(name == 'productStatus') {
          this.form.productStatus = sta ?  1 : 0  //判断开关状态
        }else if(name == 'screenStatus') {
          this.form.screenStatus = sta ?  1 : 0  //判断开关状态
        }else if(name == 'leftCompositor') {
          this.form.leftCompositor = sta ?  1 : 0  //判断开关状态
        }else {
          console.log(name)
        }
        // 提交修改接口
        updatePhCategory(this.form).then(response => {
          this.$modal.msgSuccess("修改成功");
        });
      });
    },
    // 筛选首字母
    setInitial(list) {
      let arr = []
      if(list,list.length > 0) {
        for(let item of list) {
          arr.push(item.initial)
        }
        // this.arr = arr.sort((a, b) => a.initial.localeCompare(b.initial));
        arr = arr.sort(); //字母排序
        arr = [...new Set(arr)]; //去重
      }
      return arr
    },
    // 首字母筛选列表
    getInitialArr(val,name) {
      if(name == 'branda'){
        let list = this.$refs.brandDome
        // for() {

        // }
        this.brandaActiveInitial = val
      }else if(name == 'app'){
        this.appActiveInitial = val
      }
    },
    // 处理数据字段结构
    setListDate(arr) {
      let list = arr
      for(let i in list) {
        if(list[i].brandName) {
          let brandaObj =  {
            categoryId: this.form.id || null,
            categoryName: this.form.firstCategory || null,
            brandaId: list[i].id,
            brandaName: list[i].brandName,
            relatingType: 1
          }
          list[i] = brandaObj
        }
        if(list[i].sceneName) {
          let appObj =  {
            categoryId: this.form.id || null,
            categoryName: this.form.firstCategory || null,
            applicableId: list[i].id,
            applicableName: list[i].sceneName,
            relatingType: 2
          }
          list[i] = appObj
        }
      }
      return list
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      if(row.brandaNum > 0 || row.applicableNum > 0) {
        return this.$message.error("该分类还存在关联，无法删除");
      }
      if(row.phCategoryChildrenList != null || row.phCategoryChildrenList.length > 0) {
        return this.$message.error("该分类还存子分类，无法删除");
      }
      const ids = row.id || this.ids;
      this.$modal
        .confirm('删除后子类同时被删除，并且无法恢复，是否确认删除此条分类？')
        .then(function () {
          return delPhCategory(ids);
        })
        .then(() => {
          this.getList();
          this.$modal.msgSuccess("删除成功");
        })
        .catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "background/phCategory/export",
        {
          ...this.queryParams,
        },
        `phCategory_${new Date().getTime()}.xlsx`
      );
    },
    // JSON格式转换
    setJson(str) {
      let json = JSON.parse(str)
      return json;
    },
    // 品牌多选组件事件回调
    pingpaiCheckAllChange(val) {
      this.phBrandaCheckedCities = val ? this.phBrandaList : [];
      this.phBrandaIsIndeterminate = false;
    },
    // 品牌多选组件事件回调
    pingpaiCitiesChange(value) {
      let checkedCount = value.length;
      this.phBrandaCheckAll = checkedCount === this.phBrandaList.length;
      this.phBrandaIsIndeterminate = checkedCount > 0 && checkedCount < this.phBrandaList.length;
    },
    // 应用场景多选组件事件回调
    appCheckAllChange(val) {
      this.appCheckedCities = val ? this.phAppList : [];
      this.appIsIndeterminate = false;
    },
    // 应用场景多选组件事件回调
    appCitiesChange(value) {
      let appCheckedCount = value.length;
      this.appCheckAll = appCheckedCount === this.phAppList.length;
      this.appIsIndeterminate = appCheckedCount > 0 && appCheckedCount < this.phAppList.length;
    },
    // 过滤客服用户
    delAttache(arr) {
      let list = arr;
      for (let i = 0; i < list.length; i++) {
        if(list[i].parentId > 0) {
          list.splice(i, 1);  
          i--;  
        }
      }
      return list;
    },
  },
};
</script>
<style scoped>
  /* 品牌修改展示样式 */
  .name_box {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    padding: 0 5px;
  }
  .name_item {
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #e9e9e9;
  }
  /* 弹窗 */
  .popShow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000090;
    z-index: 1999;
  }
  .pop_box {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
  }
  .pop_head {
    width: 100%;
    height: 38px;
    background-color: #f2f2f2;
    display: flex;
    justify-content:space-between;
  }
  .pop_head span {
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
  }
  .pop_head span:nth-child(2) {
    width: 38px;
    text-align: center;
    cursor: pointer;
  }
  /* 首字母筛选样式 */
  .int_arr {
    font-size: 16px;
    color: #c1c1c1;
    padding: 0 5px;
    font-weight: bold;
  }
  .int_arr:hover {
    color: rgb(255, 123, 0);
  }
  .int_active_color {
    color: rgb(255, 123, 0);
  }
</style>
