<template>
  <div class="app-container" :class="userDetailsPop ? 'details_bg':''">
    <div v-if="!userDetailsPop">
      <el-form
        :model="queryParams"
        ref="queryForm"
        size="small"
        :inline="true"
        v-show="showSearch"
        label-width="68px"
      >
        <el-form-item label="注册时间" prop="createTime">
          <div class="block">
            <el-date-picker
              v-model="dateRange"
              style="width: 240px"
              value-format="yyyy-MM-dd"
              type="daterange"
              range-separator="-"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
            ></el-date-picker>
          </div>
        </el-form-item>
        <!-- <el-form-item label="用户ID" prop="openid">
          <el-input
            v-model="queryParams.openid"
            placeholder="请输入用户ID"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item> -->
        <el-form-item label="姓名" prop="nickname">
          <el-input
            v-model="queryParams.nickname"
            placeholder="请输入姓名"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="手机号码" prop="mobile">
          <el-input
            v-model="queryParams.mobile"
            placeholder="请输入手机号码"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <!-- <el-form-item label="用户主体" prop="motifType">
          <el-select v-model="queryParams.motifType" placeholder="请选择">
            <el-option :key="1" :value="1" label="工商企业">工商企业</el-option>
            <el-option :key="2" :value="2" label="个体">个体</el-option>
            <el-option :key="3" :value="3" label="其他组织">其他组织</el-option>
            <el-option :key="4" :value="4" label="企业自采">企业自采</el-option>
            <el-option :key="5" :value="5" label="个人自采">个人自采</el-option>
            <el-option :key="6" :value="6" label="个体经营者">个体经营者</el-option>
            <el-option :key="7" :value="7" label="企业负责人">企业负责人</el-option>
            <el-option :key="8" :value="8" label="企业采购人员">企业采购人员</el-option>
            <el-option :key="9" :value="9" label="企业财务人员">企业财务人员</el-option>
          </el-select>
        </el-form-item> -->
        <!-- <el-form-item label="注册来源" prop="registerType">
          <el-select v-model="queryParams.registerType" placeholder="请选择">
            <el-option
              v-for="item in registerTypeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item> -->
  
        <!-- <el-form-item label="黑名单" prop="blacklist">
          <el-input
            v-model="queryParams.blacklist"
            placeholder="请输入黑名单状态 0-良好 1.违规"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item> -->
  
        <el-form-item>
          <el-button
            type="primary"
            icon="el-icon-search"
            size="mini"
            @click="handleQuery"
            >搜索</el-button
          >
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
            >重置</el-button
          >
        </el-form-item>
      </el-form>
      <el-row :gutter="10" class="mb8">
        <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:centerUser:add']"
            >新增</el-button
          >
        </el-col>
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:centerUser:export']"
            >导出</el-button
          >
        </el-col>
        <right-toolbar
          :showSearch.sync="showSearch"
          @queryTable="getList"
        ></right-toolbar>
      </el-row>
      <el-table
        v-loading="loading"
        :data="userList"
        @selection-change="handleSelectionChange"
      >
        <!-- <el-table-column type="selection" width="55" align="center" /> -->
        <!-- <el-table-column label="用户ID" align="center" prop="openid" /> -->
        <el-table-column label="姓名" align="center" prop="nickname" sortable />
        <!-- <el-table-column label="公司名称" align="center" prop="firmName" sortable /> -->
        <el-table-column label="手机号" align="center" prop="mobile" />
        <!-- <el-table-column label="用户主体" align="center" prop="motifType" sortable >
          <templaye slot-scope="scope">
            <span v-if="scope.row.motifType==1">工商企业</span>
            <span v-if="scope.row.motifType==2">个体</span>
            <span v-if="scope.row.motifType==3">其他组织</span>
            <span v-if="scope.row.motifType==4">企业自采</span>
            <span v-if="scope.row.motifType==5">个人自采</span>
            <span v-if="scope.row.motifType==6">个体经营者</span>
            <span v-if="scope.row.motifType==7">企业负责人</span>
            <span v-if="scope.row.motifType==8">企业采购人员</span>
            <span v-if="scope.row.motifType==9">企业财务人员</span>
          </templaye>    
        </el-table-column> -->
        <el-table-column label="用户身份" align="center" prop="userType" sortable>
          <templaye slot-scope="scope">
            <!-- <span v-if="scope.row.userType==1">游客</span>
            <span v-if="scope.row.userType==2">采购商</span>
            <span v-if="scope.row.userType==3">商家</span>
            <span v-if="scope.row.userType==4">普通店铺</span>
            <span v-if="scope.row.userType==5">会员店铺</span> -->
            <!-- <span v-if="scope.row.userType==6">客服123</span> -->
          </templaye> 
        </el-table-column>
        <!-- 用户类型： 1-游客、2-采购商 3-商家 4-普通店铺、5-会员店铺、 6-客服 -->
        <el-table-column label="注册时间" align="center" prop="createTime" sortable />
        <!-- <el-table-column label="客服" align="center" prop="customerServiceId" sortable>
          <template slot-scope="scope">
            <span>{{ scope.row.customerServiceId == 1? '小慧':'' }}</span>
          </template>
        </el-table-column> -->
        <!-- <el-table-column label="注册来源" align="center" prop="registerTypeText" sortable /> -->
        <el-table-column label="冻结状态" align="center" prop="blacklist" sortable>
          <template slot-scope="scope">
            <!-- <el-switch ="scope.row.blacklist" :disabled="true">
            </el-switch> -->
            <span v-if="scope.row.blacklist" style="color: red;">冻结</span>
            <span v-else style="color: green;">正常</span>
          </template>
        </el-table-column>
        <!--<el-table-column label="用户头像" align="center" prop="avatarurl" />-->
        <!-- <el-table-column label="性别" align="center" prop="gender" /> -->
        <!-- <el-table-column label="所在国家" align="center" prop="country" /> -->
        <!-- <el-table-column label="省份" align="center" prop="province" /> -->
        <!-- <el-table-column label="城市" align="center" prop="city" /> -->
        <!-- <el-table-column label="上次登录身份" align="center" prop="lastEntry" /> -->
        <!-- 注册来源： 1.官网 2.后台 3.微信授权  4.公众号  5.移动端 -->
        <!-- <el-table-column label="黑名单状态" align="center" prop="blacklist" /> -->
        <!-- <el-table-column label="邮箱" align="center" prop="email" /> -->
        <!-- <el-table-column label="联系地址" align="center" prop="readdress" /> -->
        <el-table-column
          fixed="right"
          label="操作"
          align="center"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >详情</el-button
            >
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:user:edit']"
              >修改</el-button
            > -->
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:user:remove']"
              >删除</el-button
            > -->
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-show="total > 0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>
    <!-- 添加或修改中心用户对话框 -->
    <el-dialog :title="title" :visible.sync="open" :width="popType==2 ? '1200px':'500px'" append-to-body>
      <template>
        <el-form ref="form" :model="form" :rules="rules" label-width="80px">
          <el-form-item label="用户头像" prop="avatarurl">
            <el-upload
              :action="domainUrl"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload">
                <img style="width: 50px;height: 50px;border-radius: 50%;" :src="userUrl" alt="">
            </el-upload>
            <!-- <template slot-scope="scope">
              <span>{{ scope }}</span>
            </template> -->
          </el-form-item>
          <el-form-item label="姓名" prop="nickname">
            <el-input v-model="form.nickname" placeholder="请输入姓名" />
          </el-form-item>
          <el-form-item label="手机号码" prop="mobile">
            <el-input v-model="form.mobile" placeholder="请输入手机号码" />
          </el-form-item>
          <el-form-item v-if="popType==0" label="登录密码" prop="password">
            <el-input type="password" v-model="form.password" placeholder="请输入登陆密码" />
          </el-form-item>
          <!-- <el-form-item label="联系地址" prop="mobile">
            <el-input v-model="form.readdress" placeholder="请输入联系地址" />
          </el-form-item> -->
          <!-- <el-form-item label="公司名称" prop="firmName">
            <el-input v-model="form.firmName" placeholder="请输入公司名称" />
          </el-form-item> -->
          <!-- 密码 -->
          <!-- <el-form-item label="微信号" prop="weChat">
            <el-input v-model="form.weChat" placeholder="请输入微信号" />
          </el-form-item> -->
          <el-form-item label="职位" prop="userType">
            <el-select v-model="form.userType" placeholder="请选择">
              <el-option
              v-for="item in userTypeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="注册来源" prop="registerType">
            <el-select v-model="form.registerType" placeholder="请选择">
              <el-option
              v-for="item in registerTypeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              >
            </el-option>
          </el-select>
          </el-form-item> -->
          <!-- <el-form-item label="分配客服" prop="customerServiceId">
            <el-select v-model="form.customerServiceId" placeholder="请选择">
              <el-option
                v-for="item in customerServiceIdOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item> -->
          <el-form-item v-if="popType != 0" label="冻结状态" prop="blacklist">
            <el-switch v-model="form.blacklist">
            </el-switch>
          </el-form-item>
          <!-- <el-form-item label="性别 0-男、1-女" prop="gender">
            <el-input v-model="form.gender" placeholder="请输入性别 0-男、1-女" />
          </el-form-item> -->
          <!-- <el-form-item label="所在国家" prop="country">
            <el-input v-model="form.country" placeholder="请输入所在国家" />
          </el-form-item> -->
          <!-- <el-form-item label="省份" prop="province">
            <el-input v-model="form.province" placeholder="请输入省份" />
          </el-form-item> -->
          <!-- <el-form-item label="城市" prop="city">
            <el-input v-model="form.city" placeholder="请输入城市" />
          </el-form-item> -->
          <!-- <el-form-item label="上次登录身份" prop="lastEntry">
            <el-input v-model="form.lastEntry" placeholder="请输入上次登录身份" />
          </el-form-item> -->
          <!-- <el-form-item label="黑名单状态 0-良好  1.违规" prop="blacklist">
            <el-input v-model="form.blacklist" placeholder="请输入黑名单状态 0-良好  1.违规" />
          </el-form-item> -->
          <!-- <el-form-item label="邮箱" prop="email">
            <el-input v-model="form.email" placeholder="请输入邮箱" />
          </el-form-item> -->
          <!-- <el-form-item label="联系地址" prop="readdress">
            <el-input v-model="form.readdress" placeholder="请输入联系地址" />
          </el-form-item> -->
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="submitForm">确 定</el-button>
          <el-button @click="cancel">取 消</el-button>
        </div>
      </template>
    </el-dialog>
    <!-- 用户详情 -->
    <div v-if="userDetailsPop">
    <!-- 返回/标题 -->
    <div class="head_bt_back" @click="detailsBack">
      <img src="../../../assets/icons/返回.png" alt="">
      <span>用户详情</span>
    </div>
    <!-- 编辑按钮 -->
    <div v-if="activeName == 'first'" class="head_bt_edit" @click="handleUpdate(form)">
      <span>编辑资料</span>
    </div>
    <!-- 详情内容 -->
    <template>
      <div class="details_box_bg">
        <el-tabs v-model="activeName" @tab-click="handleClick" :stretch="true">
          <el-tab-pane label="基本信息" name="first">
            <div style="width: 100%; display: flex;">
              <div style="width: 15%;">
                <div class="left_box">
                  <!-- 头像 -->
                  <div class="left_box_img">
                    <!-- <img :src="form.avatarurl" alt=""> -->
                    <img src="../../../assets/images/pay.png" alt="">
                  </div>
                  <!-- 姓名 -->
                  <div class="left_box_name">
                    <span>{{ form.nickname }}</span>
                  </div>
                  <!-- 性别 -->
                  <div class="left_box_name">
                    <span>{{ form.gender ? '女士':'先生' }}</span>
                  </div>
                  <!-- 会员 -->
                  <div class="left_box_vip">
                    <span>客服</span>
                  </div>
                </div>
              </div>
              <div style="width: 85%;">
                <el-descriptions :column="2">
                    <el-descriptions-item label="用户ID">{{ form.id}}</el-descriptions-item>
                    <el-descriptions-item label="微信号">{{ form.weChat}}</el-descriptions-item>
                    <el-descriptions-item label="账号状态">
                      <span>{{ form.blacklist ? '冻结':'正常' }}</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="注册时间">{{ form.createTime }}</el-descriptions-item>
                    <!-- <el-descriptions-item label="联系地址">{{ form.readdress }}</el-descriptions-item> -->
                    <!-- <el-descriptions-item label="责任客服">{{ form.customerServiceId == 1? '小慧':'' }}</el-descriptions-item> -->
                    <!-- <el-descriptions-item label="注册来源">{{ form.registerTypeText }}</el-descriptions-item> -->
                    <!-- <el-descriptions-item label="公司名称">{{ form.firmName }}</el-descriptions-item> -->
                    <el-descriptions-item label="注册手机">{{ form.mobile }}</el-descriptions-item>
                </el-descriptions>
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
      <div class="details_box_bg foot_bt_box">
        <el-button @click="detailsBack">返回列表</el-button>
      </div>
    </template>
    </div>
  </div>
</template>

<script>
import {
  listUser,
  getUser,
  delUser,
  addUser,
  updateUser,
} from "@/api/background/user";

export default {
  name: "userAttache",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 中心用户表格数据
      userList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 表单弹窗 0=新增 1=修改
      popType: 0,
      // 日期范围
      dateRange: [],
      // 用户详情展示页
      userDetailsPop: false,
      // 用户详情头部切换
      activeName: 'first',
      // 用户头像URL
      userUrl:'http://localhost/static/img/pay.b5dece6f.png',
      // 用户头像URL
      domainUrl:'http://localhost/static/img/',
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        openid: null,
        firmName: null,
        avatarurl: null,
        nickname: null,
        avatarurl: null,
        gender: null,
        country: null,
        province: null,
        city: null,
        mobile: null,
        userType: 6,
        lastEntry: null,
        registerType: null,
        blacklist: null,
        email: null,
        readdress: null,
        createTime: null,
        // 新增
        timeCycle: null, //时间选择器
      },
      registerTypeOptions: [
        {
          value: 1,
          label: "官网",
        },
        {
          value: 2,
          label: "后台",
        },
        {
          value: 3,
          label: "微信授权",
        },
        {
          value: 4,
          label: "公众号",
        },
        {
          value: 5,
          label: "移动端",
        },
        {
          value: 6,
          label: "人工",
        },
      ],
      userTypeOptions: [
        {
          value: 6,
          label: "客服",
        },
      ],
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        createTime: [
          { required: true, message: "创建时间不能为空", trigger: "blur" },
        ],
        updateTime: [
          { required: true, message: "更新时间不能为空", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询中心用户列表 */
    getList() {
      this.loading = true;
      listUser(this.addDateRange(this.queryParams, this.dateRange)).then((response) => {
        this.userList = this.registerTypeText(response.rows); //转换注册来源显示内容
        this.userList = this.setUserTypeText(response.rows); //转换用户身份显示内容
        this.userList = this.setBlacklist(response.rows); //转换禁用显示类型
        this.userList = this.setJson(response.rows); //转换Json格式
        console.log(this.userList)
        // this.userList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      // this.reset();
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.userDetailsPop = false;
      this.activeName = 'first';
      // this.reset();
      // this.getList();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        openid: null,
        nickname: null,
        firmName: null,
        avatarurl: null,
        gender: null,
        country: null,
        province: null,
        city: null,
        mobile: null,
        userType: 6,
        lastEntry: null,
        registerType: null,
        blacklist: null,
        email: null,
        readdress: null,
        createTime: null,
        corporateSize: null,
        shopType: null,
        manageGoods: null,
        corporationSite: null,
        companyProfile: null,
        motifType: null,
        dispositionGoods: null,
        cooperationIntention: null,
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.dateRange = []
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.popType = 0
      this.open = true;
      this.title = "添加客服";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      console.log(row)
      // this.reset();
      this.popType = 1
      const id = row.id || this.ids;
      getUser(id).then((response) => {
        response.data.blacklist = response.data.blacklist == 1 ? true : false;
        for (let arr of this.registerTypeOptions) {
          if (arr.value == response.data.registerType) {
            response.data.registerTypeText = arr.label;
          }
        }
        this.form = response.data;
        this.open = true;
        this.title = "编辑";
      });
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      this.userDetailsPop = true
      const id = row.id || this.ids;
      getUser(id).then((response) => {
        response.data.blacklist = response.data.blacklist == 1 ? true : false;
        for (let arr of this.registerTypeOptions) {
          if (arr.value == response.data.registerType) {
            response.data.registerTypeText = arr.label;
          }
        }
        this.form = response.data;
        this.form.cooperationIntention = JSON.parse(this.form.cooperationIntention); //转换Json格式
        this.form.manageCategory = JSON.parse(this.form.manageCategory); //转换Json格式
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.loading = true;
      this.form.blacklist = this.form.blacklist ? 1 : 0
      this.$refs["form"].validate((valid) => {
        if (valid) {
          if (this.form.id != null) {
            updateUser(this.form).then((response) => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
              this.loading = false;
            });
          } else {
            addUser(this.form).then((response) => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    // handleDelete(row) {
    //   const ids = row.id || this.ids;
    //   this.$modal
    //     .confirm('是否确认删除中心用户编号为"' + ids + '"的数据项？')
    //     .then(function () {
    //       return delUser(ids);
    //     })
    //     .then(() => {
    //       this.getList();
    //       this.$modal.msgSuccess("删除成功");
    //     })
    //     .catch(() => {});
    // },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "background/centerUser/export",
        {
          ...this.queryParams,
        },
        `user_${new Date().getTime()}.xlsx`
      );
    },
    // 用户详情导航切换
    handleClick(tab, event) {
      console.log(tab, event);
    },
    /** 禁用状态转换 */
    setBlacklist(data) {
      let list = data;
      for (let item of list) {
        item.blacklist = item.blacklist == 1 ? true : false;
      }
      if(this.userDetailsPop) {
        setTimeout(()=>{
          this.handDetails(this.form)
          console.log(1111)
        },0)
      }
      return list;
    },
    handleAvatarSuccess(res, file) {
      console.log(this.userUrl)
      console.log(file.raw)
      // this.userUrl = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload(file) {
      // const isJPG = file.type === 'image/jpeg';
      const isLt2M = file.size / 1024 / 1024 < 5;
      // if (!isJPG) {
      //   this.$message.error('上传头像图片只能是 JPG 格式!');
      // }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!');
      }
      return isLt2M;
    },
    /** 注册来源显示转换 */
    registerTypeText(data) {
      let list = data;
      for (let item of list) {
        for (let arr of this.registerTypeOptions) {
          if (arr.value == item.registerType) {
            item.registerTypeText = arr.label;
          }
        }
      }
      console.log(list);
      return list;
    },
    /** 用户身份显示转换 */
    setUserTypeText(data) {
      let list = data;
      // for (let item of list) {
      //   for (let arr of this.userTypeOptions) {
      //     if (arr.value == item.userType) {
      //       item.userTypeText = arr.label;
      //     }
      //   }
      // }
      console.log(list);
      return list;
    },
    // JSON格式转换
    setJson(data) {
      let list = data;
      for (let item of list) {
        item.cooperationIntention = JSON.parse(item.cooperationIntention)
      }
      console.log(list);
      return list;
    },
  },
};
</script>
<style scoped>
/* 用户详情样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
}
.left_box {
  width: 90px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}
.left_box div {
  margin-bottom: 5px;
}
.left_box div span {
  line-height: 20px;
}
.left_box_img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}
.left_box_img > img {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #c9c9c9;
}
.left_box_name {
  width: 100%;
}
.left_box_vip {
  padding: 1px 5px;
  margin: 0 auto;
  border-radius: 11px;
  background-color: #666;
  color: #fff;
  font-size: 13px;
}
.foot_bt_box {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
.company_introduction {
  width: 100%;
  height: 40px;
}
.head_bt_back {
  position:absolute;
  left: 60px;
  top: 36px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
.head_bt_edit {
  background-color: #fff;
  position:absolute;
  padding: 0 10px ;
  right: 60px;
  top: 80px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #B1B1B1;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 1999;
}
.head_bt_edit > span {
  line-height: 26px;
}
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 105px;
  text-align: right;
  display: inline-block;
}
/deep/ .el-tabs__content {
  width: 800px;
  margin: 0 auto;
}
/deep/ .el-tabs__nav-scroll {
  width: 700px;
  margin: 0 auto;
}
/deep/ .el-descriptions--medium:not(.is-bordered) .el-descriptions-item__cell {
  padding-bottom: 15px
}
</style>
