<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="中文名" prop="brandName">
        <el-input
          v-model="queryParams.brandName"
          placeholder="请输入品牌中文名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="英文名" prop="brandEngName">
        <el-input
          v-model="queryParams.brandEngName"
          placeholder="请输入品牌英文名"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['background:phBranda:add']"
        >新增</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>
    <el-table v-loading="loading" :data="phBrandaList" @selection-change="handleSelectionChange">
      <el-table-column label="ID" align="center" prop="id" width="90px" />
      <el-table-column label="首字母" align="center" prop="initial" width="90px" />
      <el-table-column label="英文名" align="center" prop="brandEngName" />
      <el-table-column label="中文名" align="center" prop="brandName" />
      <el-table-column label="国家" align="center" prop="district" />
      <el-table-column label="LOGO" align="center" prop="brandImg" >
        <template slot-scope="scope">
          <image-preview v-if="scope.row.brandImg" :src="scope.row.brandImg" :width="40" :height="40"/>
        </template>
      </el-table-column>
      <el-table-column label="关注数" align="center" prop="concernNum" width="90" sortable/>
      <el-table-column label="采购数" align="center" prop="procureNum" width="90" sortable/>
      <el-table-column label="商品数" align="center" prop="goodNum" width="90" sortable/>
      <el-table-column label="供应商数" align="center" prop="supplier" />
      <el-table-column label="排序" align="center" prop="productSort" width="90" />
      <el-table-column label="官网展示" align="center" prop="publishStatus" >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.publishStatus"
            :dataId="scope.row.id"
            @change="switchPublishStatus(scope.row.id, scope.row.publishStatus,'publishStatus')">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column label="停产" align="center" prop="stopStatus" width="80">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.stopStatus"
            :dataId="scope.row.id"
            @change="switchPublishStatus(scope.row.id, scope.row.stopStatus,'stopStatus')">
          </el-switch>
        </template>
      </el-table-column>

      <el-table-column label="热门" align="center" width="80" prop="hotStatus" >
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.hotStatus"
            :dataId="scope.row.id"
            @change="switchPublishStatus(scope.row.id, scope.row.hotStatus,'hotStatus')">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column label="操作" fixed="right" align="center" width="120px" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['background:phBranda:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['background:phBranda:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改品牌对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="1000px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="110px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="品牌LOGO" prop="brandImg">
              <image-upload v-model="form.brandImg" :limit="1"/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="商标注册证" prop="markRegistration" v-if="form.markRegistration" >
              <image-preview :src="form.markRegistration" :width="150" :height="150"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="首字母" prop="initial">
              <el-input v-model="form.initial" @input="detect" placeholder="请输入品牌首字母" maxlength="1" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="中文名" prop="brandName">
              <el-input v-model="form.brandName" placeholder="请输入品牌中文名" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="英文名" prop="brandEngName">
              <el-input v-model="form.brandEngName" placeholder="请输入品牌英文名" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="所在国家">
              <el-select v-model="form.country">
                <el-option
                  v-for="item in countryList"
                  :key="item.id"
                  :label="item.district"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="商品类目" prop="manageCategory">
            <el-tree
              class="tree-border"
              :data="categoryList.filter(categoryItem => categoryItem.parentId === 0)"
              show-checkbox
              node-key="id"
              ref="leimu"
              :default-expanded-keys="form.categoryIdArr"
              :default-checked-keys="form.categoryIdArr"
              :props="defaultProps"
              @check-change="traverseSelectedNodes"
              >
            </el-tree>
          </el-form-item>
          <el-col :span="24">
            <el-form-item label="品牌网址" prop="readdress">
              <el-input v-model="form.readdress" placeholder="请输入品牌地址" />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="品牌简介" prop="brandProfile">
              <el-input v-model="form.brandProfile" placeholder="请输入品牌简介"/>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="官网展示" >
              <el-switch v-model="form.publishStatus"></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="停产" prop="stopStatus">
              <el-switch v-model="form.stopStatus"></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="热门" >
              <el-switch v-model="form.hotStatus"></el-switch>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="排序"  size ="20px"  prop="productSort">
              <el-input v-model="form.productSort" placeholder="请输入排序" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listPhBranda, getPhBranda, delPhBranda, addPhBranda, updatePhBranda, getPhBrandaCountry } from "@/api/background/phBranda";
import { listPhCategory } from "@/api/background/phCategory";

export default {
  name: "PhBranda",
  dicts: ['ph_whether', 'ph_auditing'],
  data() {
    // 表单验证-首字母正则
    var initialAge = (rule, value, callback) => {
      var regex = /[A-Z]/g;   //判断是否大写
      if (!value) {
        return callback(new Error('首字母不能为空'));
      }else if (!regex.test(value)) {
        return callback(new Error('首字母请使用大写字母'));
      }else {
        callback()
      }
    };
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 品牌表格数据
      phBrandaList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 分类参数表单
      categoryList: [],
      // 查询分类参数
      queryParamsCategory: {
        pageNum: 1,
        pageSize: 10,
        firstCategory: null,
        nthCategory: null,
        imgUrl: null,
        categorySort: null,
        parentId: null,
        productStatus: null,
        screenStatus: null,
        num: null,
        parameterTemplet: null,
        dl: null,
        brandaNum: null,
        applicableNum: null,
      },
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        embody: 1,
        publishStatus: 0,
        stopStatus: 0,
        auditing: null,
        brandName: null,
        brandEngName: null,
        country: null,
        brandImg: null,
        markRegistration: null,
        markUserType: null,
        brandType: null,
        brandWarrantType: null,
        brandCompanyWarrant: null,
        brandOneWarrant: null,
        warrantTime: null,
        manageCategory: null,
        auditingTime: null,
        hotStatus: null,
        brandProfile: null,
        readdress: null,
        concernNum: null,
        procureNum: null,
        productSort: null,
        goodNum: null,
        supplier: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        // initial:[{required: true, validator: initialAge, trigger: 'blur'}],
        brandName:[{required: true, message: '中文名不能为空', trigger: 'blur'}]
      },
      // 分类列表代理路劲
      defaultProps: {
        children: 'phCategoryChildrenList',
        label: 'firstCategory'
      },
      // 品牌国家列表
      countryList: [],
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询品牌列表 */
    getList() {
      this.loading = true;
      listPhBranda(this.queryParams).then(response => {
        for(let item of response.rows) {
          item.publishStatus = item.publishStatus == 1 ? true : false //判断开关状态
          item.stopStatus = item.stopStatus == 1 ? true : false //判断开关状态
          item.hotStatus = item.hotStatus == 1 ? true : false //判断开关状态
        }
        this.phBrandaList = response.rows;
        this.total = response.total;
        this.loading = false;
        listPhCategory(this.queryParamsCategory).then((response) => {
          this.categoryList = response.rows;
          this.loading = false;
        });
        getPhBrandaCountry().then((response) => {
          this.countryList = response.rows;
          this.loading = false;
        });
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        brandName: null,
        brandEngName: null,
        country: null,
        brandImg: null,
        markRegistration: null,
        markUserType: null,
        brandType: null,
        brandWarrantType: null,
        brandCompanyWarrant: null,
        brandOneWarrant: null,
        warrantTime: null,
        // manageCategory: null,
        brandIdList:null,
        auditing: null,
        auditingTime: null,
        publishStatus: true, //官网展示
        stopStatus: 0, //是否停产
        hotStatus: 0, //是否热门
        brandProfile: null,
        readdress: null,
        concernNum: null,
        procureNum: null,
        productSort: null,
        goodNum: null,
        supplier: null,
        createTime: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    // 筛选已选择的类目id
    setCategoryId(date) {
      let list = date
      if(list.brandIdList != null) {
        list.categoryIdArr = []
        for(let item of list.brandIdList) {
          let uid = Number(item.categoryId)
          list.categoryIdArr.push(uid)
        }
      }
      return list;
    },
    // JSON格式转换
    setJson(str) {
      let json = JSON.parse(str)
      return json;
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加品牌";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhBranda(id).then(response => {
        this.form = response.data;
        this.form.publishStatus = this.form.publishStatus == 1 ? true : false //判断开关状态
        this.form.stopStatus = this.form.stopStatus == 1 ? true : false //判断开关状态
        this.form.hotStatus = this.form.hotStatus == 1 ? true : false //判断开关状态
        this.form = this.setCategoryId(this.form)//筛选类目ID
        this.open = true;
        this.title = "修改品牌";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.form.publishStatus = this.form.publishStatus ? 1 : 0 //判断开关状态
      this.form.stopStatus = this.form.stopStatus ? 1 : 0 //判断开关状态
      this.form.hotStatus = this.form.hotStatus ? 1 : 0 //判断开关状态
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhBranda(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhBranda(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    
    // 判断首字母英文
    detect(val) {
      const regex = /^[a-zA-Z]+$/;  
      if(regex.test(val)) {
        this.form.initial = val.toUpperCase()
      } else if(this.form.initial != '') {
        this.form.initial ='',
        this.$message({
          message: '首字母请输入英文',
          type: 'warning'
        });
      }
    },
    
    // 列表开关回调-是否显示
    switchPublishStatus(id,sta,name) {
      // 查询修改接口
      getPhBranda(id).then(response => {
        this.form = response.data;
        if(name == 'publishStatus') {
          this.form.publishStatus = sta ?  1 : 0  //判断开关状态
        }else if(name == 'stopStatus') {
          this.form.stopStatus = sta ?  1 : 0  //判断开关状态
        }else if(name == 'hotStatus') {
          this.form.hotStatus = sta ?  1 : 0  //判断开关状态
        }
        // 提交修改接口
        updatePhBranda(this.form).then(response => {
          this.$modal.msgSuccess("修改成功");
        });
      });
    },
    // 遍历以固定格式插入选中节点
    traverseSelectedNodes(data) {
      let leiMu = this.$refs.leimu.getCheckedNodes() // 获取树状结构选中参数
      let arr = []
      for(let item of leiMu) {
        if(leiMu.length && (item.phCategoryChildrenList == null || item.phCategoryChildrenList.length == 0)) {
          let obj = {
            brandaId: this.form.id ? this.form.id : null,
            brandaName: this.form.brandName ? this.form.brandName : null,
            categoryId : item.id,
            categoryName : item.firstCategory,
            relatingType : 1,
            threeCategoryId : item.threeCategoryId,
            parentId : item.parentId,
            // relatingType = 关联标识 1.分类-品牌  2.分类-应用  3.分类-显示屏 4.分类-店铺  5.分类-商品  6.分类-属性 7.店铺-品牌  8.店铺-应用
          }
          arr.push(obj)
        }
      }
      this.form.brandIdList = arr
      this.form.categoryIdArr = []
      for(let item of arr) {
        let uid = Number(item.categoryId)
        this.form.categoryIdArr.push(uid)
      }
    },

    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除品牌编号为"' + ids + '"的数据项？').then(function() {
        return delPhBranda(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phBranda/export', {
        ...this.queryParams
      }, `phBranda_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
<style scoped>
.el-tree {
  height: 300px;
  overflow: auto;
}
</style>
