<template>
  <div class="app-container">
    <div v-if="!documentDetailsPop">
      <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
        <el-form-item label="型号" prop="modelName">
          <el-input
            v-model="queryParams.modelName"
            placeholder="请输入型号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phDocument:add']"
          >上传文档</el-button>
        </el-col>
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phDocument:export']"
          >导出</el-button>
        </el-col>
        <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
      </el-row>
  
      <el-table v-loading="loading" :data="phDocumentList" @selection-change="handleSelectionChange">
        <!-- <el-table-column type="selection" width="55" align="center" /> -->
        <el-table-column label="型号" align="center" prop="modelName" />
        <el-table-column label="文件类型" align="center" prop="type">
          <template slot-scope="scope">
            <span v-if="scope.row.type == 1">产品规格书</span>
            <span v-if="scope.row.type == 2">产品图纸</span>
          </template>
        </el-table-column>
        <el-table-column label="版本号" align="center" prop="version" />
        <el-table-column label="文件大小" align="center" prop="documentMagnitude" />
        <el-table-column label="浏览数" align="center" prop="browseQuantity" />
        <el-table-column label="下载数量" align="center" prop="downloadQuantity" />
        <el-table-column label="上传人" align="center" prop="uploadName" />
        <el-table-column label="上传时间" align="center" prop="createTime" />
        <el-table-column label="原厂发布日期" align="center" prop="formerly" width="180">
          <template slot-scope="scope">
            <span>{{ parseTime(scope.row.formerly, '{y}-{m}-{d}') }}</span>
          </template>
        </el-table-column>
        <el-table-column label="状态" align="center" prop="display">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.display"
              :dataId="scope.row.id"
              @change="switchDisplay(scope.row.id, scope.row.display)"
            >
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center" class-name="small-padding fixed-width" width="120">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:phDocument:edit']"
            >查看</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phDocument:edit']"
            >编辑</el-button>
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="previewFile(scope.row.documentUrl)"
              v-hasPermi="['background:user:remove']"
            >预览</el-button>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="downloadFile(scope.row.documentUrl)"
              v-hasPermi="['background:user:remove']"
            >下载</el-button> -->
          </template>
        </el-table-column>
      </el-table>
  
      <pagination
        v-show="total>0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>

    <!-- 添加或修改或查看文档对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <div v-if="editStaues">
          <!-- 修改详情 -->
          <el-form-item label="产品型号:" prop="modelName">
            <!-- <el-input v-model="form.modelName" placeholder="请输入产品型号"  :disabled="title == '修改文档'?false:true" /> -->
            <el-input v-model="form.modelName" placeholder="请输入产品型号" />
          </el-form-item>
          <el-form-item label="文件类型:" prop="type">
            <el-radio v-model="form.type" :label="1">产品规格书</el-radio>
            <el-radio v-model="form.type" :label="2">产品图纸</el-radio>
          </el-form-item>
          <el-form-item label="文档文件:" prop="documentUrl">
            <file-upload v-model="form.documentUrl" :fileType="['pdf']" :limit=1 :acceptType="'.pdf'" />
          </el-form-item>
          <el-form-item label="文档语言:" prop="language">
            <el-radio v-model="form.language" :label="1">English</el-radio>
            <el-radio v-model="form.language" :label="2">简体中文</el-radio>
            <el-radio v-model="form.language" :label="3">繁体中文</el-radio>
            <el-radio v-model="form.language" :label="4">日文</el-radio>
          </el-form-item>
          <el-form-item label="版本号:" prop="version">
            <el-input v-model="form.version" placeholder="请输入版本号" />
          </el-form-item>
          <el-form-item label="原厂发布日期:" prop="formerly">
            <el-date-picker clearable
              v-model="form.formerly"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="请选择发布日期">
            </el-date-picker>
          </el-form-item>
        </div>
        <div v-else>
          <!-- 查看详情 -->
          <el-form-item label="产品型号:" prop="modelName">
            <span> {{ form.modelName }}</span>
          </el-form-item>
          <el-form-item label="文件类型:" prop="type">
            <span v-if="form.type == 1">产品规格书</span>
            <span v-if="form.type == 2">产品图纸</span>
          </el-form-item>
          <el-form-item label="文档文件:" prop="documentUrl">
            <span>{{ form.documentUrlName }}</span>
            <!-- <br>
            <a style="margin-right: 10px; color: blue;" @click="previewFile(form.documentUrl)">预览</a>
            <a style="margin-right: 10px; color: blue;" @click="downloadFile(form.documentUrl)">下载</a> -->
          </el-form-item>
          <el-form-item label="文档语言:" prop="language">
            <span v-if="form.language == 1">English</span>
            <span v-if="form.language == 2">简体中文</span>
            <span v-if="form.language == 3">繁体中文</span>
            <span v-if="form.language == 4">日文</span>
          </el-form-item>
          <el-form-item label="版本号:" prop="version">
            <span>{{ form.version }}</span>
          </el-form-item>
          <el-form-item label="原厂发布日期:" prop="formerly">
            <span>{{ parseTime(form.formerly, '{y}-{m}-{d}') }}</span>
          </el-form-item>
          <el-form-item label="上传人:" prop="uploadName">
            <span>{{ form.uploadName }}</span>
          </el-form-item>
          <el-form-item label="上传时间:" prop="formerly">
            <span>{{ form.createTime }}</span>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <!-- <el-button v-if="!editStaues" type="primary" @click="setEditStaues">编辑</el-button> -->
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 文件预览对话框 -->
    <el-dialog title="文件预览" :visible.sync="previewPop" width="1200px" append-to-body>
      <iframe :src="previewUrl" style="width: 100%;height: 700px;"></iframe>
    </el-dialog>
  </div>
</template>

<script>
import { listPhDocument, getPhDocument, delPhDocument, addPhDocument, updatePhDocument } from "@/api/background/phDocument";

export default {
  name: "PhDocument",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 文档表格数据
      phDocumentList: [],
      // 弹出层标题
      title: "",
      // 是否编辑
      editStaues: false,
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        documentName: null,
        type: null,
        version: null,
        language: null,
        formerly: null,
        popedom: null,
        display: null,
        dl: null,
        updatePeople: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        createTime: [
          { required: true, message: "创建时间不能为空", trigger: "blur" }
        ],
        updateTime: [
          { required: true, message: "更新时间不能为空", trigger: "blur" }
        ]
      },
      // 详情页
      documentDetailsPop: null,

      previewPop: false,  //预览弹窗
      previewUrl: '', //预览URL
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询文档列表 */
    getList() {
      this.loading = true;
      listPhDocument(this.queryParams).then(response => {
        // this.phDocumentList = this.redoList(response.rows);  //重构
        this.phDocumentList = this.setDisplay(response.rows);  //转换状态显示类型
        this.total = response.total;
        this.loading = false;
        console.log(this.phDocumentList)
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;  
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        documentName: null,
        type: null,
        version: null,
        language: null,
        formerly: null,
        popedom: null,
        display: null,
        dl: null,
        updatePeople: null,
        createTime: null,
        updateTime: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.form.type = 1  //默认规格书
      this.form.language = 1  //默认英文
      this.open = true;
      this.editStaues = true
      this.title = "添加文档";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhDocument(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.editStaues = true
        this.title = "修改文档";
        let lastIndex = this.form.documentUrl.lastIndexOf('/');  
        this.form.documentUrlName = this.form.documentUrl.substring(lastIndex + 1); 
      });
    },
    /** 详情按钮操作 */
    handDetails(row) {
      this.reset();
      const id = row.id || this.ids;
      getPhDocument(id).then((response) => {
        this.form = response.data;
        this.open = true
        this.editStaues = false
        this.title = "详情文档";
        let lastIndex = this.form.documentUrl.lastIndexOf('/');  
        this.form.documentUrlName = this.form.documentUrl.substring(lastIndex + 1); 
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          let newDocumentName = this.form.modelName + '('+this.form.version+').pdf'
          this.form.documentName = newDocumentName
          if (this.form.id != null) {
            updatePhDocument(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhDocument(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    
    /** 禁用状态转换 */
    setDisplay(data) {
      let list = data;
      for (let item of list) {
        item.display = item.display == 1 ? true : false; //转换状态显示类型
      }
      return list;
    },
    // 列表开关回调-是否显示
    switchDisplay(id, sta) {
      // 查询修改接口
      getPhDocument(id).then((response) => {
        this.form = response.data;
        this.form.display = sta ? 1 : 0; //判断开关状态
        // 提交修改接口
        updatePhDocument(this.form).then(response => {
          this.$modal.msgSuccess("修改成功");
          this.open = false;
          this.getList();
        });
      });
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.documentDetailsPop = false;
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除文档编号为"' + ids + '"的数据项？').then(function() {
        return delPhDocument(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phDocument/export', {
        ...this.queryParams
      }, `phDocument_${new Date().getTime()}.xlsx`)
    },
    // 修改状态
    // setEditStaues() {
    //   this.editStaues = true
    // },
    // 下载文档
    downloadFile(url){
      console.log(url)
      let lastIndex = url.lastIndexOf('/');  
      let urlName = url.substring(lastIndex + 1); 
      // 创建一个Blob对象  
      const blob = new Blob([url], { type: 'application/pdf' });  
      // 创建一个可下载的URL  
      const downloadUrl = window.URL.createObjectURL(blob);   
      // 创建一个a标签，并设置href为URL，模拟点击下载  
      console.log(downloadUrl)
      const link = document.createElement('a');  
      link.href = downloadUrl;  
      // link.href = url;  
      link.download = urlName; // 设置下载文件的文件名 
      console.log(urlName)
      link.click();  
      // 释放URL对象  
      URL.revokeObjectURL(downloadUrl);  
    },
    // 浏览文件
    previewFile(url) {
      this.previewUrl = url
      this.previewPop = true
    },
  }
};
</script>
<style scoped>
/* 用户详情样式 */
.details_bg {
  font-size: 13px;
  background-color: #e4e7ed;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
}
.details_box_bg .details_form {
  width: 600px;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 50px;
}
/* 返回按钮/标题 */
.head_bt_back {
  position: absolute;
  left: 60px;
  top: 36px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 脚部按钮 */
.foot_bt_box {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 90px;
  text-align: right;
  display: inline-block;
}
/deep/ .el-table .fixed-width .el-button--mini  {
  margin-left: 5px;
}
</style>
