<template>
  <div class="app-container">
    <div class="head_status_box">
      <div class="head_tag" :class="queryParams.auditing == 1 ? 'head_tag_active':''" @click="setHeadStatus(1)">
        <span>待审核</span>
      </div>
      <div class="head_tag" :class="queryParams.auditing == 2 ? 'head_tag_active':''" @click="setHeadStatus(2)">
        <span>已通过</span>
      </div>
      <div class="head_tag" :class="queryParams.auditing == 3 ? 'head_tag_active':''" @click="setHeadStatus(3)">
        <span>审核不通过</span>
      </div>
    </div>
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="型号名称" prop="modelName">
        <el-input
          v-model="queryParams.modelName"
          placeholder="请输入"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="审核人" prop="updatePeople">
        <el-input
          v-model="queryParams.updatePeople"
          placeholder="请输入"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['background:phDocumentinfo:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="phDocumentinfoList" @selection-change="handleSelectionChange">
      <el-table-column label="型号名称" align="center" prop="modelName" />
      <el-table-column label="上传用户" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.uploadName }}</span>
          <!-- <br>
          <span>{{ scope.row.mobile }}</span> -->
        </template>
      </el-table-column>
      <el-table-column label="版本" align="center" prop="version" />
      <el-table-column label="是否收录" align="center" prop="embody" >
        <template slot-scope="scope">
          <span v-if="scope.row.embody == 1">已收录</span>
          <span v-if="scope.row.embody == 0" style="color: #ff2b2b;">未收录</span>
        </template>
      </el-table-column>
      <el-table-column v-if="queryParams.auditing != 1" label="审核时间" align="center" prop="checkTime" >
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.checkTime, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      <el-table-column v-if="queryParams.auditing == 3" label="原因" align="center" prop="content" >
        <template slot-scope="scope">
          <span>{{ scope.row.content }}</span>
        </template>
      </el-table-column>
      <el-table-column label="审核人" align="center" prop="updatePeople" />
      <el-table-column label="上传时间" align="center" prop="createTime" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            v-if="scope.row.auditing == 1"
            size="mini"
            type="text"
            icon="el-icon-tickets"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['background:phDocumentinfo:edit']"
            >审核</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-tickets"
            @click="previewFile(scope.row.documentUrl)"
            v-hasPermi="['background:phDocumentinfo:edit']"
            >预览</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-tickets"
            @click="downloadFile(scope.row.documentUrl)"
            v-hasPermi="['background:phDocumentinfo:edit']"
            >下载</el-button>
          <el-button
            v-if="scope.row.embody == 0 && scope.row.auditing == 2"
            size="mini"
            type="text"
            icon="el-icon-tickets"
            @click="handleDocument(scope.row)"
            v-hasPermi="['background:phDocumentinfo:edit']"
            >收录文档</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改审核文档对话框 -->
    <!-- <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="型号ID" prop="modelId">
          <el-input v-model="form.modelId" placeholder="请输入型号ID" />
        </el-form-item>
        <el-form-item label="型号名称" prop="modelName">
          <el-input v-model="form.modelName" placeholder="请输入型号名称" />
        </el-form-item>
        <el-form-item label="名称" prop="documentName">
          <el-input v-model="form.documentName" placeholder="请输入名称" />
        </el-form-item>
        <el-form-item label="文档URL" prop="documentUrl">
          <el-input v-model="form.documentUrl" placeholder="请输入文档URL" />
        </el-form-item>
        <el-form-item label="版本" prop="version">
          <el-input v-model="form.version" placeholder="请输入版本" />
        </el-form-item>
        <el-form-item label="文档所用语言" prop="lua">
          <el-input v-model="form.lua" placeholder="请输入文档所用语言" />
        </el-form-item>
        <el-form-item label="语言1.English 、2，简体中文  3.繁体中文 4.日文" prop="language">
          <el-input v-model="form.language" placeholder="请输入语言1.English 、2，简体中文  3.繁体中文 4.日文" />
        </el-form-item>
        <el-form-item label="原厂发布日期" prop="formerly">
          <el-date-picker clearable
            v-model="form.formerly"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择原厂发布日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="上传用户名" prop="uploadName">
          <el-input v-model="form.uploadName" placeholder="请输入上传用户名" />
        </el-form-item>
        <el-form-item label="审核通过时间" prop="checkTime">
          <el-date-picker clearable
            v-model="form.checkTime"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择审核通过时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="审核状态1.待审核  2.通过" prop="auditing">
          <el-input v-model="form.auditing" placeholder="请输入审核状态1.待审核  2.通过" />
        </el-form-item>
        <el-form-item label="文件权限  仅供管理员审核产品查看 = 1 仅允许VIP会员下载 = 2 仅允许所有注册会员下载 = 3 允许所有人下载" prop="popedom">
          <el-input v-model="form.popedom" placeholder="请输入文件权限  仅供管理员审核产品查看 = 1 仅允许VIP会员下载 = 2 仅允许所有注册会员下载 = 3 允许所有人下载" />
        </el-form-item>
        <el-form-item label="用户ID" prop="userId">
          <el-input v-model="form.userId" placeholder="请输入用户ID" />
        </el-form-item>
        <el-form-item label="${comment}" prop="SourceID">
          <el-input v-model="form.SourceID" placeholder="请输入${comment}" />
        </el-form-item>
        <el-form-item label="收录 0，否  1、是" prop="embody">
          <el-input v-model="form.embody" placeholder="请输入收录 0，否  1、是" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog> -->
    
    <!-- 详情文档对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="600px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="110px">
        <el-form-item label="上传用户:" prop="uploadName">
          <span> {{ form.uploadName }}</span>
        </el-form-item>
        <el-form-item label="上传时间:" prop="createTime">
          <span> {{ form.createTime }}</span>
        </el-form-item>
        <el-form-item label="产品型号:" prop="modelName">
          <el-input v-model="form.modelName" placeholder="请输入型号" clearable @keyup.enter.native="handleQuery"/>
        </el-form-item>
        <el-form-item label="文档文件:" prop="documentUrl">
          <file-upload v-model="form.documentUrl" :fileType="['pdf']" :limit=1 :acceptType="'.pdf'" />
        </el-form-item>
        <el-form-item label="文档语言:" prop="language">
          <el-radio v-model="form.language" :label="1">English</el-radio>
          <el-radio v-model="form.language" :label="2">简体中文</el-radio>
          <el-radio v-model="form.language" :label="3">繁体中文</el-radio>
          <el-radio v-model="form.language" :label="4">日文</el-radio>
        </el-form-item>
        <el-form-item label="版本号:" prop="version">
          <el-input v-model="form.version" placeholder="请输入版本号" />
        </el-form-item>
        <el-form-item label="原厂发布日期:" prop="formerly">
          <el-date-picker clearable
            v-model="form.formerly"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择原厂发布日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item v-if="form.auditing == 3" label="审核拒绝原因" prop="content">
          <span style="color: red;">{{ form.auditingList[0].content }}</span>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button v-if="form.auditing == 1" @click="handAuditing(form.id, 2)" type="primary" > 审核通过</el-button>
        <el-button v-if="form.auditing == 1" @click="handAuditing(form.id, 3)"  style="margin-left:20px;">审核不通过</el-button>
        <!-- <el-button type="primary" @click="submitForm">确 定</el-button> -->
        <el-button v-if="form.auditing != 1" @click="cancel">关闭</el-button>
      </div>
    </el-dialog>

    <!-- 审核拒绝对话框 -->
    <el-dialog title="审核不通过" :visible.sync="noAuditPop" width="600px" :close-on-click-modal="false" append-to-body>
      <el-form :rules="rules" label-width="100px">
        <el-row>
          <span>请选择不通过原因</span>
          <el-col :span="24">
            <el-checkbox-group v-model="noAuditActive" style="margin: 15px 0">
              <el-checkbox v-for="city in noAuditReason" :label="city" :key="city" style="margin: 10px; width: 45%;">{{city}}</el-checkbox>
            </el-checkbox-group>
          </el-col>
          <el-col :span="24">
            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入不通过原因"
              v-model="noAuditText">
            </el-input>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitAuditing">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 文件预览对话框 -->
    <el-dialog title="文件预览" :visible.sync="previewPop" width="1000px" append-to-body>
      <iframe :src="previewUrl" style="width: 100%;height: 600px;"></iframe>
    </el-dialog>
    
  </div>
</template>

<script>
import axios from 'axios';  
import { listPhDocumentinfo, getPhDocumentinfo, delPhDocumentinfo, addPhDocumentinfo, updatePhDocumentinfo, addEmbody } from "@/api/background/phDocumentinfo";

export default {
  name: "PhDocumentinfo",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 审核文档表格数据
      phDocumentinfoList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        auditing: 1,
        updatePeople: null,
        modelId: null,
        documentStatus: null,
        modelName: null,
        documentName: null,
        type: null,
        documentUrl: null,
        version: null,
        lua: null,
        language: null,
        formerly: null,
        uploadName: null,
        checkTime: null,
        popedom: null,
        userId: null,
        SourceID: null,
        embody: null
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      },

      auditAuditing: 1, // 审核状态 2通过 / 3拒绝
      noAuditPop: false, // 审核拒绝弹窗
      noAuditText: '', //原因内容
      noAuditActive: [], //选中原因
      noAuditReason: ["已收录该文档版本号，无需重复上传","文档不清晰","文档不符合，请删除公司名称，LOGO，网址，电话，QQ等无关信息"], //原因概括

      previewPop: false,
      previewUrl: '',
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询审核文档列表 */
    getList() {
      this.loading = true;
      listPhDocumentinfo(this.queryParams).then(response => {
        this.phDocumentinfoList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.noAuditPop = false;
      this.previewPop = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        modelId: null,
        documentStatus: null,
        modelName: null,
        documentName: null,
        type: null,
        documentUrl: null,
        version: null,
        lua: null,
        language: null,
        formerly: null,
        uploadName: null,
        checkTime: null,
        auditing: null,
        popedom: null,
        userId: null,
        SourceID: null,
        createTime: null,
        embody: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getPhDocumentinfo(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "审核详情";
        let lastIndex = this.form.documentUrl.lastIndexOf('/');  
        this.form.documentUrlName = this.form.documentUrl.substring(lastIndex + 1); 
      });
    },

    // 下载文档
    async downloadFile(url){
      let lastIndex = url.lastIndexOf('/');  
      let urlName = url.substring(lastIndex + 1); 
      console.log(urlName)
      // 创建一个Blob对象  
      const blob = new Blob([url], { type: 'pdf' });  
      // 创建一个可下载的URL  
      // const downloadUrl = URL.createObjectURL(blob);  
      const downloadUrl = URL.createObjectURL(blob);  
      // 创建一个a标签，并设置href为URL，模拟点击下载  
      const link = document.createElement('a');  
      link.href = downloadUrl;  
      link.download = urlName; // 设置下载文件的文件名 
      link.click();  
      // try {  
      //   const response = await axios.get(url, { responseType: 'blob' });  
      //   const downloadUrl = window.URL.createObjectURL(new Blob([response.data]));  
      //   const link = document.createElement('a');  
      //   link.href = downloadUrl;  
      //   link.setAttribute('download', urlName+'.pdf'); // 你可以设置文件名和扩展名  
      //   document.body.appendChild(link);  
      //   link.click();  
      //   // 释放URL对象  
      //   // URL.revokeObjectURL(downloadUrl);  
      // } catch (error) {  
      //   console.error(error);  
      // }  
    },
    // 浏览文件
    previewFile(url) {
      this.previewPop = true
      this.previewUrl = url
    },
    // 审核判断
    handAuditing(id,sta) {
      const _this = this
      this.auditAuditing = sta
      if(sta == 2) {
        this.$modal
        .confirm('确认审核通过')
        .then(function () {
          _this.submitAuditing();
          return
        })
        .catch(() => {});
      } else if(sta == 3) {
        this.noAuditPop = true
      }
    },
    // 审核接口
    submitAuditing() {
      this.form.auditing = this.auditAuditing
      this.form.content += this.noAuditText
      if(this.auditAuditing == 2) {
        updatePhDocumentinfo(this.form).then(response => {
          this.$modal.msgSuccess("审核成功");
          this.noAuditPop = false; //关闭拒绝原因弹窗
          this.open = false;
          this.getList();
        });
      } else if(this.auditAuditing == 3) {
        updatePhDocumentinfo(this.form).then(response => {
          this.$modal.msgSuccess("审核已拒绝");
          this.noAuditPop = false; //关闭拒绝原因弹窗
          this.open = false;
          this.getList();
        });
      }
    },
    // 查询收录文档详情
    handleDocument(row) {
      getPhDocumentinfo(row.id).then(response => {
        this.form = response.data;
        this.title = "收录文档";
        let lastIndex = this.form.documentUrl.lastIndexOf('/');  
        this.form.documentUrlName = this.form.documentUrl.substring(lastIndex + 1); 
        // 判断收录
        this.$confirm('是否确认收录此文档？').then(function() {
        }).then(() => {
          addEmbody(this.form).then(response => {
            if(response.code == 200) {
              this.$modal.msgSuccess("收录成功");
            }
            this.getList();
          });
        }).catch(() => {});
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updatePhDocumentinfo(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addPhDocumentinfo(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('background/phDocumentinfo/export', {
        ...this.queryParams
      }, `phDocumentinfo_${new Date().getTime()}.xlsx`)
    },
    // 头部标签状态事件
    setHeadStatus(str) {
      this.queryParams.auditing = str
      this.queryParams.pageNum = 1;
      // this.getList();
      this.resetQuery()
    }
  }
};
</script>
<style scoped>

/* 头部标签状态切换栏 👇*/
.head_status_box {
  width: 100%;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}
.head_tag {
  display: inline-block;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: #444;
}
.head_tag > span {
  font-size: 15px;
  letter-spacing:2px;
}
.head_tag_active {
  position: relative;
  color: #FD721D;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.head_tag_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  border-top: 4px solid #FD721D;
}
/* 头部标签状态切换栏 👆*/
</style>
