
<!-- 文档审核 -->
<template>
  <div class="app-container">
    
    <el-form
      :model="queryParams"
      ref="queryForm"
      size="small"
      :inline="true"
      v-show="showSearch"
      label-width="68px"
    >
      <el-form-item label="型号" prop="modelName">
        <el-input
          v-model="queryParams.modelName"
          placeholder="请输入型号"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <!-- <el-form-item label="企业名称" prop="firmName">
        <el-input
          v-model="queryParams.firmName"
          placeholder="请输入企业名称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="手机号" prop="mobile">
        <el-input
          v-model="queryParams.mobile"
          placeholder="请输入手机号"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item> -->
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery"
          >搜索</el-button
        >
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
          >重置</el-button
        >
      </el-form-item>
    </el-form>
    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['background:phShop:export']"
          >导出</el-button
        >
      </el-col>
      <right-toolbar
        :showSearch.sync="showSearch"
        @queryTable="getList"
      ></right-toolbar>
    </el-row>

    <el-table
      v-loading="loading"
      :data="phShopList"
      @selection-change="handleSelectionChange"
    >
      <!-- <el-table-column label="ID" align="center" prop="id" width="50px" /> -->
      <el-table-column label="型号" align="center" prop="modelName" />
      <el-table-column label="文件类型" align="center" prop="type">
        <template slot-scope="scope">
          <span v-if="scope.row.type == 1">产品规格书</span>
          <span v-if="scope.row.type == 2">产品图纸</span>
        </template>
      </el-table-column>
      <el-table-column label="下载用户" align="center" prop="？" />
      <el-table-column label="手机号" align="center" prop="？" />
      <el-table-column label="下载时间" align="center" prop="？" />
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
  </div>
</template>

<script>
import { getAuditing } from "@/api/background/phShop";
import { listPhDocument, getPhDocument, delPhDocument, addPhDocument, updatePhDocument } from "@/api/background/phDocument";

export default {
  name: "phShopAudit",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 店铺表格数据
      phShopList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 日期范围
      dateRange: [],
      // 表单参数
      form: {},
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        // auditing: 1,
        // productStyle: 1,
        documentName: null,
        type: null,
        version: null,
        language: null,
        formerly: null,
        popedom: null,
        display: null,
        dl: null,
        updatePeople: null,
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询店铺列表 */
    getList() {
      this.loading = true;
      listPhDocument(this.queryParams).then((response) => {
        this.phShopList = response.rows;
        console.log('查询列表',this.phShopList)
        this.total = response.total;
        this.loading = false;
      });
    },
    /** 搜索按钮操作 */
    handleQuery() {
      // let curAuditing = this.queryParams.auditing
      this.queryParams.pageNum = 1;
      console.log(this.queryParams);
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      let curAuditing = this.queryParams.auditing
      this.queryParams.auditing = curAuditing
      this.dateRange = []
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.noAuditPop = false;
      // this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        documentName: null,
        type: null,
        version: null,
        language: null,
        formerly: null,
        popedom: null,
        display: null,
        dl: null,
        updatePeople: null,
      };
      this.phBrandaArr=[],
      this.resetForm("form");
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "background/phShop/export",
        {
          ...this.queryParams,
        },
        `phShop_${new Date().getTime()}.xlsx`
      );
    },
  },
};
</script>