<template>
  <div id="moban">
    <!-- 返回/标题 -->
    <div class="head_back_box">
      <div class="head_bt_back" @click="detailsBack">
        <img src="../../../assets/icons/返回.png" alt="">
        <span>{{ title }}</span>
      </div>
      <div class="head_category" v-if="procedure == 2">
        <span style="line-height: 50px; margin-right: 20px;">您选择的类目：{{ headCategoryName }}</span>
        <el-button size="mini" @click="lastStep">重选类目</el-button>
      </div>
    </div>
    <el-form v-loading="loading" >
      <!-- 第一步 -->
      <div v-if="procedure == 1">
        <div class="details_box_bg" style="width: 100%;">
          <div class="category_page">
            <el-row>
              <el-col :span="24">
                <p style="font-size: 20px;"><i class="must_icon">*</i>选择类目：</p>
                <p>已选择：{{ headCategoryName }}</p>
                <el-cascader-panel v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory',children: 'phCategoryChildrenList' }" popper-class="phCategoryChildrenList" :options="categoryList" filterable clearable @change="getCheckedNodes">
                <!-- <el-cascader-panel v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory' }" :options="categoryList" @change="getCheckedNodes"> -->
                </el-cascader-panel>
                <!-- <el-select v-model="form.categoryId" placeholder="请选择">
                  <el-option v-for="item of categoryList" :key="item.id" :value="item.id" :label="item.firstCategory">{{ item.firstCategory }}</el-option>
                </el-select> -->
              </el-col>
            </el-row>
          </div>
          <div class="details_box_bg foot_bt_box" style="width: 100%;">
            <el-button type="primary" @click="next()" round>下一步</el-button>
          </div>
        </div>
      </div>
      <!-- 第二步 -->
      <div v-if="procedure == 2">
        <div class="details_box_bg">
          <div class="centent_box">
            <div class="centent_box_left">
              <div class="menu">
                <a href="#basic">基本信息</a>
                <a href="#mainParameter">主要参数</a>
                <a href="#panelPicture">面板图片</a>
                <a href="#productDocumentation">产品文档</a>
                <a href="#detailedParameter">详细参数</a>
                <a href="#packagingParameter">包装特征</a>
                <a href="#productIntroduction">产品介绍</a>
              </div>
            </div>
            <div class="centent_box_right">
              <div class="fengexian"></div>
              <el-form ref="form" :model="form" :rules="rules" label-width="150px" v-loading="loading" >
                <!-- 基本信息 -->
                <el-row>
                  <div id="basic" class="left_box_title">基本信息</div>
                  <el-col :span="22">
                    <el-form-item label="型号名称" prop="modelName">
                      <el-input class="my-input" v-model="form.modelName" placeholder="自动生成型号名称" :disabled="true"/>
                      <span class="unit_text">用于SEO搜索</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="型号" prop="model">
                      <el-input class="my-input" v-model="form.model" placeholder="请输入型号" @change="screenDocument" />
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="三级分类" prop="categoryTwoId">
                      <el-select class="my-input" v-model="categoryIdArr[2]" placeholder="请选择" @change="categoryTwoIdChange" filterable>
                        <el-option  
                          v-for="item in categoryThreeArr"
                          :key="item.id"
                          :label="item.firstCategory"
                          :value="item.id">
                        </el-option> 
                      </el-select>
                      <!-- <el-input v-else class="my-input" v-model="form.categoryThreeName" placeholder="该二级分类暂无三级分类" :disabled="true"/> -->
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="尺寸" prop="dimensionId">
                      <el-select class="my-input" v-model="form.dimensionId" placeholder="请选择" @change="dimensionChange" filterable>
                        <el-option  
                          v-for="item in dimensionList"
                          :key="item.id"
                          :label="item.value"
                          :value="item.id">
                        </el-option> 
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="品牌" prop="brandId">
                      <el-select class="my-input" v-model="form.brandId" placeholder="请选择" @change="brandChange" filterable>
                        <el-option  
                          v-for="item in phBrandaList"
                          :key="item.id"
                          :label="item.brandName"
                          :value="item.id">
                        </el-option> 
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="分辨率" prop="resolutionId">
                      <el-select class="my-input" v-model="form.resolutionId" placeholder="请选择" @change="resolutionChange" filterable>
                        <el-option  
                          v-for="item in resolutionList"
                          :key="item.id"
                          :label="item.value"
                          :value="item.id">
                        </el-option> 
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="22">
                    <el-form-item label="应用领域" prop="applicableId">
                      <!-- <el-select class="my-input" v-model="form.applicableId" placeholder="请选择"  @change="applicableIdChange" filterable>
                        <el-option  
                          v-for="item in phApplicableList"
                          :key="item.id"
                          :label="item.sceneName"
                          :value="item.id">
                        </el-option>
                      </el-select> -->
                      <div class="select_box">
                        <span class="select_box_border">
                          <span class="select_box_content" v-for="val,i of applicableIdSelectActiveNameArr" :key="i">
                            <span>{{ val }}</span>
                            <i class="el-icon-error" @click="delApplicableValue(i)"></i>
                          </span>
                          <input type="text" class="click_input" :placeholder="(form.applicableId == null || form.applicableId.length < 1) ? '请选择':''" readonly @click="setApplicableIdSelectBox(phApplicableList)" />
                        </span>
                      </div>
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="生产状态" prop="state">
                      <el-radio-group v-model="form.state">
                        <el-radio-button :label="1">量产中</el-radio-button>
                        <el-radio-button :label="0">停产中</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                  </el-col>
                </el-row>
                <div class="fengexian"></div>
                <!-- 主要参数 -->
                <el-row>
                  <div id="mainParameter" class="left_box_title">主要参数</div>
                  <div v-if="mainParameterStatus">
                    <div v-for="lists,i of form.modelContent" :key="i">
                      <!-- <el-col :span="24">
                        <p class="subheading">{{ lists.moduleTitle }}</p>
                      </el-col> -->
                      <div v-for="item,k of lists.argument" :key="k">
                        <el-col v-if="item.parameterMain" :span="typeWidth(item.parameterType)">
                          <!-- 1 输入框 -->
                          <el-form-item v-if="item.parameterType == 1" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <el-input class="my-input" v-model="item.parameterValue" placeholder="请输入" @input="updateView" />
                            <span v-if="item.parameterType == 1 || item.parameterType == 4" class="unit_text">{{ item.parameterUnit }}</span>
                          </el-form-item>
                          <!-- 2 单选框 -->
                          <el-form-item v-if="item.parameterType == 2" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <el-radio-group class="my-input" v-model="item.parameterValue">
                              <el-radio v-for="val,v of item.parameterContent" :key="v" :label="val" @change="updateView" >{{ val }}</el-radio>
                            </el-radio-group>
                            <span v-if="item.parameterType == 1 || item.parameterType == 4" class="unit_text">{{ item.parameterUnit }}</span>
                          </el-form-item>
                          <!-- 3 多选框 -->
                          <el-form-item v-if="item.parameterType == 3">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <el-checkbox-group class="my-input" v-model="item.parameterValue">
                              <el-checkbox v-for="val,v of item.parameterContent" :key="v" :label="val" @change="updateView" >{{val}}</el-checkbox>
                            </el-checkbox-group>
                            <span v-if="item.parameterType == 1 || item.parameterType == 4" class="unit_text">{{ item.parameterUnit }}</span>
                          </el-form-item>
                          <!-- 4 下拉框 -->
                          <el-form-item v-if="item.parameterType == 4" :label="item.parameterName"  :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <el-select class="my-input" v-model="item.parameterValue" placeholder="请选择">
                              <el-option
                                v-for="val in item.parameterContent"
                                :key="val.value"
                                :label="val.label"
                                :value="val.value"
                                @change="updateView" >
                              </el-option>
                            </el-select>
                            <span v-if="item.parameterType == 1 || item.parameterType == 4" class="unit_text">{{ item.parameterUnit }}</span>
                          </el-form-item>
                          <!-- 5 单选弹框 -->
                          <el-form-item v-if="item.parameterType == 5" :label="item.parameterName" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <div class="select_box">
                              <span class="select_box_border">
                                <input type="text" class="click_input" :placeholder="(item.parameterValue ==='' || item.parameterValue == null) ? '请选择':''" v-model="item.parameterValue" readonly @click="setDialogSelectBox(item.parameterType,item.parameterContent,i,k)">
                              </span>
                            </div>
                            <i class="el-icon-news unit_text" style="font-size: 18px; cursor: pointer;" @click="setDialogSelectBox(item.parameterType,item.parameterContent,i,k)"></i>
                          </el-form-item>
                          <!-- 6 多选弹框 -->
                          <el-form-item v-if="item.parameterType == 6" :label="item.parameterName" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <div class="select_box">
                              <span class="select_box_border">
                                <span class="select_box_content" v-for="val,v of item.parameterValue" :key="v">
                                  <span>{{ val }}</span>
                                  <i class="el-icon-error" @click="delActiveValue(i,k,v)"></i>
                                </span>
                                <input type="text" class="click_input" :placeholder="(item.parameterValue == null || item.parameterValue.length < 1) ? '请选择':''" readonly @click="setDialogSelectBox(item.parameterType,item.parameterContent,i,k)" />
                              </span>
                            </div>
                            <i class="el-icon-news unit_text" style="font-size: 18px; cursor: pointer;" @click="setDialogSelectBox(item.parameterType,item.parameterContent,i,k)"></i>
                          </el-form-item>
                          <!-- 7 区间输入框 -->
                          <el-form-item v-if="item.parameterType == 7" :label="item.parameterName" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <div style="display: flex;">
                              <div class="my-input" style=" display: flex;">
                                <el-input :date-id="(i+'0'+k)" v-model="item.parameterContent" placeholder="最小值" />
                                <span style="margin:0 10px">-</span>
                                <el-input :date-id="(i+'0'+k)" v-model="item.parameterContent2" placeholder="最大值" />
                              </div>
                              <span v-if="item.parameterType == 1 || item.parameterType == 4 || item.parameterType == 7" class="unit_text">{{ item.parameterUnit }}</span>
                            </div>
                            <!-- <el-row>
                              <el-col :span="8">
                              </el-col>
                              <el-col :span="2" style="text-align: center;">
                              </el-col>
                              <el-col :span="8">
                              </el-col>
                              <el-col :span="4">
                              </el-col>
                            </el-row> -->
                          </el-form-item>
                        </el-col>
                      </div>
                    </div>
                  </div>
                  <div v-else>
                    <p style="text-align: center;font-size: 16px;color: #888;">该分类还未设置主要参数</p>
                  </div>
                </el-row>
                <div class="fengexian"></div>
                <!-- 产品图片 -->
                <el-row>
                  <div id="panelPicture" class="left_box_title">
                    <span>产品图片</span>
                    <!-- <el-upload
                      class="upload-demo"
                      action="https://jsonplaceholder.typicode.com/posts/"
                      :on-preview="handlePreview"
                      :on-remove="handleRemove"
                      :file-list="phImageArr"
                      list-type="picture">
                      <el-button size="mini" plain type="primary" icon="el-icon-plus">上传图片</el-button>
                      <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                    </el-upload> -->
                    <el-button
                      v-if="phImageArr.length == 0"
                      type="primary"
                      plain
                      icon="el-icon-plus"
                      size="mini"
                      @click="imageAdd"
                      v-hasPermi="['background:phDocument:add']"
                    >
                      <span>上传图片</span>
                    </el-button>
                    <el-button
                      v-else
                      type="primary"
                      plain
                      icon="el-icon-edit"
                      size="mini"
                      @click="imageAdd"
                      v-hasPermi="['background:phDocument:add']"
                    >
                      <span>修改图片</span>
                    </el-button>
                  </div>
                  <div>
                    <div class="table_box">
                      <div class="img_title">
                        <div class="img_col">
                          <span>图片</span>
                        </div>
                        <div class="img_col">
                          <span>是否主图</span>
                        </div>
                        <div class="img_col" style="min-width: 160px;">
                          <span>更新时间</span>
                        </div>
                        <div class="img_col">
                          <span>排序</span>
                        </div>
                        <div class="img_col" style="min-width: 160px;">
                          <span>操作</span>
                        </div>
                      </div>
                      <div v-if="phImageArr && phImageArr.length > 0">
                        <div v-for="item,i of phImageArr" :key="i">
                          <div class="img_title img_value">
                            <div class="img_col">
                              <image-preview :src="item" :width="40" :height="40"/>
                            </div>
                            <div class="img_col">
                              <span v-if="i == 0" style="border-radius: 3px;border: 1px solid #FD721D; color: #FD721D;padding: 2px 6px;">主图</span>
                            </div>
                            <div class="img_col" style="min-width: 125px;">
                              <span v-if="imgFrom.updateTime == null">{{ imgFrom.createTime }}</span>
                              <span v-else>{{ imgFrom.updateTime }}</span>
                              <!-- <span v-if="i == 0" style="border-radius: 3px;border: 1px solid #FD721D; color: #FD721D;padding: 2px 6px;">{{ item.updateTime }}</span> -->
                            </div>
                            <div class="img_col">
                              <i v-if="i != 0" @click="setImgSort(i,'under')" class="el-icon-bottom sort_icon"></i>
                              <i v-if="i != 0" @click="setImgSort(i,'up')" class="el-icon-top sort_icon"></i>
                            </div>
                            <div class="img_col" style="min-width: 160px;">
                              <el-button
                                v-if="i != 0"
                                size="mini"
                                type="text"
                                icon="el-icon-tickets"
                                @click="setMasterChart(i)"
                                v-hasPermi="['background:user:remove']"
                              >设为主图</el-button>
                              <!-- <el-button
                                size="mini"
                                type="text"
                                icon="el-icon-edit"
                                @click="imageUpdate()"
                                v-hasPermi="['background:phImage:edit']"
                              >修改</el-button> -->
                              <el-button
                                size="mini"
                                type="text"
                                icon="el-icon-tickets"
                                @click="delImg(i)"
                                v-hasPermi="['background:user:remove']"
                              >删除</el-button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div v-else style="text-align: center">
                        <span style="line-height: 60px;font-size:14px;color: #909399;">暂无数据</span>
                      </div>
                    </div>
                  </div>
                </el-row>
                <div class="fengexian"></div>
                <!-- 产品文档 -->
                <el-row>
                  <div id="productDocumentation" class="left_box_title">
                    <span>产品文档</span>
                    <el-button
                      type="primary"
                      plain
                      icon="el-icon-plus"
                      size="mini"
                      @click="documentAdd"
                      v-hasPermi="['background:phDocument:add']"
                    >上传文档</el-button>
                  </div>
                  <el-table :data="documentList" style="width: calc(100% - 40px);margin: 0 20px 20px 20px; border: 1px solid #E2E2E2;">
                    <el-table-column prop="documentName" label="文件名" min-width="230"></el-table-column>
                    <el-table-column prop="type" label="类型" min-width="100">
                      <template slot-scope="scope">
                        <span v-if="scope.row.type == 1">产品规格书</span>
                        <span v-if="scope.row.type == 2">产品图纸</span>
                      </template>
                    </el-table-column>
                    <el-table-column prop="version" label="版本"></el-table-column>
                    <el-table-column prop="address" label="语言">
                      <template slot-scope="scope">
                        <span v-if="scope.row.language == 1">English</span>
                        <span v-if="scope.row.language == 2">简体中文</span>
                        <span v-if="scope.row.language == 3">繁体中文</span>
                        <span v-if="scope.row.language == 4">日文</span>
                      </template>
                    </el-table-column>
                    <el-table-column prop="address" label="原厂发布">
                      <template slot-scope="scope">
                        <span>{{ parseTime(scope.row.formerly, '{y}-{m}-{d}') }}</span>
                      </template>
                    </el-table-column>
                    <el-table-column prop="address" label="显示">
                      <template slot-scope="scope">
                        <el-switch
                          v-model="scope.row.display"
                          :dataId="scope.row.id"
                          @change="documentSwitchDisplay(scope.row.id, scope.row.display)"
                        >
                        </el-switch>
                      </template>
                    </el-table-column>
                    <el-table-column prop="uploadName" label="上传人"></el-table-column>
                    <el-table-column prop="address" label="操作" width="110px">
                      <template slot-scope="scope">
                        <el-button
                          size="mini"
                          type="text"
                          icon="el-icon-tickets"
                          @click="documentPreviewFile(scope.row.documentUrl)"
                          v-hasPermi="['background:user:remove']"
                        >预览</el-button>
                        <el-button
                          size="mini"
                          type="text"
                          icon="el-icon-edit"
                          @click="documenUpdate(scope.row)"
                          v-hasPermi="['background:phDocument:edit']"
                        >编辑</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </el-row>
                <div class="fengexian"></div>
                <!-- 详细参数 -->
                <el-row>
                  <div id="detailedParameter" class="left_box_title">详细参数</div>
                  <div v-if="parameterStatus">
                    <div v-for="lists,i of form.modelContent" :key="i">
                      <el-col v-if="lists.argument != []" :span="24">
                        <p class="subheading">{{ lists.moduleTitle }}</p>
                      </el-col>
                      <div v-for="item,k of lists.argument" :key="k">
                        <el-col v-if="!item.parameterMain" :span="typeWidth(item.parameterType)">
                          <!-- 1 输入框 -->
                          <el-form-item v-if="item.parameterType == 1" :label="item.parameterName" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <el-input class="my-input" v-model="item.parameterValue" placeholder="请输入" @input="updateView" />
                            <span class="unit_text">{{ item.parameterUnit }}</span>
                          </el-form-item>
                          <!-- 2 单选框 -->
                          <el-form-item v-if="item.parameterType == 2" :label="item.parameterName" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <el-radio-group class="my-input" v-model="item.parameterValue">
                              <el-radio v-for="val,v of item.parameterContent" :key="v" :label="val" @change="updateView" >{{ val }}</el-radio>
                            </el-radio-group>
                            <span class="unit_text">{{ item.parameterUnit }}</span>
                          </el-form-item>
                          <!-- 3 多选框 -->
                          <el-form-item v-if="item.parameterType == 3" :label="item.parameterName">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <el-checkbox-group class="my-input" v-model="item.parameterValue">
                              <el-checkbox v-for="val,v of item.parameterContent" :key="v" :label="val" @change="updateView" >{{val}}</el-checkbox>
                            </el-checkbox-group>
                            <span class="unit_text">{{ item.parameterUnit }}</span>
                          </el-form-item>
                          <!-- 4 下拉框 -->
                          <el-form-item v-if="item.parameterType == 4" :label="item.parameterName"  :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <el-select class="my-input" v-model="item.parameterValue" placeholder="请选择">
                              <el-option
                                v-for="item in item.parameterContent"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value"
                                @change="updateView" >
                              </el-option>
                            </el-select>
                            <span v-if="item.parameterType == 1 || item.parameterType == 4" class="unit_text">{{ item.parameterUnit }}</span>
                          </el-form-item>
                          <!-- 5 单选弹框 -->
                          <el-form-item v-if="item.parameterType == 5" :label="item.parameterName" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <div class="select_box">
                              <span class="select_box_border">
                                <input type="text" class="click_input" :placeholder="(item.parameterValue ==='' || item.parameterValue == null) ? '请选择':''" v-model="item.parameterValue" readonly @click="setDialogSelectBox(item.parameterType,item.parameterContent,i,k)">
                              </span>
                            </div>
                            <i class="el-icon-news unit_text" style="font-size: 18px; cursor: pointer;" @click="setDialogSelectBox(item.parameterType,item.parameterContent,i,k)"></i>
                          </el-form-item>
                          <!-- 6 多选弹框 -->
                          <el-form-item v-if="item.parameterType == 6" :label="item.parameterName" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip> 
                              {{ item.parameterName }}
                            </span>
                            <div class="select_box">
                              <span class="select_box_border">
                                <span class="select_box_content" v-for="val,v of item.parameterValue" :key="v">
                                  <span>{{ val }}</span>
                                  <i class="el-icon-error" @click="delActiveValue(i,k,v)"></i>
                                </span>
                                <input type="text" class="click_input" :placeholder="(item.parameterValue.length < 1 || item.parameterValue == null) ? '请选择':''" readonly @click="setDialogSelectBox(item.parameterType,item.parameterContent,i,k)" />
                              </span>
                            </div>
                            <i class="el-icon-news unit_text" style="font-size: 18px; cursor: pointer;" @click="setDialogSelectBox(item.parameterType,item.parameterContent,i,k)"></i>
                          </el-form-item>
                          <!-- 7 区间输入框 -->
                          <el-form-item v-if="item.parameterType == 7" :label="item.parameterName" :rules="judgmentMust(item.mustType)">
                            <span slot="label">
                              <el-tooltip v-if="item.parameterIntroduce" :content="item.parameterIntroduce" placement="top" effect="light">
                                <i class="el-icon-question"></i>
                              </el-tooltip>
                              {{ item.parameterName }}
                            </span>
                            <div style="display: flex;">
                              <el-row>
                                <el-col :span="11">
                                  <el-input :date-id="(i+'0'+k)" v-model="item.parameterValue" placeholder="请输入区间值" @input="updateView" />
                                </el-col>
                                <el-col :span="2" style="text-align: center;">
                                  <span>-</span>
                                </el-col>
                                <el-col :span="11">
                                  <el-input :date-id="(i+'0'+k)" v-model="item.parameterValue2" placeholder="请输入区间值" />
                                </el-col>
                              </el-row>
                              <span class="unit_text">{{ item.parameterUnit }}</span>
                            </div>
                          </el-form-item>
                        </el-col>
                      </div>
                    </div>
                  </div>
                  <div v-else>
                    <p style="text-align: center;font-size: 16px;color: #888;">改分类还没对应参数模板</p>
                  </div>
                </el-row>
                <div class="fengexian"></div>
                <!-- 包装特征 -->
                <el-row>
                  <div id="packagingParameter" class="left_box_title">包装特征</div>
                  <el-col :span="11">
                    <el-form-item label="包装数量" prop="packageNum">
                      <el-input class="my-input" v-model="form.packageNum" placeholder="请输入"/>
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="包装箱重量" prop="boxWeight">
                      <el-input class="my-input" v-model="form.boxWeight" placeholder="请输入"/>
                      <span class="unit_text">g</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="包装箱尺寸" prop="boxDimension">
                      <el-input class="my-input" v-model="form.boxDimension" placeholder="请输入"/>
                      <span class="unit_text">mm</span>
                    </el-form-item>
                  </el-col>
                  <el-col :span="11">
                    <el-form-item label="产品净重" prop="goodWeight">
                      <el-input class="my-input" v-model="form.goodWeight" placeholder="请输入"/>
                      <span class="unit_text">g</span>
                    </el-form-item>
                  </el-col>
                </el-row>
                <div class="fengexian"></div>
                <!-- 产品简介 -->
                <el-row>
                  <div id="productIntroduction" class="left_box_title">产品简介</div>
                  <el-col :span="24">
                    <el-form-item prop="goodSummary" label-width="20px" style="width: calc(100% - 20px);" >
                      <el-input  v-model="form.goodSummary" type="textarea" :rows="5" placeholder="请输入" />
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
            </div>
          </div>
        </div>
        <div class="details_box_bg foot_bt_box">
          <el-button type="primary" @click="submitForm">保存</el-button>
          <el-button @click="detailsBack">返回列表</el-button>
        </div>
      </div>
    </el-form>
    
    <!-- 修改文档对话框 -->
    <el-dialog :title="documentTitle" :visible.sync="documentOpen" width="600px" append-to-body>
      <el-form ref="documentForm" :model="documentForm" :rules="rules" label-width="120px">
        <!-- 修改详情 -->
        <el-form-item label="产品型号:" prop="modelName">
          <el-input v-model="documentForm.modelName" placeholder="请输入产品型号" :disabled="true" />
        </el-form-item>
        <el-form-item label="文件类型:" prop="type">
          <el-radio v-model="documentForm.type" :label="1">产品规格书</el-radio>
          <el-radio v-model="documentForm.type" :label="2">产品图纸</el-radio>
        </el-form-item>
        <el-form-item label="文档文件:" prop="documentUrl">
          <file-upload v-model="documentForm.documentUrl" :fileType="['pdf']" :limit=1 :acceptType="'.pdf'"/>
        </el-form-item>
        <el-form-item label="文档语言:" prop="language">
          <el-radio v-model="documentForm.language" :label="1">English</el-radio>
          <el-radio v-model="documentForm.language" :label="2">简体中文</el-radio>
          <el-radio v-model="documentForm.language" :label="3">繁体中文</el-radio>
          <el-radio v-model="documentForm.language" :label="4">日文</el-radio>
        </el-form-item>
        <el-form-item label="版本号:" prop="version">
          <el-input v-model="documentForm.version" placeholder="请输入版本号" />
        </el-form-item>
        <el-form-item label="原厂发布日期:" prop="formerly">
          <el-date-picker clearable
            v-model="documentForm.formerly"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择发布日期">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitDocumenForm">确 定</el-button>
        <el-button @click="documenCancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 文件预览对话框 -->
    <el-dialog title="文件预览" :visible.sync="documentPreviewPop" width="1200px" append-to-body>
      <iframe :src="documentPreviewUrl" style="width: 100%;height: 700px;"></iframe>
    </el-dialog>
    <!-- 多选弹出框 -->
    <el-dialog title="选择框" :visible.sync="dialogSelectBoxPop" width="700px" append-to-body>
      <div v-if="dialogSelectType == 6" style="overflow: auto">
        <!-- 多选 -->
        <el-checkbox-group class="my-input" style="line-height:20px" v-model="dialogSelectActiveArr">
          <el-checkbox v-for="val,i of dialogSelectArr" :key="i" :label="val" >{{val}}</el-checkbox>
        </el-checkbox-group>
      </div>
      <div v-else>
        <!-- 单选 -->
        <el-radio-group class="my-input" v-model="dialogSelectActiveArr" style="overflow: auto">
          <el-radio v-for="val,v of dialogSelectArr" :key="v" :label="val" @change="updateView" >{{ val }}</el-radio>
        </el-radio-group>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogSelectBoxPop = false">取 消</el-button>
        <el-button type="primary" @click="confirmSelection">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 多选弹出框-应用场景 -->
    <el-dialog title="选择框" :visible.sync="applicableIdSelectBoxPop" width="700px" append-to-body>
      <div style="overflow: auto">
        <!-- 多选 -->
        <el-checkbox-group class="my-input" style="line-height:20px" v-model="applicableIdSelectActiveArr">
          <el-checkbox v-for="val,i of applicableIdSelectArr" :key="i.sceneName" :label="val.id" >{{val.sceneName}}</el-checkbox>
        </el-checkbox-group>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="applicableIdSelectBoxPop = false">取 消</el-button>
        <el-button type="primary" @click="applicableIdSelection">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 上传图片 -->
    <el-dialog title="上传图片" :visible.sync="imageAddPop" width="600px" append-to-body>
      <el-form ref="imgFrom" :model="imgFrom" :rules="rules" label-width="80px">
        <el-form-item label="" prop="imageUrl">
          <image-upload v-model="imgFrom.imageUrl"/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitImgform">确 定</el-button>
        <el-button @click="imgCancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listPhCategory } from "@/api/background/phCategory";
import { listPhBranda } from "@/api/background/phBranda";
import { listPhModels, getPhModels, addPhModels, updatePhModels } from "@/api/background/phModels";
import { getPhTemplateCategoryId} from "@/api/background/phTemplate"; //模板
import { listPhDocument, getPhDocument, addPhDocument, updatePhDocument } from "@/api/background/phDocument";
import { getPhImage, addPhImage, updatePhImage } from "@/api/background/phImage";//图片管理
import { listPhApplicable } from "@/api/background/phApplicable";
import { listPhTag } from "@/api/background/phTag"; //参数列表，尺寸，分辨率
export default {
  name: "model_01",
  props: { 
      // 表单参数 
    id: Number,
    myModel: String
  },
  data() {
    return {
      nullNum: 0,
      title: '参数详情',
      procedure: 1,
      mainParameterStatus: false, //是否有主要参数
      parameterStatus: false, //是否有普通参数
      form: {
        id: null,
        state: 1,
        modelContent: []
      },
      templateList: null,
      // 表单校验
      rules: {
        // modelName: [
        //   { required: true, message: "此为必填，请填写", trigger: "blur" }
        // ],
        model: [
          { required: true, message: "此为必填，请填写", trigger: "blur" }
        ],
        resolutionId: [
          { required: true, message: "此为必填，请填写", trigger: "blur" }
        ],
        dimensionId: [
          { required: true, message: "此为必填，请填写", trigger: "blur" }
        ],
      },
      // 导航栏分类展示名称
      headCategoryName: null,
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组
      categoryIdArr: [], //id数组-双向数据
      categoryThreeArr: [], // 三级分类列表
      // 分类查询参数
      categoryQueryParams: {
        pageNum: 1,
        pageSize: 1000,
        brandName: null,
      },
      // 品牌参数
      phBrandaList:[], // 所有品牌列表
      // 品牌查询参数
      brandaQueryParams: {
        pageNum: 1,
        pageSize: 1000,
        embody: 1, //是否收录
        brandName: null,
      },
      // 文档参数
      documentTitle: '', //弹窗标题
      documentPreviewUrl: '', //文档预览
      documentOpen: false, //文档编辑弹窗
      documentPreviewPop: false,  //预览弹窗: false,
      documentForm: {},
      documentList: [],
      // 查询文档列表
      documentParams: {
        pageNum: 1,
        pageSize: 10,
        // documentStatus: 2,
        modelName: null,
      },
      // 图片参数
      imgId:'', //新增图片接口返回id
      imgFrom:{}, //图片详情表单
      imageAddPop: false, //图片弹窗
      phImageArr:[],  //型号图片库数组
      // 查询图片
      imageParams: {
        id: null,
        imageType:3,
        relatingType:3, //关联类型 1.店铺 2.商品 3.型号
      },
      // 场景参数
      phApplicableList: [],
      // 查询参数
      applicableParams: {
        pageNum: 1,
        pageSize: 200,
      },
      // 单选/多选弹框参数
      dialogSelectArr: [],  //多选框数据列表
      dialogSelectActiveArr: [],  //多选框选择的数据
      dialogSelectBoxPop: false,  //选择框弹窗: false,
      dialogSelectType: 1, //1单选-2多选
      dialogSelectListI: 0, //选中的参数分组下标
      dialogSelectListK: 0, //选中的参数下标

      // 单选/多选弹框参数-应用场景
      applicableIdSelectArr: [],  //多选框数据列表
      applicableIdSelectActiveArr: [],  //多选框选择的数据
      applicableIdSelectActiveNameArr: [],  //多选框选择的数据名称
      applicableIdSelectBoxPop: false,  //选择框弹窗: false,

      // 尺寸数据
      dimensionList: [], //尺寸列表
      resolutionList: [], //分辨率列表
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 1000,
        type: 1, // 1尺寸、2分辨率
      },
    };
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.loading = true;
      this.form.status = 1
      // 如果有id就位编辑，不然为新增
      if(this.id != null) {
        this.title = '编辑详情'
          getPhModels(this.id).then((response) => { //新版详情请求
          this.form = response.data;
          this.loading = false;
          // 判断是否已选择过分类
          if(this.form.categoryId >= 1) {
            this.headCategoryName = this.form.categoryName + (this.form.categoryTwoName == null ? '': (' > ' + this.form.categoryTwoName))
            this.categoryIdArr[0] = this.form.categoryId
            // this.categoryIdArr[1] = this.form.categoryTwoId
            this.categoryIdArr[1] = this.form.categoryTwoId || null
            this.categoryIdArr[2] = this.form.categoryThreeId || null
            // 判断是否已经保存过模板
            if(this.form.modelContent == null || this.form.modelContent == 'null' || this.form.modelContent.length < 1) {
              this.getTemplate()
            }else {
              this.form.modelContent = this.reconfigurationTemplateList(this.form.modelContent,0) 
              this.procedure = 2
            }
          }
          
          if(typeof this.form.applicableId == Array) {
            this.form.applicableId = [this.form.applicableId]
          } else {
            this.form.applicableId = JSON.parse(this.form.applicableId)
            this.applicableIdSelectActiveNameArr = this.form.applicableId
          }
          // 查询筛选文档列表
          this.documentParams.modelName = this.form.model
          listPhDocument(this.documentParams).then(response => {
            this.documentList = this.setDisplay(response.rows);  //转换状态显示类型
            this.loading = false;
          });
          if(this.form.imgId != null) {
            // 查询图片详情
            getPhImage(this.form.imgId).then(response => {
              this.imgFrom = response.data;
              if(this.imgFrom.imageUrl) {
                this.phImageArr = this.imgFrom.imageUrl.split(","); //字符串转数组-商品详情图
              }
            });
          }
          // 查询型号
          listPhModels(this.queryParams).then(response => {
            this.phModelsList = response.rows;
            for(let item of this.phModelsList) {
              item.publishStatus = item.publishStatus == 1 ? true : false;  //上下架
              item.hotStatus = item.hotStatus == 1 ? true : false;  //是否热门
            }
            this.total = response.total;
            this.loading = false;
          });// 查询分类列表
          listPhCategory(this.categoryQueryParams).then((response)  => {
            this.categoryList = this.reconfiguration(response.rows);
            this.loading = false;
            this.setCategoryThreeArr()
          });
        });
      } else {
        // 查询分类列表
        listPhCategory(this.categoryQueryParams).then((response)  => {
          this.categoryList = this.reconfiguration(response.rows);
          this.loading = false;
        });
      }
      // 查询应用场景列表
      listPhApplicable(this.applicableParams).then((response) => {
        for (let item of response.rows) {
          item.publishStatus = item.publishStatus == 1 ? true : false; //判断开关状态
        }
        this.phApplicableList = response.rows;
        // 修改的话转换中文
        if(this.id != null) {
          this.applicableChange()
        }
      });
      // 查询品牌列表
      listPhBranda(this.brandaQueryParams).then(res => {
        this.phBrandaList = res.rows;
      });
      // 查询尺寸列表
      this.queryParams.type = 1 //1尺寸、2分辨率
      listPhTag(this.queryParams).then(response => {
        this.dimensionList = this.evhValueJson(response.rows, 1);
      });
      // 查询分辨率列表
      this.queryParams.type = 2 //1尺寸、2分辨率
      listPhTag(this.queryParams).then(response => {
        this.resolutionList = this.evhValueJson(response.rows, 2);
      });
    },
    // 尺寸/分辨率列表参数JSON转换
    evhValueJson(data,type) {
      let newList = data
      for(let item of newList) {
        if(type == 1) {
          item.value = item.engValue
        } else {
          let arr = item.engValue.split('×')
          item.value = arr[0] + ' × ' + arr[1]
        }
      }
      return newList
    },
    // 重构分类列表
    reconfiguration(list) {
      let newList = list
      return newList
    },
    // 返回输入类型对应的宽度
    typeWidth(type) {
      if(type == 1||type == 4||type == 5||type == 7) {
        return 11
      } else {
        return 22
      }
    },
    // 查询关联模板参数
    getTemplate() {
      getPhTemplateCategoryId(this.categoryIdArr[0]).then((response) => {
        if(response.data) {
          this.form.modelContent = this.reconfigurationTemplateList(response.data.templateContent,1)
        } else {
          this.form.modelContent = null
        }
        this.procedure = 2
      });
    },
    /**查询筛选文档列表*/
    screenDocument(event) {
      if(event === '') {
        this.documentList = []
      } else {
        this.documentParams.modelName = event
        listPhDocument(this.documentParams).then(response => {
          this.documentList = this.setDisplay(response.rows);  //转换状态显示类型
          this.loading = false;
        });
      }
    },
    /**重构表单结构*/ 
    reconfigurationTemplateList(list,sta) {
      let newList = JSON.parse(list)
      for(let lists of newList) {
        for(let item of lists.argument) {
          if(item.parameterType > 1 && sta == 1 && item.parameterContent != null) {
            let newContent = [] // 字符串分隔为数组
            if(item.parameterContent.includes(',')) {
              newContent = item.parameterContent.split(',')
            } else if(item.parameterContent.includes('，')) {
              newContent = item.parameterContent.split('，')
            }
            // 处理下拉框固定格式
            if(item.parameterType == 4) {
              // 判断输入类型为下拉框
              let listArr = []
              for(let val of newContent) {
                listArr.push({
                  value: val,
                  label: val
                })
              }
              newContent = listArr
            }
            if(item.parameterType == 3 || item.parameterType == 6) {
              // 判断输入类型为多选
              item.parameterValue = []
            }
            // 分隔后的数据已数组对象保存
            item.parameterContent = newContent
          }
          if(item.parameterMain) {
            // 判断是否有主要参数
            this.mainParameterStatus = true
          } else {
            // 判断是否有普通参数
            this.parameterStatus = true
          }
        }
      }
      return newList
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        this.loading = true
        // 拼接型号名称
        // console.log(this.applicableIdSelectActiveNameArr)
        if(this.applicableIdSelectActiveNameArr != null && this.applicableIdSelectActiveNameArr.length > 0) {
          if(this.form.brandName == null || this.form.brandName == '') {
            this.form.modelName = `${this.form.dimensionValue}寸 ${this.form.resolutionValue} ${this.form.applicableValue || ''} ${this.applicableIdSelectActiveNameArr.toString().replace(/,/g, ' ')}`
          } else {
            this.form.modelName = `${this.form.brandName} ${this.form.dimensionValue}寸 ${this.form.resolutionValue} ${this.form.applicableValue || ''} ${this.applicableIdSelectActiveNameArr.toString().replace(/,/g, ' ')}`
          }
        } else {
          if(this.form.brandName == null || this.form.brandName == '') {
            this.form.modelName = `${this.form.dimensionValue}寸 ${this.form.resolutionValue} ${this.form.applicableValue || ''}`
          } else {
            this.form.modelName = `${this.form.brandName} ${this.form.dimensionValue}寸 ${this.form.resolutionValue} ${this.form.applicableValue || ''} `
          }
        }
        if (valid) {
          if(this.form.imgId == null) {
            this.form.imgId = this.imgId
          }
          this.form.modelContent = JSON.stringify(this.form.modelContent)
          this.form.applicableId = JSON.stringify(this.form.applicableId)
          this.form.categoryId = this.categoryIdArr[0] //取一级类目ID
          this.form.categoryTwoId = this.categoryIdArr[1] //取二级类目ID
          this.categoryIdArr.length > 2 ? this.form.categoryThreeId = this.categoryIdArr[2] : null //取三级类目ID
          if (this.form.id != null) {
            console.log(123)
            updatePhModels(this.form).then(response => {
              this.detailsBack()
              this.$modal.msgSuccess("修改成功");
              this.loading = false
              console.log(222)
              // this.getList();
            });
          } else {
            addPhModels(this.form).then(response => {
              this.detailsBack()
              this.$modal.msgSuccess("新增成功");
              this.loading = false
              // this.getList();
            });
          }
        } else {
          this.loading = false
          this.$message({
            message: '请完成参数的填写',
            type: 'warning'
          });
        }
      });
    },
    /** 获取三级分类 */
    setCategoryThreeArr() {
      const arr = this.categoryIdArr
      let oneCategory = this.categoryList.find(item => item.id == arr[0])
      if(arr[1]) {
        let twoCategory = oneCategory.phCategoryChildrenList.find(item => item.id == arr[1])
        if(twoCategory.phCategoryChildrenList != null) {
          this.categoryThreeArr = twoCategory.phCategoryChildrenList
        }
      }
    },
    /**上一步*/ 
    lastStep() {
      this.procedure = 1
      this.mainParameterStatus = false
      this.parameterStatus = false
    },
    /**下一步*/  
    next() {
      if(this.categoryIdArr.length == 0) {
        this.$message({
          message: '请选择关联的分类',
          type: 'warning'
        });
      } else {
        this.getTemplate()
        this.setCategoryThreeArr()
        this.categoryIdArr[2] = this.categoryIdArr[2] || null
      }
    },
    // 判断必填/必选
    judgmentMust(status) {
      if(status) {
        return [{ required: true, message: '此为必填，请填写', trigger: 'blur' }]
      } else {
        return [{}]
      }
    },
    // 选中类目回调
    getCheckedNodes(activeArr) {
      let dome1 = this.categoryList.find(item=>item.id == activeArr[0]) //获取一级分类的名称
      let dome2 = dome1.phCategoryChildrenList.find(item => item.id == activeArr[1]) //获取二级分类的名称
      this.form.categoryName = dome1.firstCategory //拼接选中的分类名称
      this.form.categoryTwoName = dome2.firstCategory //拼接选中的分类名称
      if(activeArr.length > 2) {
        this.headCategoryName = dome1.firstCategory + ' > ' + dome2.firstCategory
        let dome3 = dome2.phCategoryChildrenList.find(item => item.id == activeArr[2]) //获取二级分类的名称
        this.form.categoryThreeName = dome3.firstCategory //拼接选中的分类名称
      } else {
        this.headCategoryName = dome1.firstCategory + ' > ' + dome2.firstCategory //拼接选中的分类名称
      }
      this.form.categoryId = activeArr[0] //取一级类目ID
      this.form.categoryTwoId = activeArr[1] //取二级类目ID
      this.form.categoryThreeId = activeArr[2] || null //取二级类目ID
    },
    // 用户详情返回列表按钮
    detailsBack() {
      // this.reset();
      this.$emit('setDetailsBack')
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
      };
      this.resetForm("form");
    },
    // 手动数据更新视图
    updateView() {
      let newList = {...this.form}
      this.form = newList
    },
    
    // 文档表单重置
    documentReset() {
      this.documentForm = {
        id: null,
        modelName: null,
        type: null,
        version: null,
        language: null,
        formerly: null,
        popedom: null,
        display: null,
        dl: null,
        updatePeople: null,
        createTime: null,
        updateTime: null
      };
      this.resetForm("documentForm");
    },
    /** 文档提交按钮 */
    submitDocumenForm() {
      this.$refs["documentForm"].validate(valid => {
        if (valid) {
            let oldName = this.documentForm.modelName
            if(this.documentForm.version == null) {
              this.documentForm.documentName = this.documentForm.modelName +'.pdf'
            } else {
              this.documentForm.documentName = this.documentForm.modelName + '('+this.documentForm.version+').pdf'
            }
          if (this.documentForm.id != null) {
            updatePhDocument(this.documentForm).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.documentOpen = false;
              this.screenDocument(this.form.model)
              // this.getList();
              // this.updateView()
            });
          } else {
            addPhDocument(this.documentForm).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.documentOpen = false;
              // this.getList();
              // this.updateView()
              this.form.model = oldName
              this.screenDocument(this.form.model)
            });
          }
          this.documentForm.documentName = oldName
        }
      });
    },
    // 三级下拉框回调
    categoryTwoIdChange(e) {
      this.categoryIdArr[2] = e
      this.form.categoryThreeName = this.categoryThreeArr.find(item => item.id == e).firstCategory
    },
    
    // 文档取消按钮
    documenCancel() {
      this.documentOpen = false;
      this.documentReset();
    },
    /** 修改按钮操作 */
    documenUpdate(row) {
      this.documentReset();
      const id = row.id || this.ids
      getPhDocument(id).then(response => {
        this.documentForm = response.data;
        this.documentOpen = true;
        // this.editStaues = true
        this.documentTitle = "修改文档";
        let lastIndex = this.documentForm.documentUrl.lastIndexOf('/');  
        this.documentForm.documentUrlName = this.documentForm.documentUrl.substring(lastIndex + 1); 
      });
    },
    
    /** 文档新增按钮操作 */
    documentAdd() {
      if(this.form.model === '' || this.form.model === undefined) {
        return this.$message({
          message: '请先完成型号填写',
          type: 'warning'
        });
      }
      this.documentReset();
      this.documentForm.modelName = this.form.model
      this.documentForm.type = 1  //默认规格书
      this.documentForm.language = 1  //默认英文
      this.documentForm.num = 0  //是否收录 0否 1是
      this.documentOpen = true;
      // this.editStaues = true
      this.documentTitle = "添加文档";
    },
    /** 文档列表-禁用状态转换 */
    setDisplay(data) {
      let list = data;
      for (let item of list) {
        item.display = item.display == 1 ? true : false; //转换状态显示类型
      }
      return list;
    },
    // 文档列表开关回调-是否显示
    documentSwitchDisplay(id, sta) {
      this.documentForm = {
        id: id,
        display: sta ? 1 : 0,
      }
      // 提交修改接口
      updatePhDocument(this.documentForm).then(response => {
        this.$modal.msgSuccess("修改成功");
        this.documentOpen = false;
        this.getList();
      });
      // 查询修改接口
      // getPhDocument(id).then((response) => {
      //   this.documentForm = response.data;
      //   this.documentForm.display = sta ? 1 : 0; //判断开关状态
      //   // 提交修改接口
      //   updatePhDocument(this.documentForm).then(response => {
      //     this.$modal.msgSuccess("修改成功");
      //     this.documentOpen = false;
      //     this.getList();
      //   });
      // });
    },
    /** 浏览文件 */
    documentPreviewFile(url) {
      this.documentPreviewUrl = url
      this.documentPreviewPop = true
    },
    /** 添加图片 */
    imageAdd() {
      if(this.form.model === '' || this.form.model === undefined) {
        return this.$message({
          message: '请先完成型号填写',
          type: 'warning'
        });
      }
      this.imageAddPop = true
    },
    /** 关闭图片弹窗 */
    imgCancel() {
      this.imageAddPop = false
    },
    /** 删除图片 */ 
    delImg(index) {
      let phImageArr = this.phImageArr
      let a = () => {
        this.imgFrom.imageUrl = String(phImageArr)
        updatePhImage(this.imgFrom).then(response => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
          this.imageAddPop = false;
          this.getList();
        });
      }
      this.$confirm('将此图片删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        phImageArr.splice(index,1)
        a()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });          
      });
    },
    /** 设置主图 */
    setMasterChart(index) {
      let phImageArr = this.phImageArr
      let a = () => {
        this.imgFrom.imageUrl = String(phImageArr)
        updatePhImage(this.imgFrom).then(response => {
          this.$message({
            type: 'success',
            message: '设置为主图成功!'
          });
          this.imageAddPop = false;
          this.getList();
        });
      }
      this.$confirm('将此图片设为主图, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        phImageArr.splice(0,0,phImageArr[index])
        phImageArr.splice(index+1,1)
        a()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });          
      });
    },
    /** 图片排序 */ 
    setImgSort(index,name) {
      let phImageArr = this.phImageArr
      if(name == 'up') {
        if(index <= 1) {
          this.setMasterChart(index)
        } else {
          phImageArr.splice(index-1,0,phImageArr[index])
          phImageArr.splice(index+1,1)
        }
      } else {
        if(index == phImageArr.length - 1) {
          this.$message({
            message: '已经是最后一条了',
            type: 'warning'
          });
        } else {
          phImageArr.splice(index+2,0,phImageArr[index])
          phImageArr.splice(index,1)
        }
      }
    },
    /** 图片保存 */ 
    submitImgform() {
      this.$refs["imgFrom"].validate(valid => {
        if (valid) {
          this.imgFrom.imageType = 3;
          this.imgFrom.relatingType = 3;
          // this.imgFrom.imageUrl = String(this.imgFrom.imageUrl)
          if(this.form.imgId == null) {
            addPhImage(this.imgFrom).then(response => {
              this.imgId = response
              this.$modal.msgSuccess("新增成功");
              this.imageAddPop = false;
              // 查询图片详情
              getPhImage(this.imgId).then(response => {
                this.imgFrom = response.data;
                if(this.imgFrom.imageUrl) {
                  this.phImageArr = this.imgFrom.imageUrl.split(","); //字符串转数组-商品详情图
                }
                // this.title = "修改商品图片";
              });
            });
          } else {
            updatePhImage(this.imgFrom).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.imageAddPop = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 修改按钮操作 */
    imageUpdate(row) {
      this.reset();
      const id = row.id;
      getPhImage(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改商品图片";
      });
    },
    /** 删除按钮操作 */
    // imageDel(row) {
    //   const ids = row.id;
    //   this.$modal.confirm('是否确认删除商品图片编号为"' + ids + '"的数据项？').then(function() {
    //     return delPhImage(ids);
    //   }).then(() => {
    //     this.getList();
    //     this.$modal.msgSuccess("删除成功");
    //   }).catch(() => {});
    // },
    /** 打开单选/多选弹框 */
    setDialogSelectBox(type,arr,i,k) {
      this.dialogSelectArr = arr
      this.dialogSelectType = type
      this.dialogSelectListI = i
      this.dialogSelectListK = k
      this.dialogSelectActiveArr = this.form.modelContent[i].argument[k].parameterValue
      this.dialogSelectBoxPop = true
    },
    /** 打开多选弹框-应用场景 */
    setApplicableIdSelectBox(arr) {
      this.applicableIdSelectArr = arr
      this.applicableIdSelectActiveArr = this.form.applicableId || []
      this.applicableIdSelectBoxPop = true
      // console.log(this.applicableIdSelectArr,this.applicableIdSelectActiveArr,this.applicableIdSelectBoxPop)
    },
    /** 单选/多选弹框确认 */ 
    confirmSelection() {
      let i = this.dialogSelectListI
      let k = this.dialogSelectListK
      this.form.modelContent[i].argument[k].parameterValue = this.dialogSelectActiveArr
      this.dialogSelectBoxPop = false
    },
    /** 多选弹框确认-应用场景 */ 
    applicableIdSelection() {
      this.form.applicableId = this.applicableIdSelectActiveArr
      this.applicableChange()
      this.applicableIdSelectBoxPop = false
    },
    /** 多选弹框删除 */ 
    delActiveValue(i,k,v) {
      this.form.modelContent[i].argument[k].parameterValue.splice(v,1)
    },
    /** 多选弹框删除 */ 
    delApplicableValue(i) {
      this.form.applicableId.splice(i,1)
      this.applicableIdSelectActiveNameArr.splice(i,1)
    },
    // 获取选中的中文名称-应用场景
    applicableChange() {
      let newArr = []
      if(this.form.applicableId == null) {
        return
      }
      for(let itemId of this.form.applicableId) {
        let obj = this.phApplicableList.find(item => item.id == itemId)
        if(obj != undefined) {
          newArr.push(obj.sceneName)
        }       
      }
      this.applicableIdSelectActiveNameArr = newArr
    },
    // 获取尺寸选中的值
    dimensionChange(event) {
      let valueName = this.dimensionList.find(item => item.id === event ).engValue
      this.form.dimensionValue = valueName
    },
    // 获取分辨率选中的值
    resolutionChange(event) {
      let valueName = this.resolutionList.find(item => item.id === event ).engValue
      this.form.resolutionValue = valueName
    },
    // 获取品牌选中的值
    brandChange(event) {
      let valueName = this.phBrandaList.find(item => item.id === event ).brandName
      this.form.brandName = valueName
    },
    // 获取分辨率选中的值
    applicableIdChange(event) {
      let valueName = this.phApplicableList.find(item => item.id === event ).sceneName
      this.form.applicableValue = valueName
    },
  }
};
</script>

<style scoped>
#moban {
  width: 100%;
}
/* 头部 */
.head_back_box {
  width: 100%;
  background-color: #fff;
  padding: 0 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

/* 返回/标题 */
.head_back_box .head_bt_back {
  cursor: pointer;
  z-index: 1999;
  box-sizing: border-box;
}
.head_back_box .head_bt_back > img {
  vertical-align: middle;
}
.head_back_box .head_bt_back > span {
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 用户详情样式 */
.details_box_bg {
  width: 100%;
  /* max-width: 1100px; */
  text-align: left;
  background-color: #fff;
  margin-bottom: 20px;
  min-height: 55px;
}
.details_box_bg .centent_box {
  display: flex;
  position: relative; 
}
.details_box_bg .centent_box_left {
  width: 130px;
  padding: 10px;
  padding-left: 0;
  background-color: #E4E7ED;
}
.details_box_bg .centent_box_left .menu {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}
.details_box_bg .centent_box_left .menu a {
  display: block;
  padding: 10px 22px;
  margin: 10px 0;
}
.details_box_bg .centent_box_left .menu a:hover {
  background-color: #99999920;
}
.details_box_bg .centent_box_right {
  width: calc(100% - 130px);
}
.foot_bt_box {
  width: calc(100% - 130px);
  display: inline-block;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 0;
  box-sizing: border-box
}
/* 分割线 */
.fengexian {
  width: 100%;
  height: 10px;
  margin-bottom: 15px;
  background-color: #E4E7ED;
}
/* 模块标题 */
.left_box_title {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  margin: 0 20px 20px 20px;
  box-sizing: border-box;
}
/* 副标题 */
.subheading {
  background-color: #F6F6F6;
  display: block;
  width: 95%;
  margin: 0 auto;
  padding: 5px 15px;
  margin-bottom: 25px;
}
/* 分类选择页 */
.category_page {
  width: 70%;
  max-width: 600px;
  /* padding-top: 100px; */
  padding-bottom: 200px;
  margin: 0 20px;
}
/* 必填符号 */
.must_icon {
  color: red; 
  margin-right: 5px;
}
.my-input {
  width: calc(100% - 100px) !important;
}
.unit_text {
  margin-left: 10px;
  font-size: 13px;
  color: #999;
}
/* 收录图片关闭按钮 */
.image_cade {
  width: 100px;
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.image_cade .image_icon {
  position: absolute;
  top: -3px;
  right: 0;
  width: 15px;
  height: 15px;
  color: #13CE66;
  font-size: 20px;
  background-color: #F6F6F6;
  cursor: pointer;
  transition: 0.2s ease-in-out; /* 添加过渡效果 */ 
}
.image_cade .image_del {
  color: red;
}
.image_cade .image_icon:hover{
  display: block;
  transform: scale(1.1);
}
/* 表单选择框类型样式 */
.select_box {
  display: inline-block ;
  width: calc(100% - 100px);
  vertical-align: middle;
}
.select_box .select_box_border {
  width: 100%;
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  padding: 0 5px;
  vertical-align: middle;
  box-sizing: border-box;
  overflow: hidden;
}
.select_box .select_box_border .el-icon-error {
  color: #999;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.select_box .select_box_border .el-icon-error:hover {
  /* transform: translate(1.1); */
  color: red;
}
.select_box .select_box_content {
  border: 1px solid #d9ecff;
  border-radius: 4px;
  font-size: 12px;
  height: 24px;
  padding: 0 8px;
  line-height: 22px;
  box-sizing: border-box;
  border-color: transparent;
  margin: 2px 0 2px 6px;
  background-color: #f0f2f5;
  display: flex;
  max-width: 100%;
  align-items: center;
  white-space: nowrap;
}
.click_input {
  flex-grow: 1;
  /* width: 0.0961538%;
  max-width: 100%; */
  border: none;
  outline: none;
  padding: 0;
  margin-left: 10px;
  color: #666;
  font-size: 14px;
  appearance: none;
  height: 28px;
  background-color: transparent;
  /* background-color: red; */
  cursor: pointer;
}
.click_input::placeholder {
  font-family: Arial, sans-serif;
  color: #b9b9b9 ;
}
/* 手写列表 👇*/
.table_box {
  width: calc(100% - 40px);
  margin: 0px 20px 20px;
  border: 1px solid rgb(226, 226, 226);
  box-sizing: border-box;
  overflow: hidden;
}
.table_box .img_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #E2E2E2;
}
.table_box .img_title .img_col {
  /* width: 30%; */
  min-width: 100px;
  padding: 0 20px;
  box-sizing: border-box;
  /* line-height: 46px; */
}
.table_box .img_title .img_col span {
  box-sizing: border-box;
  line-height: 46px;
}
.table_box .img_value {
  background-color: #fff;
  /* margin: 20px 0; */
  box-sizing: border-box;
  border-bottom: 1px solid #E2E2E2;
  line-height: auto;
}
.table_box .img_value .img_col {
  /* width: 30%; */
  min-width: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  
}
.table_box .img_value .img_col span, .table_box .img_value .img_col button {
  box-sizing: border-box;
  line-height: 44px !important;
  padding: 0;
}
/* 排序图标 */
.sort_icon {
  line-height: 44px;
  font-size: 19px;
  margin-left: 5px;
  cursor: pointer;
}
.sort_icon:hover {
  transform: scale(1.2);
}
/* 手写列表👆 */
.select_box .select_box_border[data-v-cda25f30] {
  min-height: 35px;
}
/deep/ .el-select {
  width: 100% ;
}
/deep/ .el-cascader--medium {
  width: 100% !important;
}
/deep/ .el-cascader-panel.is-bordered {
  width: 830px !important;
  border: 0;
}
/deep/ .el-cascader-menu {
  width: 270px;
  border: 1px solid #d5d5d5;
  margin: 0;
}
/deep/ .el-cascader-menu__wrap {
  height: 320px;
  margin-right: 0 !important;
}
/deep/ .el-table th.el-table__cell {
  background-color: #E2E2E2;
}
/deep/ .el-form-item--medium .el-form-item__content, .el-form-item--medium .el-form-item__label {
  line-height: 35px;
  padding: 5px 0;
}
.el-radio {
  line-height: 2.5;
}
.el-form-item {
  margin-bottom: 20px;
}
/* /deep/ .el-checkbox {
  margin-bottom: 15px;
} */
/** 上传图片组件 */
/deep/.el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}
/deep/ .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 110px;
}
/deep/ .el-dialog__body {
  max-height: 550px;
  overflow: auto;
}

</style>
