<template>
  <div class="app-container" :class="shopDetailsPop ? 'details_bg':''">
    <div v-if="!shopDetailsPop">
      <div class="head_status_box">
        <div class="head_tag" :class="queryParams.auditing == 1 ? 'head_tag_active':''" @click="setHeadStatus(1)">
          <span>待审核</span>
        </div>
        <div class="head_tag" :class="queryParams.auditing == 2 ? 'head_tag_active':''" @click="setHeadStatus(2)">
          <span>已通过</span>
        </div>
        <div class="head_tag" :class="queryParams.auditing == 3 ? 'head_tag_active':''" @click="setHeadStatus(3)">
          <span>审核不通过</span>
        </div>
      </div>
      <el-form
        :model="queryParams"
        ref="queryForm"
        size="small"
        :inline="true"
        v-show="showSearch"
        label-width="68px"
      >
        <el-form-item label="所属分类">
          <!-- <el-cascader v-model="categoryIdArr" :props="{ value: 'id', label: 'firstCategory',children: 'phCategoryChildrenList',checkStrictly: true }" popper-class="phCategoryChildrenList" :options="categoryList" filterable :show-all-levels="false">
          </el-cascader> -->
          <el-select v-model="categoryIdArr" placeholder="请选择">
            <el-option v-for="item of categoryList" :key="item.id" :value="item.id" :label="item.firstCategory">{{ item.firstCategory }}</el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="公司名称" prop="firmName">
          <el-input
            v-model="queryParams.firmName"
            placeholder="请输入公司名称"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="商品型号" prop="productCode">
          <el-input
            v-model="queryParams.firmName"
            placeholder="请输入商品型号"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item label="审核人" prop="auditingPeople">
          <el-input
            v-model="queryParams.auditingPeople"
            placeholder="请输入审核人"
            clearable
            @keyup.enter.native="handleQuery"
          />
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            icon="el-icon-search"
            size="mini"
            @click="handleQuery"
            >搜索</el-button
          >
          <el-button icon="el-icon-refresh" size="mini" @click="resetQuery"
            >重置</el-button
          >
        </el-form-item>
      </el-form>
  
      <el-row :gutter="10" class="mb8">
        <!-- <el-col :span="1.5">
          <el-button
            type="primary"
            plain
            icon="el-icon-plus"
            size="mini"
            @click="handleAdd"
            v-hasPermi="['background:phShop:add']"
            >新增</el-button
          >
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="success"
            plain
            icon="el-icon-edit"
            size="mini"
            :disabled="single"
            @click="handleUpdate"
            v-hasPermi="['background:phShop:edit']"
          >修改</el-button>
        </el-col> -->
        <!-- <el-col :span="1.5">
          <el-button
            type="danger"
            plain
            icon="el-icon-delete"
            size="mini"
            :disabled="multiple"
            @click="handleDelete"
            v-hasPermi="['background:phShop:remove']"
            >删除</el-button
          >
        </el-col> -->
        <el-col :span="1.5">
          <el-button
            type="warning"
            plain
            icon="el-icon-download"
            size="mini"
            @click="handleExport"
            v-hasPermi="['background:phShop:export']"
            >导出</el-button
          >
        </el-col>
        <right-toolbar
          :showSearch.sync="showSearch"
          @queryTable="getList"
        ></right-toolbar>
      </el-row>
  
      <el-table
        v-loading="loading"
        :data="phProductList"
        @selection-change="handleSelectionChange"
      >
        <!-- <el-table-column type="selection" width="55" align="center" /> -->
        <el-table-column label="采购客户" align="center" prop="firmName" min-width="135" >
          <template slot-scope="scope">
            <span>{{scope.row.firmName}}</span>
            <p style="margin: 0;">{{scope.row.mobile}}</p>
          </template>
        </el-table-column>
        <el-table-column label="商品图片" align="center" prop="modelImg" >
          <template slot-scope="scope">
            <image-preview :src="scope.row.modelImg" :width="60" :height="60"/>
          </template>
        </el-table-column>
        <el-table-column label="采购标题" align="center" prop="demandCaption" >
          <template slot-scope="scope">
            <p style="margin: 0">{{ scope.row.demandCaption }}</p>
          </template>
        </el-table-column>
        <el-table-column label="商品型号" align="center" prop="model" >
          <template slot-scope="scope">
            <p style="margin: 0;color:#666">{{ scope.row.model }}</p>
          </template>
        </el-table-column>
        <el-table-column label="品质" align="center" prop="productTone" >
          <template slot-scope="scope">
            <span class="quality_style" v-if="scope.row.modelTone == 1">全新</span>
            <span class="quality_style" v-if="scope.row.modelTone == 2">A+</span>
            <span class="quality_style" v-if="scope.row.modelTone == 3">A</span>
            <span class="quality_style" v-if="scope.row.modelTone == 4">A-</span>
            <span class="quality_style" v-if="scope.row.modelTone == 5">B</span>
            <span class="quality_style" v-if="scope.row.modelTone == 6">B-</span>
          </template>
        </el-table-column>
        <el-table-column label="价格(元)" align="center" prop="hopeQuote">
          <template slot-scope="scope">
            <span v-if="scope.row.purchaseType">{{ scope.row.hopeQuote }}</span>
            <span v-else>未定价</span>
          </template>
        </el-table-column>
        <el-table-column label="采购数量" align="center" prop="stockNum" />
        <el-table-column label="审核人" align="center" prop="auditingPeople" />
        <el-table-column label="发布时间" align="center" prop="createTime" />
        <el-table-column label="有效期" align="center" prop="exceedTimeLimit" />
        <el-table-column label="审核状态" align="center" prop="auditing" >
          <template slot-scope="scope">
            <span v-if="scope.row.auditing == 1" style="color:red">待审核</span>
            <span v-if="scope.row.auditing == 2">已通过</span>
            <span v-if="scope.row.auditing == 3">未通过</span>
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          align="center"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-tickets"
              @click="handDetails(scope.row)"
              v-hasPermi="['background:user:remove']"
              >查看</el-button>
            <div v-if="scope.row.auditing == 1">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-tickets"
                @click="handAuditing(scope.row.id, 2)"
                v-hasPermi="['background:user:remove']"
                >通过</el-button>
            </div>
            <div v-if="scope.row.auditing == 1">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-tickets"
                @click="handAuditing(scope.row.id, 3)"
                v-hasPermi="['background:user:remove']"
                >拒绝</el-button>
            </div>
            <div v-if="scope.row.auditing != 1">
              <el-button
                slot="reference"
                size="mini"
                type="text"
                icon="el-icon-tickets"
                @click="lookAuditDiary(scope.row)"
                v-hasPermi="['background:user:remove']"
                >审核日志</el-button>
            </div>
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
              v-hasPermi="['background:phShop:edit']"
              >修改</el-button
            > -->
            <!-- <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
              v-hasPermi="['background:phShop:remove']"
              >删除</el-button
            > -->
          </template>
        </el-table-column>
      </el-table>
  
      <pagination
        v-show="total > 0"
        :total="total"
        :page.sync="queryParams.pageNum"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>

    <!-- 添加或修改店铺对话框 -->
    <!-- <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="产品型号" prop="productCode" />
        <el-form-item label="采购分类" prop="cooperationIntention">
          <el-select v-model="form.manageCategory" placeholder="请选择">
            <el-option
              v-for="item in manageCategoryOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="采购标题" prop="productName">
          <el-input v-model="form.productName" placeholder="请输入采购标题" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog> -->
    <!-- 审核拒绝对话框 -->
    <el-dialog title="审核不通过" :visible.sync="noAuditPop" width="600px" :close-on-click-modal="false" append-to-body>
      <el-form :rules="rules" label-width="100px">
        <el-row>
          <span>请选择不通过原因</span>
          <el-col :span="24">
            <el-checkbox-group v-model="noAuditActive" style="margin: 15px 0">
              <el-checkbox v-for="city in noAuditReason" :label="city" :key="city" style="margin: 10px; width: 100%;">{{city}}</el-checkbox>
            </el-checkbox-group>
          </el-col>
          <el-col :span="24">
            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入不通过原因"
              v-model="noAuditText">
            </el-input>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitAuditing">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 审核日志 -->
    <el-dialog title="审核日志" :visible.sync="auditDiaryPop" width="750px" :close-on-click-modal="true" append-to-body>
      <el-form :rules="rules" label-width="100px">
        <el-table :data="form" centent>
          <el-table-column type="index" width="50"  label="序号" />
          <el-table-column align="center" width="100" property="name" label="申请进度">
            <template slot-scope="scope">
              <span v-if="scope.row.auditing == 1">提交申请</span>
              <span v-if="scope.row.auditing != 1">平台审核</span>
            </template>
          </el-table-column>
          <el-table-column align="center" width="100" property="auditingPeople" label="操作人"></el-table-column>
          <el-table-column align="center" width="150" property="auditingTime" label="操作时间"></el-table-column>
          <el-table-column align="center" width="250" property="auditing" label="操作内容">
            <template slot-scope="scope">
              <span>{{ scope.row.content }}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <!-- <el-button type="primary" @click="submitAuditing">确 定</el-button> -->
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
                
    <!-- 详情 -->
    <div v-if="shopDetailsPop">
      <!-- 返回/标题 -->
      <div class="head_bt_back" @click="detailsBack">
        <img src="../../../assets/icons/返回.png" alt="">
        <span>采购详情</span>
      </div>
      <!-- 编辑按钮 -->
      <!-- <div class="head_bt_edit" @click="handleUpdate(form)">
        <span>编辑资料</span>
      </div> -->
      <div style="position: absolute; top: 30px;left: 0; width: 100%;">
        <el-divider></el-divider>  <!-- 分割线 -->
      </div>
      <!-- 详情内容 -->
      <template>
        <div class="details_box_bg">
          <div class="details_box">
            <div class="details_head_box">
              <el-row style="position: relative;">
                <el-col :span="12">
                  <el-descriptions :column="1">
                    <el-descriptions-item label="审核状态">
                      <span v-if="form.auditing == 1" style="color: #FD721D;">待审核</span>
                      <span v-if="form.auditing == 2">已通过</span>
                      <span v-if="form.auditing == 3">未通过</span>
                    </el-descriptions-item>
                    <el-descriptions-item label="采购编号">
                        <span>{{ form.purchaseCode }}</span> 
                        <!-- <span v-if="form.purchaseType == 1" style="background-color: #F0F0F0;margin-left: 10px;font-size: 12px;padding: 3px 10px;">全网采购</span>
                        <span v-if="form.purchaseType == 2" style="background-color: #F0F0F0;margin-left: 10px;font-size: 12px;padding: 3px 10px;">主动询价</span>
                        <span v-if="form.purchaseType == 3" style="background-color: #F0F0F0;margin-left: 10px;font-size: 12px;padding: 3px 10px;">现货询价</span> -->
                    </el-descriptions-item>
                    <el-descriptions-item label="采购发布时间">{{ form.createTime }}</el-descriptions-item>
                    <el-descriptions-item label="采购截止时间">{{ form.exceedTimeLimit }}</el-descriptions-item>
                  </el-descriptions>
                  <div style="position: absolute;left: 47%;top: 5px ;border: 1px solid #e9e9e9; height: 105%;"></div> <!-- 分割线 -->
                </el-col>
                <el-col :span="12">
                  <div style="display: flex;">
                    <div style="width: 50%;">
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;color: #666;">采购客户</p>
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;">{{ form.firmName }}</p>
                      <p style="font-size: 14px;margin:0;margin-bottom:12px;">{{ form.mobile }}</p>
                    </div>
                    <!-- <image-preview :src="form.shopImg" :width="100" :height="100"/> -->
                    <img style="width: 80px; height: 80px; border-radius: 10px;" src="../../../assets/images/user-img.png" alt="">
                    <!-- <image-preview src="http://43.138.142.219:9300/statics/2023/12/09/222_20231209150625A017.jpg" :width="80" :height="80" style="margin-right: 15px;" /> -->
                  </div>
                </el-col>
              </el-row>
              <el-divider></el-divider>  <!-- 分割线 -->
              <p style="font-weight: bold;">采购产品</p>
              <el-descriptions :column="1">
                <el-descriptions-item label="产品型号">{{ form.model }}</el-descriptions-item>
                <el-descriptions-item label="产品品牌">{{ form.brandName }}</el-descriptions-item>
                <el-descriptions-item label="所属分类">{{ form.categoryName }}</el-descriptions-item>
                <el-descriptions-item label="需求标题">{{ form.demandCaption }}</el-descriptions-item>
                <el-descriptions-item label="需求图片">
                  <div>
                    <!-- <image-preview :src="form.modelImg" :width="100" :height="100" style="margin-right: 15px;" v-for="item of 3" :key="item"/> -->
                    <image-preview v-for="item,i of form.modelImg" :key="i" :src="item" :width="100" :height="100" style="margin-right: 15px;"/>
                  </div>
                </el-descriptions-item>
                <!-- <el-descriptions-item label="商品视频">无</el-descriptions-item> -->
                <el-descriptions-item label="产品文档">
                  <span v-if="form.documentUrlName">
                    <span>{{ form.documentUrlName }}</span>
                    <a style="margin-left: 10px; color: blue;" @click="previewFile(form.documentUrl)">预览</a>
                    <a style="margin-left: 10px; color: blue;" @click="downloadFile(form.documentUrl)">下载</a>
                  </span>
                  <span v-else>/</span>
                </el-descriptions-item>
                <el-descriptions-item label="产品属性">
                  <div style="background-color: #F9F9F9;padding: 20px;box-sizing: border-box;">
                    <el-descriptions :column="3">
                      <el-descriptions-item v-for="item,i of form.myModelContent" :key="i" :label="item.parameterName">{{ item.parameterValue }}2</el-descriptions-item>
                    </el-descriptions>
                  </div>
                </el-descriptions-item>
              </el-descriptions>
              <el-divider></el-divider>  <!-- 分割线 -->
              <p style="font-weight: bold;">采购要求</p>
              <el-descriptions :column="1">
                <el-descriptions-item label="采购数量">{{ form.stockNum }}300个</el-descriptions-item>
                <el-descriptions-item label="类型品质">
                  <span v-if="form.modelTone == 1">全新</span>
                  <span v-if="form.modelTone == 2">A+</span>
                  <span v-if="form.modelTone == 3">A</span>
                  <span v-if="form.modelTone == 4">A-</span>
                  <span v-if="form.modelTone == 5">B</span>
                  <span v-if="form.modelTone == 6">B-</span>
                </el-descriptions-item>
                <el-descriptions-item label="品质政策">
                  <span v-if="form.qualityGuarantee == 1">无质保</span>
                  <span v-if="form.qualityGuarantee == 2">1周质保</span>
                  <span v-if="form.qualityGuarantee == 3">1个月质保</span>
                  <span v-if="form.qualityGuarantee == 4">3个月质保</span>
                  <span v-if="form.qualityGuarantee == 5">6个月质保</span>
                  <span v-if="form.qualityGuarantee == 6">1年质保</span>
                  <span v-if="form.qualityGuarantee == 7">2年质保</span>
                  <span v-if="form.qualityGuarantee == 8">3年质保</span>
                </el-descriptions-item>
                <el-descriptions-item label="期望报价">{{ }}3500元</el-descriptions-item>
                <el-descriptions-item label="支持拿样">
                  <span v-if="form.haveSample == 1">付费样品</span>
                  <span v-if="form.haveSample == 2">免费样品</span>
                  <span v-if="form.haveSample == 3">不支持</span>
                </el-descriptions-item>
                <el-descriptions-item label="备注">{{ form.remark }}</el-descriptions-item>
              </el-descriptions>
              <div v-if="form.auditing != 1">
                <el-divider></el-divider>  <!-- 分割线 -->
                <p style="font-weight: bold;">审核记录</p>
                <el-descriptions :column="1">
                  <el-descriptions-item label="审核人">{{ form.auditingPeople }}</el-descriptions-item>
                  <el-descriptions-item label="审核状态">
                    <span v-if="form.auditing == 2" style="color: green;">已通过</span>
                    <span v-if="form.auditing == 3" style="color: red;">未通过</span>
                  </el-descriptions-item>
                  <el-descriptions-item label="审核时间">{{ form.updateTime }}</el-descriptions-item>
                  <el-descriptions-item label="拒绝原因">{{ form.content }}</el-descriptions-item>
                </el-descriptions>
              </div>
            </div>
          </div>
        </div>
        <div class="details_box_bg foot_bt_box">
          <el-button class="foot_bt_fh" @click="detailsBack" icon="el-icon-arrow-left">返回列表</el-button>
        </div>
      </template>
    </div>
    <!-- 文件预览对话框 -->
    <el-dialog title="文件预览" :visible.sync="previewPop" width="1000px" append-to-body>
      <iframe :src="previewUrl" style="width: 100%;height: 600px;"></iframe>
    </el-dialog>
  </div>
</template>

<script>
// import {
//   listPhShop,
//   getPhShop,
//   delPhShop,
//   addPhShop,
//   updatePhShop,
// } from "@/api/background/phShop";
import { listPhProduct, getPhProduct, delPhProduct, addPhProduct, updatePhProduct, batchAuditing } from "@/api/background/phProduct";
import { listPhBranda } from "@/api/background/phBranda";
import { listPhCategory } from "@/api/background/phCategory";
import { getAuditing } from "@/api/background/phShop";
import { listPhPurchases, getPhPurchases, updatePhPurchases} from "@/api/background/phPurchases";

export default {
  name: "PhShop",
  data() {
    return {
      asd:"http://43.138.142.219:9300/statics/2023/12/09/222_20231209150625A017.jpg,http://43.138.142.219:9300/statics/2023/12/09/331_20231209150643A018.jpg",
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 商品表格数据
      phProductList: [],
      // 日期范围
      dateRange: [],
      // 用户详情展示页
      shopDetailsPop: false,
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        auditing: 1,
        pastDue: 1, // 0已过期，1未过期
        // productStyle: 3,
        // productCode: null,
        // productName: null,
        // productImg: null,
        // hopeQuote: null,
        // productTypeId: null,
        // popularity: null,
        // productSales: null,
        // stockpile: null,
        // stockNum: null,
        // recentQuote: null,
        // cooperation: null,
        // productBrand: null,
        // productTone: null,
        // productDocument: null,
        // relatingProduct: null,
        // publishStatus: null,
        // intervalQuote: null,
        // haveSample: null,
        // beginSubscriber: null,
        // parentId: null, //分类id
      },
      // 查询-下拉框-主营类目
      // manageCategoryOptions: [
      //   {
      //     value: "液晶屏",
      //     label: "液晶屏",
      //   },
      //   {
      //     value: "手机屏",
      //     label: "手机屏",
      //   },
      // ],
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        status: [
          {
            required: true,
            message: "三证合一 0-是 1-否不能为空",
            trigger: "change",
          },
        ],
        returnedPurchase: [
          {
            required: true,
            message: "七天无理由退货 0.是  1.否不能为空",
            trigger: "change",
          },
        ],
        qualityGuarantee: [
          {
            required: true,
            message:
              "质保  1.无质保   2.1周质保  3.1个月质保  4.3个月质保  5.6个月质保 6.1年质保  7.2年质保   8.3年质保不能为空",
            trigger: "blur",
          },
        ],
        createTime: [
          { required: true, message: "创建时间不能为空", trigger: "blur" },
        ],
        updateTime: [
          { required: true, message: "更新时间不能为空", trigger: "blur" },
        ],
      },
      defaultProps: {
        children: 'phCategoryChildrenList',
        label: 'firstCategory'
      },
      shopTypeOptions: [
        {
          value: 1,
          label: "已开店",
        },
        {
          value: 2,
          label: "未开店",
        },
      ],
      // 分类参数
      categoryList: [], //所有分类列表
      categoryArr: [], // 选中参数数组
      categoryIdArr: [], //id数组-双向数据
      // 品牌查询参数
      categoryQueryParams: {
        pageNum: 1,
        pageSize: 10,
        brandName: null,
      },

      auditId: null, // 审核id
      auditAuditing: 2, // 审核状态 2通过 / 3拒绝
      noAuditPop: false, // 审核拒绝弹窗
      noAuditText: '', //原因内容
      noAuditActive: [], //选中原因
      noAuditReason: ['商品名称不对','图片质量不清晰','发布的商品不符合要求'], //原因概括
      
      auditDiaryPop: false, //日志弹窗

      previewPop: false, //文档浏览弹框
      previewUrl: '',
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询商品列表 */
    getList() {
      this.loading = true;
      listPhPurchases(this.queryParams).then(response => {
        this.phProductList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
      // 查询分类列表
      listPhCategory(this.categoryQueryParams).then((response) => {
        // console.log('查询分类',response.rows);
        this.categoryList = this.newCategoryList(response.rows);
        // this.categoryList = response.rows;
        this.loading = false;
      });
      // 查询品牌列表
      listPhBranda(this.brandaQueryParams).then(res => {
        // console.log('查询品牌',res.rows)
        this.phBrandaList = res.rows;
        // this.phBrandaList = this.newBrandaList(res.rows);
      });
    },
    // 分类结构处理
    newCategoryList(list) {
      let newList = list
      for(let i = 0;i < newList.length; i++) {
        if(newList[i].parentId != 0){
          newList.splice(i,1)
          i--
        }
      }
      return newList
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.noAuditPop = false, // 审核拒绝弹窗
      this.auditDiaryPop = false;
      // this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        productCode: null,
        productName: null,
        productImg: null,
        hopeQuote: null,
        // productTypeId: null,
        popularity: null,
        productSales: null,
        stockpile: null,
        stockNum: null,
        recentQuote: null,
        cooperation: null,
        productBrand: null,
        productTone: null,
        productDocument: null,
        relatingProduct: null,
        publishStatus: null,
        intervalQuote: null,
        haveSample: null,
        beginSubscriber: null,
        createTime: null,
        updateTime: null,
        parentId: null, //存放分类id
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      let curAuditing = this.queryParams.auditing
      if(this.categoryIdArr > 0) {
        this.queryParams.auditing = curAuditing
        // this.queryParams.parentId = this.categoryIdArr[this.categoryIdArr.length -1]
        this.queryParams.parentId = this.categoryIdArr
        this.queryParams.relatingType = 5
      } else {
        this.queryParams.parentId = null
        this.queryParams.relatingType = null
      }
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      let curAuditing = this.queryParams.auditing
      this.queryParams.auditing = curAuditing
      this.categoryIdArr = []
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 用户详情返回列表按钮
    detailsBack() {
      this.shopDetailsPop = false;
      this.reset();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map((item) => item.id);
      this.single = selection.length !== 1;
      this.multiple = !selection.length;
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加店铺";
    },
    /** 修改/编辑按钮操作 */
    // handleUpdate(row) {
    //     this.open = true;
    // },
    // 下载文档
    downloadFile(url){
      let lastIndex = url.lastIndexOf('/');  
      let urlName = url.substring(lastIndex + 1); 
      // 创建一个Blob对象  
      const blob = new Blob([url], { type: 'text/plain' });  
      // 创建一个可下载的URL  
      const downloadUrl = URL.createObjectURL(blob);  
      // 创建一个a标签，并设置href为URL，模拟点击下载  
      const link = document.createElement('a');  
      link.href = downloadUrl;  
      link.download = urlName; // 设置下载文件的文件名 
      link.click();  
      // 释放URL对象  
      URL.revokeObjectURL(downloadUrl);  
    },
    // 浏览文件
    previewFile(url) {
      this.previewPop = true
      this.previewUrl = url
    },
    /** 详情按钮操作 */
    handDetails(row) {
      const id = row.id;
      getPhPurchases(id).then(response => {
        this.form = response.data;
        if(this.form.modelImg) {
          this.form.modelImg = this.form.modelImg.split(",");
        }
        if(this.form.modelContent) {
          this.form.myModelContent = this.modelContentFor(JSON.parse(this.form.modelContent));
        }
        this.shopDetailsPop = true
        
        // this.open = true;
      });
    },
    // 重构数据
    modelContentFor(arr) {
      let newArr = []
      for(let item of arr) {
        for(let val of item.argument) {
          newArr.push(val)
        }
      }
      return newArr
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal
        .confirm('是否确认删除店铺编号为"' + ids + '"的数据项？')
        .then(function () {
          return delPhShop(ids);
        })
        .then(() => {
          this.getList();
          this.$modal.msgSuccess("删除成功");
        })
        .catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download(
        "background/phShop/export",
        {
          ...this.queryParams,
        },
        `phShop_${new Date().getTime()}.xlsx`
      );
    },
    // JSON格式转换
    setJson(str) {
      let json = JSON.parse(str)
      return json;
    },
    // 筛选已选择的类目id
    setManageCategory(date) {
      let list = date
      list.manageCategoryArr = []
      for(let item of list.manageCategory) {
        if(item.id) {
          let uid = Number(item.id)
          list.manageCategoryArr.push(uid)
        }
      }
      return list;
    },
    // 审核日志
    lookAuditDiary(row) {
      this.reset();
      const id = row.id || this.ids;
      getPhPurchases(id).then(response => {
        this.form = response.data;
        if(this.form.modelImg) {
          this.form.modelImg = this.form.modelImg.split(",");
        }
        if(this.form.modelContent) {
          this.form.myModelContent = this.modelContentFor(JSON.parse(this.form.modelContent));
        }
        this.auditDiaryPop = true
      });
    },
    // 审核判断
    handAuditing(id,sta) {
      const _this = this
      this.auditId = id
      this.auditAuditing = sta
      if(sta == 2) {
        this.$modal
        .confirm('确认该商品审核通过')
        .then(function () {
          _this.submitAuditing();
          return
        })
        .catch(() => {});
      } else if(sta == 3) {
        this.noAuditPop = true
      }
    },
    // 审核-走修改接口
    submitAuditing() {
      let data = {
        id: this.auditId,
        auditing: this.auditAuditing,
        content : '',
      }
      if(data.auditing == 2) {
        updatePhPurchases(data).then((response) => {
          this.$modal.msgSuccess("审核成功");
          this.getList();
        })
      } else if(data.auditing == 3) {
        if(this.noAuditActive.length == 0 && this.noAuditText.length == 0) {
          return this.$message.error('请选择拒绝原因');
        }
        for(let index in this.noAuditActive) {
          if(index < this.noAuditActive.length) {
            data.content += this.noAuditActive[index]
            data.content += ','
          } else {
            data.content += this.noAuditActive[index]
          }
        }
        data.content += this.noAuditText
        updatePhPurchases(data).then((response) => {
          this.$modal.msgSuccess("审核已拒绝");
          this.noAuditPop = false; //关闭拒绝原因弹窗
          this.getList();
        })
      }
    },
    // /** 审核-走审核接口 */
    // submitAuditing() {
    //   let data = {
    //     relatingId: this.auditId,
    //     auditing: this.auditAuditing,
    //     content : '',
    //     type: 2
    //   }
    //   data.content += this.noAuditText
    //   if(data.auditing == 2) {
    //     getAuditing(data).then((response) => {
    //       this.$modal.msgSuccess("审核成功");
    //       this.getList();
    //       this.shopDetailsPop = false // 关闭详情页
    //     });
    //   } else if(data.auditing == 3) {
    //     if(this.noAuditActive.length == 0 && this.noAuditText.length == 0) {
    //       return this.$message.error('请选择拒绝原因');
    //     }
    //     getAuditing(data).then((response) => {
    //       this.$modal.msgSuccess("审核已拒绝");
    //       this.noAuditPop = false; //关闭拒绝原因弹窗
    //       this.shopDetailsPop = false // 关闭详情页
    //       this.getList();
    //     });
    //   } else if(data.auditing == 1) {
    //     getAuditing(data).then((response) => {
    //       this.$modal.msgSuccess("成功移入待审核");
    //       this.noAuditPop = false; //关闭拒绝原因弹窗
    //       this.shopDetailsPop = false // 关闭详情页
    //       this.getList();
    //     });
    //   }
    // },
    // 头部标签状态事件
    setHeadStatus(str) {
      this.queryParams.auditing = str
      this.queryParams.pageNum = 1;
      this.getList();
    }
  },
};
</script>
<style scoped>
/* 用户详情样式 */
.details_bg {
  font-size: 13px;
  background-color: #E4E7ED;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.details_box_bg {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 3px;
}
.details_box_bg .details_head_box {
  max-width: 1000px;
  /* display: flex; */
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}
/* 头部标题 */
.left_box_title {
  position:absolute;
  font-size: 15px;
  font-weight: bold;
  left: 0;
  top: 15px;
}
/* 底部按钮 */
.foot_bt_box {
  width: 100%;
  min-height: 100px;
  text-align: center;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}
.foot_bt_box .foot_bt_fh {
  color: #0093E6;
  position: absolute;
  left: 20px;
  border: 0;
}
/* 返回/标题 */
.head_bt_back {
  position:absolute;
  left: 40px;
  top: 15px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1999;
}
.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 头部标签状态切换栏 👇*/
.head_status_box {
  width: 100%;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}
.head_tag {
  display: inline-block;
  padding: 10px 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: #444;
}
.head_tag > span {
  font-size: 15px;
  letter-spacing:2px;
}
.head_tag_active {
  position: relative;
  color: #FD721D;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.head_tag_active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  border-top: 4px solid #FD721D;
}
/* 头部标签状态切换栏 👆*/

.head_bt_back > img {
  vertical-align: middle;
}
.head_bt_back > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}
/* 编辑按钮 */
.head_bt_edit {
  background-color: #fff;
  position:absolute;
  padding: 0 10px ;
  right: 60px;
  top: 15px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #B1B1B1;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 1999;
}
.head_bt_edit > span {
  line-height: 26px;
}
/deep/ .el-descriptions-item__label:not(.is-bordered-label) {
  width: 105px;
  text-align: right;
  display: inline-block;
}
/deep/ .el-tabs__content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
/deep/ .el-tabs__nav-scroll {
  width: 700px;
  margin: 0 auto;
}
/deep/ .el-descriptions--medium:not(.is-bordered) .el-descriptions-item__cell {
  padding-bottom: 15px
}
/deep/ .el-descriptions__body {
  background-color: transparent;
}
</style>